{% extends "layout-pb.html" %}

{% block pageTitle %} 
Convictions for animal or wildlife offences
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form class="form" action="check-your-answers" method="post">  
        
        <h1 class="govuk-heading-l">Convictions for animal or wildlife offences</h1>

        <p class="govuk-body">If people listed on this application have animal related or wildlife convictions the application may:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>be subject to more checks</li>
          <li>take more time to process</li>
        </ul>

        <p class="govuk-body govuk-!-margin-bottom-7">You will need to give Natural England more information about these offences.</p>

        {{ govukTextarea({
            name: "conviction-details",
            id: "conviction-details",
            label: {
              text: "Describe the convictions and their dates",
              classes: "govuk-label--m"
            }
          }) }}

          {{ govukButton({
            text: "Continue"
          }) }}
      </form>

      
    
    </div>
  </div>

{% endblock %}
