{% extends "layout-pb.html" %}

{% block pageTitle %} 
Your application role
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">    

        <h1 class="govuk-heading-l">Your application role</h1>

        <p class="govuk-!-padding-bottom-6">You must tell us what role you have in relation to this application and the licence, if issued.</p>



      <form class="form" action="check-your-answers" method="post"> 
          {{ govukRadios({
            name: "application-role-check",
            fieldset: {
              legend: {
                text: "What is your role in this application?",
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "I will hold the licence, if issued",
                text: "I will hold the licence, if issued"
              },
              {
                value: "I am the main ecologist",
                text: "I am the main ecologist"
              },
              {
                value: "I am someone else",
                text: "I am someone else"
              }
            ]
          }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}




