{% extends "layout-pb.html" %}

{% block pageTitle %} 
Error: When will the work end?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "Licences to manage badger setts are only available up to 30 November each year",
            href: "#work-end"
          }
        ]
      }) }}


      <form class="form" action="affect" method="post"> 
        {{ govukDateInput({
          id: "work-end",
          namePrefix: "work-end",
          fieldset: {
            legend: {
              text: "When will the work end?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "The work must be finished before the end of the license period (30 November)."
          },
          errorMessage: {
            text: "The end date must be from 2 May to 30 November"
          },
          items: [
          {
            classes: "govuk-input--width-2 govuk-input--error",
            name: "day",
            value: "6"
          },
          {
            classes: "govuk-input--width-2 govuk-input--error",
            name: "month",
            value: "12"
          },
          {
            classes: "govuk-input--width-4 govuk-input--error",
            name: "year",
            value: "2022"
          }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
      
    
    </div>
  </div>

{% endblock %}
