{% extends "layout-pb.html" %}

{% block pageTitle %} 
Error: When will the work start?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "You have not entered a start date",
            href: "#work-start"
          }
        ]
      }) }}

      <form class="form" action="work-end" method="post"> 
        {{ govukDateInput({
          id: "work-start",
          namePrefix: "work-start",
          fieldset: {
            legend: {
              text: "When will the work start?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "The work must start during the license period (From 1 May to 30 November)."
          },
          errorMessage: {
            text: "Enter a start date for the licenced work on this sett"
          },
          items: [
            {
              classes: "govuk-input--width-2 govuk-input--error",
              name: "day"
            },
            {
              classes: "govuk-input--width-2 govuk-input--error",
              name: "month"
            },
            {
              classes: "govuk-input--width-4 govuk-input--error",
              name: "year"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
      
    
    </div>
  </div>

{% endblock %}
