{% extends "layout-pb.html" %}

{% block pageTitle %} 
How many of the entrance holes are active?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "This more than the total number of holes",
            href: "#active-holes"
          }
        ]
      }) }}


      <form class="form" action="grid-ref" method="post"> 
        {{ govukInput({
          label: {
            text: "How many of the entrance holes are active?",
            classes: "govuk-label--xl",
            isPageHeading: true
          },
          hint: {
            text: "Enter '0' (zero) if the sett is inactive."
          },
          errorMessage: {
            text: "Enter the number of sett holes that are active"
          },
          classes: "govuk-input--width-4",
          id: "active-holes",
          name: "active-holes"
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
      
    
    </div>
  </div>

{% endblock %}
