{% extends "layout-pb.html" %}

{% block pageTitle %} 
When will the work start?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "The start date must be in the future",
            href: "#work-start"
          }
        ]
      }) }}

      <form class="form" action="work-end" method="post"> 
        {{ govukDateInput({
          id: "work-start",
          namePrefix: "work-start",
          fieldset: {
            legend: {
              text: "When will the work start?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "The work must start during the license period (From 1 May to 30 November)."
          },
          errorMessage: {
            text: "Enter a start date that is in the future"
          }
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
      
    
    </div>
  </div>

{% endblock %}
