{% extends "layout-pb.html" %}

{% block pageTitle %} 
SDDSIP 436 | Sett details
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">SDDSIP 436</span>
      <h1 class="govuk-heading-l">Sett details</h1>

      {{ govukButton({
        text: "View full flow",
        href: "task-list"
      }) }}
      
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">Full page list and error states</h2>

      <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Page</th>
            <th scope="col" class="govuk-table__header">Link</th>
            <th scope="col" class="govuk-table__header">Error states</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">    
            <tr class="govuk-table__row">
                <th class="govuk-table__cell">Task list</th>
                <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="setup">task-list</a></td>
                <td class="govuk-table__cell"> </td>
            </tr>

            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Start</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="start">start</a></td>
              <td class="govuk-table__cell"> </td>
            </tr>

            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Sett name</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="sett-name">sett-name</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-blank-sett-name">If blank</a></td>
            </tr>

            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Sett usage</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="sett-usage">sett-usage</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-sett-usage">If nothing chosen</a></td>
            </tr>


            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Sett reopened</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="sett-reopened">sett-reopened</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-sett-sett-reopened">If nothing chosen</a></td>
            </tr>

            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Entrance holes</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="entrance-holes">entrance-holes</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-blank-entrance-holes">If blank</a></td>
            </tr>

            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Active holes</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="active-holes">active-holes</a></td>
              <td class="govuk-table__cell">
                <a class="govuk-link govuk-link--no-visited-state" href="error-blank-active-holes">If blank</a><br>
                <a class="govuk-link govuk-link--no-visited-state" href="error-exceeds-active-holes">If exceeds total holes number</a>
              </td>
            </tr>

            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Grid reference</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="grid-ref">grid-ref</a></td>
              <td class="govuk-table__cell">
                <a class="govuk-link govuk-link--no-visited-state" href="error-blank-grid-ref">If blank</a><br>
                <a class="govuk-link govuk-link--no-visited-state" href="error-wrong-format-grid-ref">If wrong format</a>
              </td>
            </tr>

            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Work start date</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="work-start">work-start</a></td>
              <td class="govuk-table__cell">
                <a class="govuk-link govuk-link--no-visited-state" href="error-blank-work-start">If blank</a><br>
                <a class="govuk-link govuk-link--no-visited-state" href="error-date-in-past-work-start">If date in past</a><br>
                <a class="govuk-link govuk-link--no-visited-state" href="error-date-outside-license-period-work-start">If date is outside licensing period</a>
              </td>
            </tr>
            
          </tbody>
        </table>
    
    </div>
  </div>

{% endblock %}
