{% extends "layout-pb-no-service-name.html" %}

{% block pageTitle %} 
SDDSIP 436 | Add setts the work will affect
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">SDDSIP 436</span>
      <h1 class="govuk-heading-l">Add setts the work will affect</h1>

      <div class="govuk-!-margin-bottom-9">
        <strong class="govuk-tag govuk-tag--green">
          In progress
       </strong>
      </div>

      {{ govukButton({
        text: "View full flow - v2",
        href: "v2/task-list"
      }) }}
      
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">v2 - Full page list and error states</h2>

      <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Page</th>
              <th scope="col" class="govuk-table__header">Error states</th>
              <th scope="col" class="govuk-table__header">Confidence</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-third">Notes</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">    
            <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/task-list">Task list</a></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--yellow">
                    Medium
                  </strong>
                </td>
                <td class="govuk-table__cell">
                  Participants understood the task list although some 'upload supporting information' should appear earlier in the order. Whilst in this 'add setts' flow one partcipant suggested that it should appear before the 'Give site information' flow, the user felt you should add all the setts before you start adding maps.
                </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/start">Start</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  High
                </strong>
              </td>
              <td class="govuk-table__cell">
                Tested well.
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/sett-name">Sett name</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/error-blank-sett-name">If blank</a></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  High
                </strong>
              </td>
              <td class="govuk-table__cell">
                Tested well.
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/sett-usage">Sett usage</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/error-nothing-chosen-sett-usage">If nothing chosen</a></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">
                Participants questioned the hierarchy of the radio buttons. Subsidiary should be above outlier. 
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/sett-reopened">Sett reopened</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/error-nothing-chosen-sett-sett-reopened">If nothing chosen</a></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">
                One participant said this isn't always a yes/no answer. It sometimes depends on what ends up happening with the actual development work.
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/entrance-holes">Entrance holes</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/error-blank-entrance-holes">If blank</a></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">
                Users understood the question but when they got onto the next question about active holes they wanted to see the holes questions combined on one page. They also wanted to specifiy inactive holes.
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/active-holes">Active holes</a></td>
              <td class="govuk-table__cell">
                <a class="govuk-link govuk-link--no-visited-state" href="v2/error-blank-active-holes">If blank</a><br>
                <a class="govuk-link govuk-link--no-visited-state" href="v2/error-exceeds-active-holes">If exceeds total holes number</a>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">
                Users understood the question but they wanted to combine it with the previous question. They also wanted to specifiy inactive holes. Some participants felt 'inactive' was vague and required a definition.
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/active-sett-dropout">No active holes dropout</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">Not tested in this round of research.</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/grid-ref">Grid reference</a></td>
              <td class="govuk-table__cell" >
                <a class="govuk-link govuk-link--no-visited-state" href="v2/error-blank-grid-ref">If blank</a><br>
                <a class="govuk-link govuk-link--no-visited-state" href="v2/error-wrong-format-grid-ref">If wrong format</a><br>
                <a class="govuk-link govuk-link--no-visited-state" href="v2/error-no-match-grid-ref">Grid ref does not exist</a>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">
                Particpants understood the question and would have this to hand but some participants wanted to enter a 10 digit grid references. Felt 6 digit grid referenes were too broad and not accurate enough. Add sett name into H1 dynamically.
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/work-start">Work start date</a></td>
              <td class="govuk-table__cell">
                <a class="govuk-link govuk-link--no-visited-state" href="v2/error-blank-work-start">If blank</a><br>
                <a class="govuk-link govuk-link--no-visited-state" href="v2/error-date-in-past-work-start">If date in past</a><br>
                <a class="govuk-link govuk-link--no-visited-state" href="v2/error-date-outside-license-period-work-start">If date is outside licensing period</a>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--red">
                  Low
                </strong>
              </td>
              <td class="govuk-table__cell">Participants were not sure what 'work' was being referred to, development work or ecologist work. Partcipants this is hard to answer as you can't start the work till you get the licence, target date would be easier to answer. Sme participants would enter the earliest date and latest date possible to give them as much time as possible, would it not make more sense just to issue licenses between those dates. </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/work-end">Work end date</a></td>
              <td class="govuk-table__cell">
                <a class="govuk-link govuk-link--no-visited-state" href="v2/error-blank-work-end">If blank</a><br>
                <a class="govuk-link govuk-link--no-visited-state" href="v2/error-date-in-past-work-end">If date in past</a><br>
                <a class="govuk-link govuk-link--no-visited-state" href="v2/error-date-outside-license-period-work-end">If date is outside licensing period</a>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--red">
                  Low
                </strong>
              </td>
              <td class="govuk-table__cell">Participants were not sure what 'work' was being referred to, development work or ecologist work. Partcipants this is hard to answer as you can't start the work till you get the licence, target date would be easier to answer. Sme participants would enter the earliest date and latest date possible to give them as much time as possible, would it not make more sense just to issue licenses between those dates. </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/affect">Affect badgers in the sett</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/error-blank-affect">If blank</a></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--red">
                  Low
                </strong>
              </td>
              <td class="govuk-table__cell">Participants wanted the checkboxes in order of the mitigation heirarchy. Participants felt some actions were missing, refer to the research deck. One participant wanted the sett name played back at this point so they knew which sett they were dealing with.</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/check-your-answers">Check your answers</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/error-blank-affect">If blank</a></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Participants understood how to add another sett. Participants pointed the label should be 'Affect on setts' instead of 'Affect on badgers'</td>
            </tr>
          </tbody>
        </table>






        <!-- Version 1 -->
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Version 1
            </span>
          </summary>
          <div class="govuk-details__text">


            <div class="govuk-!-margin-bottom-9">
              <strong class="govuk-tag govuk-tag--pink">
                Tested
             </strong>
            </div>
      
            {{ govukButton({
              text: "View full flow",
              href: "task-list"
            }) }}
            
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      
            <h2 class="govuk-heading-m">Full page list and error states</h2>
      
            <table class="govuk-table">
              <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Page</th>
                    <th scope="col" class="govuk-table__header">Error states</th>
                    <th scope="col" class="govuk-table__header">Confidence</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-third">Notes</th>
                  </tr>
              </thead>
              <tbody class="govuk-table__body">    
                  <tr class="govuk-table__row">
                      <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="task-list">Task list</a></td>
                      <td class="govuk-table__cell"></td>
                      <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--yellow">
                          Medium
                        </strong>
                      </td>
                      <td class="govuk-table__cell">
                        Participants understood the task list although some 'upload supporting information' should appear earlier in the order. Whilst in this 'add setts' flow one partcipant suggested that it should appear before the 'Give site information' flow, the user felt you should add all the setts before you start adding maps.
                      </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="start">Start</a></td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--green">
                        High
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      Tested well.
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="sett-name">Sett name</a></td>
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-blank-sett-name">If blank</a></td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--green">
                        High
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      Tested well.
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="sett-usage">Sett usage</a></td>
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-sett-usage">If nothing chosen</a></td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--yellow">
                        Medium
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      Participants questioned the hierarchy of the radio buttons. Subsidiary should be above outlier. 
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="sett-reopened">Sett reopened</a></td>
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-sett-sett-reopened">If nothing chosen</a></td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--yellow">
                        Medium
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      One participant said this isn't always a yes/no answer. It sometimes depends on what ends up happening with the actual development work.
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="entrance-holes">Entrance holes</a></td>
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-blank-entrance-holes">If blank</a></td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--yellow">
                        Medium
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      Users understood the question but when they got onto the next question about active holes they wanted to see the holes questions combined on one page. They also wanted to specifiy inactive holes.
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="active-holes">Active holes</a></td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link govuk-link--no-visited-state" href="error-blank-active-holes">If blank</a><br>
                      <a class="govuk-link govuk-link--no-visited-state" href="error-exceeds-active-holes">If exceeds total holes number</a>
                    </td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--yellow">
                        Medium
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      Users understood the question but they wanted to combine it with the previous question. They also wanted to specifiy inactive holes. Some participants felt 'inactive' was vague and required a definition.
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="active-sett-dropout">No active holes dropout</a></td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">Not tested in this round of research.</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="grid-ref">Grid reference</a></td>
                    <td class="govuk-table__cell" >
                      <a class="govuk-link govuk-link--no-visited-state" href="error-blank-grid-ref">If blank</a><br>
                      <a class="govuk-link govuk-link--no-visited-state" href="error-wrong-format-grid-ref">If wrong format</a><br>
                      <a class="govuk-link govuk-link--no-visited-state" href="error-no-match-grid-ref">Grid ref does not exist</a>
                    </td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--yellow">
                        Medium
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      Particpants understood the question and would have this to hand but some participants wanted to enter a 10 digit grid references. Felt 6 digit grid referenes were too broad and not accurate enough. Add sett name into H1 dynamically.
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="work-start">Work start date</a></td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link govuk-link--no-visited-state" href="error-blank-work-start">If blank</a><br>
                      <a class="govuk-link govuk-link--no-visited-state" href="error-date-in-past-work-start">If date in past</a><br>
                      <a class="govuk-link govuk-link--no-visited-state" href="error-date-outside-license-period-work-start">If date is outside licensing period</a>
                    </td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--red">
                        Low
                      </strong>
                    </td>
                    <td class="govuk-table__cell">Participants were not sure what 'work' was being referred to, development work or ecologist work. Partcipants this is hard to answer as you can't start the work till you get the licence, target date would be easier to answer. Sme participants would enter the earliest date and latest date possible to give them as much time as possible, would it not make more sense just to issue licenses between those dates. </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="work-end">Work end date</a></td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link govuk-link--no-visited-state" href="error-blank-work-end">If blank</a><br>
                      <a class="govuk-link govuk-link--no-visited-state" href="error-date-in-past-work-end">If date in past</a><br>
                      <a class="govuk-link govuk-link--no-visited-state" href="error-date-outside-license-period-work-end">If date is outside licensing period</a>
                    </td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--red">
                        Low
                      </strong>
                    </td>
                    <td class="govuk-table__cell">Participants were not sure what 'work' was being referred to, development work or ecologist work. Partcipants this is hard to answer as you can't start the work till you get the licence, target date would be easier to answer. Sme participants would enter the earliest date and latest date possible to give them as much time as possible, would it not make more sense just to issue licenses between those dates. </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="affect">Affect badgers in the sett</a></td>
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-blank-affect">If blank</a></td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--red">
                        Low
                      </strong>
                    </td>
                    <td class="govuk-table__cell">Participants wanted the checkboxes in order of the mitigation heirarchy. Participants felt some actions were missing, refer to the research deck. One participant wanted the sett name played back at this point so they knew which sett they were dealing with.</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="check-your-answers">Check your answers</a></td>
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-blank-affect">If blank</a></td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--yellow">
                        Medium
                      </strong>
                    </td>
                    <td class="govuk-table__cell">Participants understood how to add another sett. Participants pointed the label should be 'Affect on setts' instead of 'Affect on badgers'</td>
                  </tr>
                </tbody>
              </table>

          </div>
        </details>






        <h2 class="govuk-heading-m govuk-!-margin-top-9">Design and research history</h2>

        <table class="govuk-table">
          <thead class="govuk-table__head">
              <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Date</th>
              <th scope="col" class="govuk-table__header">Changes</th>
              <th scope="col" class="govuk-table__header">Rationale</th>
              </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">19 February 2024</th>
              <td class="govuk-table__cell">Task list updated to latest GDS Design System component.</td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">19 February 2024</th>
              <td class="govuk-table__cell">v2 flow created.</td>
              <td class="govuk-table__cell"></td>
            </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__cell">25 to 30 October 2023</th>
                <td class="govuk-table__cell">Flow tested with 4 ecologists</td>
                <td class="govuk-table__cell"></td>
              </tr> 
            </tbody>
          </table>
    
    </div>
  </div>

{% endblock %}
