{% extends "layout-pb-signed-out.html" %}

{% block pageTitle %} 
You are not eligible for this licence
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <h1 class="govuk-heading-l">
            You are not eligible for this licence
        </h1>

        <p class="govuk-body">You must have permission for the development before you apply for a licence.</p>

        <p class="govuk-body">You can get <a href="https://www.gov.uk/guidance/developers-get-environmental-advice-on-your-planning-proposals" target="_blank">environmental advice on your planning proposals</a>.</p>

        <!--<h1 class="govuk-heading-xl">
            You’re not currently eligible to apply for this licence
        </h1>

        <p class="govuk-body">You must have permission for the development before you apply for a licence.</p>

        <p class="govuk-body">Get advice on <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/guidance/pre-submission-screening-service-advice-on-planning-proposals-affecting-protected-species" target="_blank">planning and development proposals</a> for projects that will need a protected species mitigation licence.</p>

        <p class="govuk-body">You can <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/government/publications/charged-environmental-advice-service-request-form" target="_blank">pay for advice from Natural England</a> if what you want to do is more complicated.</p>

        <p class="govuk-body">More about <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/guidance/wildlife-licences" target="_blank">what you’ll need before you apply for a licence</a>.</p>-->

	</div>
</div>

{% endblock %}