{% extends "layout-pb-signed-out.html" %}

{% block pageTitle %} 
You are not eligible for this licence
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            You are not eligible for this licence
        </h1>

        <p class="govuk-body">You must have permission for the development before you apply for a licence.</p>

        <p class="govuk-body">You can get <a href="https://www.gov.uk/guidance/developers-get-environmental-advice-on-your-planning-proposals" target="_blank">environmental advice on your planning proposals</a>.</p>

	</div>
</div>

{% endblock %}