{% extends "layout-pb-no-service-name.html" %}

{% block pageTitle %} 
SDDSIP 476 | Conservation considerations
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">SDDSIP 261</span>
      <h1 class="govuk-heading-l">Link to DAS after eligibility dropout</h1> 

      <div class="govuk-!-margin-bottom-9">
        <strong class="govuk-tag" style="background: green;" >
          IN PROGRESS
        </strong>
      </div>


      <h2 class="govuk-heading-m ">Full page list</h2>

      <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Page</th>
            <th scope="col" class="govuk-table__header">Link</th>
            <th scope="col" class="govuk-table__header">Error states</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">    
            <tr class="govuk-table__row">
                <th class="govuk-table__cell">Drop out - consent granted</th>
                <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="dropout-consent-granted">dropout-consent-granted</a></td>
                <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Drop out - landowner's permission</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="dropout-land-owner">dropout-land-owner</a></td>
              <td class="govuk-table__cell"></td>
            </tr>
          </tbody>
        </table>

    
    </div>
  </div>

{% endblock %}
