{% extends "layout.html" %}

{% set serviceName = myData.serviceName %}

{% block pageTitle %} 
[TO DO]
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">
				Check your answers
			</h1>

            <dl class="govuk-summary-list">

                <!-- Proposal -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key" >
                        What activity or development work do you plan to do?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{myData.selectedApplication.proposalBat}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state" href="proposal-bat?cya=true">
                            Change<span class="govuk-visually-hidden"> [Proposal]</span>
                        </a>
                    </dd>
                </div>

                <!-- Category -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key" >
                        Which type of development work or activity do you plan to do?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{myData.selectedApplication.categoryBat.name}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state" href="category-bat?cya=true">
                            Change<span class="govuk-visually-hidden"> [category]</span>
                        </a>
                    </dd>
                </div>

                <!-- Reason -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key" >
                        Why do you need to do the activity or development work?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{myData.selectedApplication.reasonBat.name}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state" href="reason-bat?cya=true">
                            Change<span class="govuk-visually-hidden"> [Reason]</span>
                        </a>
                    </dd>
                </div>

                 <!-- Multiplot -->
                 <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key" >
                        Will your work be part of a phased or multi-plot development?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{myData.selectedApplication.multiplot}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state" href="multiplot-bat?cya=true">
                            Change<span class="govuk-visually-hidden"> [multiplot]</span>
                        </a>
                    </dd>
                </div>

            </dl>

            <form method="POST">
                {{govukButton({
                    text: "Confirm"
                })}}
                <!-- <input type="hidden" value="yes" name="addApplication"> -->
            </form>

	</div>
</div>

{% endblock %}