{% extends "layout.html" %}

{% set serviceName = myData.serviceName %}

{% block pageTitle %} 
TO DO
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if _inError %}
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                {% for name, item in myData.validationErrors %}
                <li>
                    <a href="#{{item.anchor}}">{{item.message}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}

    <h1 class="govuk-heading-xl">
      Draw the area of planned activity
    </h1>

    <p class="govuk-body">Your drawing must include all habitats used by the species on the site.</p>

  </div>
</div>

<!-- Filters -->
<div class="govuk-grid-column-two-thirds sdds-panel sdds-panel-blocked govuk-!-margin-bottom-6" >

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds" >
			<h3 class="govuk-heading-s govuk-!-margin-bottom-2">Find the location</h3>
		</div>
	</div>
	
	<div class="govuk-grid-row">

        <form method="GET">

            <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4" id="filters" >


              <div class="govuk-radios govuk-radios--small govuk-radios--conditional " data-module="govuk-radios">
                      
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="findlocation-1" name="findlocation" type="radio" value="place" data-aria-controls="conditional-place" {% if myData.findlocation == 'place' %}checked{% endif %}>
                    <label class="govuk-label govuk-radios__label" for="findlocation-1">
                      Place or postcode
                    </label>
                </div>

                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-place">
                  <div class="govuk-form-group govuk-!-margin-bottom-5" >
                    <div class="search-wrapper govuk-form-group search-wrapper-das search-wrapper-das-small" >
                        <!-- <label for="search-location" class="govuk-label" >
                          For example, Bakewell or WA4 1AB
                        </label> -->
                        <span class="govuk-hint">
                          For example, Bakewell or WA4 1AB
                        </span>
                        <div class="search-input-wrapper">
                            <input type="search" value="{{myData.findlocationplace}}" id="search-location" name="location" title="Search" class="govuk-input ">
                            <div class="search-input-submit-wrapper">
                                <button type="submit" class="search-submit" id="search-location-submit">Enter location</button>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>


                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="findlocation-2" name="findlocation" type="radio" value="gridref" data-aria-controls="conditional-gridref" {% if myData.findlocation == 'gridref' %}checked{% endif %}>
                    <label class="govuk-label govuk-radios__label" for="findlocation-2">
                      National Grid Reference
                    </label>
                </div>

                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-gridref">
                  <div class="govuk-form-group govuk-!-margin-bottom-5" >
                    <div class="search-wrapper govuk-form-group search-wrapper-das search-wrapper-das-small" >
                        <!-- <label for="search-gridref" class="govuk-label" >
                          For example, NY395557
                        </label> -->
                        <span class="govuk-hint">
                          For example, NY395557
                        </span>
                        <div class="search-input-wrapper">
                            <input type="search" value="{{myData.findlocationgridref}}" id="search-gridref" name="gridref" title="Search" class="govuk-input ">
                            <div class="search-input-submit-wrapper">
                                <button type="submit" class="search-submit" id="search-gridref-submit">Enter location</button>
                            </div>
                        </div>
                    </div>
                  </div>
              </div>

            </div>

            </div>
            
        </form>

	</div>

</div>

<!-- <div class="govuk-grid-column-two-thirds sdds-panel sdds-panel-blocked govuk-!-margin-bottom-6" >
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

        <form method="GET">

          <div class="govuk-form-group ">
              <fieldset class="govuk-fieldset" >

                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                      <h1 class="govuk-fieldset__heading">
                          [title]
                      </h1>
                  </legend>

                  <div class="govuk-radios govuk-radios--small govuk-radios--conditional" data-module="govuk-radios">
                      
                      <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="findlocation-1" name="findlocation" type="radio" value="place" data-aria-controls="conditional-place">
                          <label class="govuk-label govuk-radios__label" for="findlocation-1">
                          [postcode/place]
                          </label>
                      </div>

                      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-place">
                          <div class="govuk-form-group">
                            <input class="govuk-input govuk-!-width-one-half" id="place" name="place" type="text" value="">
                          </div>
                      </div>


                      <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="findlocation-2" name="findlocation" type="radio" value="gridref" data-aria-controls="conditional-gridref">
                          <label class="govuk-label govuk-radios__label" for="findlocation-2">
                          [os grid]
                          </label>
                      </div>

                      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-gridref">
                        <div class="govuk-form-group">
                          <input class="govuk-input govuk-!-width-one-half" id="gridref" name="gridref" type="text" value="">
                        </div>
                    </div>

                  </div>

              </fieldset>
          </div>

          {{govukButton({
              text: "[search]"
          })}}

      </form>

  </div>
</div>
</div> -->

<div class="govuk-grid-row">
  
    <div class="govuk-grid-column-full">

      <div class="map-container-2 govuk-form-group">
        
        <div id="map" class="map map--confirm">

            <!-- <div class="os-credits">
              <div class="os-credits__logo">
                <img src="/public/images/os-logo.png" alt="Ordanance Survey logo">
              </div>
              <div class="os-credits__text">
                <a href="os-terms" class="os-credits__link">
                  OS data &copy; Crown copyright and database rights 2021
                </a>
              </div>
            </div> -->

            
    
          </div>
          <div class="map-delete-area-container">
            <button disabled class="govuk-button govuk-button--secondary map-delete-area" data-module="govuk-button" name="delete-shape" value="delete-shape" id="deleteShapeBtn">
              Delete area
            </button>
          </div>
        </div>

        <!-- <div class="govuk-form-group markerRadiosContainer">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
              <div class="govuk-radios govuk-radios--inline govuk-radios--small">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="move-marker" name="marker-or-shape" type="radio" value="move-marker" >
                  <label class="govuk-label govuk-radios__label" for="move-marker">
                    Move marker
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="draw-shape" name="marker-or-shape" type="radio" value="draw-shape" checked>
                  <label class="govuk-label govuk-radios__label govuk-!-font-size-16" for="draw-shape">
                    Draw boundary
                  </label>
                </div>
              </div>
              
            </fieldset>
          </div>
        </div> -->

	</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <form method="POST">
      <div class="govuk-form-group">
        {{govukButton({
            text: "Continue"
        })}}
      </div>
    </form>
  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script>

    map({{myData.findlocation | dump | safe}})

</script>
{% endblock pageScripts %}