{% extends "layout.html" %}

{% set serviceName = myData.serviceName %}

{% block pageTitle %} 
View licence applications
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

{% if myData.applications.length > 0 %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
            View licence applications
        </h1>
        <p class="govuk-body">
            <a class="govuk-button" href="start">
                New application
            </a>
        </p>
    </div>
</div>
<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		
        <table class="govuk-table responsive">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header app-custom-class">Licence type</th>
                    <th scope="col" class="govuk-table__header app-custom-class">Reference</th>
                    <th scope="col" class="govuk-table__header app-custom-class"></th>
                    <th scope="col" class="govuk-table__header app-custom-class"></th>
                </tr>
            </thead>
    
            
            <tbody class="govuk-table__body">

                {% for _application in myData.applications %}
                <tr class="govuk-table__row">

                    <th scope="row" class="govuk-table__header">
                        <p class="govuk-body">

                            {% set _type = "Bat" %}
                            {% if _application.type == "a14" %}
                                {% set _type = "Newt" %}
                            {% endif %}

                            {% if _application.status == "inprogress" %}
                                <a href="tasklist?application={{_application.id}}" class="govuk-link govuk-link--no-visited-state">{{_type}} mitigation</a>
                            {% else %}
                                {{_type}} mitigation
                            {% endif %}

                            {% if _application.siteName %}
                                <br><br>
                                Site name:<br>
                                {{_application.siteName}}
                            {% endif %}

                        </p>
                    </th>

                    <td class="govuk-table__cell" >
                        <span class="visually-hidden-desktop">Reference:<br></span>
                        {{_application.id}}
                    </td>

                    <td class="govuk-table__cell" >
                        {% if _application.status == "inprogress" %}
                            Last saved:<br>
                            {{_application.lastsaveddatefriendly}}
                        {% else %}
                            Submitted:<br>
                            {{_application.lastsaveddatefriendly}}
                        {% endif %}
                    </td>

                    <td class="govuk-table__cell">
                        {% if _application.status == "inprogress" %}
                        <strong class="govuk-tag">
                            in progress
                        </strong>
                        {% else %}
                        <strong class="govuk-tag govuk-tag--grey">
                            submitted
                        </strong>
                        {% endif %}
                        <!-- test 5 <span class="visually-hidden-desktop" style="color:red">this text shows in mobile</span> -->
                    </td>

                </tr>
                {% endfor %}

            </tbody>

        </table>

	</div>
</div>
{% else %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
            You currently have no licence applications
        </h1>
        <p class="govuk-body">
            <a class="govuk-button" href="start">
                Start an application
            </a>
        </p>
    </div>
</div>
{% endif %}

{% endblock %}