{% extends "layout.html" %}

{% set serviceName = myData.serviceName %}

{% block pageTitle %} 
[TO DO]
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<style>
    .map-example {
        width:100%;
    }
</style>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Check your answers
        </h1>

            <dl class="govuk-summary-list">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Who is the licence for?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{myData.selectedApplication.applicantName}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state" href="applicant-name?cya=true">
                            Change<span class="govuk-visually-hidden"></span>
                        </a>
                    </dd>
                </div>


                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Is {{myData.selectedApplication.applicantName}} part of a company?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{myData.selectedApplication.applicantHasCompany}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state" href="applicant-company?cya=true">
                            Change<span class="govuk-visually-hidden"></span>
                        </a>
                    </dd>
                </div>
                {% if myData.selectedApplication.applicantHasCompany == "Yes" %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Company name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{myData.selectedApplication.applicantCompany}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state" href="applicant-company?cya=true">
                            Change<span class="govuk-visually-hidden"></span>
                        </a>
                    </dd>
                </div>
                {% endif %}

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        {{myData.selectedApplication.applicantName}}’s contact address
                    </dt>
                    <dd class="govuk-summary-list__value">

                        {{myData.selectedApplication.applicantAddress1}}<br>

                        {% if myData.selectedApplication.applicantAddress2 != "" %}
                        {{myData.selectedApplication.applicantAddress2}}<br>
                        {% endif %}

                        {{myData.selectedApplication.applicantAddress3}}<br>

                        {{myData.selectedApplication.applicantAddress4}}
                        {% if myData.selectedApplication.applicantPostcode != "" %}
                        <br>{{myData.selectedApplication.applicantPostcode}}
                        {% endif %}

                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state" href="applicant-postcode?cya=true">
                            Change<span class="govuk-visually-hidden"></span>
                        </a>
                    </dd>
                </div>


            </dl>

            <form method="POST">

                <div class="govuk-form-group">
                {{govukButton({
                    text: "Confirm"
                })}}
                </div>

            </form>

	</div>
</div>

{% endblock %}