{% extends "layout.html" %}

{% set serviceName = myData.serviceName %}

{% block pageTitle %} 
TO DO
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            You’re not currently eligible to apply for this licence
        </h1>

        <p class="govuk-body">You can’t apply for a licence until the project has got permission to start.</p>

	</div>
</div>

{% endblock %}