{% extends "layout-pb.html" %}

{% block pageTitle %} 
Cost of this licence    
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Cost of this licence
      </h1>

        <p>The cost of this licence ranges from £171 to £768.</p>
        <p>The cost varies depending on how complex your application is. Things that affect this include:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>the number of setts affected</li>
            <li>whether a protected site is affected</li>
            <li>whether badgers will be present</li>
            <li>likely impact on badgers</li>
            <li>methods used</li>
            <li>completeness and conciseness of the information in the application</li>
        </ul>
        <p>The cost may be more if you need to make a change to your application once you have submitted it.</p>


      <form class="form" action="check-your-answers" method="post">
        {{ govukButton({
            text: "Continue"
          }) }}
        </form>


    </div>
  </div>

{% endblock %}
