{% extends "layout-pb.html" %}

{% block pageTitle %} 
Error: What activity or development work do you plan to do?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form class="form" action="paying-for-your-license" method="post">

            {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: [
                  {
                    text: "Proposal must be 4000 characters or less",
                    href: "#proposal"
                  }
                ]
              }) }}


            {{ govukTextarea({
                name: "proposal",
                id: "proposal",
                label: {
                  text: "What activity or development work do you plan to do?",
                  classes: "govuk-label--l",
                  isPageHeading: true
                },
                hint: {
                  text: "For example, construction of a new road, maintenance of a bridge, construction of five flats with access road and car parking area."
                },
                errorMessage: {
                    text: "Proposal must be 4000 characters or less"
                  }
              }) }}

            {{govukButton({
                text: "Continue"
            })}}

        </form>

	</div>
</div>

{% endblock %}