
{% extends "layout.html" %}

{% block pageTitle %}
Does the ecologist have a badger mitigation class license?
{% endblock %}

{% block beforeContent %}
  {% include "includes/back-link-save-return.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="class-mitigation-license-check" method="post">
        {{ govukRadios({
          idPrefix: "class-mitigation-license-check",
          name: "class-mitigation-license-check",
          fieldset: {
            legend: {
              text: "Does the ecologist have a badger mitigation class license?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      
    
    </div>
  </div>

{% endblock %}
