{% extends "layout-pb.html" %}

{% block pageTitle %} 
Enter the ecologist's experience of using the methods to be licensed
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="class-mitigation" method="post">
        {{ govukTextarea({
          name: "methods",
          id: "methods",
          label: {
            text: "Enter the ecologist's experience of using the methods to be licensed",
            classes: "govuk-label--xl",
            isPageHeading: true
          }
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>    
    </div>
  </div>

{% endblock %}
