{% extends "layout-pb.html" %}

{% block pageTitle %} 
Error: Does the ecologist have a badger mitigation class license?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "You have not entered a licence number",
            href: "#class-mitigation-license-number"
          }
        ]
      }) }}

      <form class="form" action="class-mitigation-license-check" method="post">

        {% set classMitigationLicenseHtml %}
          {{ govukInput({
            id: "class-mitigation-license-number",
            name: "class-mitigation-license-number",
            label: {
              text: "Enter the class license reference number"
            },
            errorMessage: {
              text: "Enter the reference number of the previously held licence."
            },
            hint: {
              text: "This can be found on the license document."
            }
          }) }}


        {% endset -%}

        {{ govukRadios({
          idPrefix: "class-mitigation-license-check",
          name: "class-mitigation-license-check",
          fieldset: {
            legend: {
              text: "Does the ecologist have a badger mitigation class license?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              checked: true,
              conditional: {
                html: classMitigationLicenseHtml
              }
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      
    
    </div>
  </div>

{% endblock %}
