{% extends "layout-pb-no-service-name.html" %}

{% block pageTitle %} 
SDDSIP 453 | Give ecologist's experience
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">SDDSIP 453</span>
      <h1 class="govuk-heading-l">Give ecologist's experience</h1> 

      <div class="govuk-!-margin-bottom-9">
        <strong class="govuk-tag govuk-tag--green">
          In progress
       </strong>
      </div>

      {{ govukButton({
        text: "View full flow - v2",
        href: "v2/task-list"
      }) }}
      
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">v2 - Full page list and error states</h2>

      <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Page</th>
              <th scope="col" class="govuk-table__header">Error states</th>
              <th scope="col" class="govuk-table__header">Confidence</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-third">Notes</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">    
            <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/task-list">Task list</a></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--yellow">
                    Medium
                  </strong>
                </td>
                <td class="govuk-table__cell">
                  Participants understood the task list although some 'upload supporting information' should appear earlier in the order.
                </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/previous-license">Previous badger mitigation licence</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/error-nothing-chosen-previous-license">If nothing chosen</a></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  High
                </strong>
              </td>
              <td class="govuk-table__cell">
                Tested well.
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/enter-license-details">Enter previous licence details</a></td>
              <td class="govuk-table__cell">
                <a class="govuk-link govuk-link--no-visited-state" href="v2/error-blank-enter-license-details">If blank</a><br>
                <a class="govuk-link govuk-link--no-visited-state" href="v2/error-already-exists-enter-license-details">If already exists</a><br>
                <a class="govuk-link govuk-link--no-visited-state" href="v2/error-too-long-enter-license-details">Too many characters</a>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">
                Users understood the page but questioned whether it should be the most recent one. Also questioned how they could add more which wasn't apparent till they moved onto the next page.
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/license">Previous badger mitigiation licences</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/error-blank-license">If blank</a></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">
                Users understood the page but were alarmed about how many licenses they might need to add. Questioned whether some context was required about how many licences to add or only adding relevant licences.
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/license-removed">Previous badger mitigiation licences - all removed</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/error-nothing-chosen-license-removed">If nothing chosen</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">Not tested in this round of research.</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/enter-experience">Ecologist's experience</a></td>
              <td class="govuk-table__cell">
                <a class="govuk-link govuk-link--no-visited-state" href="v2/error-blank-enter-experience">If blank</a><br>
                <a class="govuk-link govuk-link--no-visited-state" href="v2/error-too-many-enter-experience">If too many characters</a>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">
                Particpants understood the page and what do. One participant was quite unhappy with this page, questioned why NE need this information when he's had multiple licences in the past.
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/enter-methods">Ecologist's experience of methods</a></td>
              <td class="govuk-table__cell">
                <a class="govuk-link govuk-link--no-visited-state" href="v2/error-blank-enter-methods">If blank</a><br>
                <a class="govuk-link govuk-link--no-visited-state" href="v2/error-too-many-enter-methods">If too many characters</a>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">
                Participants understood the page and what to do but felt they would have already entered this information on the previous page meaning they would need to go back and adjust their previous answer.
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/class-mitigation">Badger mitigation class licence</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/error-nothing-chosen-class-mitigation">If nothing chosen</a></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--red">
                  Low
                </strong>
              </td>
              <td class="govuk-table__cell">
                Participants felt this question was irrelevant, if they had a class licence they would not need to apply for an A24 licence.
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/enter-class-mitigation-details">Enter class mitigation licence details</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/error-blank-enter-class-mitigation-details">If blank</a></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--red">
                  Low
                </strong>
              </td>
              <td class="govuk-table__cell">
                No problems with the page but again participants felt this was all irrelevant.
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/check-your-answers">Check your answers</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  High
                </strong>
              </td>
              <td class="govuk-table__cell">
                Tested well.
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/task-list-complete">Task list - completed task</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
          </tr>

          </tbody>
        </table>




        <!-- Version 1 -->
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Version 1
            </span>
          </summary>
          <div class="govuk-details__text">


            <div class="govuk-!-margin-bottom-9">
              <strong class="govuk-tag govuk-tag--pink">
                Tested
             </strong>
            </div>
      
            {{ govukButton({
              text: "View full flow",
              href: "task-list"
            }) }}
            
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      
            <h2 class="govuk-heading-m">Full page list and error states</h2>
      
            <table class="govuk-table">
              <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Page</th>
                    <th scope="col" class="govuk-table__header">Error states</th>
                    <th scope="col" class="govuk-table__header">Confidence</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-third">Notes</th>
                  </tr>
              </thead>
              <tbody class="govuk-table__body">    
                  <tr class="govuk-table__row">
                      <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="task-list">Task list</a></td>
                      <td class="govuk-table__cell"></td>
                      <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--yellow">
                          Medium
                        </strong>
                      </td>
                      <td class="govuk-table__cell">
                        Participants understood the task list although some 'upload supporting information' should appear earlier in the order.
                      </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="previous-license">Previous badger mitigation licence</a></td>
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-previous-license">If nothing chosen</a></td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--green">
                        High
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      Tested well.
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="enter-license-details">Enter previous licence details</a></td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link govuk-link--no-visited-state" href="error-blank-enter-license-details">If blank</a><br>
                      <a class="govuk-link govuk-link--no-visited-state" href="error-already-exists-enter-license-details">If already exists</a><br>
                      <a class="govuk-link govuk-link--no-visited-state" href="error-too-long-enter-license-details">Too many characters</a>
                    </td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--yellow">
                        Medium
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      Users understood the page but questioned whether it should be the most recent one. Also questioned how they could add more which wasn't apparent till they moved onto the next page.
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="license">Previous badger mitigiation licences</a></td>
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-blank-license">If blank</a></td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--yellow">
                        Medium
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      Users understood the page but were alarmed about how many licenses they might need to add. Questioned whether some context was required about how many licences to add or only adding relevant licences.
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="license-removed">Previous badger mitigiation licences - all removed</a></td>
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-license-removed">If nothing chosen</a></td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">Not tested in this round of research.</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="enter-experience">Ecologist's experience</a></td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link govuk-link--no-visited-state" href="error-blank-enter-experience">If blank</a><br>
                      <a class="govuk-link govuk-link--no-visited-state" href="error-too-many-enter-experience">If too many characters</a>
                    </td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--yellow">
                        Medium
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      Particpants understood the page and what do. One participant was quite unhappy with this page, questioned why NE need this information when he's had multiple licences in the past.
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="enter-methods">Ecologist's experience of methods</a></td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link govuk-link--no-visited-state" href="error-blank-enter-methods">If blank</a><br>
                      <a class="govuk-link govuk-link--no-visited-state" href="error-too-many-enter-methods">If too many characters</a>
                    </td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--yellow">
                        Medium
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      Participants understood the page and what to do but felt they would have already entered this information on the previous page meaning they would need to go back and adjust their previous answer.
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="class-mitigation">Badger mitigation class licence</a></td>
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-class-mitigation">If nothing chosen</a></td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--red">
                        Low
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      Participants felt this question was irrelevant, if they had a class licence they would not need to apply for an A24 licence.
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="enter-class-mitigation-details">Enter class mitigation licence details</a></td>
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-blank-enter-class-mitigation-details">If blank</a></td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--red">
                        Low
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      No problems with the page but again participants felt this was all irrelevant.
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="check-your-answers">Check your answers</a></td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--green">
                        High
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      Tested well.
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="task-list-complete">Task list - completed task</a></td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                </tr>
      
                </tbody>
              </table>
          
          </div>
        </details>


        <h2 class="govuk-heading-m govuk-!-margin-top-9">Design and research history</h2>

        <table class="govuk-table">
          <thead class="govuk-table__head">
              <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Date</th>
              <th scope="col" class="govuk-table__header">Changes</th>
              <th scope="col" class="govuk-table__header">Rationale</th>
              </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">20 February 2024</th>
              <td class="govuk-table__cell">Task list updated to latest GDS Design System component.</td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">20 February 2024</th>
              <td class="govuk-table__cell">v2 flow created.</td>
              <td class="govuk-table__cell"></td>
            </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__cell">25 to 30 October 2023</th>
                <td class="govuk-table__cell">Flow tested with 4 ecologists</td>
                <td class="govuk-table__cell"></td>
              </tr> 
            </tbody>
          </table>
    
    </div>
  </div>

{% endblock %}
