{% extends "layout-pb.html" %}

{% block pageTitle %} 
Previous badger mitigation licenses
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Previous badger mitigation licenses
      </h1>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Badger mitigation license"
            },
            value: {
              html: data['mitigation-license-details'] 
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Remove",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Badger mitigiation license"
            },
            value: {
              html: data['mitigation-license-details-2'] 
            },
            actions: {
              items: [
                {
                  href: "license",
                  text: "Remove",
                  visuallyHiddenText: "name"
                }
              ]
            }
          }
          
        ]
      }) }}







      <form class="form" action="another-license-extra" method="post">

        {{ govukRadios({
          idPrefix: "another-license-extra-check",
          name: "another-license-extra-check",
          fieldset: {
            legend: {
              text: "Do you want to add another previous badger mitigation license?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
        

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>


    </div>
  </div>

{% endblock %}
