{% extends "layout-pb-no-service-name.html" %}

{% block pageTitle %} 
SDDSIP 827 | Returns
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">SDDSIP 827</span>
      <h1 class="govuk-heading-l">Returns</h1> 

      <div class="govuk-!-margin-bottom-9">
        <strong class="govuk-tag govuk-tag--green" >
          In Progress
        </strong>
      </div>

      
      
      
      
      <h2 class="govuk-heading-m ">Full page list and error states - v2</h2>

      {{ govukButton({
        text: "View full flow",
        href: "v2/start"
      }) }}

      <div class="govuk-inset-text">
       <p><strong>BS</strong> = Badger specific question</p>
      </div>
      
      <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Page</th>
            <th scope="col" class="govuk-table__header">Link</th>
            <th scope="col" class="govuk-table__header">Error states</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">    
            <tr class="govuk-table__row">
                <th class="govuk-table__cell">Start page</th>
                <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="v2/start">start</a></td>
                <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Sign in</th>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/defra-id-signin">defra-id-signin</a></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">View licence applications</th>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/applications">applications</a></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Licence</th>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/licence">licence</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/error-nothing-chosen-licence">If nothing chosen</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">BS - Your licensed actions</th>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/licensed-actions">licensed-actions</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/error-nothing-chosen-licensed-actions">If nothing chosen</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Did licensed actions mean development could start?</th>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/outcome">outcome</a></td>
              <td class="govuk-table__cell">
                <a class="govuk-link govuk-link--no-visited-state" href="v2/error-nothing-chosen-outcome">If nothing chosen</a><br>
                <a class="govuk-link govuk-link--no-visited-state" href="v2/error-blank-outcome">If blank</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Why didn't you carry out these actions?</th>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/why-not-carried-out">why-not-carried-out</a></td>
              <td class="govuk-table__cell">
                <a class="govuk-link govuk-link--no-visited-state" href="v2/error-nothing-chosen-why-not-carried-out">If nothing chosen</a><br>
                <a class="govuk-link govuk-link--no-visited-state" href="v2/error-blank-why-not-carried-out">If blank</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Will you need another licence for this development?</th>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/need-another-licence">need-another-licence</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/error-nothing-chosen-need-another-licence">If nothing chosen</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Completed the licensed work between dates?</th>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/complete-between-dates">complete-between-dates</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/error-nothing-chosen-complete-between-dates">If nothing chosen</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">When did you start the work?</th>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/work-start-date">work-start-date</a></td>
              <td class="govuk-table__cell">
                <a class="govuk-link govuk-link--no-visited-state" href="v2/error-blank-work-start-date">If blank</a><br>
                <a class="govuk-link govuk-link--no-visited-state" href="v2/error-date-in-future-work-start-date">If date in the future</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">When did you finish the work?</th>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/work-end-date">work-end-date</a></td>
              <td class="govuk-table__cell">
                <a class="govuk-link govuk-link--no-visited-state" href="v2/error-blank-work-end-date">If blank</a><br>
                <a class="govuk-link govuk-link--no-visited-state" href="v2/error-date-in-future-work-end-date">If date in the future</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Why not completed between dates?</th>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/why-not-between-dates">why-not-between-dates</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/error-blank-why-not-between-dates">If blank</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">BS - Licensed action 1 - Obstruct sett entrances</th>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/licensed-action-1">licensed-action-1</a></td>
              <td class="govuk-table__cell">
                <a class="govuk-link govuk-link--no-visited-state" href="v2/error-nothing-chosen-licensed-action-1">If nothing chosen</a><br>
                <a class="govuk-link govuk-link--no-visited-state" href="v2/error-blank-licensed-action-1">If blank</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">BS - Licensed action 2 - Obstruct access to sett entrances</th>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/licensed-action-2">licensed-action-2</a></td>
              <td class="govuk-table__cell">As per licensed action 1</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">BS - Licensed action 3 - Damage a sett</th>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/licensed-action-3">licensed-action-3</a></td>
              <td class="govuk-table__cell">As per licensed action 1</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">BS - Licensed action 4 - Destroy a sett</th>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/licensed-action-4">licensed-action-4</a></td>
              <td class="govuk-table__cell">As per licensed action 1</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">BS - When did you destroy the vacant sett?</th>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/destruction-date">destruction-date</a></td>
              <td class="govuk-table__cell">As per licensed action 1</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">BS - Licensed action 5 - Disturb badgers</th>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/licensed-action-5">licensed-action-5</a></td>
              <td class="govuk-table__cell">
                <a class="govuk-link govuk-link--no-visited-state" href="v2/error-nothing-chosen-licensed-action-5">If nothing chosen</a><br>
                <a class="govuk-link govuk-link--no-visited-state" href="v2/error-blank-licensed-action-5">If blank</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">BS - Did you create an artificial sett?</th>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/create-artificial-sett">create-artificial-sett</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/error-nothing-chosen-create-artificial-sett">If nothing chosen</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">BS - Why no artificial sett?</th>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/why-no-artificial-sett">why-no-artificial-sett</a></td>
              <td class="govuk-table__cell">
                <a class="govuk-link govuk-link--no-visited-state" href="v2/error-nothing-chosen-why-no-artificial-sett">If nothing chosen</a><br>
                <a class="govuk-link govuk-link--no-visited-state" href="v2/error-blank-why-no-artificial-sett">If blank</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">BS - Describe the work carried out to create the artificial sett</th>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/describe-artificial-sett">describe-artificial-sett</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/error-blank-describe-artificial-sett">If blank</a></td>
            </tr>
            
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">BS - Evidence badgers located the artificial sett?</th>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/located-artificial-sett">located-artificial-sett</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/error-blank-located-artificial-sett">If blank</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">BS - Was the artificial sett created before the licensed sett was closed?</th>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/before-sett-closure">before-sett-closure</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/error-nothing-chosen-before-sett-closure">If nothing chosen</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">BS - Artificial sett's grid reference</th>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/artificial-sett-location">artificial-sett-location</a></td>
              <td class="govuk-table__cell">
                <a class="govuk-link govuk-link--no-visited-state" href="v2/error-blank-artificial-sett-location">If blank</a><br>
                <a class="govuk-link govuk-link--no-visited-state" href="v2/error-wrong-format-artificial-sett-location">If wrong format</a><br>
                <a class="govuk-link govuk-link--no-visited-state" href="v2/error-no-match-artificial-sett-location">Grid ref does not exist</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Able to comply with the conditions of the licence?</th>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/conditions">conditions</a></td>
              <td class="govuk-table__cell">
                <a class="govuk-link govuk-link--no-visited-state" href="v2/error-nothing-chosen-conditions">If nothing chosen</a><br>
                <a class="govuk-link govuk-link--no-visited-state" href="v2/error-blank-conditions">If blank</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">BS - Any concerns about badgers' welfare?</th>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/welfare-concerns">welfare-concerns</a></td>
              <td class="govuk-table__cell">
                <a class="govuk-link govuk-link--no-visited-state" href="v2/error-nothing-chosen-welfare-concerns">If nothing chosen</a><br>
                <a class="govuk-link govuk-link--no-visited-state" href="v2/error-blank-welfare-concerns">If blank</a>
              </td>
            </tr>

            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Do you want to upload supporting information?</th>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/upload">upload</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/error-nothing-chosen-upload">If nothing chosen</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Upload a file</th>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/upload-file">upload-file</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/error-no-file-selected-upload-file">If no file selected</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Uploaded files / upload another</th>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/files">files</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/error-nothing-chosen-files">If nothing chosen</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Uploaded files / upload another</th>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/files-2">files-2</a></td>
              <td class="govuk-table__cell">As above</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Check your answers</th>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/check-your-answers">check-your-answers</a></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Declaration</th>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/declaration">declaration</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/error-nothing-chosen-declaration">If nothing chosen</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Confirmation</th>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/confirmation">confirmation</a></td>
              <td class="govuk-table__cell"></td>
            </tr>
            
          </tbody>
        </table>

      
      
      
      
      
      
      
      
      
      
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Version 1
          </span>
        </summary>
        <div class="govuk-details__text">
          
          
          <h2 class="govuk-heading-m ">Full page list and error states</h2>

          {{ govukButton({
            text: "View full flow",
            href: "start"
          }) }}
          
          <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Page</th>
                <th scope="col" class="govuk-table__header">Link</th>
                <th scope="col" class="govuk-table__header">Error states</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">    
                <tr class="govuk-table__row">
                    <th class="govuk-table__cell">Start page</th>
                    <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="start">start</a></td>
                    <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell">Sign in</th>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="defra-id-signin">defra-id-signin</a></td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell">View licence applications</th>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="applications">applications</a></td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell">Licence application</th>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="application">application</a></td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell">Have you carried out any work under the licence?</th>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="carried-out-work">carried-out-work</a></td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell">Have you reported information to any other organisation?</th>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="reported">reported</a></td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell">Describe the work that was done</th>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="describe-work">describe-work</a></td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell">When did you start the work?</th>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="work-start-date">work-start-date</a></td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell">When did you finish the work?</th>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="work-end-date">work-end-date</a></td>
                  <td class="govuk-table__cell"></td>
                </tr>
              
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell">Do you want to upload a document?</th>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="upload">upload</a></td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell">Upload a file</th>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="upload-file">upload-file</a></td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell">Uploaded files / upload another</th>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="files">files</a></td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell">Uploaded files / upload another</th>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="files-2">files-2</a></td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell">Check your answers</th>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="check-your-answers">check-your-answers</a></td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell">Declaration</th>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="declaration">declaration</a></td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell">Confirmation</th>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="confirmation">confirmation</a></td>
                  <td class="govuk-table__cell"></td>
                </tr>
                
              </tbody>
            </table>


        </div>
      </details>

      






    </div>
  </div>

{% endblock %}
