{% extends "layout-pb.html" %}

{% block pageTitle %} 
Have you reported information to any organisation other than Natural England?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="carried-out-work-check" method="post">
        {{ govukRadios({
          idPrefix: "carried-out-work-check",
          name: "carried-out-work-check",
          fieldset: {
            legend: {
              text: "Have you reported information to any organisation other than Natural England?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      
    
    </div>
  </div>

{% endblock %}
