{% extends "layout-pb.html" %}

{% block pageTitle %} 
  Error: What is {{ data['invoice-name'] }}'s contact address? 
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "You have not entered a building and street",
            href: "#applicantAddress1"
          },
          {
            text: "You have not entered a town or city",
            href: "#applicantAddress3"
          },
          {
            text: "You have not entered a county",
            href: "#applicantAddress4"
          },
          {
            text: "You have not entered a postcode",
            href: "#address-postcode"
          }
        ]
      }) }}
      
      <form class="form" action="purchase-order" method="post">
        
       
        
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-heading-xl">
              What is {{ data['invoice-name'] }}'s contact address?
            </h1>
          </legend>
        

          
          
          <div class="govuk-form-group govuk-form-group--error">
            <p id="event-name-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Enter a building and street
            </p>
            <label class="govuk-label" for="applicantAddress1">
              Building and street <span class="govuk-visually-hidden">line 1 of 2</span>
            </label>
              
            <input class="govuk-input govuk-input--error" id="applicantAddress1" name="applicantAddress1" type="text" autocomplete="address-line1" value="">
          </div>
        
          
          
          <div class="govuk-form-group ">
            <label class="govuk-label" for="applicantAddress2">
              <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
            </label>
            
            <input class="govuk-input " id="applicantAddress2" name="applicantAddress2" type="text" autocomplete="address-line2" value="">
          </div>
        
          
          
          <div class="govuk-form-group govuk-form-group--error">
            <p id="event-name-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Enter a town or city
            </p>
            <label class="govuk-label" for="applicantAddress3">
              Town or city
            </label>
            
            <input class="govuk-input govuk-!-width-two-thirds govuk-input--error" id="applicantAddress3" name="applicantAddress3" type="text" autocomplete="address-level2" value="">
          </div>
        
          
          
          <div class="govuk-form-group govuk-form-group--error">
            <p id="event-name-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Enter a county
            </p>
            <label class="govuk-label" for="applicantAddress4">
              County
            </label>
            
            <input class="govuk-input govuk-!-width-two-thirds govuk-input--error" id="applicantAddress4" name="applicantAddress4" type="text" value="">
          </div>

        
            <div class="govuk-form-group govuk-form-group--error">
              <p id="event-name-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Enter a postcode
              </p>
              <label class="govuk-label" for="address-postcode">
                Postcode
              </label>
              <input class="govuk-input govuk-input--width-10 govuk-input--error" id="address-postcode" name="address-postcode" type="text" autocomplete="postal-code">
            </div>
        
        </fieldset>
        
          {{ govukButton({
            text: "Continue"
          }) }}
      </form>

      
    
    </div>
  </div>

{% endblock %}
