{% extends "layout-pb-no-service-name.html" %}

{% block pageTitle %} 
SDDSIP 188 | Add invoice details
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">SDDSIP 188</span>
      <h1 class="govuk-heading-l">Add invoice details</h1> 

      <div class="govuk-!-margin-bottom-9">
        <strong class="govuk-tag" style="background: green;" >
          In progress
        </strong>
      </div>

      {{ govukButton({
        text: "View full flow",
        href: "task-list"
      }) }}
      
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">Full page list and error states</h2>

      <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Page</th>
            <th scope="col" class="govuk-table__header">Link</th>
            <th scope="col" class="govuk-table__header">Error states</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">    
            <tr class="govuk-table__row">
                <th class="govuk-table__cell">Task list</th>
                <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="task-list">task-list</a></td>
                <td class="govuk-table__cell"> </td>
            </tr>

            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Who is responsible for paying the invoice</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="responsible">responsible</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-responsible">If nothing chosen</a></td>
            </tr>

            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Individual responsible for paying the invoice</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="contact-details">contact-details</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-contact-details">If nothing chosen</a></td>
            </tr>

            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Purchase order</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="purchase-order">purchase-order</a></td>
              <td class="govuk-table__cell">
                <a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-purchase-order">If nothing chosen</a><br>
                <a class="govuk-link govuk-link--no-visited-state" href="error-blank-purchase-order">If blank</a>
              </td>
            </tr>

            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Name of the invoice payer</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="invoice-name">invoice-name</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-blank-invoice-name">If blank</a></td>
            </tr>

            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Email address of the invoice payer</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="invoice-email-address">invoice-email-address</a></td>
              <td class="govuk-table__cell">
                <a class="govuk-link govuk-link--no-visited-state" href="error-blank-invoice-email-address">If blank</a><br>
                <a class="govuk-link govuk-link--no-visited-state" href="error-format-invoice-email-address">If wrong format</a>
              </td>
            </tr>

            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Part of an organisation</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="invoice-organisation">invoice-organisation</a></td>
              <td class="govuk-table__cell">
                <a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-invoice-organisation">If nothing chosen</a><br>
                <a class="govuk-link govuk-link--no-visited-state" href="error-blank-invoice-organisation">If blank</a>
              </td>
            </tr>

            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Invoice payer contact address - postcode</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="invoice-address">invoice-address</a></td>
              <td class="govuk-table__cell">
                <a class="govuk-link govuk-link--no-visited-state" href="error-blank-invoice-address">If blank</a><br>
                <a class="govuk-link govuk-link--no-visited-state" href="error-format-invoice-address">If wrong format</a>
              </td>
            </tr>

            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Invoice payer contact address - no postcode</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="invoice-address-no-postcode">invoice-address-no-postcode</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-blank-invoice-address-no-postcode">If blank</a></td>
            </tr>

            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Invoice payer contact address - select address</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="select-address">select-address</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-nothing-selected-select-address">If nothing selected</a></td>
            </tr>

            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Invoice payer contact address - address not found in select</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="invoice-address-no-lookup">invoice-address-no-lookup</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-blank-invoice-address-no-lookup">If blank</a></td>
            </tr>

            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Check your answers</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="check-your-answers">check-your-answers</a></td>
              <td class="govuk-table__cell"></td>
            </tr>



            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Task list - completed task</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="task-list-complete">task-list-complete</a></td>
              <td class="govuk-table__cell"> </td>
          </tr>


         


          </tbody>
        </table>
    
    </div>
  </div>

{% endblock %}
