{% extends "layout-pb.html" %}

{% block pageTitle %} 
Cumulative effect of development on bats
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">    

      

        <h1 class="govuk-heading-l">Cumulative effect of development on bats</h1>

        <p>You must tell us if you know of any other development activity that could affect the populations of bats in this site registration.</p>
         
        <p>This includes work done under any:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>phased development</li>
            <li>multi-plot development sites</li>
            <li>previous licences or site registrations in the past 5 years</li>
            <li>future licence or site registration applications in the next 5 years</li>
            
        </ul>

        {{ govukDetails({
          summaryText: "Phased development",
          text: "Phased development happens where land is to be developed in phases over several years. Usually, mitigation licences will cover each phase of development. It is possible to get a licence to cover all phases, depending on factors that include the timing, habitats and mitigation requirements."
        }) }}

        {{ govukDetails({
          summaryText: "Multi-plot development",
          text: "Multi-plot development happens where land to be developed is owned by different landowners. Usually, a mitigation licence will cover a single plot."
        }) }}

        <form class="form" action="other-development-affect" method="post">
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
