{% extends "layout-pb.html" %}

{% block pageTitle %} 
Cumulative effect of development on bats
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">    

      

        <h1 class="govuk-heading-l">Cumulative effect of development on bats</h1>

        <p>You must tell us if you know of any other development activity that could affect the population of bats in this site registration.</p>
         
        <p>This includes work done under any:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>phased development</li>
            <li>multi-plot development sites</li>
            <li>previous licences or site registrations in the past 5 years</li>
            <li>future licence or site registration applications in the next 5 years</li>
            
        </ul>

        <form class="form" action="other-development-affect" method="post">
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
