{% extends "layout-pb.html" %}

{% block pageTitle %} 
Describe site name, location and dates of previous activity
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      

      <form class="form" action="sitename-location-dates-future" method="post">

        {{ govukTextarea({
            name: "sitename-location-dates",
            id: "sitename-location-dates",
            label: {
              text: "Describe site name, location and dates of previous activity",
              classes: "govuk-label--l",
              isPageHeading: true
            },
            hint: {
              text: "Include the bat species and roost types impacted."
            }
          }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
