{% extends "layout-pb.html" %}

{% block pageTitle %} 
Upload supporting information 
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!--<h1 class="govuk-heading-l">
        Upload supporting information 
      </h1>
      <p>
        Upload files that support your application
      </p>

      <p>
        You can upload:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          a works schedule
        </li>
        <li>
          a methods statement
        </li>
        <li>
          maps, diagrams or drawings
        </li>
        <li>
          evidence of permissions or consents
        </li>
        <li>
          any other supporting information
        </li>
      </ul>

      <p>
        You should include information on:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          how and when each badger sett will be affected
        </li>
        <li>
          types of machinery or tools that will be used and their distance from each badger sett
        </li>
        <li>
          justification for why each badger sett will be affected
        </li>
        <li>
          dates of any proposed mitigation work
        </li>
      </ul>


      <h2 class="govuk-heading-m">
        Upload a file
      </h2>

      <p>The file must be smaller than 30MB. It can be:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          an image (JPG, PNG, TIF or BMP)
        </li>
        <li>
          map data (GeoJSON, KML or Shape)
        </li>
        <li>
          text (DOC, DOCX, PDF or ODT)
        </li>
        <li>
          a spreadsheet (XLS, XLSX or ODS)
        </li>
        <li>
          ZIP files
        </li>
      </ul> -->

      <h1 class="govuk-heading-l">
        Upload a file
      </h1>

      <p>The file must be smaller than 30MB. It can be:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          an image (JPG, PNG, TIF or BMP)
        </li>
        <li>
          map data (GeoJSON, KML or Shape)
        </li>
        <li>
          text (DOC, DOCX, PDF or ODT)
        </li>
        <li>
          a spreadsheet (XLS, XLSX or ODS)
        </li>
      </ul>

      <form class="form" action="files-2" method="post">
        {{ govukFileUpload({
          id: "file-upload-1",
          name: "file-upload-1",
          label: {
            text: "Upload a file"
          }
        }) }}

        {{ govukButton({
          text: "Upload and continue"
        }) }}
      </form>


    </div>
  </div>

{% endblock %}
