{% extends "layout-pb-no-service-name.html" %}

{% block pageTitle %} 
SDDSIP 286 | Upload supporting information
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">SDDSIP 286</span>
      <h1 class="govuk-heading-l">Upload supporting information</h1> 

      <div class="govuk-!-margin-bottom-9">
        <strong class="govuk-tag" style="background: green;" >
          In progress
        </strong>
      </div>

      {{ govukButton({
        text: "View full flow",
        href: "task-list"
      }) }}
      
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">Full page list and error states</h2>

      <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Page</th>
            <th scope="col" class="govuk-table__header">Link</th>
            <th scope="col" class="govuk-table__header">Error states</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">    
            <tr class="govuk-table__row">
                <th class="govuk-table__cell">Task list</th>
                <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="task-list">task-list</a></td>
                <td class="govuk-table__cell"> </td>
            </tr>

            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Upload file</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="upload-file">upload-file</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-no-file-selected-upload-file">If no file selected</a></td>
            </tr>

            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Review uploaded file / upload another</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="supporting-information">supporting-information</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-supporting-information">If nothing chosen</a></td>
            </tr>

            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Single uploaded file removed</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="supporting-information-file-removed">supporting-information-file-removed</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-supporting-information-file-removed">If nothing chosen</a></td>
            </tr>

            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Additional file uploaded</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="supporting-information-2">supporting-information-2</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-supporting-information-2">If nothing chosen</a></td>
            </tr>


            

            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Task list - completed task</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="task-list-complete">task-list-complete</a></td>
              <td class="govuk-table__cell"> </td>
          </tr>


         


          </tbody>
        </table>
    
    </div>
  </div>

{% endblock %}
