{% extends "layout-pb.html" %}

{% block pageTitle %} 
Supporting information
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Supporting information
      </h1>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Uploaded file"
            },
            value: {
              html: "No file uploaded"
            },
            actions: {
              items: [
                {
                  href: "check-answers-",
                  text: "Remove",
                  visuallyHiddenText: "name"
                }
              ]
            }
          }
          
        ]
      }) }}







      <form class="form" action="upload-supp-file" method="post">

        {{ govukRadios({
          idPrefix: "upload-supp-file-check",
          name: "upload-supp-file-check",
          fieldset: {
            legend: {
              text: "Do you want to upload a supporting information file?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
        

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>


    </div>
  </div>

{% endblock %}
