{% extends "layout-pb.html" %}

{% block pageTitle %} 
Defra account registration complete
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {{ govukPanel({
            titleText: "Defra account registration complete"
          }) }}
      

        <p class="govuk-body">
          You can now access and manage Defra services for yourself or on behalf of the organisations that you represent.
        </p>

      {{ govukButton({
        text: "Continue",
        href: "species-start-page"
      }) }}
    </div>
  </div>

{% endblock %}
