{% extends "layout-pb-signed-out.html" %}

{% block pageTitle %} 
Has the project got all permissions for work to start?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
        <form class="form" action="consent-granted-check" method="post">
            {{ govukRadios({
                name: "consent-granted-check",
                fieldset: {
                legend: {
                    text: "Has the project got all permissions for work to start?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                    }
                },
                items: [
                {
                    value: "Yes",
                    text: "Yes"
                },
                {
                    value: "No",
                    text: "No"
                }
                ]
            }) }}

            
            {{ govukButton({
                text: "Continue"
            }) }}
          </form>


    </div>
  </div>

{% endblock %}
