{% extends "layout-pb-no-service-name.html" %}

{% block pageTitle %} 
IDM | Check before you start / Your application role
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">IDM</span>
      <h1 class="govuk-heading-l">Check before you start / Your application role</h1> 

      <div class="govuk-!-margin-bottom-9">
        <strong class="govuk-tag govuk-tag--green" >
          In Progress
        </strong>
      </div>

      <form class="form" action="v3/applications" method="post">
        {{ govukButton({
          text: "View full flow - User signed out - v3"
        }) }}
      </form>

    <!--  <form class="form" action="applications" method="post">

        {{ govukButton({
          text: "View full flow - User signed in"
        }) }}
      </form>-->


      <p><a href="https://app.mural.co/t/ddtssddsdigitalprogrammeteam3057/m/ddtssddsdigitalprogrammeteam3057/1683281340925/b110132ca3487adc042f373107b850756cd8e509?wid=0-1692631137200" target="_blank">Mural flow</a></p>
      
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">Full page list - v3</h2>

      <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Page</th>
            <th scope="col" class="govuk-table__header">Error states</th>
            <th scope="col" class="govuk-table__header">Confidence</th>
            <th scope="col" class="govuk-table__header">Notes</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body"> 
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v3/applications">View licences and applications</a></td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--yellow">
                Medium
              </strong>
            </td>
            <td class="govuk-table__cell">Not tested yet</td>
          </tr>   
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v3/which-species">Which species?</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Not tested yet</td>
            </tr> 
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v3/nsip">Nationally Significant Infrastructure Project?</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Not tested yet</td>
            </tr> 
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v3/land-owner">Applicant own the land?</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Not tested yet</td>
            </tr> 
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v3/consent">Project need any permissions?</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Not tested yet</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v3/application-role">Your application role</a></td>
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v3/error-nothing-chosen-application-role">If nothing chosen</a></td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--yellow">
                    Medium
                  </strong>
                </td>
                <td class="govuk-table__cell">Not tested yet</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v3/eligible">Eligible to apply</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Not tested yet</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v3/species-start-page">Species / licence specific start page</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Not tested yet</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v3/task-list-completed">Task list</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Not tested yet</td>
          </tr>
          </tbody>
        </table>




        <!-- Version 2 -->  
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Version 2
            </span>
          </summary>
          <div class="govuk-details__text">

            <form class="form" action="v2/start" method="post">
              {{ govukButton({
                text: "View full flow - User signed out - v2"
              }) }}
            </form>
      
            <strong class="govuk-tag" >
              Dev ready
            </strong>
                  
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      
            <h2 class="govuk-heading-m">Full page list - v2</h2>
      
            <table class="govuk-table">
              <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Page</th>
                  <th scope="col" class="govuk-table__header">Error states</th>
                  <th scope="col" class="govuk-table__header">Confidence</th>
                  <th scope="col" class="govuk-table__header">Notes</th>
                  </tr>
              </thead>
              <tbody class="govuk-table__body"> 
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/applications">View licences and applications - Signed in user start page</a></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--yellow">
                      Medium
                    </strong>
                  </td>
                  <td class="govuk-table__cell">Not tested yet</td>
                </tr>  
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/start">Start page - Signed out user start page</a></td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--yellow">
                        Medium
                      </strong>
                    </td>
                    <td class="govuk-table__cell">Not tested yet</td>
                  </tr>  
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/which-species">Which species?</a></td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--yellow">
                        Medium
                      </strong>
                    </td>
                    <td class="govuk-table__cell">Not tested yet</td>
                  </tr> 
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/nsip">Nationally Significant Infrastructure Project?</a></td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--yellow">
                        Medium
                      </strong>
                    </td>
                    <td class="govuk-table__cell">Not tested yet</td>
                  </tr> 
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/land-owner">Applicant own the land?</a></td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--yellow">
                        Medium
                      </strong>
                    </td>
                    <td class="govuk-table__cell">Not tested yet</td>
                  </tr> 
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/consent">Project need any permissions?</a></td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--yellow">
                        Medium
                      </strong>
                    </td>
                    <td class="govuk-table__cell">Not tested yet</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/eligible">Eligible to apply</a></td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--yellow">
                        Medium
                      </strong>
                    </td>
                    <td class="govuk-table__cell">Not tested yet</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/defra-id-signin">Sign in</a></td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--yellow">
                        Medium
                      </strong>
                    </td>
                    <td class="govuk-table__cell">Not tested yet</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/species-start-page">Species / license specific start page - Badgers</a></td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--yellow">
                        Medium
                      </strong>
                    </td>
                    <td class="govuk-table__cell">Not tested yet</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/application-role">Your application role</a></td>
                      <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/error-nothing-chosen-application-role">If nothing chosen</a></td>
                      <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--yellow">
                          Medium
                        </strong>
                      </td>
                      <td class="govuk-table__cell">Not tested yet</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/task-list">Task list</a></td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--yellow">
                        Medium
                      </strong>
                    </td>
                    <td class="govuk-table__cell">Not tested yet</td>
                </tr>
                </tbody>
              </table>
          </div>
        </details>





        
         <!-- Version 1 -->        
         <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Version 1
            </span>
          </summary>
          <div class="govuk-details__text">

          


            <form class="form" action="start" method="post">
              {{ govukButton({
                text: "View full flow - User signed out - v1"
              }) }}
            </form>

            <strong class="govuk-tag" >
              Dev ready
            </strong>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      
          <!--  <form class="form" action="applications" method="post">
      
              {{ govukButton({
                text: "View full flow - User signed in"
              }) }}
            </form>-->
      
            <h2 class="govuk-heading-m">Full page list - v1</h2>
      
            <table class="govuk-table">
              <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Page</th>
                  <th scope="col" class="govuk-table__header">Error states</th>
                  <th scope="col" class="govuk-table__header">Confidence</th>
                  <th scope="col" class="govuk-table__header">Notes</th>
                  </tr>
              </thead>
              <tbody class="govuk-table__body"> 
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="applications">View licences and applications - Signed in user start page</a></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--yellow">
                      Medium
                    </strong>
                  </td>
                  <td class="govuk-table__cell">Not tested yet</td>
                </tr>  
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="start">Start page - Signed out user start page</a></td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--yellow">
                        Medium
                      </strong>
                    </td>
                    <td class="govuk-table__cell">Not tested yet</td>
                  </tr>  
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="which-species">Which species?</a></td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--yellow">
                        Medium
                      </strong>
                    </td>
                    <td class="govuk-table__cell">Not tested yet</td>
                  </tr> 
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="nsip">Nationally Significant Infrastructure Project?</a></td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--yellow">
                        Medium
                      </strong>
                    </td>
                    <td class="govuk-table__cell">Not tested yet</td>
                  </tr> 
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="land-owner">Applicant own the land?</a></td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--yellow">
                        Medium
                      </strong>
                    </td>
                    <td class="govuk-table__cell">Not tested yet</td>
                  </tr> 
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="consent">Project need any permissions?</a></td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--yellow">
                        Medium
                      </strong>
                    </td>
                    <td class="govuk-table__cell">Not tested yet</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="eligible">Eligible to apply</a></td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--yellow">
                        Medium
                      </strong>
                    </td>
                    <td class="govuk-table__cell">Not tested yet</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="defra-id-signin">Sign in</a></td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--yellow">
                        Medium
                      </strong>
                    </td>
                    <td class="govuk-table__cell">Not tested yet</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="species-start-page">Species / license specific start page - Badgers</a></td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--yellow">
                        Medium
                      </strong>
                    </td>
                    <td class="govuk-table__cell">Not tested yet</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="application-role">Your application role</a></td>
                      <td class="govuk-table__cell"></td>
                      <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--yellow">
                          Medium
                        </strong>
                      </td>
                      <td class="govuk-table__cell">Not tested yet</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="task-list">Task list</a></td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--yellow">
                        Medium
                      </strong>
                    </td>
                    <td class="govuk-table__cell">Not tested yet</td>
                </tr>
                </tbody>
              </table>


          </div>
        </details>

        
        
        
        

      <h2 class="govuk-heading-m govuk-!-margin-top-9">Design and research history</h2>

      <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Date</th>
            <th scope="col" class="govuk-table__header">Changes</th>
            <th scope="col" class="govuk-table__header">Rationale</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__cell">20 February 2024</th>
            <td class="govuk-table__cell">Added (opens in new tab) text to check NSIP link.</td>
            <td class="govuk-table__cell">Page only now appears when a user is signed in. Opted to open an external link in a new tab so the user doesn't risk signing out by mistake and needing to sign in again.</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell">16 February 2024</th>
            <td class="govuk-table__cell">Reinstated species/licence specific mini start page after the end of the eligibility checker.</td>
            <td class="govuk-table__cell">Each licence/species requires some specific information that relates only to that licence or species, not feasible to list this all this niche information on the main service start page.</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell">16 February 2024</th>
            <td class="govuk-table__cell">Amended start page to be the overall wildlife licensing service start page.</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell">16 February 2024</th>
            <td class="govuk-table__cell">Task list updated to latest GDS Design System component</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell">9 February 2024</th>
            <td class="govuk-table__cell">Added v3 to bring prototype inline with new IDM integration of the eligibility checker </td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell">21 December 2023</th>
            <td class="govuk-table__cell">Updated status to DEVREADY.</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell">22 November 2023</th>
            <td class="govuk-table__cell">Amended 'eligible' page content to also include users who may not yet have an account</td>
            <td class="govuk-table__cell">Previous version of the page only covered 'signing in to save an application', no content on there around the need to create Gateway or Defra accounts.</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell">22 November 2023</th>
            <td class="govuk-table__cell">Amended 'application role' question, moved 'ecologist' up to be the first radio and added hint text to the 'licence holder' radio</td>
            <td class="govuk-table__cell">Ecologists who held a class licence were confused by the 'licence holder' radio and felt this could also apply to them</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell">21 November 2023</th>
            <td class="govuk-table__cell">Added revised start page content</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell">3 November 2023</th>
            <td class="govuk-table__cell">v2 flow created in the prototype.</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell">25 to 29 September 2023</th>
            <td class="govuk-table__cell">v1 of the prototype flow tested with 6 ecologists.</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell">30 August 2023</th>
            <td class="govuk-table__cell">Added species / license specific 'mini' start page</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell">22 August 2023</th>
            <td class="govuk-table__cell"><a href="https://app.mural.co/t/ddtssddsdigitalprogrammeteam3057/m/ddtssddsdigitalprogrammeteam3057/1683281340925/b110132ca3487adc042f373107b850756cd8e509?wid=0-1692373244368" target="_blank">v1</a> of the Mural flow built in the prototype.</td>
            <td class="govuk-table__cell"></td>
          </tr>
           <tr class="govuk-table__row">
            <th class="govuk-table__cell">11 August 2023</th>
            <td class="govuk-table__cell"><a href="https://app.mural.co/t/ddtssddsdigitalprogrammeteam3057/m/ddtssddsdigitalprogrammeteam3057/1683281340925/b110132ca3487adc042f373107b850756cd8e509?wid=0-1692373244368" target="_blank">v1</a> of the Mural flow reviewed with Graham Willis.</td>
            <td class="govuk-table__cell"></td>
          </tr>
          </tbody>
        </table>

    
    </div>
  </div>

{% endblock %}
