{% extends "layout-pb-signed-out.html" %}

{% block pageTitle %} 
Is the development a Nationally Significant Infrastructure Project?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
        <form class="form" action="land-owner" method="post">
            <!--{{ govukRadios({
                name: "nsip-check",
                fieldset: {
                legend: {
                    text: "Is the development a Nationally Significant Infrastucture Project?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                    }
                },
                
                

                items: [
                {
                    value: "Yes",
                    text: "Yes"
                },
                {
                    value: "No",
                    text: "No"
                }
                ]
            }) }}

            
            {{ govukButton({
                text: "Continue"
            }) }}-->

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Is the development a Nationally Significant Infrastructure Project?
                    </h1>
                  </legend>
                  <p><a href='https://infrastructure.planninginspectorate.gov.uk/projects/register-of-applications/' target="_blank">Check if your development is listed as a Nationally Significant Infrastructure Project</a></p>
                  <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="nsip-check" name="nsip-check" type="radio" value="Yes">
                      <label class="govuk-label govuk-radios__label" for="nsip-check">
                        Yes
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="nsip-check-2" name="nsip-check" type="radio" value="No">
                      <label class="govuk-label govuk-radios__label" for="nsip-check-2">
                        No
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
          

          {{ govukButton({
            text: "Continue"
         }) }}

        </form>
          
    </div>
  </div>

{% endblock %}
