{% extends "layout-pb.html" %}

{% block pageTitle %} 
Error: Who is the named ecologist?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: "Enter the name",
                href: "#ecologist-name"
              }
            ]
          }) }}
      
      <form class="form" action="confirm-details" method="post">       

        {{ govukInput({
          label: {
            text: "Who is the named ecologist?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "Enter the full name"
          },
          errorMessage: {
            text: "Enter the name"
          },
          id: "ecologist-name",
          name: "ecologist-name" 
        }) }}
        
          {{ govukButton({
            text: "Continue"
          }) }}
      </form>

      
    
    </div>
  </div>

{% endblock %}
