{% extends "layout-pb.html" %}

{% block pageTitle %} 
Error: What is Jason Doe's email address at ABC Ecology? 
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: "Enter an email address in the correct format, for example, name@example.com",
                href: "#ecologist-email-address"
              }
            ]
          }) }}
      
      <form class="form" action="confirm-details" method="post">
        <div class="govuk-form-group govuk-form-group--error">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="email-address">
              What is Jason Doe's email address at ABC Ecology? 
            </label>
          </h1>
         <!-- <div class="govuk-inset-text">
            <p>This change will only apply to this application. Your email address will remain the same in your Defra ID account.</p>
          </div>-->
          <p id="address-town-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter an email address in the correct format, for example, name@example.com
          </p>
          <input class="govuk-input" id="ecologist-email-address" name="ecologist-email-address" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email" value="Not an email address">
        </div>

        
        
        
          {{ govukButton({
            text: "Continue"
          }) }}
      </form>

      
    
    </div>
  </div>

{% endblock %}
