{% extends "layout-pb-no-service-name.html" %}

{% block pageTitle %} 
SDDSIP 705 | Amend additional contacts flow
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">SDDSIP 705</span>
      <h1 class="govuk-heading-l">Amend additional contacts flow</h1> 

      <div class="govuk-!-margin-bottom-9">
        <strong class="govuk-tag govuk-tag--green" >
          In Progress
        </strong>
      </div>

      {{ govukButton({
        text: "View full flow",
        href: "task-list"
      }) }}
      
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">Full page list and error states</h2>

      <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Page</th>
            <th scope="col" class="govuk-table__header">Link</th>
            <th scope="col" class="govuk-table__header">Error states</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">    
            <tr class="govuk-table__row">
                <th class="govuk-table__cell">Task list</th>
                <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="task-list">task-list</a></td>
                <td class="govuk-table__cell"></td>
            </tr>

            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Add an alternative contact?</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="add-contact">add-contact</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-add-contact">If nothing chosen</a></td>
            </tr>

            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Which previous contact?</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="previous-contacts">previous-contacts</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-previous-contacts">If nothing chosen</a></td>
            </tr>

            
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Alternative contact name</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="name">name</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-blank-name">If blank</a></td>
            </tr>

            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Alternative contact email address</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="email-address">email-address</a></td>
              <td class="govuk-table__cell">
                <a class="govuk-link govuk-link--no-visited-state" href="error-blank-email-address">If blank</a><br>
                <a class="govuk-link govuk-link--no-visited-state" href="error-format-email-address">If wrong format</a>
              </td>
            </tr>

            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Add an alternative ecologist contact?</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="add-ecologist-contact">add-ecologist-contact</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-add-ecologist-contact">If nothing chosen</a></td>
            </tr>

            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Which previous ecologist contact?</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="previous-ecologist-contacts">previous-ecologist-contacts</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-previous-ecologist-contacts">If nothing chosen</a></td>
            </tr>

            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Alternative ecologist contact name</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="ecologist-name">ecologist-name</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-blank-name">If blank</a></td>
            </tr>

            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Alternative ecologist contact email address</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="ecologist-email-address">ecologist-email-address</a></td>
              <td class="govuk-table__cell">
                <a class="govuk-link govuk-link--no-visited-state" href="error-blank-email-address">If blank</a><br>
                <a class="govuk-link govuk-link--no-visited-state" href="error-format-email-address">If wrong format</a>
              </td>
            </tr>


            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Check your answers</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="check-your-answers">check-your-answers</a></td>
              <td class="govuk-table__cell"></td>
            </tr>

            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Task list - completed task</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="task-list-complete">task-list-complete</a></td>
              <td class="govuk-table__cell"> </td>
          </tr>


         


          </tbody>
        </table>
    
    </div>
  </div>

{% endblock %}
