{% extends "layout-pb.html" %}

{% block pageTitle %} 
Error: What is the name of the designated site?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: "You have not selected a designated site",
                href: "#designated-site-name"
              }
            ]
          }) }}
      
      <form class="form" action="activity-on-site" method="post">       

        {{ govukInput({
          label: {
            text: "What is the name of the designated site?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          errorMessage: {
            text: "Select a designated site name"
          },
          id: "designated-site-name",
          name: "designated-site-name"
        }) }}
        
          {{ govukButton({
            text: "Continue"
          }) }}
      </form>

      
    
    </div>
  </div>

{% endblock %}
