{% extends "layout-pb.html" %}

{% block pageTitle %} 

  
    {% if data['alternate-applicant-organisation-check'] == 'Yes' %}

      What is {{ data['alternate-applicant-name'] }}'s postcode at {{ data['alternate-applicant-organisation-name'] }}?

    {% else %}

      What is {{ data['alternate-applicant-name'] }}'s postcode?

    {% endif %}


{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form class="form" action="select-address" method="post">
        <h1 class="govuk-heading-l">
          
          {% if data['alternate-applicant-organisation-check'] == 'Yes' %}

            What is {{ data['alternate-applicant-name'] }}'s postcode at {{ data['alternate-applicant-organisation-name'] }}?

          {% else %}

            What is {{ data['alternate-applicant-name'] }}'s postcode?

          {% endif %}

        </h1>
        <div class="govuk-form-group">
          {{ govukInput({
            label: {
              text: "Postcode"
            },
            classes: "govuk-input--width-10",
            id: "alternate-applicant-postcode",
            name: "alternate-applicant-postcode"
          }) }}
        </div>

        <p><a href="no-postcode">The address doesn't have a postcode</a></p>
        
          {{ govukButton({
            text: "Find address"
          }) }}
      </form>

      
    
    </div>
  </div>

{% endblock %}
