{% extends "layout-pb-no-service-name.html" %}

{% block pageTitle %} 
BAT ER | Give details of previous and future applications
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">Bat ER</span>
      <h1 class="govuk-heading-l">Give details of previous and future applications</h1> 

      <div class="govuk-!-margin-bottom-9">
        <strong class="govuk-tag govuk-tag--green" >
          In Progress
        </strong>
      </div>



      <p><a href="https://app.mural.co/t/ddtssddsdigitalprogrammeteam3057/m/ddtssddsdigitalprogrammeteam3057/1667571340492/9d832dd151797e0dc8159049f4f4752d19169e2f?wid=0-1687360591146" target="_blank">Mural flows</a></p>
      
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">Full page list - v2</h2>

      <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Page</th>
            <th scope="col" class="govuk-table__header">Error states</th>
            <th scope="col" class="govuk-table__header">Confidence</th>
            <th scope="col" class="govuk-table__header">Notes</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">    
            <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/task-list">Task list</a></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--yellow">
                    Medium
                  </strong>
                </td>
                <td class="govuk-table__cell">Not tested yet</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/cumulative-effect">Cumulative effect </a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Not tested yet</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/other-development-affect">Development affect bats?</a></td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--yellow">
                Medium
              </strong>
            </td>
            <td class="govuk-table__cell">Not tested yet</td>
        </tr>
            

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/upload-ossm-file">Upload overall species-specific masterplan</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Not tested yet</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/ossm-files">Upload another overall species-specific masterplan file</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Not tested yet</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/upload-hmmp-file">Upload habitat management and maintenance plan</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Not tested yet</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/hmmp-files">Upload another habitat management and maintenance plan</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Not tested yet</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/references-previous">References for previous?</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Not tested yet</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/sitename-location-dates">Site name, location and dates of previous activity</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Not tested yet</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/sitename-location-dates-future">Site name, location and dates of future activity</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Not tested yet</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/cumulative-impacts">Cumulative impacts</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Not tested yet</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/previous-advice-from-natural-england">Previous advice from Natural England?</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Not tested yet</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/advice-reference-numbers">Natural England advice reference numbers</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Not tested yet</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/describe-advice">Describe the advice</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Not tested yet</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/upload">Upload supporting information</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Not tested yet</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/files">Uploaded files</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Not tested yet</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/check-your-answers">Check your answers</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Not tested yet</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/task-list-complete">Task list complete</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Not tested yet</td>
            </tr>
           
          </tbody>
        </table>








      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Version 1
          </span>
        </summary>
        <div class="govuk-details__text">
        

          <h2 class="govuk-heading-m">Full page list</h2>

          <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Page</th>
                <th scope="col" class="govuk-table__header">Error states</th>
                <th scope="col" class="govuk-table__header">Confidence</th>
                <th scope="col" class="govuk-table__header">Notes</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">    
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="task-list">Task list</a></td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--yellow">
                        Medium
                      </strong>
                    </td>
                    <td class="govuk-table__cell">Not tested yet</td>
                </tr>
               <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="ongoing-development-work">Phased or multiplot development?</a></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--yellow">
                      Medium
                    </strong>
                  </td>
                  <td class="govuk-table__cell">Not tested yet</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="upload-ossm-file">Upload overall species-specific masterplan</a></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--yellow">
                      Medium
                    </strong>
                  </td>
                  <td class="govuk-table__cell">Not tested yet</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="ossm-files">Upload another overall species-specific masterplan file</a></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--yellow">
                      Medium
                    </strong>
                  </td>
                  <td class="govuk-table__cell">Not tested yet</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="upload-hmmp-file">Upload habitat management and maintenance plan</a></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--yellow">
                      Medium
                    </strong>
                  </td>
                  <td class="govuk-table__cell">Not tested yet</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="hmmp-files">Upload another habitat management and maintenance plan</a></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--yellow">
                      Medium
                    </strong>
                  </td>
                  <td class="govuk-table__cell">Not tested yet</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="any-previous-or-future-applications">Any previous or future applications?</a></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--yellow">
                      Medium
                    </strong>
                  </td>
                  <td class="govuk-table__cell">Not tested yet</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="dropout">Dropout screen</a></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--yellow">
                      Medium
                    </strong>
                  </td>
                  <td class="govuk-table__cell">Not tested yet</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="previous-applications-decisions">Previous applications and decisions</a></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--yellow">
                      Medium
                    </strong>
                  </td>
                  <td class="govuk-table__cell">Not tested yet</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="licence-number">Licence number?</a></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--yellow">
                      Medium
                    </strong>
                  </td>
                  <td class="govuk-table__cell">Not tested yet</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="reference-number">Reference number</a></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--yellow">
                      Medium
                    </strong>
                  </td>
                  <td class="govuk-table__cell">Not tested yet</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="sitename-location-dates">Site name, location and dates of previous activity</a></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--yellow">
                      Medium
                    </strong>
                  </td>
                  <td class="govuk-table__cell">Not tested yet</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="future-applications">Future applications</a></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--yellow">
                      Medium
                    </strong>
                  </td>
                  <td class="govuk-table__cell">Not tested yet</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="sitename-location-dates-future">Site name, location and dates of future activity</a></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--yellow">
                      Medium
                    </strong>
                  </td>
                  <td class="govuk-table__cell">Not tested yet</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="cumulative-impacts">Cumulative impacts</a></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--yellow">
                      Medium
                    </strong>
                  </td>
                  <td class="govuk-table__cell">Not tested yet</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="previous-advice-from-natural-england">Previous advice from Natural England?</a></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--yellow">
                      Medium
                    </strong>
                  </td>
                  <td class="govuk-table__cell">Not tested yet</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="advice-reference-numbers">Natural England advice reference numbers</a></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--yellow">
                      Medium
                    </strong>
                  </td>
                  <td class="govuk-table__cell">Not tested yet</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="describe-advice">Describe the advice</a></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--yellow">
                      Medium
                    </strong>
                  </td>
                  <td class="govuk-table__cell">Not tested yet</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="upload">Upload supporting information</a></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--yellow">
                      Medium
                    </strong>
                  </td>
                  <td class="govuk-table__cell">Not tested yet</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="files">Uploaded files</a></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--yellow">
                      Medium
                    </strong>
                  </td>
                  <td class="govuk-table__cell">Not tested yet</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="check-your-answers">Check your answers</a></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--yellow">
                      Medium
                    </strong>
                  </td>
                  <td class="govuk-table__cell">Not tested yet</td>
                </tr>-->
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="task-list-complete">Task list complete</a></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--yellow">
                      Medium
                    </strong>
                  </td>
                  <td class="govuk-table__cell">Not tested yet</td>
                </tr>
               
              </tbody>
            </table>



        </div>
      </details>

     

        
        
        
        

      <h2 class="govuk-heading-m govuk-!-margin-top-9">Design and research history</h2>

      <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Date</th>
            <th scope="col" class="govuk-table__header">Changes</th>
            <th scope="col" class="govuk-table__header">Rationale</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__cell">4 July 2023</th>
            <td class="govuk-table__cell"><a href="https://app.mural.co/t/ddtssddsdigitalprogrammeteam3057/m/ddtssddsdigitalprogrammeteam3057/1667571340492/9d832dd151797e0dc8159049f4f4752d19169e2f?wid=0-1687360591146" target="_blank">v4</a> of the Mural flow built in the prototype as v2</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell">22 June 2023</th>
            <td class="govuk-table__cell"><a href="https://app.mural.co/t/ddtssddsdigitalprogrammeteam3057/m/ddtssddsdigitalprogrammeteam3057/1667571340492/9d832dd151797e0dc8159049f4f4752d19169e2f?wid=0-1687360591146" target="_blank">v4</a> of the Mural signed off</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell">20 June 2023</th>
            <td class="govuk-table__cell"><a href="https://app.mural.co/t/ddtssddsdigitalprogrammeteam3057/m/ddtssddsdigitalprogrammeteam3057/1667571340492/9d832dd151797e0dc8159049f4f4752d19169e2f?wid=0-1687360591146" target="_blank">v3</a> of the Mural flow built in the prototype as v1</td>
            <td class="govuk-table__cell"></td>
          </tr>
          </tbody>
        </table>

    
    </div>
  </div>

{% endblock %}
