{% extends "layout-pb.html" %}

{% block pageTitle %} 
Check your answers
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l">Check your answers</h2>

      <h2 class="govuk-heading-m">Roost: {{ data['roost-reference'] }}</h2>

      <p><a href="remove-roost">Remove roost</a></p>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Roost reference
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['roost-reference'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> roost reference</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What are the bats using roost for?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['roost-use'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> what are the bats using roost for?</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What bat species are present?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['bat-species'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> what bat species are present?</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            10-digit grid reference
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['grid-ref'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> 10-digit grid reference</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Where is the roost located?
          </dt>
          <dd class="govuk-summary-list__value">
                {% if data['roost-location'] == 'Other' %}
                  {{ data['other-roost-location'] }}
                {% else %}
                  {{ data['roost-location'] }}
                {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> where is the roost located?</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Peak count of bats using roost
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['peak-count'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> peak count of bats using roost</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            How many access points?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['access-points'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> how many access points?</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            How will the roost be impacted?
          </dt>
          <dd class="govuk-summary-list__value">
                {% if data['impact-check'] == 'Other' %}
                  {{ data['other-roost-impact'] }}
                {% else %}
                  {{ data['impact-check'] }}
                {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> how will the roost be impacted?</span>
            </a>
          </dd>
        </div>



        <!-- Permanent destruction route -->
        {% if data['impact-check'] == 'Permanent destruction' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Will you create compensation?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['create-compensation-check'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> will you create compensation?</span>
                </a>
              </dd>
            </div>

                <!-- Permanent destruction - Create compensation - Yes -->
                {% if data['create-compensation-check'] == 'Yes' %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    What compensation will you create?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {% if data['what-compensation'] == 'Other' %}
                      {{ data['other-compensation'] }}
                    {% else %}
                      {{ data['what-compensation'] }}
                    {% endif %}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> what compensation will you create?</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Where will you create compensation?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {% if data['where-compensation'] == 'Other' %}
                      {{ data['where-other-compensation'] }}
                    {% else %}
                      {{ data['where-compensation'] }}
                    {% endif %}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> where will you create compensation?</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    When will you have finished installing this compensation?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['finish-compensation-day'] + " " + data['finish-compensation-month'] | toMonth + " " + data['finish-compensation-year'] }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> when will you have finished installing this compensation?</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    What are the dimensions and features of the new roost?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['new-roost-dimensions'] }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> what are the dimensions and features of the new roost?</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    When will you have finished undertaking works that impact the roost?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['finish-works-day'] + " " + data['finish-works-month'] | toMonth + " " + data['finish-works-year'] }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> when will you have finished undertaking works that impact the roost?</span>
                    </a>
                  </dd>
                </div>
              {% endif %}
              <!-- End of Permanent destruction - Create compensation - Yes -->
              
              <!-- Permanent destruction - Create compensation - No -->
              {% if data['create-compensation-check'] == 'No' %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    What is your justification for not creating compensation?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['justification-detail'] }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> what is your justification for not creating compensation?</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    When will you have finished undertaking works that impact the roost?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['finish-works-day'] + " " + data['finish-works-month'] | toMonth + " " + data['finish-works-year'] }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> when will you have finished undertaking works that impact the roost?</span>
                    </a>
                  </dd>
                </div>
              {% endif %}
              <!-- End of Permanent destruction - Create compensation - No -->

              <!-- Permanent destruction - Create compensation - Not required -->
              {% if data['create-compensation-check'] == 'Not required' %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    When will you have finished undertaking works that impact the roost?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['finish-works-day'] + " " + data['finish-works-month'] | toMonth + " " + data['finish-works-year'] }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> when will you have finished undertaking works that impact the roost?</span>
                    </a>
                  </dd>
                </div>
              {% endif %}
              <!-- End of Permanent destruction - Create compensation - Not required -->

        {% endif %}
        <!-- End of permanent destruction route -->



        <!-- Permanent damage route -->
        {% if data['impact-check'] == 'Permanent damage' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Will you create compensation?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['create-compensation-check'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> will you create compensation?</span>
                </a>
              </dd>
            </div>

            

        {% endif %}
        <!-- End of permanent destruction route -->



      <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Will the roost be retained?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['roost-retained-check'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> will the roost be retained?</span>
            </a>
          </dd>
        </div>

          {% if data['roost-retained-check'] == 'Yes' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Describe how the roost will be retained
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['roost-retained-description'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> describe how the roost will be retained</span>
                </a>
              </dd>
            </div>
          {% endif %}

          {% if data['roost-retained-check'] == 'No' %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Will the roost be modified?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['roost-modified-check'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> will the roost be modified?</span>
              </a>
            </dd>
          </div>
        {% endif %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Work end date
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['work-end-day'] + " " + data['work-end-month'] | toMonth + " " + data['work-end-year'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> work end date</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Affect on badgers
          </dt>
          <dd class="govuk-summary-list__value">
            
            {% for affect in data['affect-on-badgers'] %}
              <p>{{ affect }}</p>
            {% endfor %}
            
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> affect on badgers</span>
            </a>
          </dd>
        </div>-->
      </dl>



      
      
      <form class="form" action="add-another-roost-check" method="post">

        {{ govukRadios({
          idPrefix: "add-another-roost-check",
          name: "add-another-roost-check",
          fieldset: {
            legend: {
              text: "Do you want to add another roost?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    
    </div>
  </div>

{% endblock %}
