{% extends "layout-pb.html" %}

{% block pageTitle %} 
Error: Enter the 10-digit grid reference for roost {{ data['roost-reference'] }}
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: "The grid reference you have entered is not in the right format",
                href: "#grid-ref"
              }
            ]
          }) }}

      <form class="form" action="roost-location" method="post"> 
        {{ govukInput({
          label: {
            text: "Enter the 10-digit grid reference for roost " + data['roost-reference'],
            classes: "govuk-label--l ",
            isPageHeading: true
          },
          hint: {
            text: "For example, SH6098954379."
          },
          classes: "govuk-input--width-10",
          id: "grid-ref",
          name: "grid-ref",
          errorMessage: {
            text: "Enter a 10-digit national grid reference that is 2 letters and 8 digits"
          }
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
