{% extends "layout-pb.html" %}

{% block pageTitle %} 
Error: What is the peak count of {{ data['bat-species'] }} bats using roost {{ data['roost-reference'] }}?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: "You have not entered a peak count of bats using the roost",
                href: "#peak-count"
              }
            ]
          }) }}

      <form class="form" action="access-points" method="post"> 
        {{ govukInput({
          label: {
            text: "What is the peak count of " + data['bat-species'] + " bats using roost " + data['roost-reference'] + "?",
            classes: "govuk-label--l ",
            isPageHeading: true
          },

          classes: "govuk-input--width-5",
          id: "peak-count",
          name: "peak-count",
          errorMessage: {
            text: "Enter a peak count of bats using the roost"
          }
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}




