{% extends "layout-pb.html" %}

{% block pageTitle %} 
Error: Will you compensate for the impact on roost {{ data['roost-reference'] }}?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">    

        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: "You have not selected an option",
                href: "#create-compensation-check"
              }
            ]
          }) }}

      <form class="form" action="create-compensation-check" method="post"> 
        {{ govukRadios({
          name: "create-compensation-check",
          fieldset: {
            legend: {
              text: "Will you compensate for the impact on roost " +  data['roost-reference'] + "?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            },
            {
              value: "Not required",
              text: "Not required"
            }
          ],
          errorMessage: {
            text: "Select an option"
          }
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}




