{% extends "layout-pb.html" %}

{% block pageTitle %} 
Error: When will you have finished work that will affect roost {{ data['roost-reference'] }}?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: "The date you will finish work must be in the future",
                href: "#finish-works-year"
              }
            ]
          }) }}

    <form class="form" action="check-answers-add-another" method="post">  
        {{ govukDateInput({
          id: "finish-works",
          namePrefix: "finish-works",
          fieldset: {
            legend: {
              text: "When will you have finished work that will affect roost " +  data['roost-reference'] +"?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Enter the date these works will be installed by. For example, 23 4 2024."
          },
          errorMessage: {
            text: "Enter a finish date that is in the future"
          },
          items: [
            {
              classes: "govuk-input--width-2 govuk-input--error",
              name: "day",
              value: "6"
            },
            {
              classes: "govuk-input--width-2 govuk-input--error",
              name: "month",
              value: "8"
            },
            {
              classes: "govuk-input--width-4 govuk-input--error",
              name: "year",
              value: "2022"
            }
            ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
      
    
    </div>
  </div>

{% endblock %}
