{% extends "layout-pb.html" %}

{% block pageTitle %} 
Error: When will you have finished installing this compensation?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: "You have not entered a date the compensation will be installed by",
                href: "#finish-compensation-day"
              }
            ]
          }) }}

      <form class="form" action="compensation-dimensions" method="post"> 
        {{ govukDateInput({
          id: "finish-compensation",
          namePrefix: "finish-compensation",
          fieldset: {
            legend: {
              text: "When will you have finished installing this compensation?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Enter the date this compensation will be installed by. For example, 23 4 2024."
          },
          errorMessage: {
            text: "Enter the date the compensation will be installed by"
          }
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
      
    
    </div>
  </div>

{% endblock %}
