{% extends "layout-pb.html" %}

{% block pageTitle %} 
When will you have finished finished work that will affect roost {{ data['roost-reference'] }}?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="check-answers-add-another" method="post"> 
        {{ govukDateInput({
          id: "finish-works",
          namePrefix: "finish-works",
          fieldset: {
            legend: {
              text: "When will you have finished work that will affect roost " +  data['roost-reference'] +"?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Enter the date these works will be installed by. For example, 23 4 2024."
          }
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
      
    
    </div>
  </div>

{% endblock %}
