{% extends "layout-pb.html" %}

{% block pageTitle %} 
When is the latest this compensation feature will be installed?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="compensation-dimensions" method="post"> 
        {{ govukDateInput({
          id: "finish-compensation",
          namePrefix: "finish-compensation",
          fieldset: {
            legend: {
              text: "When is the latest this compensation feature will be installed?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Enter the date this compensation will be installed by."
          },
          items: [
            {
              classes: "govuk-input--width-2",
              name: "month"
            },
            {
              classes: "govuk-input--width-4",
              name: "year"
            }
          ]
        }) }}

        <!-- Get rid of the Day field -->

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
      
    
    </div>
  </div>

{% endblock %}

