{% extends "layout-pb.html" %}

{% block pageTitle %} 
What will be the impact on roost {{ data['roost-reference'] }}?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">    
      
      {% set otherHtml %}
        {{ govukTextarea({
          name: "other-roost-impact",
          id: "other-roost-impact",
          label: {
            text: "Describe the other impact"
          }
        }) }}
      {% endset -%}

      <form class="form" action="impact-check" method="post"> 
        {{ govukRadios({
          name: "impact-check",
          fieldset: {
            legend: {
              text: "What will be the impact on roost " + data['roost-reference'] + "?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Lost temporarily",
              text: "Lost temporarily"
            },
            {
              value: "Damaged temporarily",
              text: "Damaged temporarily"
            },
            {
              value: "Damaged permanently",
              text: "Damaged permanently"
            },
            {
              value: "Destroyed",
              text: "Destroyed"
            },
            {
              value: "Disturbance",
              text: "Disturbance"
            },
            {
              divider: "or"
            },
            {
              value: "Other",
              text: "Other",
              conditional: {
                html: otherHtml
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}




