{% extends "layout-pb-no-service-name.html" %}

{% block pageTitle %} 
BAT ER | Add roosts the work will affect
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">Bat ER</span>
      <h1 class="govuk-heading-l">Add roosts the work will affect</h1> 

      <div class="govuk-!-margin-bottom-9">
        <strong class="govuk-tag govuk-tag--pink">
          TESTED
       </strong>
      </div>

  
      <form class="form" action="task-list" method="post">

        <!--{{ govukSelect({ 
            id: "accreditation-level", 
            name: "accreditation-level", 
            label: { 
                text: "Choose user accreditation level" 
                }, 
                items: [ 
                    { value: "AL1", text: "Accreditation Level 1", selected: true }, 
                    { value: "AL2", text: "Accreditation Level 2" }, 
                    { value: "AL3", text: "Accreditation Level 3" }
                ] 
            }) }} 
          -->
                

        {{ govukButton({
          text: "View full flow"
        }) }}
      </form>

      <p><a href="https://app.mural.co/t/ddtssddsdigitalprogrammeteam3057/m/ddtssddsdigitalprogrammeteam3057/1667571340492/9d832dd151797e0dc8159049f4f4752d19169e2f?wid=0-1686819853989" target="_blank">Mural flow v6</a></p>
      
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">Full page list</h2>

      <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Page</th>
            <th scope="col" class="govuk-table__header">Error states</th>
            <th scope="col" class="govuk-table__header">Confidence</th>
            <th scope="col" class="govuk-table__header">Notes</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">    
            <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="task-list">Task list</a></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--yellow">
                    Medium
                  </strong>
                </td>
                <td class="govuk-table__cell">Not tested yet</td>
            </tr>

            <!-- Site specific questions /// REMOVED -->

            <!--<tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="more-than-three-trees">More than 3 trees?</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Not tested yet</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="dropout-screen-1">Dropout 1 - woodland</a></td>
              <td class="govuk-table__cell"> </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Not tested yet</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="high-conservation-value">High conservation value?</a></td>
              <td class="govuk-table__cell"> </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Not tested yet</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="mating-site">Mating site?</a></td>
              <td class="govuk-table__cell"> </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Not tested yet</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="swarming-site">Swarming site?</a></td>
              <td class="govuk-table__cell"> </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Not tested yet</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="dropout-screen-2">Dropout 2 - high conservation</a></td>
              <td class="govuk-table__cell"> </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Not tested yet</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="describe-high-conservation-value">Describe high conservation</a></td>
              <td class="govuk-table__cell"> </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Not tested yet</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="maternity-satellite-hibernation">Maternity, satellite or hibernation?</a></td>
              <td class="govuk-table__cell"> </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Not tested yet</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="what-species">What species present?</a></td>
              <td class="govuk-table__cell"> </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Not tested yet</td>
            </tr>-->

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="roosts-start">Roosts loop start</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Participants seemed to quickly skim this page or ignore, clicked continue without reading the content.</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="roost-reference">Roost reference?</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-blank-roost-reference">If blank</a></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Tested well. Participants all named roosts differently. Matching references to maps is an issue on complex sites.</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="roost-use">Roost use?</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-roost-use">If nothing chosen</a></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                 High
                </strong>
              </td>
              <td class="govuk-table__cell">Tested well. Participants noticed and understood the content in the details link, they understood why they could only see certain roost uses.</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="what-species-at-roost">What species?</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-what-species-at-roost">If nothing chosen</a></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  High
                 </strong>
              </td>
              <td class="govuk-table__cell">Tested well but... Dealing with lots of roosts at once creates challenges within the site registration form. It is difficult to split roosts up, where they have multiple species, are near one another. Mitigation plans in these scenarios cover a set of roost collectively as opposed to individually.</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="roost-grid-ref">Roost grid reference?</a></td>
              <td class="govuk-table__cell">
                <a class="govuk-link govuk-link--no-visited-state" href="error-blank-roost-grid-ref">If blank</a><br>
                <a class="govuk-link govuk-link--no-visited-state" href="error-wrong-format-roost-grid-ref">If wrong format</a><br>
                <a class="govuk-link govuk-link--no-visited-state" href="error-no-match-roost-grid-ref">Grid ref does not exist</a>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Users amend the code for it to align with the guidance.</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="roost-location">Roost location?</a></td>
              <td class="govuk-table__cell">
                <a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-roost-location">If nothing chosen</a><br>
                <a class="govuk-link govuk-link--no-visited-state" href="error-blank-roost-location">If blank</a>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Users sometimes struggle to find desired options in lists after scrolling. Some are overlooked (e.g.bat boxes,) or missing (e.g., gable, roof void, church). Since projects differ, lists are unlikely to cover all cases Users often choose 'other' and describe rather than forcing a match. Locations (e g., wall  avitie ,  ables) me n diff rent things to different users, causing  el beration and inconsistencies in assignment.</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="peak-count">Peak count?</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-blank-peak-count">If blank</a></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Tested well but... Dealing with lots of roosts at once creates challenges within the site registration form.</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="access-points">Access points?</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-blank-access-points">If blank</a></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Measuring becomes unclear when points are clustered, like tiles on a roof or spots on a tree. Some ecologists might interpret these access points differently to others. Users familiar with the form might write '5+' or '>5' for unmeasurable points.</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="impact">Impact?</a></td>
              <td class="govuk-table__cell">
                <a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-impact">If nothing chosen</a><br>
                <a class="govuk-link govuk-link--no-visited-state" href="error-blank-impact">If blank</a>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--red">
                  Low
                </strong>
              </td>
              <td class="govuk-table__cell">It is not uncommon for users to look for guidance on impact definitions. Varying scenarios and unclear roost impact meanings lead to different interpretations. For instance, re-roofing might be seen as permanent destruction by one and temporary loss by another. It may be difficult to assign one impact type when there are multiple roosts with multiple species present. Low evidence: Users might use alternate language (re-roosting, demolition, modification) to describe impact. <p>We need to understand how this impacts assessors.</p></p></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="roost-retained">Roost retained?</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-nothing-roost-retained">If nothing chosen</a></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  High
                </strong>
              </td>
              <td class="govuk-table__cell">Tested well</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="describe-how-retained">Describe how retained</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-blank-describe-how-retained">If blank</a></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  High
                </strong>
              </td>
              <td class="govuk-table__cell">Tested well</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="roost-modified">Roost modified?</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-roost-modified">If nothing chosen</a></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Participants didn't go down this route during the sessions as permanent damage was not chosen on impact radios. Qualtrix analysis required on frequency of impact choices.</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="describe-how-modified">Describe how modified</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-blank-describe-how-modified">If blank</a></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Participants didn't go down this route during the sessions as permanent damage was not chosen on impact radios. Qualtrix analysis required on frequency of impact choices.</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="create-compensation">Create compensation?</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-create-compensation">If nothing chosen</a></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Users select Yes, despite not requiring compensation. The 'Not required' option adds complexity making users over think their answer.</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="what-compensation">What compensation?</a></td>
              <td class="govuk-table__cell">
                <a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-what-compensation">If nothing chosen</a><br>
                <a class="govuk-link govuk-link--no-visited-state" href="error-blank-what-compensation">If blank</a>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Users sometimes struggle to find desired options in lists after scrolling. Some are overlooked (e.g.bat boxes,) or missing (e.g., gable, roof void, church).  
                Since projects differ, lists are unlikely to cover all cases Users often choose 'other' and describe rather than forcing a match. 
                Users make no reference to a bat box being heated or unheated when choosing a bat box compensation. 
                 Locations (e g., wall  avitie ,  ables) me n diff rent things to different users, causing  el beration and inconsistencies in assignment.</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="where-compensation">Where compensation?</a></td>
              <td class="govuk-table__cell">
                <a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-where-compensation">If nothing chosen</a><br>
                <a class="govuk-link govuk-link--no-visited-state" href="error-blank-where-compensation">If blank</a>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Three users were looking for 'trees' as an option and chose 'other' instead. Can we add 'trees' to the radios?</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="finish-compensation">Finish compensation?</a></td>
              <td class="govuk-table__cell">
                <a class="govuk-link govuk-link--no-visited-state" href="error-blank-finish-compensation">If blank</a><br>
                <a class="govuk-link govuk-link--no-visited-state" href="error-date-in-past-finish-compensation">If date in past</a><br>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">A start date is expected - crucial for aligning work with maternity and hibernation periods.
                End date varies due to various reasons, hence, an exact end date is often unknown. 
                Similarly phrased questions on dates led to some confusion.</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="compensation-dimensions">Compensation dimensions?</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-blank-compensation-dimensions">If blank</a></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Users often entered the name or model of the compensation product they buy instead of the physical dimensions.</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="justification">Why no compensation?</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-blank-justification">If blank</a></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Participants didn't go down this route during the session. Qualtrix analysis required on frequency of impact choices.</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="roost-dimensions">Roost dimensions?</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-blank-roost-dimensions">If blank</a></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">There was some deliberation over how to answer the question, particularly when measuring complex things such as tiles or roof cavities.
                 Getting a measurement would require re-visiting technical drawings, imagery or having conversations with the client.
                 A cm/m first mindset means users spend time converting their measurements.</td>
            </tr>
            <!--<tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="additional-enhancements">Additional enhancements?</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Not tested yet</td>
            </tr>-->
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="finish-works">Finish undertaking works?</a></td>
              <td class="govuk-table__cell">
                <a class="govuk-link govuk-link--no-visited-state" href="error-blank-finish-works">If blank</a><br>
                <a class="govuk-link govuk-link--no-visited-state" href="error-date-in-past-finish-works">If date in past</a><br>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">A start date is expected - crucial for aligning work with maternity and hibernation periods.
                End date varies due to various reasons, hence, an exact end date is often unknown. 
                Similarly phrased questions on dates led to some confusion.</td>
            </tr>
            
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="check-answers-add-another">Check answers / add another?</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-check-answers-add-another">If nothing chosen</a></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  High
                </strong>
              </td>
              <td class="govuk-table__cell">Users valued being able to review their answers. But... as the number of roosts increases it becomes difficult to navigate the information with separate roosts per page. 
                Roost details (species, access, peak count etc) are usually documented in table format and viewed collectively rather than individually.
              Users saw and understood how to add another roost but... adding roosts can be repetitive on schemes with 30+ roosts. Information within each roost might be the same with minor changes (such as a change in grid reference)</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="remove-roost">Remove roost?</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-remove-roost">If nothing chosen</a></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Not tested in this round of research.</td>
            </tr>
          </tbody>
        </table>

        
        
        
        

        <h2 class="govuk-heading-m govuk-!-margin-top-9">Design and research history</h2>

      <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Date</th>
            <th scope="col" class="govuk-table__header">Changes</th>
            <th scope="col" class="govuk-table__header">Rationale</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__cell">4 August 2023</th>
            <td class="govuk-table__cell">
              <p>Commented out all external links to 'information on ecologist accreditation levels'</p>
            </td>
            <td class="govuk-table__cell">Guidance doesn't yet exist on gov.uk or elsewhere</td>
          </tr> 
          <tr class="govuk-table__row">
            <th class="govuk-table__cell">21 July 2023</th>
            <td class="govuk-table__cell">
              <p>Prototype flow v1 tested with six users in July round of research</p>
            </td>
            <td class="govuk-table__cell"> </td>
          </tr> 
          
          <tr class="govuk-table__row">
            <th class="govuk-table__cell">6 June 2023</th>
            <td class="govuk-table__cell">
              <p>Added error states for all pages</p>
            </td>
            <td class="govuk-table__cell"></td>
          </tr> 
          <tr class="govuk-table__row">
            <th class="govuk-table__cell">1 June 2023</th>
            <td class="govuk-table__cell">
              <p>Changed 'impact on roost' radios back to original wording</p>
            </td>
            <td class="govuk-table__cell">Feedback from RL and SP that they need to be exactly as per the wording in the legislation</td>
          </tr> 
          <tr class="govuk-table__row">
            <th class="govuk-table__cell">24 May 2023</th>
            <td class="govuk-table__cell">
              <p>All pages updated with revised content from RF</p>
            </td>
            <td class="govuk-table__cell">Initial build was with rough copy from Mural, now updated with improved content</td>
          </tr> 
          <tr class="govuk-table__row">
            <th class="govuk-table__cell">18 May 2023</th>
            <td class="govuk-table__cell">
              <p><a href="https://app.mural.co/t/ddtssddsdigitalprogrammeteam3057/m/ddtssddsdigitalprogrammeteam3057/1667571340492/9d832dd151797e0dc8159049f4f4752d19169e2f?wid=270-1684142939442" target="_blank">v6</a> of the Mural add roosts flow reviewed and amended in business requirements session with RL & SP</p>
              <p>Additional enhancements question moved to another section</p>
              <p>Branching on impact and compensation amended</p>
            </td>
            <td class="govuk-table__cell">Additional enhancements is a site wide question and not dealt with on an individual roost by roost basis</td>
          </tr> 
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">15 May 2023</th>
              <td class="govuk-table__cell"><a href="https://app.mural.co/t/ddtssddsdigitalprogrammeteam3057/m/ddtssddsdigitalprogrammeteam3057/1667571340492/9d832dd151797e0dc8159049f4f4752d19169e2f?wid=270-1684142939442" target="_blank">v6</a> of the Mural add roosts flow created on Mural</td>
              <td class="govuk-table__cell"></td>
            </tr> 
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">12 May 2023</th>
              <td class="govuk-table__cell">Site specific questions and dropout pages at the start of v5.2 Mural add roosts flow moved to 'give site information'</td>
              <td class="govuk-table__cell">After review session with RL & SP we realised it was logical to present these site specific questions in that section</td>
            </tr>  
            <tr class="govuk-table__row">
                <th class="govuk-table__cell">10 May 2023</th>
                <td class="govuk-table__cell">Work started v1 of prototype add roosts flow</td>
                <td class="govuk-table__cell"></td>
            </tr>  
            <tr class="govuk-table__row">
                <th class="govuk-table__cell">4 May 2023</th>
                <td class="govuk-table__cell"><a href="https://app.mural.co/t/ddtssddsdigitalprogrammeteam3057/m/ddtssddsdigitalprogrammeteam3057/1667571340492/9d832dd151797e0dc8159049f4f4752d19169e2f?wid=0-1681490566300" target="_blank">v5.2</a> of Mural add roosts flow approved by Rebecca Lee and Sophie Prideaux</td>
                <td class="govuk-table__cell"></td>
            </tr>

          </tbody>
        </table>

    
    </div>
  </div>

{% endblock %}
