{% extends "layout-pb-no-service-name.html" %}

{% block pageTitle %} 
SDDSIP 878 | Add roosts the work will affect
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">Bat ER</span>
      <h1 class="govuk-heading-l">Add roosts the work will affect</h1> 

      <div class="govuk-!-margin-bottom-9">
        <strong class="govuk-tag govuk-tag--green" >
          In Progress
        </strong>
      </div>

  
      <form class="form" action="task-list" method="post">

        {{ govukSelect({ 
            id: "accreditation-level", 
            name: "accreditation-level", 
            label: { 
                text: "Choose user accreditation level" 
                }, 
                items: [ 
                    { value: "AL1", text: "Accreditation Level 1", selected: true }, 
                    { value: "AL2", text: "Accreditation Level 2" }, 
                    { value: "AL3", text: "Accreditation Level 3" }
                ] 
            }) }} 
                

        {{ govukButton({
          text: "View full flow"
        }) }}
      </form>
      
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">Full page list</h2>

      <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Page</th>
            <th scope="col" class="govuk-table__header">Link</th>
            <th scope="col" class="govuk-table__header">Error states</th>
            <th scope="col" class="govuk-table__header">Confidence</th>
            <th scope="col" class="govuk-table__header">Notes</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">    
            <tr class="govuk-table__row">
                <th class="govuk-table__cell">Task list</th>
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="task-list">View</a></td>
                <td class="govuk-table__cell"> </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--yellow">
                    Medium
                  </strong>
                </td>
                <td class="govuk-table__cell">Not tested yet</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">More than 3 trees?</th>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="more-than-three-trees">View</a></td>
              <td class="govuk-table__cell"> </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Not tested yet</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Dropout 1 - woodland</th>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="dropout-screen-1">View</a></td>
              <td class="govuk-table__cell"> </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Not tested yet</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">High conservation value?</th>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="high-conservation-value">View</a></td>
              <td class="govuk-table__cell"> </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Not tested yet</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Mating site?</th>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="mating-site">View</a></td>
              <td class="govuk-table__cell"> </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Not tested yet</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Swarming site?</th>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="swarming-site">View</a></td>
              <td class="govuk-table__cell"> </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Not tested yet</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Dropout 2 - high conservation</th>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="dropout-screen-2">View</a></td>
              <td class="govuk-table__cell"> </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Not tested yet</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Describe high conservation</th>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="describe-high-conservation-value">View</a></td>
              <td class="govuk-table__cell"> </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Not tested yet</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Maternity, satellite or hibernation?</th>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="maternity-satellite-hibernation">View</a></td>
              <td class="govuk-table__cell"> </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Not tested yet</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">What species present?</th>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="what-species">View</a></td>
              <td class="govuk-table__cell"> </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Not tested yet</td>
            </tr>
          </tbody>
        </table>


        <h2 class="govuk-heading-m govuk-!-margin-top-9">Design and research history</h2>

      <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Date</th>
            <th scope="col" class="govuk-table__header">Changes</th>
            <th scope="col" class="govuk-table__header">Rationale</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body"> 
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">12 May 2023</th>
              <td class="govuk-table__cell">Site specific questions and dropout pages at the start of v5.2 roosts flow moved to 'give site information'</td>
              <td class="govuk-table__cell">After review session with RL & SP we realised it was logical to present these site specific questions in that section</td>
            </tr>  
            <tr class="govuk-table__row">
                <th class="govuk-table__cell">10 May 2023</th>
                <td class="govuk-table__cell">Work started V1 of add roosts flow</td>
                <td class="govuk-table__cell"></td>
            </tr>  
            <tr class="govuk-table__row">
                <th class="govuk-table__cell">4 May 2023</th>
                <td class="govuk-table__cell">Version 5.2 of Mural flow approved by Rebecca Lee and Sophie Prideaux</td>
                <td class="govuk-table__cell"></td>
            </tr>

          </tbody>
        </table>

    
    </div>
  </div>

{% endblock %}
