{% extends "layout-pb.html" %}

{% block pageTitle %} 
Is this site a mating site for any species of bats?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="#" method="post">
        {{ govukRadios({
          idPrefix: "high-conservation-value",
          name: "high-conservation-value",
          fieldset: {
            legend: {
              text: "Is this site a mating site for any species of bats?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      
    
    </div>
  </div>

{% endblock %}
