{% extends "layout-pb.html" %}

{% block pageTitle %} 
What are the dimensions and features of the new roost?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">    

      <form class="form" action="#" method="post"> 
        {{ govukTextarea({
          name: "new-roost-dimensions",
          id: "new-roost-dimensions",
          label: {
            text: "What are the dimensions and features of the new roost?",
            classes: "govuk-label--l",
            isPageHeading: true
          }
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}




