{% extends "layout-pb.html" %}

{% block pageTitle %} 
Enter the 10-digit grid reference for roost data['roost-reference']
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="what-species-at-roost" method="post"> 
        {{ govukInput({
          label: {
            text: "Enter the 10-digit grid reference for roost " + data['roost-reference'],
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "For example, NY90210966."
          },
          id: "grid-ref",
          name: "grid-ref"
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
