{% extends "layout-pb.html" %}

{% block pageTitle %} 
What permission has the project got?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form class="form" action="lpa-another" method="post">       

        {{ govukRadios({
            name: "consent-type-check-another",
            fieldset: {
              legend: {
                text: "What permission has the project got?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "Planning permission",
                text: "Planning permission"
              },
              {
                value: "Demolition consent",
                text: "Demolition consent"
              },
              {
                value: "Listed building consent",
                text: "Listed building consent"
              },
              {
                value: "Highways Act consent",
                text: "Highways Act consent"
              },
              {
                value: "Mineral consent",
                text: "Mineral consent"
              },
              {
                value: "Tree preservation order",
                text: "Tree preservation order"
              }
            ]
          }) }}
        
          {{ govukButton({
            text: "Continue"
          }) }}
      </form>


      







      
    
    </div>
  </div>

{% endblock %}
