{% extends "layout-pb.html" %}

{% block pageTitle %} 
Error: Have the commitments been met?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "You have not selected an option",
            href: "#commitment-eps-met-check"
          }
        ]
      }) }}
      
      <form class="form" action="check-your-answers" method="post">       

        

        {% set commitmentHtml %}
          {{ govukTextarea({
            name: "commitment-eps-met-detail",
            id: "commitment-eps-met-detail",
            label: {
              text: "Describe how the commitments have been met"
            }
          }) }}
        {% endset -%}

        {% set commitmentNotMetHtml %}
          {{ govukTextarea({
            name: "commitment-eps-not-met-detail",
            id: "commitment-eps-not-met-detail",
            label: {
              text: "When will the commitments be complete?"
            }
          }) }}
        {% endset -%}


        {{ govukRadios({
            name: "commitment-eps-met-check",
            fieldset: {
              legend: {
                text: "Have the commitments been met?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            errorMessage: {
              text: "Select an option"
            },
            items: [
              {
                value: "Yes",
                text: "Yes",
                conditional: {
                  html: commitmentHtml
                }
              },
              {
                value: "No",
                text: "No",
                conditional: {
                  html: commitmentNotMetHtml
                }
              }
            ]
          }) }}
        
          {{ govukButton({
            text: "Continue"
          }) }}
      </form>

      
    
    </div>
  </div>

{% endblock %}
