{% extends "layout-pb.html" %}

{% block pageTitle %} 

Error: What is Jane Doe's phone number at DEF Developers?  

{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: "Enter a telephone number, like 01632 960 001, 07700 900 982 or +44 808 157 0192",
                href: "#alternate-applicant-phone-number"
              }
            ]
          }) }}
      
      <form class="form" action="check-your-answers" method="post">
        <div class="govuk-form-group govuk-form-group--error">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="alternate-applicant-phone-number">

                What is Jane Doe's phone number at DEF Developers?  

            </label>
          </h1>
          <div id="telephone-number-hint" class="govuk-hint">
            For international numbers include the country code.
          </div>
          <p id="address-town-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter a telephone number, like 01632 960 001, 07700 900 982 or +44 808 157 0192
          </p>
          <input class="govuk-input" id="alternate-applicant-phone-number" name="alternate-applicant-phone-number" type="tel" autocomplete="tel" value="000000000000000000000000">
        </div>
        
          {{ govukButton({
            text: "Continue"
          }) }}
      </form>

      
    
    </div>
  </div>

{% endblock %}
