{% extends "layout.html" %}

{% block pageTitle %} 
    Thank you for your feedback 
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Thank you for your feedback</h1>

        <p>We will use your feedback to improve our services.</p>

        <p>Return to <a href="#">Apply for and manage a wildlife licence</a></p>

      <h3 class="govuk-heading-m">Help improve <a href="https://www.gov.uk/">GOV.UK</a></h3>

      <p>GOV.UK needs your help to improve and to make sure the website works well for the people who need it.</p>

      <p><a href="https://signup.take-part-in-research.service.gov.uk/">Get involved in making government services better</a></p>

    </div>
  </div>

{% endblock %}
