{% extends "layout-pb.html" %}

{% block pageTitle %} 
    Thank you for your feedback 
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Thank you for your feedback</h1>

        <p>We will use your feedback to improve our services.</p>

        <p>You can now <a href="applications">view all your wildlife licences and applications</a> or close this browser tab to return to the service at the same point.</p>
        

        <p>If you want to leave this service, you can <a href="/signout">sign out</a> or close this browser window.</p>

        <!--<p><a href="#">Return to your wildlife licence dashboard</a> or close this browser tab to return to where you were in the service.</p>-->
    </div>
  </div>

{% endblock %}
