{% extends "layout-pb.html" %}

{% block pageTitle %} 
Give feedback on the apply for and manage a wildlife licence service
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner-no-feedback.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-l">Give feedback on the apply for and manage a wildlife licence service</h1>


      {{ govukRadios({
        name: "nps-satisfaction",
        fieldset: {
          legend: {
            text: "Overall, how did you feel about the service today?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "Very satisfied",
            text: "Very satisfied"
          },
          {
            value: "Satisfied",
            text: "Satisfied"
          },
          {
            value: "Neither satisfied nor dissatisfied",
            text: "Neither satisfied nor dissatisfied"
          },
          {
            value: "Dissatisfied",
            text: "Dissatisfied"
          },
          {
            value: "Very dissatisfied",
            text: "Very dissatisfied"
          }
        ]
      }) }}

     
      {{ govukCharacterCount({
        name: "withHint",
        id: "with-hint",
        maxlength: 4000,
        label: {
          text: "How can we improve this service?",
          classes: "govuk-label--m"
        },
        hint: {
          text: "Do not include personal or financial information like your National Insurance number or credit card details."
        }
      }) }}

      {{ govukButton({
        text: "Send feedback",
        href: "feedback-sent"
      }) }}
    </div>
  </div>

{% endblock %}
