{% extends "layout-pb-no-service-name.html" %}

{% block pageTitle %} 
SDDSIP 1709 | Feedback page
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">SDDSIP 1709</span>
      <h1 class="govuk-heading-l">Feedback page</h1> 

      <div class="govuk-!-margin-bottom-9">
        <strong class="govuk-tag govuk-tag--green" >
          In Progress
        </strong>
      </div>
      
      <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Page</th>
            <th scope="col" class="govuk-table__header">Error state</th>
            <th scope="col" class="govuk-table__header"></th>
            </tr>
        </thead>
        <tbody class="govuk-table__body"> 
            <tr class="govuk-table__row">
              <th class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="confirmation">Confirmation page</a></th>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
          </tr>   
            <tr class="govuk-table__row">
                <th class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="feedback-page">Feedback page</a></th>
                <td class="govuk-table__cell">
                  <a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-feedback-page">If nothing chosen</a><br>
                  <a class="govuk-link govuk-link--no-visited-state" href="error-too-many-characters-feedback-page">If too many characters</a><br>
                  <a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-too-many-characters-feedback-page">If nothing chosen &amp; too many characters</a>
                </td>
                <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="feedback-sent">Feedback sent</a></th>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
          </tr>
          </tbody>
        </table>

    </div>
  </div>

{% endblock %}
