{% extends "layout-pb-no-service-name.html" %}

{% block pageTitle %} 
SDDSIP ---- | Interstitial pages
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">SDDSIP ----</span>
      <h1 class="govuk-heading-l">Interstitial pages</h1> 

      <div class="govuk-!-margin-bottom-9">
        <strong class="govuk-tag govuk-tag--green" >
          In Progress
        </strong>
      </div>

      

      
      <table class="govuk-table">
        <tdead class="govuk-table__head">
            <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Page</th>
            <th scope="col" class="govuk-table__header">Error state</th>
            <th scope="col" class="govuk-table__header">Confidence</th>
            <th scope="col" class="govuk-table__header">Notes</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">  
            <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="is-give-applicant-details">Give applicant details</a></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="is-named-ecologist-details">Give named ecologist details</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="is-alternate-applicant-details">Give alternate applicant details</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="is-alternate-ecologist-details">Give alternate ecologist details</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="is-invoice-payer-details">Give invoice payer details</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="is-authorised-people">Add authorised people</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="is-work-activity-details">Give work activity details</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="is-permissions">Give details of permissions to start work</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="is-conservation">Give details of conservation issues</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="is-site-information">Give site information</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="is-setts">Add setts the work will affect</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="is-ecologist-experience">Give ecologist's experience</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="is-upload-supporting-information">Upload supporting information</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <!--<tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="defra-id-signin">Declare convictions</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>-->
          </tbody>
        </table>







    </div>
  </div>

{% endblock %}
