{% extends "layout-pb.html" %}

{% block pageTitle %} 
    Site information
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            Site information
        </h1>

        <p class="govuk-body">You must provide information about the development site where badger setts will be disturbed, including:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>the name of the site</li>
            <li>the postcode of the site</li>
            <li>the street address of the site</li>
            <li>maps of the site before, during and after your planned activity</li>
            <li>the site's grid reference</li>
        </ul>

    
  
          {{ govukButton({
            text: "Continue"
          }) }}

    </div>
  </div>

{% endblock %}
