{% extends "layout-pb.html" %}

{% block pageTitle %} 
    Supporting information uploads  
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            Supporting information uploads
        </h1>

        <p class="govuk-body">You can upload files that supports your application.</p>

        <p class="govuk-body">This should be where you upload:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>the methods statement</li>
            <li>a schedule of works</li>
        </ul>

    
  
          {{ govukButton({
            text: "Continue"
          }) }}

    </div>
  </div>

{% endblock %}
