{% extends "layout-pb.html" %}

{% block pageTitle %} 
Error: Do you have a purchase order number?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: "Select an option",
                href: "#purchase-order-check"
              }
            ]
          }) }}


      <form class="form" action="purchase-order-check" method="post">

      {{ govukRadios({
        idPrefix: "purchase-order-check",
        name: "purchase-order-check",
        fieldset: {
          legend: {
            html: "Do you have a purchase order number?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        errorMessage: {
            text: "Select an option"
          },
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}
        
          {{ govukButton({
            text: "Continue"
          }) }}
      </form>

    


    
    </div>
  </div>

{% endblock %}
