{% extends "layout-pb.html" %}

{% block pageTitle %} 
Apply for a licence to do work that affects badgers
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Apply for and manage a wildlife licence</span>
      <h1 class="govuk-heading-l"> 
        Apply for a licence to do work that affects badgers
      </h1>

    <!-- <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="applications">View all of your licence applications</a>.</p> -->

    <h2 class="govuk-heading-s govuk-!-margin-bottom-2 ">Application incomplete</h2>
    <p class="govuk-body " >You have completed 5 of 15 sections.</p>
    
    <!-- <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application saved</h2> -->
    <p class="govuk-body govuk-!-margin-bottom-7" >Reference:<br>2022-98678-SPM-WLM</p>
    
    <!-- <p class="govuk-body govuk-!-margin-bottom-7">
      <a class="govuk-link govuk-link--no-visited-state" href="applications">
          View applications
      </a>
    </p> -->
    
    <h2 class="govuk-heading-m">Contact details</h2>
    <ul class="govuk-task-list">
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="contact-details-1-status">Give applicant details</a>
        </div>
        <div class="govuk-task-list__status" id="contact-details-1-status">
          Completed
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="contact-details-2-status">Confirm named ecologist details</a>
        </div>
        <div class="govuk-task-list__status" id="contact-details-2-status">
          Completed
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="check-your-answers" aria-describedby="contact-details-3-status">Give alternate applicant details</a>
        </div>
        <div class="govuk-task-list__status" id="contact-details-3-status">
          Completed
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="add-alternate-ecologist" aria-describedby="contact-details-4-status">Give alternate ecologist details</a>
        </div>
        <div class="govuk-task-list__status" id="contact-details-4-status">
          Completed
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="responsible" aria-describedby="contact-details-5-status">Give invoice payer details</a>
        </div>
        <div class="govuk-task-list__status" id="contact-details-5-status">
          Completed
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="../../authorised-people/v3/add-person" aria-describedby="contact-details-6-status">Add authorised people</a>
        </div>
        <div class="govuk-task-list__status" id="contact-details-6-status">
          <strong class="govuk-tag govuk-tag--blue">
            Not yet started
          </strong>
        </div>
      </li>
    </ul>


    <h2 class="govuk-heading-m">Planned work activity</h2>
    <ul class="govuk-task-list">
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="../../../SDDSIP-899-charging-flow-amends/v3/proposal" aria-describedby="planned-work-activity-1-status">Give work activity details</a>
        </div>
        <div class="govuk-task-list__status" id="planned-work-activity-1-status">
          <strong class="govuk-tag govuk-tag--blue">
            Not yet started
          </strong>
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="planned-work-activity-2-status">Give details of permissions to start work</a>
        </div>
        <div class="govuk-task-list__status" id="planned-work-activity-2-status">
          <strong class="govuk-tag govuk-tag--blue">
            Not yet started
          </strong>
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="planned-work-activity-3-status">Give details of conservation issues</a>
        </div>
        <div class="govuk-task-list__status" id="planned-work-activity-3-status">
          <strong class="govuk-tag govuk-tag--blue">
            Not yet started
          </strong>
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="planned-work-activity-4-status">Give site information</a>
        </div>
        <div class="govuk-task-list__status" id="planned-work-activity-4-status">
          <strong class="govuk-tag govuk-tag--blue">
            Not yet started
          </strong>
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="planned-work-activity-5-status">Add setts the work will affect</a>
        </div>
        <div class="govuk-task-list__status" id="planned-work-activity-5-status">
          <strong class="govuk-tag govuk-tag--blue">
            Not yet started
          </strong>
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="planned-work-activity-6-status">Give ecologist's experience</a>
        </div>
        <div class="govuk-task-list__status" id="planned-work-activity-6-status">
          <strong class="govuk-tag govuk-tag--blue">
            Not yet started
          </strong>
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="planned-work-activity-7-status">Upload supporting information</a>
        </div>
        <div class="govuk-task-list__status" id="planned-work-activity-7-status">
          <strong class="govuk-tag govuk-tag--blue">
            Not yet started
          </strong>
        </div>
      </li>
    </ul>


    <h2 class="govuk-heading-m">Declare convictions and send application</h2>
    <ul class="govuk-task-list">
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="declare-convictions-send-application-1-status">Declare convictions</a>
        </div>
        <div class="govuk-task-list__status" id="declare-convictions-send-application-1-status">
          <strong class="govuk-tag govuk-tag--blue">
            Not yet started
          </strong>
        </div>
      </li>
      <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint">
          Agree to terms and send application
        </div>
        <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="declare-convictions-send-application-2-status">
          Cannot start yet
        </div>
      </li>
    </ul>
  </div>
</div>

      
    
    </div>
  </div>

{% endblock %}
