{% extends "layout.html" %}

{% set _pageID = "CD91 - Habitat entrances" %}

{% set serviceName = myData.serviceName %}

{% set _inError = myData.validationError == "true" %}

{% set _habitatType = "roost" %}
{% set _speciesType = myData.selectedHabitat.speciesName + " bat" %}

{% if myData.selectedApplication.type == "a24" %}
    {% set _habitatType = "sett" %}
    {% set _speciesType = "badger" %}
{% endif %}

{% block pageTitle %} 
{% if _inError %}Error: {% endif %}How many entrance holes does the {{_speciesType}} {{_habitatType}} have?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% if _inError %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for name, item in myData.validationErrors %}
                    <li>
                        <a href="#{{item.anchor}}">{{item.message}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        <!-- <h1 class="govuk-heading-xl">
            How many entrance holes does the {{_speciesType}} {{_habitatType}} have?
        </h1> -->

		<form method="POST">

            <div class="govuk-form-group" >

                {% set _entranceHolesTemp = myData.entranceHolesTemp %}
                {% set _valueEntranceHoles = myData.selectedHabitat.entranceHoles %}

                {% if _inError %}
                    {% set _valueEntranceHoles = _entranceHolesTemp %}
                {% endif %}

                <div class="govuk-form-group {% if myData.validationErrors.entranceHoles %}govuk-form-group--error{% endif %}">
                    
                    <h1 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--xl" for="entranceHoles">
                            How many entrance holes does the {{_speciesType}} {{_habitatType}} have?
                      </label>
                    </h1>
                    
                    {% if myData.validationErrors.entranceHoles %}
                    <span id="orgNameAnswer-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                        {{myData.validationErrors.entranceHoles.message}}
                    </span>
                    {% endif %}
                    <input class="govuk-input govuk-input--width-5" id="entranceHoles" name="entranceHoles" type="text" spellcheck="false" pattern="[0-9]*" inputmode="numeric" value="{{_valueEntranceHoles}}">
                </div>

            </div>
		
            {{govukButton({
                text: "Continue"
            })}}

        </form>

	</div>
</div>


{% endblock %}