{% extends "layout-pb.html" %}

{% block pageTitle %} 
How will you affect the badgers in this sett?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="check-your-answers-another-sett" method="post"> 
        {{ govukCheckboxes({
          idPrefix: "affect-on-badgers-another",
          name: "affect-on-badgers-another",
          fieldset: {
            legend: {
              text: "How will you affect the badgers in this sett?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "Obstructing sett entrances by means of one way badger gates",
              text: "Obstructing sett entrances by means of one way badger gates"
            },
            {
              value: "Obstructing access to sett entrances by blocking or proofing",
              text: "Obstructing access to sett entrances by blocking or proofing"
            },
            {
              value: "Damaging a sett by hand and mechanical means",
              text: "Damaging a sett by hand and mechanical means"
            },
            {
              value: "Destruction of the vacant sett by hand and mechanical means",
              text: "Destruction of the vacant sett by hand and mechanical means"
            },
            {
              value: "Disturbance of badgers",
              text: "Disturbance of badgers"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
      
    
    </div>
  </div>

{% endblock %}
