{% extends "layout-pb.html" %}

{% block pageTitle %} 
What is this sett called?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form class="form" action="sett-usage" method="post">

          <h1 class="govuk-heading-l">What is this sett called?</h1>
     
          <p>
            Enter a name for the sett to identify and distinguish it from other setts. You should use the name it has on your maps or within your method statement. You can enter up to 100 characters.
          </p>

        
        {{ govukInput({
          label: {
            text: "Enter a sett name"
          },
          id: "sett-name",
          name: "sett-name"
        }) }}
          {{ govukButton({
            text: "Continue"
          }) }}
      </form>

      
    
    </div>
  </div>

{% endblock %}
