{% extends "layout-pb.html" %}

{% block pageTitle %} 
What are the badgers using the sett for?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="sett-reopened" method="post"> 
        {{ govukRadios({
          idPrefix: "sett-usage",
          name: "sett-usage",
          fieldset: {
            legend: {
              text: "What are the badgers using the sett for?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select one option."
          },
          items: [
            {
              value: "Main",
              text: "Main"
            },
            {
              value: "Annexe",
              text: "Annexe"
            },
            {
              value: "Outlier",
              text: "Outlier"
            },
            {
              value: "Subsidiary",
              text: "Subsidiary"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
      
    
    </div>
  </div>

{% endblock %}
