// open layers elements

// <div class="ol-zoom ol-unselectable ol-control" style="pointer-events: auto;">
//     <button class="ol-zoom-in" type="button" title="Zoom in">+</button>
//     <button class="ol-zoom-out" type="button" title="Zoom out">−</button>
// </div>

.ol-zoom {
  top: inherit !important;
  left: inherit !important;
  bottom: 10px !important;
  right: 10px !important;
}

.ol-control {
  background-color: white !important;
  border-radius: 0px !important;
  padding: 0px !important;
}

.ol-zoom .ol-zoom-in,
.ol-zoom .ol-zoom-out {
  border-radius: 0px !important;
}

.ol-control button {
  display: block !important;
  margin: 0 !important;
  padding: 0 !important;
  color: #0b0c0c !important;
  font-size: 2.14em !important;
  font-weight: 400 !important;
  font-family: "GDS Transport", arial, sans-serif !important;
  // text-decoration: none;
  // text-align: center;
  height: 40px !important;
  width: 40px !important;
  // line-height: .4em;
  background-color: white !important;
  border: none !important;
  border-radius: 0 !important;
}

.ol-control button:focus, 
.ol-control button:hover {
  text-decoration: none !important;
  background-color: #dbdad9 !important;
}

.ol-control button:hover {
  cursor: pointer !important;
}

.map-container-2 {
  position: relative;
}

.map-delete-area-container {
  position: absolute;
  bottom: 10px;
  right: 60px;
  pointer-events: auto;
}
.map-delete-area {
  margin: 0;
  background-color: white;
  box-shadow: none;
  line-height: 1.2;
}



/* STYLES FOR CUSTOM DETAILS COMPONENT */

.map {
  height: 600px;
  width: 100%;
  clear: both;
}

.map-toggle {
    display: block;
    position: relative;
    font-size: 1.25rem;
    margin-bottom: 30px;
    padding-left: 1.5rem;
  }
  .map-toggle:before {
    content: "";
    position: absolute;
    top: -1px;
    bottom: 0;
    left: 0;
    margin: auto;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    -webkit-clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    border-width: 7px 0 7px 12.124px;
    border-left-color: inherit;
  }
  .map-toggle.active {
    margin-bottom: 10px;
  }
  .map-toggle.active:before {
    display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent;
        -webkit-clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
        clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
        border-width: 12.124px 7px 0 7px;
        border-top-color: inherit;
  }
  .map-container {
    opacity: 0;
    height: 1px;
    overflow: hidden;
  }
  .map-toggle.active + .map-container {
    opacity: 1;
    height: auto;
    margin-bottom: 20px;
  }
  
  //New stuff by Anthony
  
  .markerRadiosContainer {
    background-color: #fff;
  }
  
  .map {
    background-color: #f5f5f5;
    position: relative;
  }
  
  .map-figure,
  .map-figcaption {
    margin: 0;
  
    .map {
      width: calc(100% - 2px);
    }
  
  }
  
  .os-credits {
    &__logo {
      bottom: -35px;
      left: 6px;
      position: absolute;
      z-index: 999;
      img {
        width: 100px;
      }
    }
    &__text {
      background-color: rgba(255,255,255,0.75);
      bottom: 0;
      font-size: 10px !important;
      padding: 3px 6px;
      position: absolute;
      right: 0;
      text-align: right;
      z-index: 999;
    }
    &__link {
      text-decoration: none;
    }
  }
  
  .map--result {
    border: 1px solid #b1b4b6;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
  
    @media (min-width:500px) {
  
      flex-flow: row nowrap;
  
    }
  }
  
  .map-legend {
    background: #fff;
  
    padding: 0 20px;
    order: 2;
    z-index: 1;
  
    @media (min-width:500px) {
      height: 100%;
      width: 170px;
    }
  
    &-list {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      list-style: none;
      margin: 0;
      padding: 0;
      @media (min-width:500px) {
        flex-flow: column nowrap;
      }
    }
  
    &-item {
      line-height: 1.1;
      margin-bottom: 1.5em;
      width: 50%;
  
      @media (min-width:400px) {
        width: 30%;
      }
  
      @media (min-width:500px) {
        width: auto;
      }
  
    }
  
    &-image {
      display: block;
      margin-bottom: 3px;
      width: 60px;
  
      &--block {
  
      }
  
      &--tall {
        max-height: 30px;
        width: auto;
      }
  
    }
  }

//   .ol-viewport:after { 
//     content: "."; 
//     visibility: hidden; 
//     display: block; 
//     height: 0; 
//     clear: both;
//  }