{% extends "layout-pb.html" %}

{% block pageTitle %} 
Tell us about each permission the project has got
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Tell us about each permission the project has got
      </h1>
      <p>For example, planning permission or listed building consent.</p>
      <p>
        You can add more than one permission.
      </p>

      {{ govukButton({
        text: "Add the first permission",
        href: "consent-type"
      }) }}
    </div>
  </div>

{% endblock %}
