{% extends "layout-pb.html" %}

{% block pageTitle %} 
Error: List these conditions and describe why they have not been completed
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "You have not entered which conditions have not been completed",
            href: "#which-conditions-not-completed"
          }
        ]
      }) }}
      
      <form class="form" action="why-not-completed" method="post">

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="which-conditions-not-completed">
            List these conditions and describe why they have not been completed
            </label>
          </h1>
          <p>If there are outstanding planning conditions relevant to this application, it may:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>delay a decision</li>
            <li>cause the application to be rejected</li>
          </ul>
          <p id="more-detail-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> List the conditions and why they have not been completed
          </p>
          <textarea class="govuk-textarea govuk-textarea--error" id="which-conditions-not-completed" name="which-conditions-not-completed" rows="5" aria-describedby="which-conditions-not-completed-hint"></textarea>
        </div>


  

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

      
    
    </div>
  </div>

{% endblock %}
