{% extends "layout-pb.html" %}

{% block pageTitle %} 
Which planning authority granted the consent for this development?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form class="form" action="consent-reference" method="post">
        {{ govukInput({
          label: {
            text: "Which planning authority granted the " + data['consent-type-check'] | lower + " for this development?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          id: "which-lpa",
          name: "which-lpa"
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

      
    
    </div>
  </div>

{% endblock %}
