{% extends "layout-pb.html" %}

{% block pageTitle %} 
Was the artificial sett created before the licenced sett was closed?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    

      <form class="form" action="artificial-sett-location" method="post">
        {{ govukRadios({
          idPrefix: "sett-closure-check",
          name: "sett-closure-check",
          fieldset: {
            legend: {
              text: "Was the artificial sett created before the licenced sett was closed?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "You will be able to upload documents showing the work carried out."
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      
    
    </div>
  </div>

{% endblock %}
