{% extends "layout-pb.html" %}

{% block pageTitle %} 
Were you able to comply with the conditions of the licence?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% set NoHtml %}
        {{ govukTextarea({
            name: "why-not-conditions",
            id: "why-not-conditions",
            label: {
              text: "Why were you not able to comply with the conditions?"
            }
          }) }} 
        {% endset -%}

      <form class="form" action="welfare-concerns" method="post">
        {{ govukRadios({
          idPrefix: "why-not-carried-out-check",
          name: "why-not-carried-out-check",
          fieldset: {
            legend: {
              text: "Were you able to comply with the conditions of the licence?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No",
                conditional: {
                    html: NoHtml
                }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      
    
    </div>
  </div>

{% endblock %}
