{% extends "layout-pb.html" %}

{% block pageTitle %} 
Do you want to remove this {{ data['consent-type-check'] | lower }}?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
        <form class="form" action="consent-remove-check" method="post">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Do you want to remove this {{ data['consent-type-check'] | lower }}?
                </h1>
              </legend>

              <p class="govuk-!-margin-bottom-6 govuk-!-margin-top-6"><span class="govuk-!-font-weight-bold">{{ data['consent-type-check'] }}</span><br>
                Reference:<br> 
                {{ data['reference'] }}
              </p>

              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="consent-remove-check" name="consent-remove-check" type="radio" value="Yes">
                  <label class="govuk-label govuk-radios__label" for="consent-remove-check">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="consent-remove-check-2" name="consent-remove-check" type="radio" value="No">
                  <label class="govuk-label govuk-radios__label" for="consent-remove-check-2">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          {{ govukButton({
            text: "Continue"
          }) }}
  
        </form>
      
    </div>
  </div>

{% endblock %}
