{% extends "layout-pb.html" %}

{% block pageTitle %} 
Enter a reference or purchase order number
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="check-your-answers" method="post">
        
    
        <h1 class="govuk-heading-l">Enter your purchase order number</h1>

        <p>You will have to pay a £101 administration charge if you want to change this after the application is submitted.</p>
          
        {{ govukInput({
          label: {
            text: "Purchase order number",
            classes: "govuk-label--m"
          },
          id: "purchase-order",
          name: "purchase-order"
        }) }}


            {{ govukButton({
              text: "Continue"
            }) }}
        </form>


    
    </div>
  </div>

{% endblock %}
