{% extends "layout-pb.html" %}

{% block pageTitle %} 
Check your answers
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l">Check your answers</h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Site name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['site-name'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> site name</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Does the site have a postcode?
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['site-postcode-check'] == 'yes' %}
            
              {{ data['site-postcode'] }}

            {% else %}

              {{ data['site-postcode-check'] }}
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> does the site have a postcode?</span>
            </a>
          </dd>
        </div>

        {% if data['site-postcode-check'] == 'Yes' %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Site address
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['siteAddress'] }}<br>
              Leeds<br>
              {{ data['site-postcode'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> site address</span>
              </a>
            </dd>
          </div>
        {% endif %}

        {% if data['site-postcode-check'] == 'No' %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Site address
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['site-address-no-postcode-1'] }}<br>
              {{ data['site-address-no-postcode-2'] }}<br>
              {{ data['site-address-no-postcode-3'] }}<br>
              {{ data['site-address-no-postcode-4'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> site address</span>
              </a>
            </dd>
          </div>
        {% endif %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Site’s National Grid Reference
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['site-grid-ref'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> Site’s National Grid Reference</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Are the roosts in more than 3 trees, or woodland?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['more-than-three-trees-check'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> are the roosts in more than 3 trees, or woodland?</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Does the site have high conservation value?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['high-conservation-value-check'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> does the site have high conservation value?</span>
            </a>
          </dd>
        </div>

        {% if data['high-conservation-value-check'] == 'Yes' %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Is this site a mating site for any species of bats?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['mating-site-check'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> is this site a mating site for any species of bats?</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Is this site a swarming site for any species of bats?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['swarming-site-check'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> is this site a swarming site for any species of bats?</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Describe how the site is of high conservation significance
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['describe-high-conservation-significance'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> describe how the site is of high conservation significance</span>
              </a>
            </dd>
          </div>
        {% endif %}


      </dl>



      
      <form class="form" action="task-list-complete" method="post">

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    
    </div>
  </div>

{% endblock %}
