{% extends "layout-pb.html" %}

{% block pageTitle %} 
Error: What bat species are present at roosts you will affect at this site? 
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: "You have not selected any bat species",
                href: "#bat-species"
              }
            ]
          }) }}
    

      <form class="form" action="how-many-roosts" method="post">
        {{ govukCheckboxes({
          name: "bat-species",
          fieldset: {
            legend: {
              text: "What bat species are present at roosts you will affect at this site?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all species with roosts at this site."
          },
          errorMessage: {
            text: "Select all species with roosts at this site"
          },
          items: [
            {
              value: "Brandt’s",
              text: "Brandt’s"
            },
            {
              value: "Brown long-eared",
              text: "Brown long-eared"
            },
            {
              value: "Common pipistrelle",
              text: "Common pipistrelle"
            },
            {
              value: "Daubenton’s",
              text: "Daubenton’s"
            },
            {
              value: "Leisler’s",
              text: "Leisler’s"
            },
            {
              value: "Nathusius’ pipistrelle",
              text: "Nathusius’ pipistrelle"
            },
            {
              value: "Natterer’s",
              text: "Natterer’s"
            },
            {
              value: "Noctule",
              text: "Noctule"
            },
            {
              value: "Serotine",
              text: "Serotine"
            },
            {
              value: "Soprano pipistrellee",
              text: "Soprano pipistrelle"
            },
            {
              value: "Whiskered",
              text: "Whiskered"
            }
            
          ]
        }) }}

        {{ govukDetails({
          summaryText: "Why can I only see these species?",
          html: "
          <p>You are only able to register a site with these species because of your level of accreditation. If you want to register a site with other species, you need higher accreditation level.</p>
          <p>See <a href='#'>information on ecologist accreditation levels (opens in a new tab)</a>.</p>
          "
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

     
      
    </div>
  </div>

{% endblock %}
