{% extends "layout-pb.html" %}

{% block pageTitle %} 
    Does the site have high conservation significance?  
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="high-conservation-value-check" method="post">
        {{ govukRadios({
          idPrefix: "high-conservation-value-check",
          name: "high-conservation-value-check",
          fieldset: {
            legend: {
              text: "Does the site have high conservation significance?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Sites of high conservation significance include bat mating and swarming sites."
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      
    
    </div>
  </div>

{% endblock %}
