{% extends "layout-pb.html" %}

{% block pageTitle %} 
  What is the site address?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form class="form" action="site-grid-ref" method="post">
        <h1 class="govuk-heading-l">
          What is the site address?
        </h1>
        

        <p class="govuk-body govuk-!-margin-bottom-6">
          <span class="govuk-!-font-weight-bold">Postcode</span><br>
          {{ data['site-postcode'] }}<br>
          <a class="govuk-link govuk-link--no-visited-state" href="site-got-postcode">
              Change
          </a>
      </p>
      

      <div class="govuk-form-group ">

          <label class="govuk-label govuk-!-font-weight-bold" for="siteAddress">
              Select an address
          </label>

          <select class="govuk-select " id="siteAddress" name="siteAddress">
              <option value="select" selected >12 addresses found</option>
              
                  
                  <option value="1 High Street" >1 High Street, OXFORD {{ data['site-postcode'] }}</option>
                  
                  <option value="2 High Street" >2 High Street, OXFORD {{ data['site-postcode'] }}</option>
                  
                  <option value="3 High Street" >3 High Street, OXFORD {{ data['site-postcode'] }}</option>
                  
                  <option value="4 High Street" >4 High Street, OXFORD {{ data['site-postcode'] }}</option>
                  
                  <option value="5 High Street" >5 High Street, OXFORD {{ data['site-postcode'] }}</option>
                  
                  <option value="6 High Street" >6 High Street, OXFORD {{ data['site-postcode'] }}</option>
                  
                  <option value="7 High Street" >7 High Street, OXFORD {{ data['site-postcode'] }}</option>
                  
                  <option value="8 High Street" >8 High Street, OXFORD {{ data['site-postcode'] }}</option>
                  
                  <option value="9 High Street" >9 High Street, OXFORD {{ data['site-postcode'] }}</option>
                  
                  <option value="10 High Street" >10 High Street, OXFORD {{ data['site-postcode'] }}</option>
                  
                  <option value="11 High Street" >11 High Street, OXFORD {{ data['site-postcode'] }}</option>
                  
                  <option value="12 High Street" >12 High Street, OXFORD {{ data['site-postcode'] }}</option>
                  
          </select>

      </div>

        <p class="govuk-body govuk-!-margin-bottom-6">
            <a class="govuk-link govuk-link--no-visited-state" href="site-address-no-lookup">
                I can’t find the address in the list
            </a>
        </p>


        <button class="govuk-button" data-module="govuk-button">
        Continue
        </button>
      </form>

      
    
    </div>
  </div>

{% endblock %}
