{% extends "layout-pb.html" %}

{% block pageTitle %} 
Did you complete the licensed work between 17 June 2023 and 22 July 2023?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="complete-between-dates-check" method="post">
        {{ govukRadios({
          idPrefix: "complete-between-dates-check",
          name: "complete-between-dates-check",
          fieldset: {
            legend: {
              text: "Did you complete the licensed work between 17 June 2023 and 22 July 2023?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      
    
    </div>
  </div>

{% endblock %}
