{% extends "layout-pb.html" %}

{% block pageTitle %} 
  Declaration
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Declaration
      </h1>

      <p>
        By sending the return you agree that you have given complete and correct information.
      </p>

      <p>
        If you are making this return on behalf of another person, you confirm that you have their permission to do so. By sending the return, they agree that they will:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>will uphold any conditions applied to my licence if granted</li>
        <li>will abide by the terms and conditions of this service</li>
      </ul>

      <p>
        By sending the return you confirm that:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>an appropriate ecologist has been involved in the application and the design of any mitigations</li>
        <li>the ecologist supports the application</li>
        <li>the particulars given as part of this licence return are correct to the best of my knowledge and belief</li>
      </ul>


      {{ govukRadios({
        name: "where-do-you-live",
        fieldset: {
          legend: {
            text: "Who is making this declaration?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "I am the ecologist and I agree to this declaration and confirm the information given in return",
            text: "I am the ecologist and I agree to this declaration and confirm the information given in return"
          },
          {
            value: "I am the licence holder and I agree to this declaration and confirm the information given in return",
            text: "I am the licence holder and I agree to this declaration and confirm the information given in return"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Send my return",
        href: "confirmation"
      }) }}
    </div>
  </div>

{% endblock %}
