{% extends "layout-pb.html" %}

{% block pageTitle %} 
Have you finished all the work you were licensed to carry out?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    

      <form class="form" action="finished-work-check" method="post">
        {{ govukRadios({
          idPrefix: "finished-work-check",
          name: "finished-work-check",
          fieldset: {
            legend: {
              text: "Have you finished all the work you were licensed to carry out?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      
    
    </div>
  </div>

{% endblock %}
