{% extends "layout-pb.html" %}

{% block pageTitle %} 
Did you disturb badgers?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% set workHtml %}
        {{ govukTextarea({
            name: "work-done-action-5",
            id: "work-done-action-5",
            label: {
              text: "Describe how the badgers were disturbed"
            }
          }) }} 
        {% endset -%}

        {% set whynotHtml %}
        {{ govukTextarea({
            name: "work-not-done-action-5",
            id: "work-not-done-action-5",
            label: {
              text: "Why did you not disturb badgers?"
            }
          }) }} 
        {% endset -%}

      <form class="form" action="create-artificial-sett" method="post">
        {{ govukRadios({
          idPrefix: "licensed-action-5-check",
          name: "licensed-action-5-check",
          fieldset: {
            legend: {
              text: "Did you disturb badgers?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              conditional: {
                  html: workHtml
              }
            },
            {
              value: "No",
              text: "No, there was no evidence badgers were disturbed"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      
    
    </div>
  </div>

{% endblock %}
