{% extends "layout-pb.html" %}

{% block pageTitle %} 
What evidence do you have that badgers found the artificial sett?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="artificial-sett-location" method="post">
        {{ govukTextarea({
            name: "badgers-located-artificial-sett",
            id: "badgers-located-artificial-sett",
            label: {
              text: "What evidence do you have that badgers found the artificial sett?",
              classes: "govuk-label--l",
              isPageHeading: true
            },
            hint: {
              text: "You will be able to upload documents showing that badgers found the artificial sett."
            }
          }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      
    
    </div>
  </div>

{% endblock %}
