{% extends "layout-pb.html" %}

{% block pageTitle %} 
Check your answers
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Check your answers
      </h1>

      <h2 class="govuk-heading-m">Additional contact</h2>

      {% if data['who-to-contact-check'] == 'you' %}

          {{ govukSummaryList({
            classes: 'govuk-!-margin-bottom-9',
            rows: [
              {
                key: {
                  text: "Who should we contact with questions about this application?"
                },
                value: {
                  text: "Dave Smith"
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "name"
                    }
                  ]
                }
              }
            ]
          }) }}

      {% endif %}


      {% if data['who-to-contact-check'] == 'Someone else' %}


          {{ govukSummaryList({
            classes: 'govuk-!-margin-bottom-9',
            rows: [
              {
                key: {
                  text: "Who should we contact with questions about this application?"
                },
                value: {
                  text: data['who-to-contact-check']
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "name"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Name"
                },
                value: {
                  text: data['additional-name']
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "name"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Email address"
                },
                value: {
                  text: data['additional-email-address']
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "email address"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Are they an ecologist?"
                },
                value: {
                  text: data['ecologist-check']
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "ecologist"
                    }
                  ]
                }
              }
            ]
          }) }}

      {% endif %}

      


        {{ govukButton({
          text: "Continue",
          href: "task-list-complete"
        }) }}



    </div>
  </div>

{% endblock %}
