{% extends "layout-pb.html" %}

{% block pageTitle %} 
Error: Authorised people
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: "You have not selected an option",
                href: "#add-person-check"
              }
            ]
          }) }}

      <h1 class="govuk-heading-xl">
        Authorised people
      </h1>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Authorised person"
            },
            value: {
              html: "No person added"
            },
            actions: {
              
            }
          }
          
        ]
      }) }}







      <form class="form" action="authorised-persons-removed" method="post">

        {{ govukRadios({
          idPrefix: "add-person-check",
          name: "add-person-check",
          fieldset: {
            legend: {
              text: "Do you want to add an authorised person?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          errorMessage: {
            text: "Select an option"
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
        

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>


    </div>
  </div>

{% endblock %}
