{% extends "layout-pb.html" %}

{% block pageTitle %} 
Check your answers
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l">Check your answers</h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            How will the mitigation and compensation measures at this site maintain favourable conservation status?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['favourable-conservation-status-details'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> how will the mitigation and compensation measures at this site maintain favourable conservation status?</span>
            </a>
          </dd>
        </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Will you use any non-standard mitigation or compensation measures?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['non-standard-mitigation-compensation-measures-check'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> will you use any non-standard mitigation or compensation measures??</span>
              </a>
            </dd>
          </div>

          {% if data['non-standard-mitigation-compensation-measures-check'] == 'Yes' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                What non-standard compensations or mitigations are you proposing?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['what-non-standard-compensations'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> what non-standard compensations or mitigations are you proposing?</span>
                </a>
              </dd>
            </div>
          {% endif %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Are non-bitumen coated roofing membranes (NBRCM) being proposed?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['nbrcm-check'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> are non-bitumen coated roofing membranes (NBRCM) being proposed?</span>
              </a>
            </dd>
          </div>
          {% if data['nbrcm-check'] == 'Yes' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Why is NBRCM present or being used?
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['why-nbcrm'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> why is NBRCM present or being used?</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Upload documents showing that the membrane used is safe
                </dt>
                <dd class="govuk-summary-list__value">
                  nbrcm-report-june-23.pdf
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> upload documents showing that the membrane used is safe</span>
                  </a>
                </dd>
              </div>
            {% endif %}

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Do the proposed compensations meet the minimum expectations?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['compensations-expectations-check'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> do the proposed compensations meet the minimum expectations?</span>
                </a>
              </dd>
            </div>
            {% if data['compensations-expectations-check'] == 'No' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Explain why the proposed compensations do not meet the minimum expectations
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['why-not-minimum-expectations'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> explain why the proposed compensations do not meet the minimum expectations</span>
                  </a>
                </dd>
              </div>
            {% endif %}



            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Upload the compensation map or map data
              </dt>
              <dd class="govuk-summary-list__value">
                compensation-map.shp
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> upload the compensation map or map data</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                What are you doing to prevent impacts on light-averse bat species?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['prevent-impacts'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> what are you doing to prevent impacts on light-averse bat species?</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Upload the lighting plan
              </dt>
              <dd class="govuk-summary-list__value">
                lighting-plan.pdf
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> upload the lighting plan</span>
                </a>
              </dd>
            </div>


        
      </dl>
    
      <form class="form" action="task-list-complete" method="post">

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    
    </div>
  </div>

{% endblock %}
