{% extends "layout-pb.html" %}

{% block pageTitle %} 
Mitigation and compensation
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">    

      <h1 class="govuk-heading-l">Mitigation and compensation</h1>

      <p>The minimum expectations for your mitigation and compensation depend on the species of bats present at the site and the types of roost.</p>

      <h2 class="govuk-heading-m">About the minimum mitgation and compensation expectations</h2>

      <!-- Day, night, feeding and transitional roosts -->
     <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Day, night, feeding and transitional roosts: minimum mitgation and compensation expectations
        </span>
      </summary>
      <div class="govuk-details__text">
        <p>If there are more than 3 species, more than 3 roosts or if more than a small number of bats will be impacted across the site, you must provide at least one species-appropriate feature per roost and species that will be impacted.</p>
        <p>If there are grey long-eared, Leisler’s, Alcathoe, Serotine, Nathusius’ pipistrelle or fewer than 3 Barbastelle bats, provide a like-for-like roost. If that is not possible, provide a new building or tree roost of the same qualitative value (may be of a different size if it provides the same quality of factors such as access, temperature, humidity).</p>
        <p>Bat boxes are only suitable for some of these species.</p>
        <p>If there are greater horseshoe, lesser horseshoe, Bechstein's or larger numbers of Barbastelle bats roosting in buildings, provide one roost void feature suitable for the species concerned. The roost must be accessible for maintenance, monitoring or management.</p>
        <p>If these species are roosting in trees, consider non-standard compensation measures. If there are abundant natural roost opportunities, compensation should enhance foraging. If roost resources are limited or transient, provide at least one species-appropriate box.</p>
      </div>
    </details>

    <!-- Satellite roosts -->
    <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Satellite roosts: minimum mitgation and compensation expectations
        </span>
      </summary>
      <div class="govuk-details__text">
        <p>Provide one species-appropriate feature, suitable for the species concerned per roost that will be impacted.</p>
        <p>If brown long-eared bats are present, retain access to the original roost maintaining the same conditions, if possible. If you can show there is no suitable alternative, you can replace this type of roost qualitatively rather than like-for-like.</p>
        <p>If there are grey long-eared, Leisler’s, Alcathoe, Serotine, Nathusius’ pipistrelle or fewer than 3 Barbastelle bats, provide a like-for-like roost. If that is not possible, a new building or tree roost provision of the same qualitative value (may be of a different size if it provides the same quality of factors such as access, temperature, humidity).</p>
        <p>Bat boxes are only suitable for some of these species.</p>
        <p>If there are greater horseshoe, lesser horseshoe Bechstein's and larger numbers of Barbastelle bats roosting in buildings, re-create a like-for-like maternity roost in the existing or replaced roof, or within a suitable adjacent structure on site (as close as possible to the original roost). If the original roost is to be destroyed, you must give bats adequate time to find the replacement before it is needed. The roost must also be accessible for maintenance, monitoring and management.</p>   
        <p>If these species are roosting in trees, consider non-standard compensation measures. If there are abundant natural roost opportunities, compensation should enhance foraging. If roost resources are limited or transient, provide at least one species-appropriate box.</p>
      </div>
    </details>

    <!-- Minor hibernation roosts -->
    <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Minor hibernation roosts: minimum mitgation and compensation expectations
        </span>
      </summary>
      <div class="govuk-details__text">
        <p>You should provide new hibernation roost measures in the existing or replaced structure, or within a suitable adjacent structure on site. Alternatively, provide at least 2 species-appropriate hibernation boxes in suitable locations, ensuring options for orientation and aspect.</p>
        <p>If there are brown long-eared bats and you cannot make a like-for-like roost, try to replicate the roost that will be lost with a stand-alone bat feature as close as possible to the original roost.</p>
        <p>Compensation roosts must be available to bats well in advance of the hibernation season.</p>
        <p>If there are grey long-eared, Leisler’s, Alcathoe, Serotine, Nathusius’ pipistrelle or fewer than 3 Barbastelle bats, re-create a like-for-like hibernation roost in the existing or replaced structure, or within a suitable adjacent structure on site. Alternatively, provide at least 2 hibernation boxes, suitable for the species, in a suitable location ensuring options for orientation and aspect.</p>
        <p>If you cannot make a like-for-like roost, try to replicate the roost that will be lost with a stand-alone bat feature as close as possible to the original roost.</p>
        <p>Compensation roosts for these species must also be available to bats well in advance of the hibernation season.</p>
        <p>If there are greater horseshoe, lesser horseshoe Bechstein's and larger numbers of Barbastelle bats roosting in buildings, re-create a like-for-like hibernation roost in the existing or replaced structure, or within a suitable adjacent structure on site as close as possible to the original roost.</p>
        <p>If that is not possible, a new building or tree roost provision of the same qualitative value (may be of a different size if it provides the same quality of factors such as access, temperature, humidity).</p>
        <p>The roost must be accessible for maintenance, monitoring or management.</p>
        <p>Compensation roosts for these species must be available to bats well in advance of bats dispersing from their maternity roosts and before the hibernation season.</p>
      </div>
    </details>

    <!-- Major hibernation roosts -->
    <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Major hibernation roosts: minimum mitgation and compensation expectations
        </span>
      </summary>
      <div class="govuk-details__text">
        <p>Provide new hibernation roost measures in a new structure with similar conditions to the roost lost.</p>
        <p>If you cannot make a like-for-like roost, try to replicate the roost that will be lost with a stand-alone bat feature as close as possible to the original roost.</p>
        <p>Compensation roosts must be available to bats well in advance of the breeding season.</p>
        <p>If there are grey long-eared, Leisler’s, Alcathoe, Serotine, Nathusius’ pipistrelle, Bechstein's, greater horseshoe, or lesser horseshoe bats provide new hibernation roost measures in a new structure with similar conditions to the roost lost.</p>
        <p>If you cannot make a like-for-like roost, try to replicate the roost that will be lost with a stand-alone bat feature as close as possible to the original roost.</p>
        <p>Compensation roosts for these species must also be available to bats well in advance of the breeding season.</p>
      </div>
    </details>

    <!-- Small or medium maternity roosts -->
    <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Small or medium maternity roosts: minimum mitgation and compensation expectations
        </span>
      </summary>
      <div class="govuk-details__text">
        <p>Re-create a maternity roost in a new structure, or within a suitable adjacent building or tree. If this is not possible, provide at least two species-appropriate maternity boxes per roost lost, in a suitable location with options for orientation and aspect.</p>
        <p>If brown long-eared bats are present, either re-create the roost within a new structure, or replicate the roost in a stand-alone bat feature as close as possible to the original roost.</p>
        <p>You may replace this type of roost qualitatively rather than on a like-for-like basis if you can show there is no suitable alternative to the proposal.</p>
        <p>If there are grey long-eared, Leisler’s, Alcathoe, Serotine, Nathusius’ pipistrelle or fewer than 3 Barbastelle bats roosting in buildings, re-create a like-for-like maternity roost in the existing or replaced roof, or within a suitable adjacent structure on site (as close as possible to the original roost and completed before licensable works take place).</p>
        <p>If these species are roosting in trees, consider non-standard compensation measures. If there are abundant natural roost opportunities, compensation should enhance foraging. If roost resources are limited or transient, provide at least one species-appropriate box.</p>   
        <p>If there are greater horseshoe, lesser horseshoe Bechstein's and larger numbers of Barbastelle bats roosting in buildings, re-create a like-for-like maternity roost in the existing or replaced roof, or within a suitable adjacent structure on site (as close as possible to the original roost). If the original roost will be destroyed, you must give bats adequate time to find the replacement before it is needed. The roost must be accessible for maintenance, monitoring or management.</p>
        <p>If the roosts are in trees consider non-standard compensation measures. If there are abundant natural roost opportunities, compensation should enhance foraging. If roost resources are limited or transient, provide at least one species-appropriate box.</p>
      </div>
    </details>

    <!-- Large or very large maternity roosts -->
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Large or very large maternity roosts: minimum mitgation and compensation expectations
        </span>
      </summary>
      <div class="govuk-details__text">
        <p>Re-create a maternity roost in a new structure, or within a suitable adjacent building or tree, recreating similar conditions to the roost that will be lost.</p>
        <p>Any stand-alone bat features must be as close as possible to the original roost.</p>
        <p>Compensation roosts can be smaller but must provide suitable conditions to maintain breeding at pre-impact population levels.</p>
        <p>If there are grey long-eared, Leisler’s, Alcathoe, Serotine, Nathusius’ pipistrelle or fewer than 3 Barbastelle bats roosting in buildings, re-create a like-for-like maternity roost in the existing or replaced structure, or within a suitable adjacent structure on site.</p>
        <p>If you cannot make a like-for-like roost, try to replicate the roost that will be lost with a stand-alone bat feature as close as possible to the original roost.</p>
        <p>Compensation roosts can be smaller but must provide suitable conditions to maintain breeding at pre-impact population levels.</p>
        <p>If there are greater horseshoe, lesser horseshoe Bechstein's and larger numbers of Barbastelle bats roosting in buildings, re-create a like-for-like maternity roost in the existing or replaced structure, or within a suitable adjacent structure on site.</p>
        <p>If you cannot make a like-for-like roost, try to replicate the roost that will be lost with a stand-alone bat feature as close as possible to the original roost.</p>
        <p>Compensation roosts can be smaller but must provide suitable conditions to maintain breeding at pre-impact population levels.</p>
        <p>The roost must be accessible for maintenance, monitoring or management.</p>
        <p>Compensation roosts for these species must also be available to bats well in advance of the breeding season.</p>
      </div>
    </details>

      <form class="form" action="compensations-expectations-check" method="post"> 
        {{ govukRadios({
          name: "compensations-expectations-check",
          fieldset: {
            legend: {
              text: "Will the mitigation and compensation you propose meet the minimum expectations?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}




