{% extends "layout-pb.html" %}

{% block pageTitle %} 
Do the proposed compensations meet the minimum expectations?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">    

      <form class="form" action="compensations-expectations-check" method="post"> 
        {{ govukRadios({
          name: "compensations-expectations-check",
          fieldset: {
            legend: {
              text: "Do the proposed compensations meet the minimum expectations?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}




