{% extends "layout-pb.html" %}

{% block pageTitle %} 
Upload the lighting plan
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    


      <h1 class="govuk-heading-l">
        Upload the lighting plan
      </h1>

      <p>The file must be smaller than 30MB. It can be:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          an image (JPG, PNG, TIF or BMP)
        </li>
        <li>
          map data (GeoJSON, KML or Shape)
        </li>
        <li>
          text (DOC, DOCX, PDF or ODT)
        </li>
        <li>
          a spreadsheet (XLS, XLSX or ODS)
        </li>
      </ul>

      <form class="form" action="check-your-answers" method="post">
        {{ govukFileUpload({
          id: "file-upload-2",
          name: "file-upload-2",
          label: {
            text: "Upload a file"
          }
        }) }}

        {{ govukButton({
          text: "Upload and continue"
        }) }}
      </form>


    </div>
  </div>

{% endblock %}
