{% extends "layout-pb.html" %}

{% block pageTitle %} 
Accessibility statement
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          Accessibility statement
        </h1>

        <p class="govuk-body">Content...</p>

    

    
  
          

    </div>
  </div>

{% endblock %}
