{% extends "layout-pb.html" %}

{% block pageTitle %} 
Help
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          Help
        </h1>

        

        <p>National England Enquiries Service: 0300 060 3900</p>
            <p>March to September: 10am to 4pm Monday to Friday (excluding public holidays)</br>
            October to February: 10am to 3pm Monday to Friday (excluding public holidays)</p>

    
            <p><a href="https://www.gov.uk/call-charges" target="_blank">Find out about call charges (opens in new tab)</a></p>
    
  
          

    </div>
  </div>

{% endblock %}
