{% extends "layout-pb-signed-out.html" %}

{% block pageTitle %} 
Page not found
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Page not found</h1>
        <p class="govuk-body">
          If you typed the web address, check it is correct.
        </p>
        <p class="govuk-body">
          If you pasted the web address, check you copied the entire address.
        </p>
        <p class="govuk-body">
          If the web address is correct or you selected a link or button, email <a href="mailto:enquiries@naturalengland.org.uk">enquiries@naturalengland.org.uk</a> if you need to speak to someone about your application.
        </p>

        <p>If you need help applying for a wildlife licence, you can:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>email <a href="mailto:enquiries@naturalengland.org.uk">enquiries@naturalengland.org.uk</a></li>
          <li>telephone 0300 060 3900</li>
        </ul>
        
        <p>Lines are open Monday to Friday 10am to 4pm (closing at 3pm October to February). Lines are closed on public holidays.</p>

        <p>Find out about call charges at <a href="https://www.gov.uk/call-charges">Call charges and phone numbers</a>.</p>
	</div>
</div>

{% endblock %}