{% extends "layout-pb.html" %}

{% block pageTitle %} 
What is the name of the site?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form class="form" action="multiple-sites-another-what-type" method="post">       

        {{ govukInput({
          label: {
            text: "What is the name of the site?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          id: "mutiple-sites-designated-site-name-2",
          name: "multiple-sites-designated-site-name-2"
        }) }}
        
          {{ govukButton({
            text: "Continue"
          }) }}
      </form>

      
    
    </div>
  </div>

{% endblock %}
