{% extends "layout-pb.html" %}

{% block pageTitle %} 
  Tell us about each designated site the development will affect
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Tell us about each designated site the development will affect
      </h1>
      <p>
        You can add more than one designated site.
      </p>

      {{ govukButton({
        text: "Tell us about the first designated site",
        href: "site-name"
      }) }}
    </div>
  </div>

{% endblock %}
