{% extends "layout-pb.html" %}

{% block pageTitle %} 
Will the activity take place on the designated site?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form class="form" action="multiple-sites-permission" method="post">       

        {{ govukRadios({
            name: "multiple-sites-activity-on-site-check",
            fieldset: {
              legend: {
                text: "Will the activity take place on the designated site?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
                text: "Select one."
              },
            items: [
              {
                value: "Yes",
                text: "Yes"
              },
              {
                value: "No, it will take place within 50m of the site",
                text: "No, it will take place within 50m of the site"
              }
            ]
          }) }}
        
          {{ govukButton({
            text: "Continue"
          }) }}
      </form>

      
    
    </div>
  </div>

{% endblock %}
