{% extends "layout-pb-signed-out.html" %}

{% block pageTitle %} 
You are signed out
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

        <form method="POST">

            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                    You are signed out
                </h1>
            </div>

            <p>You can <a href="defra-id-signin">sign in</a> again to:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>make another application</li>
                <li>view your current applications and licences</li>
                <li>submit a report of action on a licence</li>
            </ul>


            <!--<h2 class="govuk-heading-m govuk-!-margin-top-6">Return to an existing application</h2>

            <p class="govuk-body" >
                Return to an existing application by signing in then selecting it from your list of licence applications.
            </p>

            <p class="govuk-body">
                <a class="govuk-link govuk-link--no-visited-state" href="defra-id-signin?returnURL=applications">
                    Sign in to continue an application
                </a>
            </p>-->

        </form>

	</div>
</div>


{% endblock %}