{% extends "layout-pb.html" %}

{% block pageTitle %} 
Check your answers
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Check your answers</h1>

  
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Will the activity take place on or within 50m of a designated site?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['on-or-within-designated-site'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="add-person">
              Change<span class="govuk-visually-hidden"> will the activity take place on or within 50m of a designated site?</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Will the activity take place on or within 50m of more than one designated site?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['more-than-one-site-check'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="add-person">
              Change<span class="govuk-visually-hidden"> will the activity take place on or within 50m of more than one designated site?</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Designated sites</h2>

      <h3 class="govuk-heading-s">Site name: {{ data['multiple-sites-designated-site-name-1'] }}</h3>

      <p><a href="remove-site">Remove designated site</a></p>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name of the designated site
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['multiple-sites-designated-site-name-1'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="add-person">
              Change<span class="govuk-visually-hidden"> name of the designated site</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What type of designated site?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['multiple-sites-what-type'] }} 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="add-person">
              Change<span class="govuk-visually-hidden"> what type of designated site?</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Will the activity take place on the designated site?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['multiple-sites-activity-on-site-check'] }} 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="add-person">
              Change<span class="govuk-visually-hidden"> will the activity take place on the designated site?</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Permission for the activity from the designated site's manager
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['mutiple-sites-permission-check'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="add-person">
              Change<span class="govuk-visually-hidden"> permission for the activity from the designated site's manager</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Had advice about the activity from Natural England or the manager of the designated site?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['multiple-sites-advice-check'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="add-person">
              Change<span class="govuk-visually-hidden"> had advice about the activity from Natural England or the manager of the designated site?</span>
            </a>
          </dd>
        </div>
        
        {% if data['multiple-sites-advice-check'] == 'Yes' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Who did you receive the advice from?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['multiple-sites-advice-giver'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="add-person">
                  Change<span class="govuk-visually-hidden"> who did you receive the advice from?</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Describe the outcome of the advice
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['multiple-sites-advice-given'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="add-person">
                  Change<span class="govuk-visually-hidden"> describe the outcome of the advice</span>
                </a>
              </dd>
            </div>
        {% endif %}

        {% if data['multiple-sites-advice-check'] == 'No' %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Why did you not get advice from Natural England or a designated site manager?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['multiple-sites-why-no-advice'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="add-person">
                Change<span class="govuk-visually-hidden"> why did you not get advice from Natural England or a designated site manager?</span>
              </a>
            </dd>
          </div>
        {% endif %}
      
      </dl>


      <h3 class="govuk-heading-s">Site name: {{ data['multiple-sites-designated-site-name-2'] }}</h3>

      <p><a href="remove-site">Remove designated site</a></p>
  
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name of the designated site
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['multiple-sites-designated-site-name-2'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="add-person">
              Change<span class="govuk-visually-hidden"> name of the designated site</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What type of designated site?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['multiple-sites-another-what-type'] }} 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="add-person">
              Change<span class="govuk-visually-hidden"> what type of designated site?</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Will the activity take place on the designated site?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['multiple-sites-another-activity-on-site-check'] }} 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="add-person">
              Change<span class="govuk-visually-hidden"> will the activity take place on the designated site?</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Permission for the activity from the designated site's manager
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['mutiple-sites-another-permission-check'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="add-person">
              Change<span class="govuk-visually-hidden"> permission for the activity from the designated site's manager</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Had advice about the activity from Natural England or the manager of the designated site?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['multiple-sites-another-advice-check'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="add-person">
              Change<span class="govuk-visually-hidden"> had advice about the activity from Natural England or the manager of the designated site?</span>
            </a>
          </dd>
        </div>
        
        {% if data['multiple-sites-another-advice-check'] == 'Yes' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Who did you receive the advice from?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['multiple-sites-another-advice-giver'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="add-person">
                  Change<span class="govuk-visually-hidden"> who did you receive the advice from?</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Describe the outcome of the advice
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['multiple-sites-another-advice-given'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="add-person">
                  Change<span class="govuk-visually-hidden"> describe the outcome of the advice</span>
                </a>
              </dd>
            </div>
        {% endif %}

        {% if data['multiple-sites-another-advice-check'] == 'No' %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Why did you not get advice from Natural England or a designated site manager?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['multiple-sites-another-why-no-advice'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="add-person">
                Change<span class="govuk-visually-hidden"> why did you not get advice from Natural England or a designated site manager?</span>
              </a>
            </dd>
          </div>
        {% endif %}
        
      </dl>




      <dl class="govuk-summary-list govuk-!-margin-top-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Will the development activity continue in future years?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['development-continue-check'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="add-person">
              Change<span class="govuk-visually-hidden"> will the development activity continue in future years?</span>
            </a>
          </dd>
        </div>


        {% if data['development-continue-check'] == 'Yes' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                How many years will the activity continue for?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['how-many-years'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="add-person">
                  Change<span class="govuk-visually-hidden"> how many years will the activity continue for?</span>
                </a>
              </dd>
            </div>
        {% endif %}


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is your activity part of a wider project?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['wider-project-check'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="add-person">
              Change<span class="govuk-visually-hidden"> is your activity part of a wider project?</span>
            </a>
          </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is your activity contributing to a local biodiversity action plan?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['biodiversity-check'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="add-person">
              Change<span class="govuk-visually-hidden"> is your activity contributing to a local biodiversity action plan?</span>
            </a>
          </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is the location covered by a Natural England agri-environment agreement?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['agreement-check'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="add-person">
              Change<span class="govuk-visually-hidden"> is the location covered by a Natural England agri-environment agreement??</span>
            </a>
          </dd>
        </div>
        

        {% if data['agreement-check'] == 'Yes' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                What is the reference number of the agri-environment agreement?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['agri-ref'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="add-person">
                  Change<span class="govuk-visually-hidden"> what is the reference number of the agri-environment agreement?</span>
                </a>
              </dd>
            </div>
        {% endif %}
    
        
        
      </dl>


     

        {{ govukButton({
          text: "Continue",
          href: "task-list-complete"
        }) }}


    </div>
  </div>

{% endblock %}
