{% extends "layout-pb.html" %}

{% block pageTitle %} 
  Error: Will the activity take place on or within 50m of more than one designated site?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: "You have not selected an option",
                href: "#more-than-one-site-check"
              }
            ]
          }) }}
      
      <form class="form" action="more-than-one-site-check" method="post">       

        {{ govukRadios({
          name: "more-than-one-site-check",
          fieldset: {
            legend: {
              text: "Will the activity take place on or within 50m of more than one designated site?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No, it will only take place on or within 50m of one designated site",
              text: "No, it will only take place on or within 50m of one designated site"
            }
          ],
          errorMessage: {
            text: "Select an option"
          }
        }) }}


        {{ govukButton({
          text: "Continue"
        }) }}
      </form>


      
    
    </div>
  </div>

{% endblock %}
