{% extends "layout-pb.html" %}

{% block pageTitle %} 
Explain why licensing policy 4 (LP4) has not been applied if you were not confident your surveys would have identified bat potential
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="upload-survey-map-data" method="post">
        {{ govukTextarea({
            name: "explain-why-no-lp4-applied",
            id: "explain-why-no-lp4-applied",
            label: {
              text: "Explain why licensing policy 4 (LP4) has not been applied if you were not confident your surveys would have identified bat potential",
              classes: "govuk-label--l",
              isPageHeading: true
            }
          }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      
    
    </div>
  </div>

{% endblock %}
