{% extends "layout-pb.html" %}

{% block pageTitle %} 
Did you use non-standard survey techniques?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">    

      <form class="form" action="non-standard-surveys-check" method="post"> 
        {{ govukRadios({
          name: "non-standard-surveys-check",
          fieldset: {
            legend: {
              text: "Did you use non-standard survey techniques?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "For example, new, untested methods of surveying."
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}




