{% extends "layout-pb.html" %}

{% block pageTitle %} 
Surveys for bat potential
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">    

        <h1 class="govuk-heading-l">Surveys for bat potential</h1>

        <p>Your surveys should have identified:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>buildings, structures or trees that could potentially be used by bats</li>
            <li>the species of bats present or likely to be present</li>
            <li>the type of roosts present or likely to be present</li>
        </ul>
        
        
        

      <form class="form" action="identified-bat-potential-check" method="post"> 
        {{ govukRadios({
          name: "identified-bat-potential-check",
          fieldset: {
            legend: {
              text: "Are you confident that your surveys would have identified if the structure was used by bats?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            },
            {
              value: "No, but we will use licensing policy 4 (LP4)",
              text: "No, but we will use licensing policy 4 (LP4)"
            }
          ]
        }) }}

        {{ govukDetails({
          summaryText: "Licensing policy 4 (LP4) and evidence you can use instead of standard surveys",
          html: "
          <p>In some circumstances, you may be allowed to provide evidence from other sources to reduce the need to carry out standard surveys.</p> <p>You will have to justify your decision. Read about the <a href='https://www.gov.uk/guidance/european-protected-species-policies-for-mitigation-licences#policy-4-alternative-sources-of-evidence-to-reduce-standard-survey-requirements' target='_blank'>alternatives to standard surveys under LP4 (opens in new tab)</a>.</p>
          "
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}




