{% extends "layout-pb.html" %}

{% block pageTitle %} 
Do you want to upload any evidence supporting the surveys?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">    

      <form class="form" action="upload-evidence-check" method="post"> 
        {{ govukRadios({
          name: "upload-evidence-check",
          fieldset: {
            legend: {
              text: "Do you want to upload any evidence supporting the surveys?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "For example, pictures of health and safety issues at the site."
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}




