{% extends "layout-pb.html" %}

{% block pageTitle %} 
Why did you not do hibernation surveys?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="non-standard-survey-techniques" method="post">
        {{ govukTextarea({
            name: "why-no-hibernation-surveys",
            id: "why-no-hibernation-surveys",
            label: {
              text: "Why did you not do hibernation surveys?",
              classes: "govuk-label--l",
              isPageHeading: true
            }
          }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      
    
    </div>
  </div>

{% endblock %}
