{% extends "layout-pb.html" %}

{% block pageTitle %} 
  Copy of licence sent
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {{ govukPanel({
            titleText: "Copy of licence sent"
          }) }}
      
        <p class="govuk-body">
            A copy of the licence has been emailed to the licence holder and the ecologist. 
        </p>


      {{ govukButton({
        text: "View licenses and applications",
        href: "applications"
      }) }}
    </div>
  </div>

{% endblock %}
