{% extends "layout.html" %}

{% set _pageID = "CD51 - Project permissions" %}

{% set serviceName = myData.serviceName %}

{% set _inError = myData.validationError == "true" %}

{% block pageTitle %} 
{% if _inError %}Error: {% endif %}Does the project need any permissions?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

			{% if _inError %}
            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        {% for name, item in myData.validationErrors %}
                        <li>
                            <a href="#{{item.anchor}}">{{item.message}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}

	</div>
</div>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Does the project need any permissions?
        </h1>

        <p class="govuk-body">For example, planning permission or listed building consent.</p>

		<form method="POST">

            <div class="govuk-form-group {% if _inError %}govuk-form-group--error{% endif %}">
                <fieldset class="govuk-fieldset" >

                    <!-- <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-fieldset__heading">
                            Does the project need any permissions?
                        </h1>
                        <p class="govuk-body">For example, planning permission or listed building consent.</p>
                    </legend> -->

                    {% if _inError %}
                    <span id="consent-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                        {{myData.validationErrors.consent.message}}
                    </span>
                    {% endif %}

                    <div class="govuk-radios" data-module="govuk-radios">
                        
                        <div class="govuk-radios__item">
                            <input {% if myData.selectedApplication.consent == "Yes" %}checked{% endif %} class="govuk-radios__input" id="consent-1" name="consent" type="radio" value="Yes" >
                            <label class="govuk-label govuk-radios__label" for="consent-1">
                            Yes
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input {% if myData.selectedApplication.consent == "No" %}checked{% endif %} class="govuk-radios__input" id="consent-2" name="consent" type="radio" value="No" >
                            <label class="govuk-label govuk-radios__label" for="consent-2">
                            No
                            </label>
                        </div>

                    </div>

                </fieldset>
            </div>

            {{govukButton({
                text: "Continue"
            })}}

        </form>

	</div>
</div>

{% endblock %}