{% extends "layout.html" %}

{% set _pageID = "CD94 - CWM linked" %}

{% set serviceName = myData.serviceName %}

{% block pageTitle %} 
TODO
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

        <form method="POST">

            <h1 class="govuk-heading-xl">
                TODO - linked success
            </h1>

            {{govukButton({
                text: "Continue"
            })}}

        </form>

	</div>
</div>


{% endblock %}