{% extends "layout.html" %}

{% set _pageID = "CD18 - Check your answers (purpose)" %}

{% set serviceName = myData.serviceName %}

{% block pageTitle %} 
[TO DO]
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">
				Check your answers
			</h1>

            <dl class="govuk-summary-list">

                <!-- Proposal -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key" >
                        What activity or development work do you plan to do?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{myData.selectedApplication.proposalBat}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state" href="proposal?cya=true">
                            Change<span class="govuk-visually-hidden"> [Proposal]</span>
                        </a>
                    </dd>
                </div>

                <!-- Category -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key" >
                        Which type of development work or activity do you plan to do?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{myData.selectedApplication.categoryBat.name}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state" href="category?cya=true">
                            Change<span class="govuk-visually-hidden"> [category]</span>
                        </a>
                    </dd>
                </div>

                <!-- Reason -->
                {% if myData.requiredQuestions["CD16"] %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key" >
                        Why do you need to do the activity or development work?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{myData.selectedApplication.reasonBat.name}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state" href="reason?cya=true">
                            Change<span class="govuk-visually-hidden"> [Reason]</span>
                        </a>
                    </dd>
                </div>
                {% endif %}

                 <!-- Multiplot -->
                 <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key" >
                        Will your work be part of a phased or multi-plot development?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{myData.selectedApplication.multiplot}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state" href="multiplot?cya=true">
                            Change<span class="govuk-visually-hidden"> [multiplot]</span>
                        </a>
                    </dd>
                </div>

                <!-- Work home -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key" >
                        Will the work be for home improvements?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{myData.selectedApplication.workhome}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state" href="work-home?cya=true">
                            Change<span class="govuk-visually-hidden"> </span>
                        </a>
                    </dd>
                </div>

                <!-- Work small -->
                {% if myData.requiredQuestions["CD22"] %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key" >
                        Will the work be for a building development of less than one hectare (ha)?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{myData.selectedApplication.worksmall}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state" href="work-small?cya=true">
                            Change<span class="govuk-visually-hidden"> </span>
                        </a>
                    </dd>
                </div>
                {% endif %}

                <!-- Work protected -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key" >
                        Will the work be to protect listed buildings, scheduled monuments or places of worship?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{myData.selectedApplication.workprotected}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state" href="work-protected?cya=true">
                            Change<span class="govuk-visually-hidden"> </span>
                        </a>
                    </dd>
                </div>

                <!-- Work public -->
                {% if myData.requiredQuestions["CD24"] %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key" >
                        Will the work be for public buildings or public land?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{myData.selectedApplication.workpublic}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state" href="work-public?cya=true">
                            Change<span class="govuk-visually-hidden"> </span>
                        </a>
                    </dd>
                </div>

                <!-- Work extend -->
                {% if myData.selectedApplication.workpublic == "Yes" %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key" >
                        Will the work extend public buildings beyond existing boundaries?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{myData.selectedApplication.workextend}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state" href="work-extend?cya=true">
                            Change<span class="govuk-visually-hidden"> </span>
                        </a>
                    </dd>
                </div>
                {% endif %}

                <!-- Work private -->
                {% if myData.selectedApplication.workpublic == "Yes" and myData.selectedApplication.workextend == "No" %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key" >
                        Will the work change any buildings or land to private use?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{myData.selectedApplication.workprivate}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state" href="work-private?cya=true">
                            Change<span class="govuk-visually-hidden"> </span>
                        </a>
                    </dd>
                </div>
                {% endif %}

                {% endif %}

                <!-- important populations -->
                {% if myData.requiredQuestions["CD27"] %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key" >
                        Will the work affect a regionally or nationally important population of a European Protected Species?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{myData.selectedApplication.importantpopulations}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state" href="important-populations?cya=true">
                            Change<span class="govuk-visually-hidden"> </span>
                        </a>
                    </dd>
                </div>
                {% endif %}

            </dl>

            <form method="POST">
                {{govukButton({
                    text: "Confirm"
                })}}
                <!-- <input type="hidden" value="yes" name="addApplication"> -->
            </form>

	</div>
</div>

{% endblock %}