{% extends "layout.html" %}

{% set _pageID = "CD47 - Check your answers (ecologist)" %}

{% set serviceName = myData.serviceName %}

{% block pageTitle %} 
[TO DO]
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Check your answers
        </h1>

            <dl class="govuk-summary-list">



                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Are you the ecologist for this application?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{myData.selectedApplication.userIsEcologist}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state" href="ecologist-user?cya=true">
                            Change<span class="govuk-visually-hidden"></span>
                        </a>
                    </dd>
                </div>

                {% if myData.selectedApplication.userIsEcologist == "No" %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Who is the ecologist?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{myData.selectedApplication.ecologistName}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state" href="ecologist-user">
                            Change<span class="govuk-visually-hidden"></span>
                        </a>
                    </dd>
                </div>
                {% endif %}

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        {% if myData.selectedApplication.userIsEcologist == "Yes" %}
                            Are you part of an organisation?
                        {% else %}
                            Is {{myData.selectedApplication.ecologistName}} part of an organisation?
                        {% endif %}
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{myData.selectedApplication.ecologistHasCompany}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% if myData.selectedApplicant.companies.length > 0 %}
                        <a class="govuk-link govuk-link--no-visited-state" href="ecologist-companies?cya=true">
                        {% else %}
                        <a class="govuk-link govuk-link--no-visited-state" href="ecologist-company?cya=true">
                        {% endif %}
                            Change<span class="govuk-visually-hidden"></span>
                        </a>
                    </dd>
                </div>

                {% if myData.selectedApplication.ecologistHasCompany == "Yes" %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Name of organisation
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{myData.selectedApplication.ecologistCompany}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% if myData.selectedApplicant.companies.length > 0 %}
                        <a class="govuk-link govuk-link--no-visited-state" href="ecologist-companies?cya=true">
                        {% else %}
                        <a class="govuk-link govuk-link--no-visited-state" href="ecologist-company?cya=true">
                        {% endif %}
                            Change<span class="govuk-visually-hidden"></span>
                        </a>
                    </dd>
                </div>
                {% endif %}

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        {% if myData.selectedApplication.userIsApplicant == "Yes" %}
                            Your email address
                        {% else %}
                            {{myData.selectedApplication.ecologistName}}’s email address
                        {% endif %}
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{myData.selectedApplication.ecologistEmail}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% if myData.selectedApplicant.emails.length > 0 %}
                        <a class="govuk-link govuk-link--no-visited-state" href="ecologist-emails?cya=true">
                        {% else %}
                        <a class="govuk-link govuk-link--no-visited-state" href="ecologist-email?cya=true">
                        {% endif %}
                            Change<span class="govuk-visually-hidden"></span>
                        </a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        {% if myData.selectedApplication.userIsEcologist == "Yes" %}
                            Your contact address
                        {% else %}
                            {{myData.selectedApplication.ecologistName}}’s contact address
                        {% endif %}
                    </dt>
                    <dd class="govuk-summary-list__value">

                        {{myData.selectedApplication.ecologistAddress1}}<br>

                        {% if myData.selectedApplication.ecologistAddress2 != "" %}
                        {{myData.selectedApplication.ecologistAddress2}}<br>
                        {% endif %}

                        {{myData.selectedApplication.ecologistAddress3}}<br>

                        {{myData.selectedApplication.ecologistAddress4}}
                        {% if myData.selectedApplication.ecologistPostcode != "" %}
                        <br>{{myData.selectedApplication.ecologistPostcode}}
                        {% endif %}

                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state" href="ecologist-addresses?cya=true">
                            Change<span class="govuk-visually-hidden"></span>
                        </a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        {% if myData.selectedApplication.userIsEcologist == "Yes" %}
                            Your memberships
                        {% else %}
                            {{myData.selectedApplication.ecologistName}}’s memberships
                        {% endif %}
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if myData.selectedApplication.ecologistMemberships[0] == "none" %}
                        None 
                        {% else %}
                            {% if myData.selectedApplication.ecologistMemberships.length == 1 %}
                                {{myData.selectedApplication.ecologistMemberships[0].name}}
                            {% else %}
                                <ul class="govuk-list govuk-list--bullet">
                                    {% for _membership in myData.selectedApplication.ecologistMemberships %}
                                    <li>{{_membership.name}}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state" href="ecologist-memberships?cya=true">
                            Change<span class="govuk-visually-hidden"></span>
                        </a>
                    </dd>
                </div>


            </dl>

            <form method="POST">

                <div class="govuk-form-group">
                {{govukButton({
                    text: "Confirm"
                })}}
                </div>

            </form>

	</div>
</div>

{% endblock %}