{% extends "layout.html" %}

{% set _pageID = "CD62 - Eligible (Applicant)" %}

{% set serviceName = myData.serviceName %}

{% set _signedIn = myData.signedIn == "true" %}

{% block pageTitle %} 
You’re eligible to apply for a licence
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

        <form method="POST">

            <h1 class="govuk-heading-xl">
                You’re eligible to apply for a licence
            </h1>

            <h2 class="govuk-heading-m">Save application</h2>

            {% if _signedIn %}
                <p class="govuk-body">To be able to return to your application later, you need to save it to your account.</p>
            {% else %}
                <p class="govuk-body">To be able to save your application and return to it later, you need to sign into an existing account or create a new one.</p>
            {% endif %}

            {% set _ctaText = "Sign in to save" %}
            {% if _signedIn %}
                {% set _ctaText = "Save" %}
            {% endif %}

            {{govukButton({
                text: _ctaText
            })}}

        </form>

	</div>
</div>


{% endblock %}