{% extends "layout.html" %}

{% set _pageID = "CD92 - Email invite to service" %}

{% set _email = true %}

{% set serviceName = "" %}
{% set serviceUrl = "" %}


{% block pageTitle %} 
{% endblock %}

{% block beforeContent %}
    <!-- {% include "includes/alpha-banner.html" %} -->
    <!-- {% include "includes/back-save-link.html" %} -->
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  
        <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-6" style="border-bottom: 1px solid grey; padding-bottom:20px">
          <span class="govuk-!-font-weight-bold">From:</span> Department for Environment, Food and Rural Affairs &lt;defra@notifications.service.gov.uk&gt;
          <br><span class="govuk-!-font-weight-bold">Subject:</span> You can now manage your existing wildlife licences online
        </p>
<!--   
        <h1 class="govuk-heading-l">
            Manage your wildlife licence applications online
        </h1>
  
        <p class="govuk-body">To {{myData.user.userName}},</p>

        <p>You can use the new service to:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>apply for some wildlife licences online</li>
            <li>check the status of existing applications</li>
        </ul>


        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br> -->

        <h1 class="govuk-heading-l">
            You can now manage your existing wildlife licences online
        </h1>

        <p class="govuk-body">To {{myData.user.userName}},</p>

        <!-- <p class="govuk-body">You can now view your existing wildlife licences online.</p> -->

        <!-- <p class="govuk-body">
            Number of licences <br>
            2
        </p> -->

        <!-- <h2 class="govuk-heading-s">
            Start using the new service
        </h2> -->

        <!-- <p class="govuk-body">Sign in using your Government Gateway user ID and password at <a href="defra-id-signin?returnURL=cwm-check" class="govuk-link govuk-link--no-visited-state">https://domainhere.gov.uk/page-name?id=1234567890123456789</a>.</p>
        
        <p class="govuk-body">If you do not have a Government Gateway user ID, you must create one to use the service.</p> -->

        <!-- <p class="govuk-body">We have identified you as an existing user of wildlife licences.</p>There is a new service to apply for and manage your wildlife licences online. </p> -->
        
        <p class="govuk-body" >View your existing wildlife licences at <br><a href="defra-id-signin?returnURL=cwm-check" class="govuk-link govuk-link--no-visited-state">https://domainhere.gov.uk/page-name?id=1234567890123456789</a></p>

       
            <p class="govuk-body">You will need to sign in or register for a government account.</p>
 <div class="govuk-inset-text">
            <p class="govuk-body">This link is unique to you and will allow us to link your existing wildlife licences to the government account you use to sign in.</p>
        </div>
        <!-- </div> -->

        <!-- <h2 class="govuk-heading-s">
            Also
        </h2> -->

        <!-- <p class="govuk-body">Currently you can only apply for some licence types online.</p>

        <p class="govuk-body">You can also apply for some wildlife licences online.</p>

        <p class="govuk-body">We will be adding more licence types to apply for online in the future.</p> -->

        <!-- <p class="govuk-body">You can also view your existing wildlife licences online by using the link in this email.</p> -->
        
        
  
        <!-- <p class="govuk-body" style="color:red">TODO - content of email - <br>explain that there is a new service <br>and use the link here to create an account<br>-<br>point out which data / history will be associated with the account...<br>-<br>-.</p> -->

        

        <!-- <p class="govuk-body" style="color:red">[TODO - link to read about new service on GOV.UK - ] <a href="#" target="_blank" class="govuk-link govuk-link--no-visited-state">https://domainhere.gov.uk/page-name?id=1234567890123456789</a></p> -->

        <p class="govuk-body">From</p>

        <p class="govuk-body">Natural England</p>
        
        <p class="govuk-body">Department for Environment, Food & Rural Affairs (Defra)</p>

        <!-- <p class="govuk-body">This is an automated message – do not reply.</p> -->
        
        <!-- <p class="govuk-body-s govuk-!-margin-top-9">Department for Environment, Food and Rural Affairs (Defra) This email and any attachments is intended for the named recipient only. If you have received it in error you have no authority to use, disclose, store or copy any of its contents and you should destroy it and inform the sender. Whilst this email and associated attachments will have been checked for known viruses whilst within Defra systems we can accept no responsibility once it has left our systems. Communications on Defra's computer systems may be monitored and/or recorded to secure the effective operation of the system and for other lawful purposes.</p> -->
  
      </div>
  </div>

{% endblock %}