{% extends "layout.html" %}

{% set _pageID = "CD80 - Habitat species numbers" %}

{% set serviceName = myData.serviceName %}

{% set _inError = myData.validationError == "true" %}

{% set _habitatType = "roost" %}
{% set _speciesType = myData.selectedHabitat.speciesName + " bat" %}

{% block pageTitle %} 
{% if _inError %}Error: {% endif %}How many {{_speciesType}}s are using this {{_habitatType}}?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% if _inError %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for name, item in myData.validationErrors %}
                    <li>
                        <a href="#{{item.anchor}}">{{item.message}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        <h1 class="govuk-heading-xl">
            How many {{_speciesType}}s are using this {{_habitatType}}?
        </h1>

		<form method="POST">


            <div class="govuk-form-group" >

                {% set _numberUsingTemp = myData.numberUsingTemp %}
                {% set _valueNumberUsing = myData.selectedHabitat.numberUsing %}

                {% if _inError %}
                    {% set _valueNumberUsing = _numberUsingTemp %}
                {% endif %}

                <!-- Number using -->
                <div class="govuk-form-group {% if myData.validationErrors.numberUsing %}govuk-form-group--error{% endif %}">
                    
                    {% if myData.selectedApplication.type == "a13" %}
                    <h1 class="govuk-label-wrapper">
                        <label class="govuk-label" for="numberUsing">
                            Enter the maximum number based on the bat surveys.
                        </label>
                    </h1>
                    {% endif %}
                    
                    {% if myData.validationErrors.numberUsing %}
                    <span id="orgNameAnswer-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                        {{myData.validationErrors.numberUsing.message}}
                    </span>
                    {% endif %}
                    <input class="govuk-input govuk-input--width-5" id="numberUsing" name="numberUsing" type="text" spellcheck="false" pattern="[0-9]*" inputmode="numeric" value="{{_valueNumberUsing}}">
                </div>

            </div>
		
            {{govukButton({
                text: "Continue"
            })}}

        </form>

	</div>
</div>


{% endblock %}