{% extends "layout.html" %}

{% set _pageID = "CD76 - Site upload" %}

{% set serviceName = myData.serviceName %}

{% set _inError = myData.validationError == "true" %}

{% block pageTitle %} 
{% if _inError %}Error: {% endif %}Upload your file of the area of planned activity
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

			{% if _inError %}
            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        {% for name, item in myData.validationErrors %}
                        <li>
                            <a href="#{{item.anchor}}">{{item.message}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}

	</div>
</div>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="POST">

            <h1 class="govuk-heading-xl">
                Upload your file of the area of planned activity
            </h1>

            <div class="govuk-form-group {% if _inError %}govuk-form-group--error{% endif %}">
                <!-- <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--xl" for="siteUpload">
                        [upload?]
                    </label>
                </h1> -->

                {% set _value = myData.selectedApplication.siteUpload %}
                {% if _inError %}
                    {% set _value = myData.siteUploadAnswer %}
                {% endif %}
                <label class="govuk-label" for="siteUpload">
                    GeoJSON, KML or Shape file
                </label>
                {% if _inError %}
                <p id="siteUpload-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> {{myData.validationErrors.siteUpload.message}}
                </p>
                {% endif %}
                <input class="govuk-file-upload govuk-!-width-three-quarters {% if _inError %}govuk-file-upload--error{%endif %}" id="siteUpload" name="siteUpload" type="file" value="{{_value}}">

            </div>

            {{govukButton({
                text: "Continue"
            })}}

        </form>

	</div>
</div>

{% endblock %}