{% extends "layout.html" %}

{% set _pageID = "CD98 - Site grid reference" %}

{% set serviceName = myData.serviceName %}

{% set _inError = myData.validationError == "true" %}

{% block pageTitle %} 
{% if _inError %}Error: {% endif %}What is the site national grid reference?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

			{% if _inError %}
            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        {% for name, item in myData.validationErrors %}
                        <li>
                            <a href="#{{item.anchor}}">{{item.message}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}

	</div>
</div>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="POST">

            <div class="govuk-form-group {% if _inError %}govuk-form-group--error{% endif %}">

                <!-- <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                    <label class="govuk-label" for="siteGridRef">
                        National Grid Reference
                    </label>
                </legend> -->

                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--xl" for="siteGridRef">
                        What is the site’s National Grid Reference?
                    </label>
                </h1>

                <!-- <label class="govuk-label" for="siteGridRef">
                    National Grid Reference
                </label> -->

                <span class="govuk-hint">
                    For example, NY395557
                </span>

                {% if _inError %}
                <span id="siteGridRef-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>
                    {{myData.validationErrors.siteGridRef.message}}
                </span>
                {% endif %}

                {% set _value = myData.selectedApplication.siteGridRef %}
                {% if _inError %}
                    {% set _value = myData.siteGridRefAnswer %}
                {% endif %}

                <input class="govuk-input govuk-!-width-one-third {% if _inError %}govuk-input--error{%endif %}" id="siteGridRef" name="siteGridRef" type="text" value="{{_value}}">

            </div>

            {{govukButton({
                text: "Continue"
            })}}

        </form>

	</div>
</div>

{% endblock %}