{% extends "layout-pb.html" %}

{% block pageTitle %} 
Error: Is Janet Doe part of an organisation?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: "Select an option",
                href: "#authorised-name-organisation-check"
              }
            ]
          }) }}
      
      <form class="form" action="address" method="post">
        


      {% set organisationHtml %}
      {{ govukInput({
        id: "authorised-name-organisation-name",
        name: "authorised-name-organisation-name",
        label: {
          text: "Name of organisation"
        }
      }) }}
      {% endset -%}

      {{ govukRadios({
        idPrefix: "authorised-name-organisation-check",
        name: "authorised-name-organisation-check",
        fieldset: {
          legend: {
            html: "Is Janet Doe part of an organisation?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        errorMessage: {
            text: "Select an option"
          },
        items: [
          {
            value: "Yes",
            text: "Yes",
            conditional: {
              html: organisationHtml
            }
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}
        
          {{ govukButton({
            text: "Continue"
          }) }}
      </form>

      
    </div>
  </div>

{% endblock %}
