{% extends "layout-pb-signed-out.html" %}

{% block pageTitle %} 
    Error: Which species will the work affect?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: "You have not selected an option",
                href: "#which-species-check"
              }
            ]
          }) }}
      
        <form class="form" action="which-species-check" method="post">
            {{ govukRadios({
                name: "which-species-check",
                fieldset: {
                legend: {
                    text: "Which species will the work affect?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                }
                },
                errorMessage: {
                    text: "Select an option"
                  },
                items: [
                {
                    value: "Badgers",
                    text: "Badgers"
                },
                {
                    value: "Bats",
                    text: "Bats"
                },
                {
                    value: "Great crested newts",
                    text: "Great crested newts"
                }
                ]
            }) }}

            
            {{ govukButton({
                text: "Continue"
            }) }}
          </form>


    </div>
  </div>

{% endblock %}
