{% extends "layout-pb-signed-out.html" %}

{% block pageTitle %} 
Error: Does the applicant have the landowner’s permission to apply?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: "You have not selected an option",
                href: "#land-owner-permission-check"
              }
            ]
          }) }}
      
        <form class="form" action="land-owner-permission-check" method="post">
            {{ govukRadios({
                name: "land-owner-permission-check",
                fieldset: {
                legend: {
                    text: "Does the applicant have the landowner’s permission to apply?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                    }
                },
                errorMessage: {
                    text: "Select an option"
                  },
                items: [
                {
                    value: "Yes",
                    text: "Yes"
                },
                {
                    value: "No",
                    text: "No"
                }
                ]
            }) }}

            
            {{ govukButton({
                text: "Continue"
            }) }}
          </form>


    </div>
  </div>

{% endblock %}
