{% extends "layout-pb-signed-out.html" %}

{% block pageTitle %} 
Is the development a Nationally Significant Infrastucture Project?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
        <form class="form" action="nsip-check" method="post">
            {{ govukRadios({
                name: "nsip-check",
                fieldset: {
                legend: {
                    text: "Is the development a Nationally Significant Infrastucture Project?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                    }
                },
                
                items: [
                {
                    value: "Yes",
                    text: "Yes"
                },
                {
                    value: "No",
                    text: "No"
                }
                ]
            }) }}

            
            {{ govukButton({
                text: "Continue"
            }) }}
          </form>

          <p><a href='https://infrastructure.planninginspectorate.gov.uk/projects/register-of-applications/'>Check if your development is listed as an Nationally Significant Infrastructure Project</a>.</p>
    </div>
  </div>

{% endblock %}
