{% extends "layout-pb-signed-out.html" %}

{% block pageTitle %} 
Applications for this type of licence are not being processed currently
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
        <h1 class="govuk-heading-l">
          Applications for this type of licence are not being processed currently
        </h1>

        <p class="govuk-body">If you continue with an application it will not be dealt with until Natural England starts to process applications.</p>

        <p class="govuk-body">Find out more about <a href="https://www.gov.uk/guidance/wildlife-licences" target="_blank">what to do before you apply for a licence</a>.</p>

        {{ govukButton({
          text: "Continue",
          href: "land-owner"
        }) }}

    </div>
  </div>

{% endblock %}
