{% extends "layout-pb-signed-out.html" %}

{% block pageTitle %} 
You cannot apply for this licence yet
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
        <h1 class="govuk-heading-l">
          You cannot apply for this licence yet
        </h1>

        <p class="govuk-body">You can only apply for a licence to affect badgers for development work from May 1 to November 31.</p>

        <p class="govuk-body">You can fined or imprisoned if you disturb badgers outside this period.</p>

        <p class="govuk-body">Find out more about <a href="https://www.gov.uk/guidance/wildlife-licences" target="_blank">what to do before you apply for a licence</a>.</p>

    </div>
  </div>

{% endblock %}
