{% extends "layout-pb.html" %}

{% block pageTitle %} 
Check your answers
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l">Check your answers</h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Does your development work need a reasoned statement?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['exceptions-check'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> does your development work need a reasoned statement?</span>
            </a>
          </dd>
        </div>
        {% if data['exceptions-check'] == 'Yes' %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Upload the reasoned statement
            </dt>
            <dd class="govuk-summary-list__value">
              reasonsed-statement-23.pdf
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> upload the reasoned statements</span>
              </a>
            </dd>
          </div>
        {% endif %}

         
        {% if data['exceptions-check'] == 'No' %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Why are you not providing a reasoned statement?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['why-no-reasoned-statement-check'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden">  why are you not providing a reasoned statement?</span>
              </a>
            </dd>
          </div>

          {% if data['why-no-reasoned-statement-check'] == 'The development is for home improvements or small-scale housing development' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Describe how the development project fits this into this category
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['home-housing-detail'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> describe how the development project fits this into this category</span>
                </a>
              </dd>
            </div>
          {% endif %}

          {% if data['why-no-reasoned-statement-check'] == 'The development is on a listed building, scheduled monument or place of worship' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Describe how the development project fits this into this category
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['worship-detail'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> describe how the development project fits this into this category</span>
                </a>
              </dd>
            </div>
          {% endif %}

          {% if data['why-no-reasoned-statement-check'] == 'The development is to maintain or improve public buildings or develop land that is part of the public estate' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Describe how the development project fits this into this category
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['public-detail'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> describe how the development project fits this into this category</span>
                </a>
              </dd>
            </div>
          {% endif %}


        {% endif %}

        
      </dl>
    
      <form class="form" action="task-list-complete" method="post">

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    
    </div>
  </div>

{% endblock %}
