{% extends "layout-pb.html" %}

{% block pageTitle %} 
Exceptions to providing a reasoned statement
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
 

      <h1 class="govuk-heading-l">
        Exceptions to providing a reasoned statement
      </h1>

      <p>You will not have to submit a reasoned statement in certain circumstances.</p>
      
      <p>Find out more about <a href="https://www.gov.uk/government/publications/reasoned-statement-to-support-a-mitigation-licence-application" class="govuk-link" rel="noreferrer noopener" target="_blank">when to include a reasoned statement (opens in new tab)</a>.</p>

      
      <form class="form" action="exceptions-check" method="post">

        {{ govukRadios({
          name: "exceptions-check",
          fieldset: {
            legend: {
              text: "Does your development work need a reasoned statement?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>


    </div>
  </div>

{% endblock %}
