{% extends "layout-pb.html" %}

{% block pageTitle %} 
Why are you not providing a reasoned statement?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
 

      
      <form class="form" action="why-no-reasoned-statement-check" method="post">

        {{ govukRadios({
          name: "why-no-reasoned-statement-check",
          fieldset: {
            legend: {
              text: "Why are you not providing a reasoned statement?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "The development is for home improvements or small-scale housing development",
              text: "The development is for home improvements or small-scale housing development"
            },
            {
              value: "The development is on a listed building, scheduled monument or place of worship",
              text: "The development is on a listed building, scheduled monument or place of worship"
            },
            {
              value: "The development is to maintain or improve public buildings or develop land that is part of the public estate",
              text: "The development is to maintain or improve public buildings or develop land that is part of the public estate"
            }
          ]
        }) }}

        <p>Find out more about <a href="https://www.gov.uk/government/publications/reasoned-statement-to-support-a-mitigation-licence-application/protected-species-licences-when-to-include-a-reasoned-statement-with-your-application#when-you-do-not-need-a-reasoned-statement" class="govuk-link" rel="noreferrer noopener" target="_blank">when not to provide a reasoned statement (opens in new tab)</a>.</p>

        

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>


    </div>
  </div>

{% endblock %}
