{% extends "layout-pb-no-service-name.html" %}

{% block pageTitle %} 
SDDSIP 899 | Amends to charging flow
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">SDDSIP 899</span>
      <h1 class="govuk-heading-l">Amends to charging flow</h1> 

      <div class="govuk-!-margin-bottom-9">
        <strong class="govuk-tag govuk-tag--pink">
          TESTED
       </strong>
      </div>

      {{ govukButton({
        text: "View full flow",
        href: "task-list"
      }) }}
      
      
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">Full page list and error states</h2>

      <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Page</th>
              <th scope="col" class="govuk-table__header">Error states</th>
              <th scope="col" class="govuk-table__header">Confidence</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-third">Notes</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">   
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="task-list">Task list</a></td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">
                HIGH
              </strong>
            </td>
            <td class="govuk-table__cell">Tested well</td>
           </tr>
           <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="proposal">What activity or development work</a></td>
                <td class="govuk-table__cell">
                  <a class="govuk-link govuk-link--no-visited-state" href="error-blank-proposal">If blank</a><br>
                  <a class="govuk-link govuk-link--no-visited-state" href="error-too-long-proposal">If too many characters</a>
                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--yellow">
                    Medium
                  </strong>
                </td>
                <td class="govuk-table__cell">Question felt like it was directed more at a developer than an ecologist</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="paying-for-your-license">Paying for your license</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-paying-for-your-license">If nothing chosen</a></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--red">
                  Low
                </strong>
              </td>
              <td class="govuk-table__cell">Page felt a bit 'wordy', text duplicated on the next page as radios, some confusion as some list items were felt to not apply to A24</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="reason">What reason exempt?</a></td>
              <td class="govuk-table__cell">
                <a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-reason">If nothing chosen</a><br>
                <a class="govuk-link govuk-link--no-visited-state" href="error-blank-reason">If blank</a>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--red">
                  Low
                </strong>
              </td>
              <td class="govuk-table__cell">Radios were duplicated from text on previous page, users felt repetition was unneccessary</td>
            </tr>
           <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="category">What kind of development?</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-category">If nothing chosen</a></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Not tested yet</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="cost">Cost of this licence</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Not tested yet</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="check-your-answers">Check your answers</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Not tested yet</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="task-list-complete">Task list</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Not tested yet</td>
             </tr>
             <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="declaration">Declaration</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Update to text due to changes to this flow</td>
             </tr>
          </tbody>
        </table>


      <h2 class="govuk-heading-m govuk-!-margin-top-9">Design and research history</h2>

      <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Date</th>
            <th scope="col" class="govuk-table__header">Changes</th>
            <th scope="col" class="govuk-table__header">Rationale</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body"> 
          <tr class="govuk-table__row">
            <th class="govuk-table__cell">6 Jun 2023</th>
            <td class="govuk-table__cell">Tested with four users in May round of research</td>
            <td class="govuk-table__cell"></td>
          </tr>   
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">12 May 2023</th>
              <td class="govuk-table__cell">Amended index page list to include UR confidence level and research notes</td>
              <td class="govuk-table__cell"></td>
            </tr> 
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">12 May 2023</th>
              <td class="govuk-table__cell">Added design and research history log</td>
              <td class="govuk-table__cell"></td>
            </tr> 
          </tbody>
        </table>
    
    </div>
  </div>

{% endblock %}
