{% extends "layout-pb.html" %}

{% block pageTitle %} 
Apply for a licence to do work that affects badgers
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l"> 
        Apply for a licence to do work that affects badgers
      </h1>

    <!-- <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="applications">View all of your licence applications</a>.</p> -->

    <h2 class="govuk-heading-s govuk-!-margin-bottom-2 ">Application incomplete</h2>
    <p class="govuk-body " >You have completed 5 of 14 sections.</p>
    
    <!-- <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application saved</h2> -->
    <p class="govuk-body govuk-!-margin-bottom-7" >Reference:<br>2022-98678-SPM-WLM</p>
    
    <!-- <p class="govuk-body govuk-!-margin-bottom-7">
      <a class="govuk-link govuk-link--no-visited-state" href="applications">
          View applications
      </a>
    </p> -->
    

    <ol class="app-task-list">

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">1. </span> Contact details
        </h2>
        <ul class="app-task-list__items">

          <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                  <a href="#" class="govuk-link--no-visited-state" >
                    Give licence holder details
                  </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" >Completed</strong>
          </li>


          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
                  <a href="#" class="govuk-link--no-visited-state" >
                    Give ecologist details
                  </a>
            </span>
            <strong class="govuk-tag app-task-list__tag" >Completed</strong>
          </li>

          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
                  <a href="#" class="govuk-link--no-visited-state" >
                    Add authorised people
                  </a>
            </span>
            <strong class="govuk-tag app-task-list__tag" >Completed</strong>
          </li>

          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
                  <a href="#" class="govuk-link--no-visited-state" >
                    Add alternative contacts
                  </a>
            </span>
            <strong class="govuk-tag app-task-list__tag" >Completed</strong>
          </li>


          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
                  <a href="#" class="govuk-link--no-visited-state" >
                    Add invoice details
                  </a>
            </span>
            <strong class="govuk-tag app-task-list__tag" >Completed</strong>
          </li>


        </ul>
      </li>
      <li>




        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">2. </span> Planned work activity
        </h2>
        <ul class="app-task-list__items">
          <!-- Purpose - section 1 -->
          <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                  <a href="proposal" class="govuk-link--no-visited-state" >
                    Give work activity details
                  </a> 
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" >Not started</strong>
          </li>

          <!-- Permissions data - section 8 -->
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
                <a href="#" class="govuk-link--no-visited-state" >
                  Give details of permissions to start work
                </a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" >Not started</strong>
        </li>
        

        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
              <a href="#" class="govuk-link--no-visited-state" >
                Give details of conservation issues
              </a>
          </span>
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" >Not started</strong>
        </li>
        

          <!-- Site - section 3 -->
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="#" class="govuk-link--no-visited-state" >
                Give site information
              </a>

            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" >Not started</strong>
          </li>

          <!-- Application details -->
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="#" class="govuk-link--no-visited-state"  >
                Add setts the work will affect
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" >Not started</strong>
          </li>

           <!-- Ecologist experience -->
           <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="#" class="govuk-link--no-visited-state" >
                Give ecologist's experience
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" >Not started</strong>
          </li>

          <!-- Upload supplementary files -->
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="#" class="govuk-link--no-visited-state" >
                Upload supporting information
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" >Not started</strong>
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">3. </span> Declare convictions and send application
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="#" class="govuk-link--no-visited-state" >
                Declare convictions
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" >Not started</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
                Agree to terms and send application
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" >Cannot start yet</strong>
          </li>
        </ul>
      </li>
    </ol>
  </div>
</div>

      
    
    </div>
  </div>

{% endblock %}
