{% extends "layout-pb.html" %}

{% block pageTitle %} 
Error: Will it happen on the site or close to it?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: "You have not entered how close to the site it will happen",
                href: "#distance-from-site"
              }
            ]
          }) }}
      
      <form class="form" action="multiple-sites-review-add-another" method="post">     
        
        {% set distanceHtml %}
            {{ govukInput({
            id: "distance-from-site",
            name: "distance-from-site",
            suffix: {
                text: "km"
              },
            classes: "govuk-input--width-4",
            label: {
                text: "How close to the site will it happen?"
            },
            errorMessage: {
                text: "Enter how close to the site it will happen"
              }
            }) }}
        {% endset -%}

        {{ govukRadios({
            name: "multiple-sites-on-or-close-check",
            fieldset: {
              legend: {
                text: "Will it happen on the site or close to it?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
                text: "Select one."
              },
            items: [
              {
                value: "On the site",
                text: "On the site"
              },
              {
                value: "Close to the site",
                text: "Close to the site",
                checked: true,
                conditional: {
                    html: distanceHtml
                }
              }
            ]
          }) }}
        
          {{ govukButton({
            text: "Continue"
          }) }}
      </form>

      
    
    </div>
  </div>

{% endblock %}
