{% extends "layout-pb.html" %}

{% block pageTitle %} 
Sites the work will affect
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Sites the work will affect</h1>

      <h2 class="govuk-heading-m">Site name: {{ data['multiple-sites-designated-site-name-1'] }}</h2>

      <p><a href="remove-site">Remove site</a></p>

  
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name of the site
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['multiple-sites-designated-site-name-1'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="add-person">
              Change<span class="govuk-visually-hidden"> name of the site</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What type of site?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['multiple-sites-what-type'] }} 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="add-person">
              Change<span class="govuk-visually-hidden"> what type of site?</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What is the likely effect on the site?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['multiple-sites-likely-effect'] }} 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="add-person">
              Change<span class="govuk-visually-hidden"> what is the likely effect on the site??</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Will it happen on the site or close to it?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['multiple-sites-on-or-close-check'] }} 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="add-person">
              Change<span class="govuk-visually-hidden"> will it happen on the site or close to it?</span>
            </a>
          </dd>
        </div>
        
        {% if data['multiple-sites-on-or-close-check'] == 'Close to the site' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                How close to the site will it happen?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['distance-from-site'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="add-person">
                  Change<span class="govuk-visually-hidden"> how close to the site will it happen?</span>
                </a>
              </dd>
            </div>
        {% endif %}

      </dl>


      <form class="form" action="add-another-site-check" method="post">

        {{ govukRadios({
          idPrefix: "add-another-site-check",
          name: "add-another-site-check",
          fieldset: {
            legend: {
              text: "Do you want to add another site?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
