{% extends "layout-pb.html" %}

{% block pageTitle %} 
What is the likely effect on the site?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form class="form" action="multiple-sites-on-or-close" method="post">    
        
        

        {{ govukTextarea({
            name: "multiple-sites-likely-effect",
            id: "multiple-sites-likely-effect",
            label: {
              text: "What is the likely effect on the site?",
              classes: "govuk-label--l",
              isPageHeading: true
            }
          }) }}

          {{ govukButton({
            text: "Continue"
          }) }}
      </form>

      
    
    </div>
  </div>

{% endblock %}
