{% extends "layout-pb.html" %}

{% block pageTitle %} 
Will the development take place on or next to a Site of Special Scientific Interest (SSSI)?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form class="form" action="on-or-within" method="post">       

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Will the development take place on or next to a Site of Special Scientific Interest (SSSI)?
              </h1>
            </legend>
            <p><a href="#" target="_blank">Check if your development is on or next to a SSSI</a></p>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="on-or-within-designated-site" name="on-or-within-designated-site" type="radio" value="Yes">
                <label class="govuk-label govuk-radios__label" for="on-or-within-designated-site">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="on-or-within-designated-site-2" name="on-or-within-designated-site" type="radio" value="No">
                <label class="govuk-label govuk-radios__label" for="on-or-within-designated-site-2">
                  No
                </label>
              </div>
            </div>
        
          </fieldset>
        </div>


        {{ govukButton({
          text: "Continue"
        }) }}
      </form>


      
    
    </div>
  </div>

{% endblock %}
