{% extends "layout-pb.html" %}

{% block pageTitle %} 
Do you have permission from the owner/occupier of the SSSI?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form class="form" action="permission-check" method="post">       

        {{ govukRadios({
            name: "permission-check",
            fieldset: {
              legend: {
                text: "Do you have permission from the owner/occupier of the SSSI?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
                text: "Your application may be delayed if you do not have permission. Select one."
              },
            items: [
              {
                value: "Yes",
                text: "Yes"
              },
              {
                value: "No",
                text: "No"
              }
            ]
          }) }}
        
          {{ govukButton({
            text: "Continue"
          }) }}
      </form>

      
    
    </div>
  </div>

{% endblock %}
