{% extends "layout-pb-no-service-name.html" %}

{% block pageTitle %} 
SDDSIP 266 | Return route to application
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">SDDSIP 266</span>
      <h1 class="govuk-heading-l">Return route to application</h1> 

      <div class="govuk-!-margin-bottom-9">
        <strong class="govuk-tag govuk-tag--green" >
          In Progress
        </strong>
      </div>


      <h2 class="govuk-heading-m ">Full page list</h2>

      <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Page</th>
            <th scope="col" class="govuk-table__header">Link</th>
            <th scope="col" class="govuk-table__header">Error states</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">    
            <tr class="govuk-table__row">
                <th class="govuk-table__cell">Application sent confirmation page</th>
                <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="confirmation">confirmation</a></td>
                <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Application received email</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="email-notification-application-received">email-notification-application-received</a></td>
              <td class="govuk-table__cell"></td>
            </tr>
          </tbody>
        </table>

    
    </div>
  </div>

{% endblock %}
