{% extends "layout-pb.html" %}

{% block pageTitle %} 
  Application sent
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {{ govukPanel({
            titleText: "Application sent",
            html: "Your reference number<br><strong>2022-98678-SPM-WLM</strong>"
          }) }}
      
        <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body">
          Natural England will review your application. You may be contacted to give more information to support your application.
        </p>

        <p><a href="../../SDDSIP-534-view-application/applications">View applications and licences</a></p>

      
    </div>
  </div>

{% endblock %}
