{% extends "layout-pb.html" %}

{% block pageTitle %} 
Confirm your details
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!--<h2 class="govuk-heading-l">Confirm your contact details for this application</h2>

      <div class="govuk-inset-text">
        <p>Any changes will only apply to this application. Your contact details will remain the same in your Defra ID account.</p>
      </div>-->

      <h2 class="govuk-heading-l">Confirm your details</h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Dave Smith
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="name">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Organisation
          </dt>
          <dd class="govuk-summary-list__value">
            Oxford Ecology Ltd.
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="organisation">
              Change<span class="govuk-visually-hidden"> are they part of an organisation?</span>
            </a>
          </dd>
        </div>
        

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Contact address
          </dt>
          <dd class="govuk-summary-list__value">
            3 High Street<br>
            Oxford<br>
            OX11BD
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="postcode">
              Change<span class="govuk-visually-hidden"> contact address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Email address
          </dt>
          <dd class="govuk-summary-list__value">
            dave.smith@oxfordecology.co.uk
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="email-address">
              Change<span class="govuk-visually-hidden"> email address</span>
            </a>
          </dd>
        </div>

        
      </dl>
    
      <form class="form" action="task-list-complete" method="post">

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    
    </div>
  </div>

{% endblock %}
