{% extends "layout-pb.html" %}

{% block pageTitle %} 
Has the commitment been met?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form class="form" action="check-your-answers" method="post">       

        

        {% set commitmentHtml %}
          {{ govukTextarea({
            name: "commitment-eps-met-detail",
            id: "commitment-eps-met-detail",
            label: {
              text: "When will it be complete?"
            }
          }) }}
        {% endset -%}

        {{ govukRadios({
            name: "commitment-eps-met-check",
            fieldset: {
              legend: {
                text: "Has the commitment been met?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            items: [
              {
                value: "Yes",
                text: "Yes",
                conditional: {
                  html: commitmentHtml
                }
              },
              {
                value: "No",
                text: "No"
              }
            ]
          }) }}
        
          {{ govukButton({
            text: "Continue"
          }) }}
      </form>

      
    
    </div>
  </div>

{% endblock %}
