{% extends "layout-pb.html" %}

{% block pageTitle %} 
Is the site subject to any commitment that affects other European Protected Species or other protected species?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form class="form" action="commitment-eps-check" method="post">       

        {{ govukRadios({
            name: "commitment-eps-check",
            fieldset: {
              legend: {
                text: "Is the site subject to any commitment that affects other European Protected Species or other protected species?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "Yes",
                text: "Yes"
              },
              {
                value: "No",
                text: "No"
              }
            ]
          }) }}
        
          {{ govukButton({
            text: "Continue"
          }) }}
      </form>

      
    
    </div>
  </div>

{% endblock %}
