{% extends "layout-pb.html" %}

{% block pageTitle %} 
Have all relevant conditions been completed?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form class="form" action="conditions-reserved-matters-check" method="post">       

        {{ govukRadios({
            name: "conditions-reserved-matters-check",
            fieldset: {
              legend: {
                text: "Have all relevant conditions been completed?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            hint: {
                text: "Relevant matters are ones that relate to wildlife and habitats. This includes reserved matters.
                Select one. "
              },
            items: [
              {
                value: "Yes",
                text: "Yes"
              },
              {
                value: "No",
                text: "No"
              }
            ]
          }) }}
        
          {{ govukButton({
            text: "Continue"
          }) }}
      </form>

      
    
    </div>
  </div>

{% endblock %}
