{% extends "layout-pb.html" %}

{% block pageTitle %} 
Which Local Planning Authority granted the consents for this development?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: "You have not selected a Local Planning Authority",
                href: "#which-lpa"
              }
            ]
          }) }}
    
      
      <form class="form" action="add-permission-start" method="post">
        {{ govukInput({
          label: {
            text: "Which Local Planning Authority granted the consents for this development?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          errorMessage: {
            text: "Select a Local Planning Authority"
          },
          id: "which-lpa",
          name: "which-lpa"
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

      
    
    </div>
  </div>

{% endblock %}
