{% extends "layout-pb-no-service-name.html" %}

{% block pageTitle %} 
SDDSIP 585 | Amend permissions flow
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">SDDSIP 585</span>
      <h1 class="govuk-heading-l">Amend permissions flow</h1> 

      <div class="govuk-!-margin-bottom-9">
        <strong class="govuk-tag govuk-tag--pink" >
          TESTED
        </strong>
      </div>


      {{ govukButton({
        text: "View v2 full flow",
        href: "v2/task-list"
      }) }}
      
      
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">Full page list and error states</h2>

      <div class="govuk-inset-text">
        <p><strong>NB</strong> In order for the flow to display correctly, add 'planning permission' first and second when adding permissions in the loop.</p>
      </div>

      

      <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Page</th>
            <th scope="col" class="govuk-table__header">Error states</th>
            <th scope="col" class="govuk-table__header">Confidence</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-third">Notes</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">   
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/task-list">Task list</a></td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">
                High
              </strong>
            </td>
            <td class="govuk-table__cell">Tested well, all users understood the page</td>
           </tr>

           <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/permissions">Project need permissions?</a></td>
            <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/error-nothing-chosen-permissions">If nothing chosen</a></td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--yellow">
                Medium
              </strong>
            </td>
            <td class="govuk-table__cell">Two users felt the content could be clearer, i.e. What permission? From the landowner? Or planning?</td>
           </tr>

           <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/why-no-permission">Why no permission required?</a></td>
            <td class="govuk-table__cell">
              <a class="govuk-link govuk-link--no-visited-state" href="v2/error-nothing-chosen-why-no-permission">If nothing chosen</a><br>
              <a class="govuk-link govuk-link--no-visited-state" href="v2/error-blank-why-no-permission">If blank</a>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Not tested as users were taken down the 'happy path'</td>
            </td>
           </tr>

           <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/add-permission-start">Tell us about each permission</a></td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--red">
                Low
              </strong>
            </td>
            <td class="govuk-table__cell">Three users didn't understand from this page that they would be adding permissions individually </td>
           </tr>

           <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/consent-type">What permissions has the project got?</a></td>
            <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/error-nothing-chosen-consent-type">If nothing chosen</a></td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--red">
                Low
              </strong>
            </td>
            <td class="govuk-table__cell">One user felt some permissions were missing, one had doubts about the list of permissions, three users wanted to add select more than one permission</td>
           </tr>

           <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/lpa">Which planning authority? - Autocomplete</a></td>
            <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/error-nothing-chosen-lpa">If nothing chosen</a></td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--yellow">
                Medium
              </strong>
            </td>
            <td class="govuk-table__cell">This will be a typeahead in the actual build, not developed or tested in the prototype</td>
           </tr>

           <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/planning-type">What type of planning permission was granted?</a></td>
            <td class="govuk-table__cell">
              <a class="govuk-link govuk-link--no-visited-state" href="v2/error-nothing-chosen-planning-type">If nothing chosen</a><br>
              <a class="govuk-link govuk-link--no-visited-state" href="v2/error-blank-planning-type">If blank</a>
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--red">
                Low
              </strong>
            </td>
            <td class="govuk-table__cell">Some users not sure what hybrid meant, three users wanted to select more than one option</td>
           </tr>

           <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="consent-reference">What is the [permission] reference?</a></td>
            <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-blank-consent-reference">If blank</a></td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">
                High
              </strong>
            </td>
            <td class="govuk-table__cell">Tested well</td>
           </tr>

           <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/cya-consents">Permission added / add another</a></td>
            <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/error-nothing-chosen-cya-consents">If nothing chosen</a></td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--yellow">
                Medium
              </strong>
            </td>
            <td class="govuk-table__cell">Users only seemed to realise they could add multiple permissions individually when they got to this page</td>
           </tr>

           <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/conditions-reserved-matters">Other conditions been met?</a></td>
            <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/error-nothing-chosen-conditions-reserved-matters">If nothing chosen</a></td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--red">
                Low
              </strong>
            </td>
            <td class="govuk-table__cell">Two users had major issues with this page, didn't feel it was at all relevant to the application</td>
           </tr>

           <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/which-not-completed">List conditions not completed</a></td>
            <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/error-blank-which-not-completed">If blank</a></td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--red">
                Low
              </strong>
            </td>
            <td class="govuk-table__cell">Two users had major issues with this page, didn't feel it was at all relevant to the application</td>
           </tr>

           <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/commitment-subject-eps">Any potential conflicts?</a></td>
            <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/error-nothing-chosen-commitment-subject-eps">If nothing chosen</a></td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--red">
                Low
              </strong>
            </td>
            <td class="govuk-table__cell">Two users had major issues with this page, didn't feel it was at all relevant to the application</td>
           </tr>

           <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/commitment-eps-met">Describe potential conflicts</a></td>
            <td class="govuk-table__cell">
              <a class="govuk-link govuk-link--no-visited-state" href="v2/error-blank-commitment-eps-met">If blank</a><br>
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--yellow">
                Medium
              </strong>
            </td>
            <td class="govuk-table__cell">Not tested yet</td>
           </tr>
           
           <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/check-your-answers">Check your answers</a></td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--yellow">
                Medium
              </strong>
            </td>
            <td class="govuk-table__cell">Not tested yet</td>
           </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/task-list-complete">Task list - complete</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              </td>
              <td class="govuk-table__cell">Not tested yet</td>
             </tr>

          </tbody>
        </table>
    
        <p class="govuk-!-margin-bottom-9">GDS Accessible Autocomplete to be used for planning authority input - <a href="https://github.com/alphagov/accessible-autocomplete">https://github.com/alphagov/accessible-autocomplete</a></p>









      <!-- Version 1 -->


      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Version 1
          </span>
        </summary>
        <div class="govuk-details__text">
         
          {{ govukButton({
            text: "View full flow",
            href: "task-list"
          }) }}
          
          
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    
          <h2 class="govuk-heading-m">Full page list and error states</h2>
    
          <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Page</th>
                <th scope="col" class="govuk-table__header">Link</th>
                <th scope="col" class="govuk-table__header">Error states</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">   
              <tr class="govuk-table__row">
                <th class="govuk-table__cell">Task list</th>
                <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="task-list">task-list</a></td>
                <td class="govuk-table__cell"></td>
               </tr>
    
               <tr class="govuk-table__row">
                <th class="govuk-table__cell">Does the project need permissions</th>
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="permissions">permissions</a></td>
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-permissions">If nothing chosen</a></td>
               </tr>
    
               <tr class="govuk-table__row">
                <th class="govuk-table__cell">Which Local Planning Authority - Autocomplete</th>
                <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="lpa">lpa</a></td>
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-lpa">If nothing chosen</a></td>
               </tr>
    
               <tr class="govuk-table__row">
                <th class="govuk-table__cell">Tell us about each permission</th>
                <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="add-permission-start">add-permission-start</a></td>
                <td class="govuk-table__cell"></td>
               </tr>
    
               <tr class="govuk-table__row">
                <th class="govuk-table__cell">What permissions has the project got?</th>
                <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="consent-type">consent-type</a></td>
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-consent-type">If nothing chosen</a></td>
               </tr>
    
               <tr class="govuk-table__row">
                <th class="govuk-table__cell">What is the [permission] reference?</th>
                <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="consent-reference">consent-reference</a></td>
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-blank-consent-reference">If blank</a></td>
               </tr>
    
               <tr class="govuk-table__row">
                <th class="govuk-table__cell">Permission added / add another</th>
                <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="cya-consents">cya-consents</a></td>
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-cya-consents">If nothing chosen</a></td>
               </tr>
    
               <tr class="govuk-table__row">
                <th class="govuk-table__cell">All relevant conditions completed?</th>
                <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="conditions-reserved-matters">conditions-reserved-matters</a></td>
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-conditions-reserved-matters">If nothing chosen</a></td>
               </tr>
    
               <tr class="govuk-table__row">
                <th class="govuk-table__cell">Which conditions not completed?</th>
                <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="which-not-completed">which-not-completed</a></td>
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-blank-which-not-completed">If blank</a></td>
               </tr>
    
               <tr class="govuk-table__row">
                <th class="govuk-table__cell">Why not completed?</th>
                <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="why-not-completed">why-not-completed</a></td>
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-blank-why-not-completed">If blank</a></td>
               </tr>
    
               <tr class="govuk-table__row">
                <th class="govuk-table__cell">Any commitment that affects badgers?</th>
                <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="commitment-subject">commitment-subject</a></td>
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-commitment-subject">If nothing chosen</a></td>
               </tr>
    
               <tr class="govuk-table__row">
                <th class="govuk-table__cell">Has the commitment been met?</th>
                <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="commitment-met">commitment-met</a></td>
                <td class="govuk-table__cell">
                  <a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-commitment-met">If nothing chosen</a><br>
                  <a class="govuk-link govuk-link--no-visited-state" href="error-blank-commitment-met">If blank</a><br>
                  <a class="govuk-link govuk-link--no-visited-state" href="error-blank-commitment-not-met">If blank</a>
                </td>
               </tr>
    
               <tr class="govuk-table__row">
                <th class="govuk-table__cell">Any commitments that affects other protected species?</th>
                <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="commitment-subject-eps">commitment-subject-eps</a></td>
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-commitment-subject-eps">If nothing chosen</a></td>
               </tr>
    
               <tr class="govuk-table__row">
                <th class="govuk-table__cell">Have the commitments been met?</th>
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="commitment-eps-met">commitment-eps-met</a></td>
                <td class="govuk-table__cell">
                  <a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-commitment-eps-met">If nothing chosen</a><br>
                  <a class="govuk-link govuk-link--no-visited-state" href="error-blank-commitment-eps-met">If blank</a><br>
                  <a class="govuk-link govuk-link--no-visited-state" href="error-blank-commitment-eps-not-met">If blank</a>
                </td>
               </tr>
               
               <tr class="govuk-table__row">
                <th class="govuk-table__cell">Check your answers</th>
                <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="check-your-answers">check-your-answers</a></td>
                <td class="govuk-table__cell"></td>
               </tr>
               
    
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell">Task list</th>
                  <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="task-list-complete">task-list-complete</a></td>
                  <td class="govuk-table__cell"></td>
                 </tr>
    
    
              </tbody>
            </table>
        
            <p>GDS Accessible Autocomplete to be used for Local Planning Authority input - <a href="https://github.com/alphagov/accessible-autocomplete">https://github.com/alphagov/accessible-autocomplete</a></p>

        </div>
      </details>
      

      <h2 class="govuk-heading-m govuk-!-margin-top-9">Design and research history</h2>

      <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Date</th>
            <th scope="col" class="govuk-table__header">Changes</th>
            <th scope="col" class="govuk-table__header">Rationale</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body"> 
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">6 Jun 2023</th>
              <td class="govuk-table__cell">v2 flow tested with four users in May round of research</td>
              <td class="govuk-table__cell"></td>
            </tr>  
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">12 May 2023</th>
              <td class="govuk-table__cell">Amended flow and hardcoded an additional planning permission to be added as the second permission</td>
              <td class="govuk-table__cell">Required for the user research scenario provided by SME</td>
            </tr>  
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">12 May 2023</th>
              <td class="govuk-table__cell">Amended index page list to include UR confidence level and research notes</td>
              <td class="govuk-table__cell"></td>
            </tr> 
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">12 May 2023</th>
              <td class="govuk-table__cell">Added design and research history log</td>
              <td class="govuk-table__cell"></td>
            </tr> 
          </tbody>
        </table>

      
    </div>
  </div>

{% endblock %}
