{% extends "layout-pb.html" %}

{% block pageTitle %} 
Check your answers
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l">Check your answers</h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Will you be monitoring any of the roosts or compensation features?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['monitoring-required-check'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> will you be monitoring any of the roosts or compensation features?</span>
            </a>
          </dd>
        </div>

         <!-- Monitoring - No -->
         {% if data['monitoring-required-check'] == 'No' %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Will you meet the minimum expectations if you are not monitoring?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['minimum-expectations-no-monitoring-check'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> will you meet the minimum expectations if you are not monitoring?</span>
              </a>
            </dd>
          </div>
              {% if data['minimum-expectations-no-monitoring-check'] == 'No' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Explain why not meeting the minimum expectations for monitoring is acceptable
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['explain-minimum-expectations-no-monitoring'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> explain why not meeting the minimum expectations for monitoring is acceptable</span>
                  </a>
                </dd>
              </div>
            {% endif %}
         {% endif %}
         

        <!-- Monitoring required - Yes -->
        {% if data['monitoring-required-check'] == 'Yes' %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What type of monitoring are you proposing?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['monitoring-type-check'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> what type of monitoring are you proposing?</span>
              </a>
            </dd>
          </div>


          <!-- Hibernation monitoring -->
          {% if data['monitoring-type-check'] == 'Hibernation monitoring' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                First year of hibernation monitoring
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['hibernation-year-1'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> first year of hibernation monitoring</span>
                </a>
              </dd>
            </div>

            {% if data['another-hibernation-year-check'] == 'Yes' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Second year of hibernation monitoring
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['hibernation-year-2'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> first year of hibernation monitoring</span>
                </a>
              </dd>
            </div>
            {% endif %}

          {% endif %}
          <!-- End of hibernation monitoring -->


          <!-- Maternity monitoring --> 
          {% if data['monitoring-type-check'] == 'Monitoring within the active bat period' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                First year of monitoring in the active bat period
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['maternity-year-1'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> first year of monitoring in the active bat period</span>
                </a>
              </dd>
            </div>

            {% if data['another-maternity-year-check'] == 'Yes' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Second year of monitoring in the active bat period
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['maternity-year-2'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> second year of monitoring in the active bat period</span>
                </a>
              </dd>
            </div>
            {% endif %}

          {% endif %}
          <!-- End of maternity monitoring --> 


          <!-- Both types of monitoring --> 
          {% if data['monitoring-type-check'] == 'Both' %}
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              First year of monitoring in the active bat period
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['maternity-year-1'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> first year of monitoring in the active bat period</span>
              </a>
            </dd>
          </div>

          {% if data['another-maternity-year-check'] == 'Yes' %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Second year of monitoring in the active bat period
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['maternity-year-2'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> second year of monitoring in the active bat period</span>
              </a>
            </dd>
          </div>
          {% endif %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              First year of hibernation monitoring
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['hibernation-year-1'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> first year of hibernation monitoring</span>
              </a>
            </dd>
          </div>

          {% if data['another-hibernation-year-check'] == 'Yes' %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Second year of hibernation monitoring
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['hibernation-year-2'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> second year of hibernation monitoring</span>
              </a>
            </dd>
          </div>
          {% endif %}

          {% endif %}
          <!-- End of both types of monitoring --> 


          

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Which monitoring techniques will you use?
            </dt>
            <dd class="govuk-summary-list__value">
                      {% for technique in data['monitoring-techniques'] %}
                        <p>{{ technique }}</p>
                      {% endfor %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> which monitoring techniques will you use?</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Will the monitoring you propose meet the minimum expectations?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['monitoring-minimum-expectations-check'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> will the monitoring you propose meet the minimum expectations?</span>
              </a>
            </dd>
          </div>
          {% if data['monitoring-minimum-expectations-check'] == 'No' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Explain why not meeting the minimum expectations is acceptable
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['explain-minimum-expectations'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> first year of maternity monitoring</span>
                </a>
              </dd>
            </div>
          {% endif %}

     

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Will the management and site maintenance meet the minimum expectations?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['management-site-maintenance-check'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> will the management and site maintenance meet the minimum expectations?</span>
          </a>
        </dd>
      </div>

      {% if data['management-site-maintenance-check'] == 'No' %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Explain why not meeting the minimum expectations for habitat management and site maintenance is acceptable
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['why-min-expectations-not-met'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> explain why not meeting the minimum expectations for habitat management and site maintenance is acceptable?</span>
            </a>
          </dd>
        </div>
      {% endif %}

      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          How will mitigations or compensations be secured?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['mitigations-compensations-secured'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> how will mitigations or compensations be secured?</span>
          </a>
        </dd>
      </div>

      
      <!-- End of Monitoring required - Yes -->
      {% endif %}
      <!--<div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          How will works done post-development be secured?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['post-development-works-secured'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> how will works done post-development be secured?</span>
          </a>
        </dd>
      </div>-->

      </dl>
      
      <form class="form" action="task-list-complete" method="post">

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    
    </div>
  </div>

{% endblock %}
