{% extends "layout-pb.html" %}

{% block pageTitle %} 
Enter the first year you propose to do hibernation monitoring
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

{% if data['monitoring-type-check'] == 'Monitoring within the active bat period' %}
<script>
    window.location.href = 'monitoring-techniques'
</script>
{% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">    

      <form class="form" action="hibernation-monitoring" method="post"> 

          {{ govukInput({
            label: {
              text: "Enter the first year you propose to do hibernation monitoring",
              classes: "govuk-label--l",
              isPageHeading: true
            },
            classes: "govuk-input--width-5",
            id: "hibernation-year-1",
            name: "hibernation-year-1"
          }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}




