{% extends "layout-pb.html" %}

{% block pageTitle %} 
Securing post-licensable activities
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">    

        <h1 class="govuk-heading-l">Securing post-licensable activities</h1>

        <p>These works include:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>management</li>
          <li>maintenance (including remedial action)</li>
          <li>and monitoring</li>
        </ul>
        
        <p>You must commit this work being undertaken, and the means for doing the work (financial and practical) must be in place before applying for a licence.</p>

        <p>You could be using a legal agreement, including:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>restrictive covenant</li>
            <li>clause to relinquish future development rights in S106 agreement</li>
            <li>NERC Act agreement</li>
            <li>explicit recognition of site in local planning documents</li>
            <li>designation as County Wildlife Site</li>
        </ul>


      <form class="form" action="check-your-answers" method="post"> 
        {{ govukTextarea({
            name: "mitigations-compensations-secured",
            id: "mitigations-compensations-secured",
            label: {
              text: "How will mitigation or compensation be secured?",
              classes: "govuk-label--m"
            }
          }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}




