{% extends "layout-pb.html" %}

{% block pageTitle %} 
Monitoring expectations
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">    

      <h1 class="govuk-heading-l">Monitoring</h1>

      <p>The minimum expectations for your post-development monitoring depend on the species of bats present at the site and the types of roost.</p>

      <h2 class="govuk-heading-m">About the minimum monitoring expectations</h2>

     <!-- Day, night, feeding and transitional roosts -->
     <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Day, night, feeding and transitional roosts
        </span>
      </summary>
      <div class="govuk-details__text">
        <!--<p>Inspect the roosts at an appropriate time of year.</p>
        <p>If bat boxes have been installed this must be within the 5-year licence period.</p>
        <p>If there are horseshoe, Bechstein's or more than 2 Barbastelle bats, you must inspect the condition and suitability of the roost at an appropriate time starting at least 2 active seasons post-development.</p>-->
        <p>Check that the monitoring and management remain before submitting a report of action taken under the licence.</p>  
        <p>If there are horseshoe, Bechstein's, Barbastelle Grey long-eared, Leisler's, Alcathoe, Serotine, or Nathusius' pipistrelle bats, check that any retained features or compensation roosts remain in place at the end of the licence period and are suitable for the intended purpose. This check can be combined with the post-development monitoring inspection.</p>
        <p>If monitoring, management or maintenance identify any issues, these should be fixed.</p>
      </div>
    </details>


    <!-- Satellite roosts -->
    <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Satellite roosts
        </span>
      </summary>
      <div class="govuk-details__text">
        <!--<p>Inspect the roosts at an appropriate time of year.</p>
        <p>If bat boxes have been installed this must be within the 5-year licence period.</p>
        <p>If there are horseshoe, Bechstein's or more than 2 Barbastelle bats, you must monitor the presence or absence of bats for 2 years, at an appropriate time of year, starting in the first activity season post-development. Inspect the condition and suitability of the roost.</p>-->
        <p>Check that any retained features or compensation roosts remain in place at the end of the licence period and are suitable for the intended purpose. This check can be combined with the post-development monitoring inspection.</p>
        <p>If monitoring, management or maintenance identify any issues, these should be fixed.</p>
      </div>
    </details>

    
    <!-- Minor hibernation roosts -->
    <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Minor hibernation roosts
        </span>
      </summary>
      <div class="govuk-details__text">
        <!--<p>Immediately after development, you must make at least one inspection. This inspection must ensure the compensation is done in line with the site registration.</p>
        <p>You must carry out at least 2 years of post-development monitoring. This should be done in the first hibernation season post-development, and then in year 3.</p>
        <p>You should get evidence that the retained roost or compensation measures are suitable for, and are used for, hibernating.</p>-->
        <p>Immediately after development, you must make at least one inspection. This inspection must ensure the compensation is done in line with the site registration.</p>
        <p>You must carry out at least 2 years of post-development monitoring. This should be done in the first hibernation season post-development, and then in year 3.</p>
        <p>You should get evidence that the retained roost or compensation measures are suitable for, and are used for, hibernating.</p>
        <p>If there are horseshoe, Bechstein's or more than 2 Barbastelle bats, your maintenance and monitoring must be done for 10 years.</p>
      </div>
    </details>
    
    
     <!-- Major hibernation roosts -->
     <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Major hibernation roosts
        </span>
      </summary>
      <div class="govuk-details__text">
        <!--<p>Immediately after development, you must make at least one inspection. This inspection must ensure the compensation is done in line with the site registration.</p>
        <p>You must carry out at least 3 years of post-development monitoring. This should be done in the first hibernation season post-development, then year 3 and then a further visit in years 5 to 10.</p>
        <p>You should get evidence that the retained roost or compensation measures are suitable for, and are used for, hibernating.</p>
        <p>Record temperature and humidity within the hibernation period using remote detectors, automated detectors or data loggers. You should also visually inspect for presence or absence - limited to two visits every month between October and March.</p>
        <p>You must monitor replacement roosts if the roost will be damaged or destroyed before development works.</p>-->
        <p>Management and maintenance must been done for at least 10 years, with the last check made in the season that the licence expires.</p>
        <p>Ensure the retained roost or compensation provided is fit for purpose, including airflow, temperature, light, humidity.</p>
        <p>Fix any issues that affect the roost's use for hibernating that are found during monitoring, management or maintenance.</p>
      </div>
    </details>


     <!-- Small or medium maternity roosts -->
     <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Small or medium maternity roosts
        </span>
      </summary>
      <div class="govuk-details__text">
        <!--<p>Immediately after development, you must make at least one inspection. This inspection must ensure the compensation is done in line with the site registration.</p>
        <p>You must carry out at least 2 years of post-development monitoring. This should be done in the first hibernation season post-development, then year 3.</p>
        <p>You should record evidence of breeding.</p>
        <p>Each monitoring year, do at least one emergence survey during the latter part of the maternity period. You must also do an emergence survey or inspection (as appropriate) after the peak maternity period when young are likely to be volant.</p>
        <p>If there are horseshoe, Bechstein's or more than 2 Barbastelle bats, you must do an additional year of monitoring at 5 to 10 years after development.</p>-->
        <p>Management and maintenance must been done for 2 years, with the last check made in the season that the licence expires.</p>
        <p>Ensure the retained roost or compensation provided is fit for purpose, including airflow, temperature, light, humidity.</p>
        <p>Fix any issues that affect the roost's use for breeding that are found during monitoring, management or maintenance.</p>
        <p>If there are horseshoe, Bechstein's or more than 2 Barbastelle bats, you maintenance and monitoring must be done for 10 years.</p>
      </div>
    </details>


    <!-- Large or very large maternity roosts -->
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Large or very large maternity roosts
        </span>
      </summary>
      <div class="govuk-details__text">
        <!--<p>Immediately after development, you must make at least one inspection. This inspection must ensure the compensation is done in line with the site registration.</p>
        <p>You must carry out at least 3 years of post-development monitoring. This should be done in the first hibernation season post-development, then year 3 and then a further visit in years 5 to 10.</p>
        <p>You should get evidence that the retained roost or compensation measures are suitable for, and are used for, breeding.</p>
        <p>Each monitoring year, do at least one emergence survey during the latter part of the maternity period. You must also do an emergence survey or inspection (as appropriate) after the peak maternity period when young are likely to be volant.</p>-->
        <p>Management and maintenance must been done for at least 10 years, with the last check made in the season that the licence expires.</p>
        <p>Ensure the retained roost or compensation provided is fit for purpose, including airflow, temperature, light, humidity.</p>
        <p>Fix any issues that affect the roost's use for breeding that are found during monitoring, management or maintenance.</p>
      </div>
    </details>

      <form class="form" action="monitoring-minimum-expectations-check" method="post"> 
        {{ govukRadios({
          name: "monitoring-minimum-expectations-check",
          fieldset: {
            legend: {
              text: "Will the monitoring you propose meet the minimum expectations?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}



        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}




