{% extends "layout-pb.html" %}

{% block pageTitle %} 
Monitoring
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">    

       
        <h1 class="govuk-heading-l">Monitoring</h1>

        <p>You need to tell us about what type of monitoring you are proposing and when you are going to do it.</p>

        <p class="govuk-!-margin-bottom-9">You can add more than one year.</p>

        <form class="form" action="maternity-monitoring-year-1" method="post">
        {{ govukRadios({
          name: "monitoring-type-check",
          fieldset: {
            legend: {
              text: "What type of monitoring are you proposing?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Monitoring within the active bat period",
              text: "Monitoring within the active bat period"
            },
            {
              value: "Hibernation monitoring",
              text: "Hibernation monitoring"
            },
            
            {
              value: "Both",
              text: "Both"
            }
          ]
        }) }}



        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}




