{% extends "layout-pb.html" %}

{% block pageTitle %} 
Explain why not meeting the minimum expectations for habitat management and site maintenance is acceptable?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">    

      <form class="form" action="mitigations-compensations-secured" method="post"> 
        {{ govukTextarea({
            name: "why-min-expectations-not-met",
            id: "why-min-expectations-not-met",
            label: {
              text: "Explain why not meeting the minimum expectations for habitat management and site maintenance is acceptable",
              classes: "govuk-label--l",
              isPageHeading: true
            }
          }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}




