{% extends "layout-pb.html" %}

{% block pageTitle %} 
View licenses and applications
{% endblock %}



{% block bodyStart %} 

{% set html %}
  <p class="govuk-body">We use some essential cookies to make this service work.</p>
  <p class="govuk-body">We’d also like to use analytics cookies so we can understand how you use the service and make improvements.</p>
{% endset %}

{% set acceptHtml %}
  <p class="govuk-body">You’ve accepted analytics cookies. You can <a class="govuk-link" href="/private-beta/guidance/cookies">change your cookie settings</a> at any time.</p>
{% endset %}

{% set rejectHtml %}
  <p class="govuk-body">You’ve rejected analytics cookies. You can <a class="govuk-link" href="/private-beta/guidance/cookies">change your cookie settings</a> at any time.</p>
{% endset %}

{{ govukCookieBanner({
  ariaLabel: "Cookies on [name of service]",
  messages: [
    {
      headingText: "Cookies on apply for and manage a wildlife licence]",
      html: html,
      hidden: true,
      actions: [
        {
          text: "Accept analytics cookies",
          type: "button"
        },
        {
          text: "Reject analytics cookies",
          type: "button"
        },
        {
          text: "View cookies",
          href: "/private-beta/guidance/cookies"
        }
      ]
    },
    {
      html: acceptHtml,
      role: "alert",
      actions: [
        {
          text: "Hide cookie message",
          type: "button",
          href: "hidden"
        }
      ]
    },
    {
      html: rejectHtml,
      role: "alert",
      hidden: true,
      actions: [
        {
          text: "Hide cookie message",
          type: "button",
          href: "hidden"
        }
      ]
    }
  ]
}) }}

{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            View licences and applications
        </h1>
        <p class="govuk-body">
            <a class="govuk-button" href="which-species">
                Apply for a licence
            </a>
        </p>
    </div>
</div>
<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		
        <table class="govuk-table responsive">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header app-custom-class">Application</th>
                    <th scope="col" class="govuk-table__header app-custom-class">Site</th>
                    <th scope="col" class="govuk-table__header app-custom-class">Reference</th>
                    <th scope="col" class="govuk-table__header app-custom-class">Status</th>
                </tr>
            </thead>
    
            
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">
                        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">
                            <a href="task-list-application-progress" class="govuk-link govuk-link--no-visited-state">Badger mitigation</a>
                        </p>
                    </th>
                    <td class="govuk-table__cell" >
                        <p class="govuk-body govuk-!-margin-bottom-2">
                        <span class="visually-hidden-desktop">Site:<br></span>
                            Belt Wood
                        </p>
                    </td>
                    <td class="govuk-table__cell" >
                        <p class="govuk-body govuk-!-margin-bottom-2">
                            <!-- <span class="visually-hidden-desktop">Reference:<br></span> -->
                            2021-12345-SPM-WLM
                        </p>
                    </td>
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag">
                            In progress
                        </strong>
                    </td>
                </tr>


                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">
                        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">
                            <a href="licence" class="govuk-link govuk-link--no-visited-state">Badger mitigation</a>
                        </p>
                    </th>
                    <td class="govuk-table__cell" >
                        <span class="visually-hidden-desktop">Site:<br></span>
                        Lower Eastside Farm
                        
                    </td>
                    <td class="govuk-table__cell" >
                        <p class="govuk-body govuk-!-margin-bottom-2">
                            <!-- <span class="visually-hidden-desktop">Reference:<br></span> -->
                            2021-09273-SPM-WLM
                        </p>
                    </td>
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--green">
                            Granted
                        </strong>
                    </td>
                </tr>
                
                
                
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">
                        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">
                            <a href="application" class="govuk-link govuk-link--no-visited-state">Badger mitigation</a>
                        </p>
                        
                    </th>
                    <td class="govuk-table__cell" >
                            <p class="govuk-body govuk-!-margin-bottom-2">
                            <span class="visually-hidden-desktop">Site:<br></span>
                            Smiths Farmyard
                            </p>
                    </td>
                    <td class="govuk-table__cell" >
                        <p class="govuk-body govuk-!-margin-bottom-2">
                            <!-- <span class="visually-hidden-desktop">Reference:<br></span> -->
                            2021-98765-EPS-MIT
                        </p>
                    </td>
                    <td class="govuk-table__cell" >
                        <strong class="govuk-tag govuk-tag--turquoise" >
                            Submitted
                        </strong>
                    </td>
                </tr>


                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">
                        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">
                            <a href="application-being-assessed" class="govuk-link govuk-link--no-visited-state">Badger mitigation</a>
                        </p>
                        
                    </th>
                    <td class="govuk-table__cell" >
                            <p class="govuk-body govuk-!-margin-bottom-2">
                            <span class="visually-hidden-desktop">Site:<br></span>
                            Garnett's Wharfe
                            </p>
                    </td>
                    <td class="govuk-table__cell" >
                        <p class="govuk-body govuk-!-margin-bottom-2">
                            <!-- <span class="visually-hidden-desktop">Reference:<br></span> -->
                            2021-34689-EPS-MIT
                        </p>
                    </td>
                    <td class="govuk-table__cell" >
                        <strong class="govuk-tag  govuk-tag--purple" >
                            Being assessed
                        </strong>
                    </td>
                </tr>


                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">
                        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">
                            <a href="licence-roa" class="govuk-link govuk-link--no-visited-state">Badger mitigation</a>
                        </p>
                        
                    </th>
                    <td class="govuk-table__cell" >
                            <p class="govuk-body govuk-!-margin-bottom-2">
                            <span class="visually-hidden-desktop">Site:<br></span>
                            Spring Wood Park
                            </p>
                    </td>
                    <td class="govuk-table__cell" >
                        <p class="govuk-body govuk-!-margin-bottom-2">
                            <!-- <span class="visually-hidden-desktop">Reference:<br></span> -->
                            2021-09273-SPM-WLM
                        </p>
                    </td>
                    <td class="govuk-table__cell" >
                        <strong class="govuk-tag govuk-tag--pink" >
                            Report of action due
                        </strong>
                    </td>
                </tr>
            </tbody>
        </table>



    </div>
</div>





{% endblock %}