{% extends "layout.html" %}

{% set serviceName = myData.serviceName %}

{% set _inError = myData.validationError == "true" %}

{% block pageTitle %} 
{% if _inError %}Error: {% endif %}TO DO
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

			{% if _inError %}
            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        {% for name, item in myData.validationErrors %}
                        <li>
                            <a href="#{{item.anchor}}">{{item.message}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}

	</div>
</div>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="POST">

            <div class="govuk-form-group {% if _inError %}govuk-form-group--error{% endif %}">
                <fieldset class="govuk-fieldset" >

                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                    <h1 class="govuk-fieldset__heading">
                        {% if myData.selectedApplication.userIsApplicant == "Yes" %}
                            What is your email address?
                        {% else %}
                            What is {{myData.selectedApplication.applicantName}}’s email address?
                        {% endif %}
                    </h1>
                  </legend>

                  <div class="govuk-form-group">
                    <label class="govuk-label" for="applicantEmail">
                      Email address
                    </label>

                    <div class="govuk-hint">
                        {% if myData.selectedApplication.userIsApplicant == "Yes" %}
                            We’ll only use this to contact you about the application.
                        {% else %}
                            We’ll only use this to contact {{myData.selectedApplication.applicantName}} about the application.
                        {% endif %}
                    </div>

                    {% if myData.validationErrors.applicantEmail %}
                    <span class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                        {{myData.validationErrors.applicantEmail.message}}
                    </span>
                    {% endif %}

                    {% set _value = myData.selectedApplication.applicantEmail %}
                    {% if myData.validationErrors.applicantEmail %}
                        {% set _value = myData.applicantEmailAnswer %}
                    {% endif %}

                    <input class="govuk-input {% if myData.validationErrors.applicantEmail %}govuk-input--error{%endif %}" id="applicantEmail" name="applicantEmail" type="email" spellcheck="false" autocomplete="email" value="{{_value}}">

                  </div>
              
                </fieldset>

              </div>

            {{govukButton({
                text: "Continue"
            })}}

        </form>

	</div>
</div>

{% endblock %}