{% extends "layout.html" %}

{% set serviceName = myData.serviceName %}

{% block pageTitle %} 
[TO DO]
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<style>
    .map-example {
        width:100%;
    }
</style>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Check your answers
        </h1>

            <dl class="govuk-summary-list">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Does the applicant own the land?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{myData.selectedApplication.landOwner}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state" href="land-owner?cya=true">
                            Change<span class="govuk-visually-hidden"></span>
                        </a>
                    </dd>
                </div>

                {% if myData.selectedApplication.landOwner == "No" %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Does the applicant have the landowner’s permission to apply?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{myData.selectedApplication.landOwnerPermission}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state" href="land-owner-permission?cya=true">
                            Change<span class="govuk-visually-hidden"></span>
                        </a>
                    </dd>
                </div>
                {% endif %}


                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Does the project need any permissions?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{myData.selectedApplication.consent}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state" href="consent?cya=true">
                            Change<span class="govuk-visually-hidden"></span>
                        </a>
                    </dd>
                </div>


                {% if myData.selectedApplication.consent == "Yes" %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Has the project got all permissions for work to start?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{myData.selectedApplication.consentGranted}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state" href="consent-granted?cya=true">
                            Change<span class="govuk-visually-hidden"></span>
                        </a>
                    </dd>
                </div>
                {% endif %}

                
            </dl>

            <form method="POST">

                <div class="govuk-form-group">
                {{govukButton({
                    text: "Confirm"
                })}}
                </div>

            </form>

	</div>
</div>

{% endblock %}