{% extends "layout.html" %}

{% set _pageID = "CD44 - Ecologist postcode" %}

{% set serviceName = myData.serviceName %}

{% set _inError = myData.validationError == "true" %}

{% block pageTitle %} 
{% if _inError %}Error: {% endif %}TO DO
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

			{% if _inError %}
            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        {% for name, item in myData.validationErrors %}
                        <li>
                            <a href="#{{item.anchor}}">{{item.message}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}

	</div>
</div>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="POST">

            <h1 class="govuk-heading-xl">
                {% if myData.selectedApplication.userIsEcologist == "Yes" %}
                    What is your contact address?
                {% else %}
                    What is {{myData.selectedApplication.ecologistName}}’s contact address?
                {% endif %}
            </h1>

            <div class="govuk-form-group {% if _inError %}govuk-form-group--error{% endif %}">

                <label class="govuk-label" for="ecologistPostcode">
                    Postcode
                </label>

                {% if _inError %}
                <span id="ecologistPostcode-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>
                    {{myData.validationErrors.ecologistPostcode.message}}
                </span>
                {% endif %}

                {% set _value = myData.selectedApplication.ecologistPostcode %}
                {% if _inError %}
                    {% set _value = myData.ecologistPostcodeAnswer %}
                {% endif %}

                <input class="govuk-input govuk-input--width-10 {% if _inError %}govuk-input--error{%endif %}" id="ecologistPostcode" name="ecologistPostcode" type="text" value="{{_value}}">

            </div>

            <p class="govuk-body">
                <a class="govuk-link govuk-link--no-visited-state" href="ecologist-address-form?ecologistHasPostcode=false">
                    The address doesn’t have a postcode
                </a>
            </p>

            {{govukButton({
                text: "Find address"
            })}}

        </form>

	</div>
</div>

{% endblock %}