{% extends "layout.html" %}

{% set serviceName = myData.serviceName %}

{% set _habitatsCount = myData.selectedApplication.habitats.length %}

{% set _habitat = "roost" %}
{% set _species = "bat" %}
{% if myData.selectedApplication.type == "a24" %}
    {% set _habitat = "sett" %}
    {% set _species = "badger" %}
{% endif %}

{% block pageTitle %} 
Tell us about each {{_species}} {{_habitat}} the work will affect
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

        <form method="POST">

            <h1 class="govuk-heading-xl">
                Tell us about each {{_species}} {{_habitat}} the work will affect
            </h1>

            <!-- Bats only -->
            {% if myData.selectedApplication.type == "a13" %}
            <p class="govuk-body">To be a single roost, the roosting location must be:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>used by the same species</li>
                <li>within the same building</li>
            </ul>
            {% endif %}

            <p class="govuk-body">You can add more than one {{_habitat}}.</p>

            {% if _habitatsCount == 0 %}
                {% set _buttonText = "Add the first " + _habitat %}
            {% else %}
                {% set _buttonText = "Add another " + _habitat %}
            {% endif %}

            {{govukButton({
                text: _buttonText
            })}}

        </form>

	</div>
</div>


{% endblock %}