{% extends "layout-pb.html" %}



{% block pageTitle %} 
Do you want to add an authorised person?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}





  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="add-person" method="post">



        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Do you want to add an authorised person?
              </h1>
            </legend>
            <p>This is a person who will be responsible for everything done under the licence.</p>
            <p>It does not include any assistants who will work under the direct supervision of the licence holder or any authorised people.</p>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="add-person-check" name="add-person-check" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="add-person-check">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="add-person-check-2" name="add-person-check" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="add-person-check-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>


      

      
    
    </div>
  </div>

{% endblock %}
