{% extends "layout-pb.html" %}

{% block pageTitle %} 
Check your answers
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Check your answers</h1>

      <h2 class="govuk-heading-m">Authorised person</h2>

      <p><a href="are-you-sure">Remove {{ data['authorised-name'] }}</a></p>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['authorised-name'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="add-person">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Organisation
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['authorised-name-organisation-name'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="add-person">
              Change<span class="govuk-visually-hidden"> organisation</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['authorised-email-address'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="add-person">
              Change<span class="govuk-visually-hidden"> email address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['applicantAddress'] }}<br>
            Leeds<br>
            {{ data['postcode'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="add-person">
              Change<span class="govuk-visually-hidden"> contact address</span>
            </a>
          </dd>
        </div>
        
      </dl>


      <h2 class="govuk-heading-m">Authorised person</h2>
      <p><a href="are-you-sure-2">Remove {{ data['authorised-name-2'] }}</a></p>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['authorised-name-2'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="add-person">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Organisation
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['authorised-name-2-organisation-name'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="add-person">
              Change<span class="govuk-visually-hidden"> organisation</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['applicantAddress'] }}<br>
            Leeds<br>
            {{ data['postcode'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="add-person">
              Change<span class="govuk-visually-hidden"> contact address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['authorised-email-address-2'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="add-person">
              Change<span class="govuk-visually-hidden"> email address</span>
            </a>
          </dd>
        </div>
        
      </dl>


      <form class="form" action="add-another-authorised-person" method="post">

        {{ govukRadios({
          idPrefix: "add-another-authorised-person-check",
          name: "add-another-authorised-person-check",
          fieldset: {
            legend: {
              text: "Do you want to add another authorised person?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </form>
    </div>
  </div>

{% endblock %}
