{% extends "layout-pb.html" %}

{% block pageTitle %} 
View licences and applications
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            View licences and applications
        </h1>
        <p class="govuk-body">
            <a class="govuk-button" href="which-species">
                Apply for a licence
            </a>
        </p>
    </div>
</div>
<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		
        <table class="govuk-table responsive">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header app-custom-class">Application</th>
                    <th scope="col" class="govuk-table__header app-custom-class">Site</th>
                    <th scope="col" class="govuk-table__header app-custom-class">Reference</th>
                    <th scope="col" class="govuk-table__header app-custom-class">Status</th>
                </tr>
            </thead>
    
            
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">
                        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">
                            <a href="task-list-application-progress" class="govuk-link govuk-link--no-visited-state">Badger mitigation</a>
                        </p>
                    </th>
                    <td class="govuk-table__cell" >
                        <p class="govuk-body govuk-!-margin-bottom-2">
                        <span class="visually-hidden-desktop">Site:<br></span>
                            Belt Wood
                        </p>
                    </td>
                    <td class="govuk-table__cell" >
                        <p class="govuk-body govuk-!-margin-bottom-2">
                            <!-- <span class="visually-hidden-desktop">Reference:<br></span> -->
                            2021-12345-SPM-WLM
                        </p>
                    </td>
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag">
                            In progress
                        </strong>
                    </td>
                </tr>


                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">
                        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">
                            <a href="licence" class="govuk-link govuk-link--no-visited-state">Badger mitigation</a>
                        </p>
                    </th>
                    <td class="govuk-table__cell" >
                        <span class="visually-hidden-desktop">Site:<br></span>
                        Lower Eastside Farm
                        
                    </td>
                    <td class="govuk-table__cell" >
                        <p class="govuk-body govuk-!-margin-bottom-2">
                            <!-- <span class="visually-hidden-desktop">Reference:<br></span> -->
                            2021-09273-SPM-WLM
                        </p>
                    </td>
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--green">
                            Granted
                        </strong>
                    </td>
                </tr>
                
                
                
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">
                        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">
                            <a href="application" class="govuk-link govuk-link--no-visited-state">Badger mitigation</a>
                        </p>
                        
                    </th>
                    <td class="govuk-table__cell" >
                            <p class="govuk-body govuk-!-margin-bottom-2">
                            <span class="visually-hidden-desktop">Site:<br></span>
                            Smiths Farmyard
                            </p>
                    </td>
                    <td class="govuk-table__cell" >
                        <p class="govuk-body govuk-!-margin-bottom-2">
                            <!-- <span class="visually-hidden-desktop">Reference:<br></span> -->
                            2021-98765-EPS-MIT
                        </p>
                    </td>
                    <td class="govuk-table__cell" >
                        <strong class="govuk-tag govuk-tag--grey" >
                            Submitted
                        </strong>
                    </td>
                </tr>


                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">
                        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">
                            <a href="application-being-assessed" class="govuk-link govuk-link--no-visited-state">Badger mitigation</a>
                        </p>
                        
                    </th>
                    <td class="govuk-table__cell" >
                            <p class="govuk-body govuk-!-margin-bottom-2">
                            <span class="visually-hidden-desktop">Site:<br></span>
                            Garnett's Wharfe
                            </p>
                    </td>
                    <td class="govuk-table__cell" >
                        <p class="govuk-body govuk-!-margin-bottom-2">
                            <!-- <span class="visually-hidden-desktop">Reference:<br></span> -->
                            2021-34689-EPS-MIT
                        </p>
                    </td>
                    <td class="govuk-table__cell" >
                        <strong class="govuk-tag  govuk-tag--purple" >
                            Being assessed
                        </strong>
                    </td>
                </tr>


                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">
                        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">
                            <a href="licence" class="govuk-link govuk-link--no-visited-state">Badger mitigation</a>
                        </p>
                        
                    </th>
                    <td class="govuk-table__cell" >
                            <p class="govuk-body govuk-!-margin-bottom-2">
                            <span class="visually-hidden-desktop">Site:<br></span>
                            Spring Wood Park
                            </p>
                    </td>
                    <td class="govuk-table__cell" >
                        <p class="govuk-body govuk-!-margin-bottom-2">
                            <!-- <span class="visually-hidden-desktop">Reference:<br></span> -->
                            2021-09273-SPM-WLM
                        </p>
                    </td>
                    <td class="govuk-table__cell" >
                        <strong class="govuk-tag govuk-tag--pink" >
                            REPORT OF ACTION DUE
                        </strong>
                    </td>
                </tr>
            </tbody>
        </table>



    </div>
</div>


{% endblock %}