{% extends "layout-pb-signed-out.html" %}

{% block pageTitle %} 
You’re eligible to apply for a licence
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
        <h1 class="govuk-heading-l">
            You’re eligible to apply for a licence
        </h1>

        <p class="govuk-body">You can save your application and return to it later.</p>


        {{ govukButton({
            text: "Continue",
            href: "task-list"
          }) }}


    </div>
  </div>

{% endblock %}
