{% extends "layout-pb-signed-out.html" %}

{% block pageTitle %} 
    Apply for and manage licences to affect badger setts as part of development 
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            Apply for and manage licences to affect badger setts as part of development
        </h1>

        <p class="govuk-body">Use this service to apply for a licence to interfere with badger setts as part of development work. You can also use the service to manage these licences and report action you have taken under the licence.</p>

        <p class="govuk-body">Development work covered by this licence includes:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>housing developments</li>
            <li>laying pipelines</li>
            <li>building new fences</li>
        </ul>

        <p class="govuk-body">You can only apply if:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>you have the landowner's permission for the development work</li>
            <li>the project has got all permissions for work to start (for example, planning permission or listed building consent)
            </li>
        </ul>
        
        <p class="govuk-body">To be granted a licence to carry out work that affects badger setts, you must:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>explain how the proposed development work will interfere with the badger setts</li>
            <li>explain how you’ll carry out any work to mitigate the impact of the development on badgers</li>
            <li>include copies of documents that demonstrate the work you intend to do</li>
        </ul>

        <p class="govuk-body">The decision on whether to grant a licence should be made within 30 working days of Natural England receiving your application.</p>

        <h2 class="govuk-heading-m">Paying for a licence</h2>
        <p class="govuk-body">You will need to pay for this licence, unless your project is exempt or a charge does not apply to your activity. The information you give when using the service will allow Natural England to decide:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>whether you need to pay for the licence</li>
            <li>how much you’ll pay for the licence</li>
        </ul>

        <p class="govuk-body">You can enter a purchase order number in the service.</p>

        <p class="govuk-body">If Natural England decides that you need to pay for a licence, it will send you an invoice and details of how to pay.</p>

        <p class="govuk-body">Read the <a href="https://www.gov.uk/government/publications/terms-and-conditions-for-paying-for-a-wildlife-licence">terms and conditions for paying for a wildlife licence</a>.</p>


       
  
        
        <h2 class="govuk-heading-m">Before you start</h2>
        
        <p class="govuk-body">You will need:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>a Government Gateway account</li>
            <li>a Defra account</li>
            <li>details of who will be responsible for the development work and will hold the licence</li>
            <li>to be authorised to apply for the person who will hold the licence, if you are applying on their behalf</li>
            <li>details of an ecologist experienced in carrying out mitigation work to minimise the effects on wildlife</li>
            <li>a survey carried out by an ecologist, including precise mapping of the affected badger setts before, during and after development work</li>
            <li>a statement setting out the methods that will be used to minimise harm to or disturbance of the badgers</li>
        </ul>

        <p class="govuk-body">If you need to apply for a licence but are unable to use digital services, email <a href="">xxxxx@assisted_digital_email</a>.</p>

        <a href="defra-id-signin" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
            Start now
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false"><path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" /></svg>
        </a>

        <h2 class="govuk-heading-m">Existing applications and licences</h2>

        <p class="govuk-body">You can <a href="defra-id-signin">sign in to your Defra account</a> view your granted licences or continue an existing licence application.</li>
        </ul>

        <h2 class="govuk-heading-m">Reporting action taken under the licence</h2>

        <p class="govuk-body">You can use this service to send a report of action taken under a licence.</p>
        <p class="govuk-body">You must submit a report of action taken under the licence within 14 working days of a licence expiring. You must submit a report of action even if you did not do any of the activities you were licensed to carry out.</p>

     

     
      

        <!--<h1 class="govuk-heading-l">
            Apply for a licence to affect badger setts
        </h1>

        <p class="govuk-body">You can only apply if:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>you have the landowner's permission</li>
            <li>the project has got all permissions for work to start (for example, planning permission or listed building consent)</li>
        </ul>

        <p>To be granted a licence to carry out the mitigation work, you must:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>explain how the proposed development work will interfere with the badger setts</li>
            <li>explain how you’ll carry out any mitigation work</li>
            <li>include copies of documents that demonstrate the work</li>
        </ul>
        
        <p>The decision on whether to issue a licence should be made within 30 working days of receiving your application and supporting documents.</p>

        <p>You will need to report the actions to show your compliance with the licence after you have carried out the work. Find out about <a href="https://www.gov.uk/government/publications/badgers-licence-to-interfere-with-setts-for-development-purposes#report-your-actions">reporting your compliance with a wildlife licence</a>.</p>
        
        <p>You may also need to pay for this licence. Find out about <a href="https://www.gov.uk/government/publications/badgers-licence-to-interfere-with-setts-for-development-purposes#when-you-need-to-pay">paying for a wildlife licence</a>.</p>
        
        
        <h2 class="govuk-heading-m">Before you start</h2>
        
        <p class="govuk-body">You will need:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>details of who will be responsible for the development work and will hold the licence</li>
            <li>to be authorised to apply for the person who will hold the licence, if you are applying on their behalf</li>
            <li>details of an ecologist experienced in carrying out mitigation work to minimise the effects on wildlife</li>
            <li>a survey carried out by an ecologist, including precise mapping of the affected badger setts</li>
            <li>a statement setting out the methods that will be used to minimise harm to or disturbance of the badgers</li>
        </ul>


        <a href="#" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
            Start now
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false"><path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" /></svg>
        </a>

        <h2 class="govuk-heading-m">Existing licences and applications</h2>

        <p class="govuk-body">View your granted licences, existing applications, or continue an application you already started.</p>

        <form method="POST">
            {{govukButton({
                text: "View licences and applications",
                href: "defra-id-signin"
            })}}
        </form>-->




    </div>
  </div>

{% endblock %}
