{% extends "layout-pb.html" %}

{% block pageTitle %} 
Check your answers
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="authorised-people-summary" method="post">
      <h1 class="govuk-heading-xl">Check your answers</h1>

      <h2 class="govuk-heading-m">Authorised person</h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['authorised-name'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="add-person">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['authorised-email-address'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="add-person">
              Change<span class="govuk-visually-hidden"> email address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['applicantAddress'] }}<br>
            Leeds<br>
            {{ data['postcode'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="add-person">
              Change<span class="govuk-visually-hidden"> contact address</span>
            </a>
          </dd>
        </div>
        
      </dl>


      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
    </div>
  </div>

{% endblock %}
