{% extends "layout-pb.html" %}



{% block pageTitle %} 
Error: Are you sure you want to remove Andy Smith?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: "You have not selected an option",
                href: "#remove-person-check"
              }
            ]
          }) }}


      <form class="form" action="are-you-sure" method="post">
        {{ govukRadios({
          idPrefix: "remove-person-check",
          name: "remove-person-check",
          fieldset: {
            legend: {
              html: "Are you sure you want to remove Andy Smith?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          errorMessage: {
            text: "Select an option"
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      
    
    </div>
  </div>

{% endblock %}
