{% extends "layout-pb.html" %}

{% block pageTitle %} 
Do you want to add a map of the site showing the mitigations after development?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Add a map of the site showing the mitigations after development
      </h1>

      <p>You can add a map of the site showing the mitigations after development. You can skip this if the information is in your main map. </p>

      <p>
        You can upload:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          GeoJSON files
        </li>
        <li>
          KML files
        </li>
        <li>
          Shape files
        </li>
        <li>
          PDF, jpg or PNG files (if these are used, your application may take longer to process)
        </li>
      </ul>

      <p>The file must be smaller than 30MB.</p>

      <form class="form" action="site-grid-ref" method="post">

        {% set uploadHtml %}
            {{ govukFileUpload({
                id: "file-upload-3",
                name: "file-upload-3",
                label: {
                text: "Upload a file"
                }
            }) }}
        {% endset -%}


        {{ govukRadios({
        idPrefix: "contact",
        name: "contact",
        fieldset: {
            legend: {
            text: "Do you want to add a map of the site showing the mitigations after development?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
            }
        },
        items: [
            {
            value: "yes",
            text: "Yes",
            conditional: {
                html: uploadHtml
            }
            },
            {
            value: "no",
            text: "No, this information is included in my main map"
            }
        ]
        }) }}


        {{ govukButton({
            text: "Continue"
          }) }}
        </form>

    </div>
  </div>

{% endblock %}
