{% extends "layout-pb.html" %}

{% block pageTitle %} 

    Error: What is Jim Doe's phone number at ABC Ecology?

{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: "Enter a phone number",
                href: "#alternate-ecologist-phone-number"
              }
            ]
          }) }}
      
      <form class="form" action="check-your-answers" method="post">
        <div class="govuk-form-group govuk-form-group--error">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="alternate-ecologist-phone-number">
              
                What is Jim Doe's phone number at ABC Ecology?
              
            </label>
          </h1>
          <div id="telephone-number-hint" class="govuk-hint">
            For international numbers include the country code.
          </div>
          <p id="address-town-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter a phone number
          </p>
          <input class="govuk-input govuk-input--width-20" id="alternate-ecologist-phone-number" name="alternate-ecologist-phone-number" type="tel" autocomplete="tel">
        </div>
        
          {{ govukButton({
            text: "Continue"
          }) }}
      </form>

      
    
    </div>
  </div>

{% endblock %}
