{% extends "layout-pb.html" %}

{% block pageTitle %} 
Error: Is Jim Doe part of an organisation?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "Select an option",
            href: "#alternate-ecologist-organisation-check"
          }
        ]
      }) }}
      
      <form class="form" action="postcode" method="post">

      {% set organisationHtml %}
      {{ govukInput({
        id: "alternate-ecologist-organisation-name",
        name: "alternate-ecologist-organisation-name",
        label: {
          text: "Name of organisation"
        }
      }) }}
      {% endset -%}

      {{ govukRadios({
        idPrefix: "alternate-ecologist-organisation-check",
        name: "alternate-ecologist-organisation-check",
        fieldset: {
          legend: {
            html: "Is Jim Doe part of an organisation?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        errorMessage: {
          text: "Select an option"
        },
        items: [
          {
            value: "Yes",
            text: "Yes",
            conditional: {
              html: organisationHtml
            }
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}
        
          {{ govukButton({
            text: "Continue"
          }) }}
      </form>

      
    </div>
  </div>

{% endblock %}
