{% extends "layout-pb.html" %}

{% block pageTitle %} 

  
    {% if data['alternate-ecologist-organisation-check'] == 'Yes' %}

      What is {{ data['alternate-ecologist-name'] }}'s contact address at {{ data['alternate-ecologist-organisation-name'] }}?

    {% else %}

      What is {{ data['alternate-ecologist-name'] }}'s contact address?

    {% endif %}


{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form class="form" action="email-address" method="post">
        
       
        
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-heading-l">
              
              {% if data['alternate-ecologist-organisation-check'] == 'Yes' %}

                What is {{ data['alternate-ecologist-name'] }}'s contact address at {{ data['alternate-ecologist-organisation-name'] }}?

              {% else %}

                What is {{ data['alternate-ecologist-name'] }}'s contact address?

              {% endif %}

            </h1>
          </legend>
        

          
          
          <div class="govuk-form-group ">
            <label class="govuk-label" for="alternate-ecologist-address1">
              Building and street <span class="govuk-visually-hidden">line 1 of 2</span>
            </label>
              
            <input class="govuk-input " id="alternate-ecologist-address1" name="alternate-ecologist-address1" type="text" autocomplete="address-line1" value="">
          </div>
        
          
          
          <div class="govuk-form-group ">
            <label class="govuk-label" for="alternate-ecologist-address2">
              <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
            </label>
            
            <input class="govuk-input " id="alternate-ecologist-address2" name="alternate-ecologist-address2" type="text" autocomplete="address-line2" value="">
          </div>
        
          
          
          <div class="govuk-form-group ">
            <label class="govuk-label" for="alternate-ecologist-address3">
              Town or city
            </label>
            
            <input class="govuk-input govuk-!-width-two-thirds " id="alternate-ecologist-address3" name="alternate-ecologist-address3" type="text" autocomplete="address-level2" value="">
          </div>
        
          
          
          <div class="govuk-form-group ">
            <label class="govuk-label" for="alternate-ecologist-address4">
              County
            </label>
            
            <input class="govuk-input govuk-!-width-two-thirds " id="alternate-ecologist-address4" name="alternate-ecologist-address4" type="text" value=""></div>
        
          
        
        </fieldset>
        
          {{ govukButton({
            text: "Continue"
          }) }}
      </form>

      
    
    </div>
  </div>

{% endblock %}
