{% extends "layout-pb.html" %}


{% block pageTitle %} 
Error: Do you want to add an alternate ecologist?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: "Select an option",
                href: "#add-alternate-ecologist-check"
              }
            ]
          }) }}
          
      <form class="form" action="add-alternate-ecologist-check" method="post">
        {{ govukRadios({
          idPrefix: "add-alternate-ecologist-check",
          name: "add-alternate-ecologist-check",
          fieldset: {
            legend: {
              text: "Do you want to add an alternate ecologist?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "This person will not hold the licence, but will receive messages about this application."
          },
          errorMessage: {
            text: "Select an option"
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      
    
    </div>
  </div>

{% endblock %}
