{% extends "layout-pb.html" %}

{% block pageTitle %} 
What is {{ data['alternate-ecologist-name'] }}'s phone number?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form class="form" action="check-your-answers" method="post">
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="alternate-applicant-phone-number">
              What is {{ data['alternate-ecologist-name'] }}'s phone number?
            </label>
          </h1>
          <input class="govuk-input" id="alternate-ecologist-phone-number" name="alternate-ecologist-phone-number" type="tel" autocomplete="tel">
        </div>
        
          {{ govukButton({
            text: "Continue"
          }) }}
      </form>

      
    
    </div>
  </div>

{% endblock %}
