{% extends "layout.html" %}

{% block pageTitle %} 
[TO DO]
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-link.html" %}
{% endblock %}

{% set _roosts = myData.selectedApplication.roosts %}
{% set _roostsCount = _roosts.length %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">
				Check your answers
			</h1>
    
            <h2 class="govuk-heading-l">Roosts you’ve added</h2>
    
            {% for _roost in _roosts %}
            <h2 class="govuk-heading-m">Roost {{loop.index}}</h2>
            <p class="govuk-body">
                <a class="govuk-link govuk-link--no-visited-state" href="roost-remove?roostToRemove={{_roost.id}}">
                    Remove roost<span class="govuk-visually-hidden"> {{loop.index}}</span>
                </a>
            </p>
            <dl class="govuk-summary-list">

                <!-- Bat species -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Bat species
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% for _bat in _roost.bats %}
                            {{_bat.name}}{% if loop.last != true %}<br>{% endif %}
                        {% endfor %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state" href="species-bat?roost={{_roost.id}}">
                            Change<span class="govuk-visually-hidden"> bat species</span>
                        </a>
                    </dd>
                </div>

                <!-- Existing number of bats -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Existing number of bats
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% for _bat in _roost.bats %}
                            {{_bat.numberUsing}} {{_bat.name}}{% if loop.last != true %}<br>{% endif %}
                        {% endfor %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state" href="numbers-bat?roost={{_roost.id}}">
                            Change<span class="govuk-visually-hidden"> existing number of bats</span>
                        </a>
                    </dd>
                </div>

                <!-- Number of bats when your activity will affect them -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Number of bats when your activity will affect them
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% for _bat in _roost.bats %}
                            {{_bat.numberIn}} {{_bat.name}}{% if loop.last != true %}<br>{% endif %}
                        {% endfor %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state" href="numbers-bat?roost={{_roost.id}}">
                            Change<span class="govuk-visually-hidden"> number of bats when your activity will affect them</span>
                        </a>
                    </dd>
                </div>

                <!-- Roost use -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        What the bats use the roost for
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% for _bat in _roost.bats %}
                            {{_bat.name}}:<br>
                            <ul class="govuk-list govuk-list--bullet">
                            {% for _batRoostUse in _bat.roostUses %}
                            <li>{{_batRoostUse.name}}</li>
                            {% endfor %}
                            </ul>
                        {% endfor %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state" href="using-roost?roost={{_roost.id}}">
                            Change<span class="govuk-visually-hidden"> what the bats use the roost for</span>
                        </a>
                    </dd>
                </div>

                <!-- Roost activities -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Affect on roost
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if _roost.activity.id == '_roostActivity-3' %}
                            None
                        {% else %}
                            {{_roost.activity.name}}<br>
                            <ul class="govuk-list govuk-list--bullet">
                                {% for _roostActivityMethod in _roost.activity.methods %}
                                    <li>{{_roostActivityMethod.name}}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state" href="activities-roost?roost={{_roost.id}}">
                            Change<span class="govuk-visually-hidden"> affect on roost</span>
                        </a>
                    </dd>
                </div>

                <!-- Bat activities -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        How will you affect the bats?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% for _bat in _roost.bats %}
                            {{_bat.name}}:<br>

                            <ul class="govuk-list govuk-list--bullet">
                            {% for _batActivity in _bat.activities %}
                                <li>{{_batActivity.name}}</li>
                            {% endfor %}
                            </ul>

                        {% endfor %}

                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state" href="activities-bat?roost={{_roost.id}}">
                            Change<span class="govuk-visually-hidden"> how will you affect the bats</span>
                        </a>
                    </dd>
                </div>
            
            </dl>
            {% endfor %}

            <form method="POST">
                {{govukButton({
                    text: "Add another roost",
                    classes: 'govuk-button--secondary govuk-!-margin-bottom-9'
                })}}
                <input type="hidden" value="yes" name="addRoost">
            </form>
    
            <h2 class="govuk-heading-l">Now send your application</h2>

            <p class="govuk-body">By sending your application, you are confirming that the details you have included are correct as far as you know.</p>

            <form method="POST">
                {{govukButton({
                    text: "Send application"
                })}}
                <input type="hidden" value="yes" name="addApplication">
            </form>

	</div>
</div>

{% endblock %}