{% extends "layout.html" %}

{% set _inError = myData.validationError == "true" %}

{% block pageTitle %} 
{% if _inError %}Error: {% endif %}How many bats are using the roost?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% if _inError %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for name, item in myData.validationErrors %}
                    <li>
                        <a href="#{{item.anchor}}">{{item.message}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        <h1 class="govuk-heading-xl">
            How many bats are using the roost?
        </h1>

		<form method="POST">


            <div class="govuk-form-group" >
                <h2 class="govuk-heading-m">Existing number of bats</h2>
                <!--Then all species-->
                {% for _bat in myData.selectedRoost.bats %}
                    {% set _batID = _bat.id %}
                    {% set _numberUsingTemp = myData['numberUsingTemp' + _batID] %}
                    {% set _numberUsingName = 'numberUsing' + _bat.id %}
                    {% set _valueNumberUsing = _bat.numberUsing %}

                    {% if _inError %}
                        {% set _valueNumberUsing = _numberUsingTemp %}
                    {% endif %}

                    <!-- Number using -->
                    <div class="govuk-form-group {% if myData.validationErrors[_numberUsingName] %}govuk-form-group--error{% endif %}">
                        <h1 class="govuk-label-wrapper">
                            <label class="govuk-label" for="numberUsing{{_batID}}">
                                {{_bat.name}} bat
                            </label>
                        </h1>
                        {% if myData.validationErrors[_numberUsingName] %}
                        <span id="orgNameAnswer-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span>
                            {{myData.validationErrors[_numberUsingName].message}}
                        </span>
                        {% endif %}
                        <input class="govuk-input govuk-input--width-5" id="{{_numberUsingName}}" name="{{_numberUsingName}}" type="text" spellcheck="false" pattern="[0-9]*" inputmode="numeric" value="{{_valueNumberUsing}}">
                    </div>

                {% endfor %}
            </div>


            <div class="govuk-form-group" >
                <h2 class="govuk-heading-m">Number of bats when your activity will affect them</h2>
                <!--Then all species-->
                {% for _bat in myData.selectedRoost.bats %}
                    {% set _batID = _bat.id %}
                    {% set _numberInTemp = myData['numberInTemp' + _batID] %}
                    {% set _numberInName = 'numberIn' + _bat.id %}
                    {% set _valueNumberIn = _bat.numberIn %}

                    {% if _inError %}
                        {% set _valueNumberIn = _numberInTemp %}
                    {% endif %}

                    <div class="govuk-form-group {% if myData.validationErrors[_numberInName] %}govuk-form-group--error{% endif %}">
                        <h1 class="govuk-label-wrapper">
                            <label class="govuk-label" for="numberIn{{_batID}}">
                                {{_bat.name}} bat
                            </label>
                        </h1>
                        {% if myData.validationErrors[_numberInName] %}
                        <span id="orgNameAnswer-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span>
                            {{myData.validationErrors[_numberInName].message}}
                        </span>
                        {% endif %}
                        <input class="govuk-input govuk-input--width-5" id="{{_numberInName}}" name="{{_numberInName}}" type="text" spellcheck="false" pattern="[0-9]*" inputmode="numeric" value="{{_valueNumberIn}}">
                    </div>



                {% endfor %}
            </div>
		
            {{govukButton({
                text: "Continue"
            })}}

        </form>

	</div>
</div>


{% endblock %}

{% block pageScripts %}
{% endblock pageScripts %}