{% extends "layout-pb.html" %}

{% block pageTitle %} 
What is the artificial sett's grid reference
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

{% if data['active-holes'] == '0' %}
<script>
    window.location.href = 'active-sett-dropout'
</script>
{% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="check-your-answers-artificial-sett" method="post"> 
        {{ govukInput({
          label: {
            text: "What was the artificial sett's grid reference?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "For example, NY395557. Use the grid reference for the central point of the artificial sett if it had more than one entrance."
          },
          classes: "govuk-input--width-10",
          id: "artificial-sett-grid-ref",
          name: "artificial-sett-grid-ref"
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
      
    
    </div>
  </div>

{% endblock %}
