{% extends "layout-pb.html" %}

{% block pageTitle %} 
Check your answers
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l">Check your answers</h2>

      <dl class="govuk-summary-list">



        
        
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Did the actions taken under the licence mean that the development could start?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['achieve-purpose-check'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> did the actions taken under the licence mean that the development could start?</span>
              </a>
            </dd>
          </div>
          {% if data['achieve-purpose-check'] == 'No' %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Why could the development not start?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['why-not-achieved'] }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> why could the development not start?</span>
                    </a>
                  </dd>
                </div>
              {% endif %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Did you complete the licensed work between 17 June 2023 and 22 July 2023?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['complete-between-dates-check'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> did you complete the licensed work between 17 June 2023 and 22 July 2023?</span>
            </a>
          </dd>
        </div>

            {% if data['complete-between-dates-check'] == 'No' %}

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    When did you start the work?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['work-start-date-day'] + " " + data['work-start-date-month'] | toMonth + " " + data['work-start-date-year'] }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> when did you start the work?</span>
                    </a>
                  </dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    When did you finish the work?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['work-end-date-day'] + " " + data['work-end-date-month'] | toMonth + " " + data['work-end-date-year'] }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> when did you finish the work?</span>
                    </a>
                  </dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Why was the work not completed between 17 June 2023 and 22 July 2023?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['why-work-not-between-dates'] }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> why was the work not completed between 17 June 2023 and 22 July 2023?</span>
                    </a>
                  </dd>
                </div>

            {% endif %}


            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Did you obstruct any sett entrances by means of one way gates?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['licensed-action-1-check'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> Did you obstruct any sett entrances by means of one way gates?</span>
                </a>
              </dd>
            </div>
            {% if data['licensed-action-1-check'] == 'Yes' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Describe the work that was done
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['work-done-action-1'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> describe the work that was done</span>
                  </a>
                </dd>
              </div>
            {% endif %}
            {% if data['licensed-action-1-check'] == 'No' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Describe why you did not do this licensed activity
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['work-not-done-action-1'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> describe why you did not do this licensed activity</span>
                  </a>
                </dd>
              </div>
            {% endif %}



            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Did you obstruct access to any sett entrances by blocking or proofing?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['licensed-action-2-check'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> did you obstruct access to any sett entrances by blocking or proofing?</span>
                </a>
              </dd>
            </div>
            {% if data['licensed-action-2-check'] == 'Yes' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Describe the work that was done
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['work-done-action-2'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> describe the work that was done</span>
                  </a>
                </dd>
              </div>
            {% endif %}
            {% if data['licensed-action-2-check'] == 'No' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Describe why you did not do this licensed activity
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['work-not-done-action-2'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> describe why you did not do this licensed activity</span>
                  </a>
                </dd>
              </div>
            {% endif %}



            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Did you damage any sett by hand and mechanical means?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['licensed-action-3-check'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> did you damage any sett by hand and mechanical means?</span>
                </a>
              </dd>
            </div>
            {% if data['licensed-action-3-check'] == 'Yes' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Describe the work that was done
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['work-done-action-3'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> describe the work that was done</span>
                  </a>
                </dd>
              </div>
            {% endif %}
            {% if data['licensed-action-3-check'] == 'No' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Describe why you did not do this licensed activity
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['work-not-done-action-3'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> describe why you did not do this licensed activity</span>
                  </a>
                </dd>
              </div>
            {% endif %}


            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Did you destroy any of the vacant setts by hand and mechanical means?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['licensed-action-4-check'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> did you destroy any of the vacant setts by hand and mechanical means??</span>
                </a>
              </dd>
            </div>
            {% if data['licensed-action-4-check'] == 'Yes' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Describe the work that was done
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['work-done-action-4'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> describe the work that was done</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  When did you start destroying the vacant setts?
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['destruction-date-start-day'] + " " + data['destruction-date-start-month'] | toMonth + " " + data['destruction-date-start-year'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> when did you start destroying the vacant setts?
                    </span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  When did you finish destroying the vacant setts?
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['destruction-date-finish-day'] + " " + data['destruction-date-finish-month'] | toMonth + " " + data['destruction-date-finish-year'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> when did you finish destroying the vacant setts?
                    </span>
                  </a>
                </dd>
              </div>
            {% endif %}
            {% if data['licensed-action-4-check'] == 'No' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Describe why you did not do this licensed activity
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['work-not-done-action-4'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> describe why you did not do this licensed activity</span>
                  </a>
                </dd>
              </div>
            {% endif %}


            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Did you find evidence that badgers were disturbed by your licensed activity?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['licensed-action-5-check'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> did you disturb badgers?</span>
                </a>
              </dd>
            </div>
            {% if data['licensed-action-5-check'] == 'Yes' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Describe the evidence you have that badgers were disturbed
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['work-done-action-5'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> describe the evidence you have that badgers were disturbed
                    </span>
                  </a>
                </dd>
              </div>
            {% endif %}
            


          
       
      </dl>



      
      <form class="form" action="task-list-2" method="post">


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    
    </div>
  </div>

{% endblock %}
