{% extends "layout-pb.html" %}

{% block pageTitle %} 
Licence compliance
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% set YesHtml %}
        {{ govukTextarea({
            name: "why-not-conditions",
            id: "why-not-conditions",
            label: {
              text: "Describe which licence conditions were not complied with and what factors caused this"
            }
          }) }} 
        {% endset -%}


        <h1 class="govuk-heading-l">Licence compliance</h1>

        <p>There may have been factors outside your control that meant you could not comply with the licence.</p>
        <p>Natural England wants to understand which licence conditions are difficult to comply with. This will help Natural England to issue licences with more appropriate conditions in future.</p>
        <!--<p>You will not be prosecuted for the information that you give here, but you may be asked for further information.</p>-->

      <form class="form" action="welfare-concerns" method="post">
        {{ govukRadios({
          idPrefix: "conditions-check",
          name: "conditions-check",
          fieldset: {
            legend: {
              text: "Were there any factors outside of your control that meant you could not comply with all the conditions of the licence?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              conditional: {
                  html: YesHtml
              }
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      
    
    </div>
  </div>

{% endblock %}
