{% extends "layout-pb.html" %}

{% block pageTitle %} 
Error: Did you destroy any sett?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: "You have not selected an option",
                href: "#licensed-action-4-check"
              }
            ]
          }) }}

        {% set workHtml %}
        {{ govukTextarea({
            name: "work-done-action-4",
            id: "work-done-action-4",
            label: {
              text: "Briefly describe the work that destroyed the setts. You can upload a report on sett destruction."
            }
          }) }} 
        {% endset -%}

        {% set whynotHtml %}
        {{ govukTextarea({
            name: "work-not-done-action-4",
            id: "work-not-done-action-4",
            label: {
              text: "Describe why you did not do this licensed activity"
            }
          }) }} 
        {% endset -%}

      <form class="form" action="licensed-action-4-check" method="post">
        {{ govukRadios({
          idPrefix: "licensed-action-4-check",
          name: "licensed-action-4-check",
          fieldset: {
            legend: {
              text: "Did you destroy any sett?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          errorMessage: {
            text: "Select an option"
          },
          hint: {
            text: "Destruction could be by hand or mechanical means."
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              conditional: {
                  html: workHtml
              }
            },
            {
              value: "No",
              text: "No",
              conditional: {
                  html: whynotHtml
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      
    
    </div>
  </div>

{% endblock %}
