{% extends "layout-pb.html" %}

{% block pageTitle %} 
Did you damage any sett?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% set workHtml %}
        {{ govukTextarea({
            name: "work-done-action-3",
            id: "work-done-action-3",
            label: {
              text: "Briefly describe the work that damaged the setts. You can upload a report on sett damage."
            }
          }) }} 
        {% endset -%}

        {% set whynotHtml %}
        {{ govukTextarea({
            name: "work-not-done-action-3",
            id: "work-not-done-action-3",
            label: {
              text: "Describe why you did not do this licensed activity"
            }
          }) }} 
        {% endset -%}

      <form class="form" action="licensed-action-4" method="post">
        {{ govukRadios({
          idPrefix: "licensed-action-3-check",
          name: "licensed-action-3-check",
          fieldset: {
            legend: {
              text: "Did you damage any sett?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Damage could be by hand or mechanical means."
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              conditional: {
                  html: workHtml
              }
            },
            {
              value: "No",
              text: "No",
              conditional: {
                  html: whynotHtml
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      
    
    </div>
  </div>

{% endblock %}
