{% extends "layout-pb.html" %}

{% block pageTitle %} 
    Your licensed actions
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                Report of actions taken under badger mitigation licence 2021-09273-SPM-WLM
            </h1>

            <p>Under licence <strong>2021-09273-SPM-WLM</strong> you were licensed to carry out work at <strong>Lower Eastside Farm</strong> from <strong>17 June 2023</strong> and <strong>22 July 2023</strong>.</p>

            <p>You were licensed to carry out work on <strong>3 setts</strong>.</p>

            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

            <h2 class="govuk-heading-m">Lowfields sett</h2>
            <p>Sett type: Main</p>

            <p>You were licensed to:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>Obstruct sett entrances by means of one-way badger gates</li>
                <li>Obstruct access to sett entrances by blocking or proofing</li>
                <li>Destroy a vacant sett by hand and mechanical means</li>
                <li>Disturb badgers</li>
              </ul>


              <h2 class="govuk-heading-m">Hedgerow sett</h2>
              <p>Sett type: Annexe</p>
  
              <p>You were licensed to:</p>
  
              <ul class="govuk-list govuk-list--bullet">
                  <li>Obstruct sett entrances by means of one-way badger gates</li>
                  <li>Obstruct access to sett entrances by blocking or proofing</li>
                  <li>Damage a sett by hand and mechanical means</li>
                  <li>Disturb badgers</li>
                </ul>


                <h2 class="govuk-heading-m">Outbuilding sett</h2>
                <p>Sett type: Annexe</p>
    
                <p>You were licensed to:</p>
    
                <ul class="govuk-list govuk-list--bullet">
                    <li>Obstruct sett entrances by means of one-way badger gates</li>
                    <li>Destroy a vacant sett by hand and mechanical means</li>
                    <li>Disturb badgers</li>
                  </ul>
        
                  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

            <form class="form" action="licensed-actions-check" method="post">

                {{ govukRadios({
                    name: "licensed-actions-check",
                    fieldset: {
                    legend: {
                        text: "Did you carry out any of these actions?",
                        classes: "govuk-fieldset__legend--m"
                    }
                    },
                    items: [
                    {
                        value: "Yes",
                        text: "Yes, all of them"
                    },
                    {
                        value: "Yes",
                        text: "Yes, some of them"
                    },
                    {
                        value: "No",
                        text: "No, I'm submitting a nil report of action"
                    }
                    ]
                }) }}

                {{ govukButton({
                    text: "Continue"
                }) }}

            </form>


		
    </div>
</div>



{% endblock %}








