{% extends "layout-pb.html" %}

{% block pageTitle %} 
Did you find evidence that badgers were disturbed by your licensed activity?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% set workHtml %}
        {{ govukTextarea({
            name: "work-done-action-5",
            id: "work-done-action-5",
            label: {
              text: "Describe the evidence you have that badgers were disturbed"
            }
          }) }} 
        {% endset -%}



      <form class="form" action="check-your-answers-licensed-actions" method="post">
        {{ govukRadios({
          idPrefix: "licensed-action-5-check",
          name: "licensed-action-5-check",
          fieldset: {
            legend: {
              text: "Did you find evidence that badgers were disturbed by your licensed activity?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              conditional: {
                  html: workHtml
              }
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      
    
    </div>
  </div>

{% endblock %}
