{% extends "layout-pb.html" %}

{% block pageTitle %} 
Your licensed actions for Warren Lane sett (sett 1 of 4)
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Your licensed actions for Warren Lane sett (sett 1 of 4)</h1>

        <p>You were licensed to do the following actions on this sett.</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>Install one-way gates</li>
            <li>Damage this sett</li>
          </ul>

        
      
        {{ govukRadios({
          idPrefix: "licensed-action-2-check",
          name: "licensed-action-2-check",
          fieldset: {
            legend: {
              text: "Did you carry out all of these licensed actions at this sett?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              conditional: {
                  html: workHtml
              }
            },
            {
              value: "No",
              text: "No",
              conditional: {
                  html: whynotHtml
              }
            }
          ]
        }) }}



        {{ govukButton({
          text: "Continue"
        }) }}
    

      
    
    </div>
  </div>

{% endblock %}
