{% extends "layout-pb.html" %}

{% block pageTitle %} 
Review your report of action
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l">Review your report of action</h2>

      <p>Under licence <strong>2021-09273-SPM-WLM</strong> you were licensed to carry out work at <strong>Lower Eastside Farm</strong> from <strong>17 June 2023</strong> and <strong>22 July 2023</strong>.</p>

            <p>You were licensed to carry out work on <strong>3 setts</strong>.</p>

            

            <button class="govuk-button " data-module="govuk-button" onclick="window.print();return false;">
                Print this page
              </button>
    </div>
    
        
    <div class="govuk-grid-column-full">

      <dl class="govuk-summary-list govuk-!-margin-top-3">
        
        <!-- type -->
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Licence type
            </dt>
            <dd class="govuk-summary-list__value">
                Badger mitigation
            </dd>
        </div>

        <!-- reference -->
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Licence reference
            </dt>
            <dd class="govuk-summary-list__value">
                2021-09273-SPM-WLM
            </dd>
        </div>

        <!-- reference -->
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Named ecologist
            </dt>
            <dd class="govuk-summary-list__value">
                Neil Warnock
            </dd>
        </div>

        <!-- Licence holder -->
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Licence holder
            </dt>
            <dd class="govuk-summary-list__value">
                Jane Doe
            </dd>
        </div>

        <!-- site -->
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Site address
            </dt>
            <dd class="govuk-summary-list__value">
                Lower Eastside Farm
                    <br>
                    
                        5 High Street<br>
                        Oxford<br>
                        Oxfordshire<br>
                        B1 3AA
            </dd>
        </div>
    </dl>

    <h2 class="govuk-heading-m govuk-!-margin-top-9">Confirm actions taken</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">


      {% if data['licensed-actions-check'] == 'Yes' %}
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Did the licensed actions achieve the intended licence purpose?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['achieve-purpose-check'] }}
          </dd>
        </div>
        {% if data['achieve-purpose-check'] == 'No' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Describe why the licensed actions did not achieve the intended licence purpose
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['why-not-achieved'] }}
                </dd>
              </div>
            {% endif %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Did you complete the licensed work between 17 June 2023 and 22 July 2023?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['complete-between-dates-check'] }}
        </dd>
      </div>

          {% if data['complete-between-dates-check'] == 'No' %}

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  When did you start the work?
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['work-start-date-day'] + " " + data['work-start-date-month'] | toMonth + " " + data['work-start-date-year'] }}
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  When did you finish the work?
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['work-end-date-day'] + " " + data['work-end-date-month'] | toMonth + " " + data['work-end-date-year'] }}
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Why was the work not completed between [start date] and [end date]?
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['why-work-not-between-dates'] }}
                </dd>
              </div>

          {% endif %}


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Did you obstruct sett entrances by means of one-way badger gates?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['licensed-action-1-check'] }}
            </dd>
          </div>
          {% if data['licensed-action-1-check'] == 'Yes' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Describe the work that was done
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['work-done-action-1'] }}
              </dd>
            </div>
          {% endif %}
          {% if data['licensed-action-1-check'] == 'No' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Describe why you did not do this licensed activity
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['work-not-done-action-1'] }}
              </dd>
            </div>
          {% endif %}



          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Did you obstruct access to sett entrances by blocking or proofing?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['licensed-action-2-check'] }}
            </dd>
          </div>
          {% if data['licensed-action-2-check'] == 'Yes' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Describe the work that was done
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['work-done-action-2'] }}
              </dd>
            </div>
          {% endif %}
          {% if data['licensed-action-2-check'] == 'No' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Describe why you did not do this licensed activity
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['work-not-done-action-2'] }}
              </dd>
            </div>
          {% endif %}



          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Did you damage a sett by hand and mechanical means?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['licensed-action-3-check'] }}
            </dd>
          </div>
          {% if data['licensed-action-3-check'] == 'Yes' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Describe the work that was done
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['work-done-action-3'] }}
              </dd>
            </div>
          {% endif %}
          {% if data['licensed-action-3-check'] == 'No' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Describe why you did not do this licensed activity
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['work-not-done-action-3'] }}
              </dd>
            </div>
          {% endif %}


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Did you destroy a vacant sett by hand and mechanical means?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['licensed-action-4-check'] }}
            </dd>
          </div>
          {% if data['licensed-action-4-check'] == 'Yes' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Describe the work that was done
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['work-done-action-4'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                When did you start destroying the vacant setts?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['destruction-date-start-day'] + " " + data['destruction-date-start-month'] | toMonth + " " + data['destruction-date-start-year'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                When did you finish destroying the vacant setts?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['destruction-date-finish-day'] + " " + data['destruction-date-finish-month'] | toMonth + " " + data['destruction-date-finish-year'] }}
              </dd>
            </div>
          {% endif %}
          {% if data['licensed-action-4-check'] == 'No' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Describe why you did not do this licensed activity
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['work-not-done-action-4'] }}
              </dd>
            </div>
          {% endif %}


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Did you disturb badgers?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['licensed-action-5-check'] }}
            </dd>
          </div>
          {% if data['licensed-action-5-check'] == 'Yes' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Describe the evidence you have that badgers were disturbed
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['work-done-action-5'] }}
              </dd>
            </div>
          {% endif %}
      </dl>
          

          <h2 class="govuk-heading-m">Give artificial sett details</h2>

          <dl class="govuk-summary-list">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Did you create an artificial sett?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['create-artificial-sett-check'] }}
            </dd>
          </div>
          {% if data['create-artificial-sett-check'] == 'Yes' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Describe the work carried out to create the artificial sett
              </dt>
              <dd class="govuk-summary-list__value">
                  {{ data['work-carried-out-artificial-sett'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Was the artificial sett created before the licensed sett was closed?
              </dt>
              <dd class="govuk-summary-list__value">
                  {{ data['sett-closure-check'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                What evidence is there that badgers located the artificial sett?
              </dt>
              <dd class="govuk-summary-list__value">
                  {{ data['badgers-located-artificial-sett'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                What was the artificial sett's grid reference?
              </dt>
              <dd class="govuk-summary-list__value">
                  {{ data['artificial-sett-grid-ref'] }}
              </dd>
            </div>
          {% endif %}
          {% if data['create-artificial-sett-check'] == 'No' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Why didn't you create an artificial sett?
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['why-no-artificial-sett-check'] == 'Artificial sett could not be made' %}
                  {{ data['why-sett-not-made'] }}
                {% else %}
                  {{ data['why-no-artificial-sett-check'] }}
                {% endif %}
              </dd>
            </div>
          {% endif %}

          </dl>


          <h2 class="govuk-heading-m govuk-!-margin-top-9">Give licence compliance information</h2>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Did you comply with all the conditions of the licence?
            </dt>
            <dd class="govuk-summary-list__value">
                  {{ data['conditions-check'] }}
            </dd>
          </div>
          {% if data['conditions-check'] == 'No' %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Describe which conditions of the licence you couldn't comply with and why you couldn't comply with them
            </dt>
            <dd class="govuk-summary-list__value">
                  {{ data['why-not-conditions'] }}
            </dd>
          </div>
          {% endif %}


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Did the work carried out under the licence cause any concerns about badgers' welfare?
            </dt>
            <dd class="govuk-summary-list__value">
                  {{ data['welfare-concerns-check'] }}
            </dd>
          </div>
          {% if data['welfare-concerns-check'] == 'Yes' %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Describe the welfare concerns
            </dt>
            <dd class="govuk-summary-list__value">
                  {{ data['welfare-concerns'] }}
            </dd>
          </div>
          {% endif %}

      </dl>

      {% if data['upload-check'] == 'Yes' %}
      <h2 class="govuk-heading-m govuk-!-margin-top-9">Supporting information</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Uploaded file
        </dt>
        <dd class="govuk-summary-list__value">
          <p>returns-evidence-21-10-22.docx</p>
          <p class="govuk-body-s">Uploaded 12 January 2023 10:27am</p>
        </dd>
      </div>
      {% endif %}

      {% if data['another-file-check'] == 'Yes' %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Uploaded file
        </dt>
        <dd class="govuk-summary-list__value">
          <p>returns-evidence-21-10-22-B.docx</p>
          <p class="govuk-body-s"> Uploaded 12 January 2023 10:27am</p>
        </dd>
      </div>
      {% endif %}


     
     
    </dl>
    {% endif %}


    <!--

    <h2 class="govuk-heading-m govuk-!-margin-top-9">Confirm actions taken</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">


        {% if data['licensed-actions-check'] == 'Yes' %}
        
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Did the licensed actions achieve the intended licence purpose?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['achieve-purpose-check'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> did the licensed actions achieve the intended licence purpose?</span>
              </a>
            </dd>
          </div>
          {% if data['achieve-purpose-check'] == 'No' %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Describe why the licensed actions did not achieve the intended licence purpose
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['why-not-achieved'] }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> describe why the licensed actions did not achieve the intended licence purpose</span>
                    </a>
                  </dd>
                </div>
              {% endif %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Did you complete the licensed work between 17 June 2023 and 22 July 2023?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['complete-between-dates-check'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> did you complete the licensed work between 17 June 2023 and 22 July 2023?</span>
            </a>
          </dd>
        </div>

            {% if data['complete-between-dates-check'] == 'No' %}

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    When did you start the work?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['work-start-date-day'] + " " + data['work-start-date-month'] | toMonth + " " + data['work-start-date-year'] }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> when did you start the work?</span>
                    </a>
                  </dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    When did you finish the work?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['work-end-date-day'] + " " + data['work-end-date-month'] | toMonth + " " + data['work-end-date-year'] }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> when did you finish the work?</span>
                    </a>
                  </dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Why was the work not completed between [start date] and [end date]?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['why-work-not-between-dates'] }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> why was the work not completed between [start date] and [end date]?</span>
                    </a>
                  </dd>
                </div>

            {% endif %}


            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Did you obstruct sett entrances by means of one-way badger gates?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['licensed-action-1-check'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> did you obstruct sett entrances by means of one-way badger gates?</span>
                </a>
              </dd>
            </div>
            {% if data['licensed-action-1-check'] == 'Yes' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Describe the work that was done
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['work-done-action-1'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> describe the work that was done</span>
                  </a>
                </dd>
              </div>
            {% endif %}
            {% if data['licensed-action-1-check'] == 'No' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Describe why you did not do this licensed activity
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['work-not-done-action-1'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> describe why you did not do this licensed activity</span>
                  </a>
                </dd>
              </div>
            {% endif %}



            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Did you obstruct access to sett entrances by blocking or proofing?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['licensed-action-2-check'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> did you obstruct access to sett entrances by blocking or proofing?</span>
                </a>
              </dd>
            </div>
            {% if data['licensed-action-2-check'] == 'Yes' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Describe the work that was done
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['work-done-action-2'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> describe the work that was done</span>
                  </a>
                </dd>
              </div>
            {% endif %}
            {% if data['licensed-action-2-check'] == 'No' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Describe why you did not do this licensed activity
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['work-not-done-action-2'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                 <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> describe why you did not do this licensed activity</span>
                  </a>
                </dd>
              </div>
            {% endif %}



            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Did you damage a sett by hand and mechanical means?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['licensed-action-3-check'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> did you damage a sett by hand and mechanical means?</span>
                </a>
              </dd>
            </div>
            {% if data['licensed-action-3-check'] == 'Yes' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Describe the work that was done
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['work-done-action-3'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> describe the work that was done</span>
                  </a>
                </dd>
              </div>
            {% endif %}
            {% if data['licensed-action-3-check'] == 'No' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Describe why you did not do this licensed activity
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['work-not-done-action-3'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> describe why you did not do this licensed activity</span>
                  </a>
                </dd>
              </div>
            {% endif %}


            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Did you destroy a vacant sett by hand and mechanical means?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['licensed-action-4-check'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> did you destroy a vacant sett by hand and mechanical means?</span>
                </a>
              </dd>
            </div>
            {% if data['licensed-action-4-check'] == 'Yes' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Describe the work that was done
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['work-done-action-4'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> describe the work that was done</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  When did you start destroying the vacant setts?
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['destruction-date-start-day'] + " " + data['destruction-date-start-month'] | toMonth + " " + data['destruction-date-start-year'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> when did you start destroying the vacant setts?
                    </span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  When did you finish destroying the vacant setts?
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['destruction-date-finish-day'] + " " + data['destruction-date-finish-month'] | toMonth + " " + data['destruction-date-finish-year'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> when did you finish destroying the vacant setts?
                    </span>
                  </a>
                </dd>
              </div>
            {% endif %}
            {% if data['licensed-action-4-check'] == 'No' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Describe why you did not do this licensed activity
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['work-not-done-action-4'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> describe why you did not do this licensed activity</span>
                  </a>
                </dd>
              </div>
            {% endif %}


            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Did you disturb badgers?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['licensed-action-5-check'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> did you disturb badgers?</span>
                </a>
              </dd>
            </div>
            {% if data['licensed-action-5-check'] == 'Yes' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Describe the evidence you have that badgers were disturbed
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['work-done-action-5'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> describe the evidence you have that badgers were disturbed
                    </span>
                  </a>
                </dd>
              </div>
            {% endif %}
        </dl>
            

            <h2 class="govuk-heading-m">Give artificial sett details</h2>

            <dl class="govuk-summary-list">

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Did you create an artificial sett?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['create-artificial-sett-check'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> did you create an artificial sett?</span>
                </a>
              </dd>
            </div>
            {% if data['create-artificial-sett-check'] == 'Yes' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Describe the work carried out to create the artificial sett
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['work-carried-out-artificial-sett'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> describe the work carried out to create the artificial sett</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Was the artificial sett created before the licensed sett was closed?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['sett-closure-check'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> was the artificial sett created before the licensed sett was closed?</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  What evidence is there that badgers located the artificial sett?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['badgers-located-artificial-sett'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> what evidence is there that badgers located the artificial sett?</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  What was the artificial sett's grid reference?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['artificial-sett-grid-ref'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> what was the artificial sett's grid reference?</span>
                  </a>
                </dd>
              </div>
            {% endif %}
            {% if data['create-artificial-sett-check'] == 'No' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Why didn't you create an artificial sett?
                </dt>
                <dd class="govuk-summary-list__value">
                  {% if data['why-no-artificial-sett-check'] == 'Artificial sett could not be made' %}
                    {{ data['why-sett-not-made'] }}
                  {% else %}
                    {{ data['why-no-artificial-sett-check'] }}
                  {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> why didn't you create an artificial sett?</span>
                  </a>
                </dd>
              </div>
            {% endif %}

            </dl>


            <h2 class="govuk-heading-m govuk-!-margin-top-9">Give licence compliance information</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Did you comply with all the conditions of the licence?
              </dt>
              <dd class="govuk-summary-list__value">
                    {{ data['conditions-check'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> did you comply with all the conditions of the licence??</span>
                </a>
              </dd>
            </div>
            {% if data['conditions-check'] == 'No' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Describe which conditions of the licence you couldn't comply with and why you couldn't comply with them
              </dt>
              <dd class="govuk-summary-list__value">
                    {{ data['why-not-conditions'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> describe which conditions of the licence you couldn't comply with and why you couldn't comply with them</span>
                </a>
              </dd>
            </div>
            {% endif %}


            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Did the work carried out under the licence cause any concerns about badgers' welfare?
              </dt>
              <dd class="govuk-summary-list__value">
                    {{ data['welfare-concerns-check'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> did the work carried out under the licence cause any concerns about badgers' welfare?</span>
                </a>
              </dd>
            </div>
            {% if data['welfare-concerns-check'] == 'Yes' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Describe the welfare concerns
              </dt>
              <dd class="govuk-summary-list__value">
                    {{ data['welfare-concerns'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> describe the welfare concerns</span>
                </a>
              </dd>
            </div>
            {% endif %}

        </dl>

        {% if data['upload-check'] == 'Yes' %}
        <h2 class="govuk-heading-m govuk-!-margin-top-9">Supporting information</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Uploaded file
          </dt>
          <dd class="govuk-summary-list__value">
            <p>returns-evidence-21-10-22.docx</p>
            <p class="govuk-body-s">Uploaded 12 January 2023 10:27am</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> uploaded file</span>
            </a>
          </dd>
        </div>
        {% endif %}

        {% if data['another-file-check'] == 'Yes' %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Uploaded file
          </dt>
          <dd class="govuk-summary-list__value">
            <p>returns-evidence-21-10-22-B.docx</p>
            <p class="govuk-body-s"> Uploaded 12 January 2023 10:27am</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> uploaded file</span>
            </a>
          </dd>
        </div>
        {% endif %}


       
       
      </dl>
      {% endif %}

    -->

      
      <form class="form" action="task-list-6" method="post">


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    
    </div>
  </div>

{% endblock %}
