{% extends "layout-pb.html" %}

{% block pageTitle %} 
Apply for a licence to do work that affects a protected species
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      

        <h1 class="govuk-heading-l">
            Send a report of action taken under licence 2021-09273-SPM-WLM
        </h1>

        <p class="govuk-body">Use this service to submit a report of action.</p> 
        
        <p>You need to:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>describe the work carried out for each licensed action</li>
            <li>describe the work carried out on artificial sett</li>
            <li>Something else</li>
        </ul>

        <a href="licensed-actions" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
            Start now
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false"><path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" /></svg>
        </a>


 




    </div>
  </div>

{% endblock %}
