{% extends "layout-pb.html" %}

{% block pageTitle %} 
Review the report of action for licence 2021-09273-SPM-WLM
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Review the report of action for licence 2021-09273-SPM-WLM</h1>

        <p>This will be your last chance to check and change the details of your report of action.</p>

        <p>You will be able to download a copy of the report of action to send to the licence holder or others who may be responsible for information in this report.</p>

        {{ govukButton({
            text: "Continue"
          }) }}
    
    </div>
  </div>

{% endblock %}
