{% extends "layout-pb.html" %}

{% block pageTitle %} 
Report of actions taken under badger mitigation licence 2021-09273-SPM-WLM
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l"> 
        Report of actions taken under badger mitigation licence 2021-09273-SPM-WLM
      </h1>

    <!-- <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="applications">View all of your licence applications</a>.</p> -->

    <h2 class="govuk-heading-s govuk-!-margin-bottom-2 ">Report of action incomplete</h2>
    <p class="govuk-body " >You have completed 0 of 6 sections.</p>
    
    <!-- <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application saved</h2> -->
    <p class="govuk-body govuk-!-margin-bottom-7" >Reference:<br>2021-09273-SPM-WLM-ROA?</p>
    
    <!-- <p class="govuk-body govuk-!-margin-bottom-7">
      <a class="govuk-link govuk-link--no-visited-state" href="applications">
          View applications
      </a>
    </p> -->
    

    <ol class="app-task-list">

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">1. </span> Report of action details
        </h2>
        <ul class="app-task-list__items">
          
          <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                  <a href="outcome" class="govuk-link--no-visited-state" >
                    Confirm actions taken
                  </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" >Not started</strong>
          </li>


          
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
                  <a href="#" class="govuk-link--no-visited-state" >
                    Give artificial sett details
                  </a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" >Not started</strong>
          </li>

          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
                  <a href="#" class="govuk-link--no-visited-state" >
                    Give licence compliance information
                  </a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" >Not started</strong>
          </li>

          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
                  <a href="#" class="govuk-link--no-visited-state" >
                    Upload supporting information
                  </a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" >Not started</strong>
          </li>

        </ul>
      </li>




      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">2. </span> Review and send
        </h2>
        <ul class="app-task-list__items">
      
          <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                  
                    Review your report of action
                  
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" >Cannot start yet</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
                
              Make your declaration and submit
                
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" >Cannot start yet</strong>
        </li>
       
        </ul>
      </li>
    </ol>
  </div>
</div>

      
    
    </div>
  </div>

{% endblock %}
