{% extends "layout-pb.html" %}

{% block pageTitle %} 
Licence application
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">

       
        
        <h1 class="govuk-heading-l">Badger mitigation licence application</h1>
        <p>Reference: 2021-09273-SPM-WLM</p>
        <p>Submitted:	1 November 2022</p>

        {{ govukButton({
          text: "Print this page"
        }) }}
        

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-6 govuk-!-margin-top-6">

        <h2 class="govuk-heading-l">Contact details</h2>

        <h3 class="govuk-heading-m">Give applicant details</h3>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Who is the licence for?
            </dt>
            <dd class="govuk-summary-list__value">
              Richard Smith
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Is Richard Smith part of an organisation?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
          </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Name of organisation
              </dt>
              <dd class="govuk-summary-list__value">
                Oxford Developments 
              </dd>
            </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Richard Smith's contact address
            </dt>
            <dd class="govuk-summary-list__value">
              3 High Street<br>
              Oxford<br>
              Oxfordshire<br>
              OX11BD
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Richard Smith's email address
            </dt>
            <dd class="govuk-summary-list__value">
              richard.smith@oxforddevelopments.co.uk 
            </dd>  
          </div>
        </dl>
        

        <h3 class="govuk-heading-m">Give ecologist details</h3>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Dave Smith
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Organisation
            </dt>
            <dd class="govuk-summary-list__value">
              Oxford Ecology Ltd.
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Contact address
            </dt>
            <dd class="govuk-summary-list__value">
              52 Main Street<br>
                Oxford<br>
                Oxfordshire<br>
                OX26BD
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Email address
            </dt>
            <dd class="govuk-summary-list__value">
              dave.smith@oxfordecology.co.uk
            </dd>
          </div>
        </dl>


        <h3 class="govuk-heading-m">Give alternate applicant details</h3>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Do you want to add an alternate applicant?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
          </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Who is the alternate applicant?
              </dt>
              <dd class="govuk-summary-list__value">
                Ed Richardson
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
               Ed Richardson's contact address
              </dt>
              <dd class="govuk-summary-list__value">
                3 High Street<br>
                Oxford<br>
                Oxfordshire<br>
                OX11BD
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
               Ed Richardson's email address
              </dt>
              <dd class="govuk-summary-list__value">
                ed.richardson@oxforddevelopments.co.uk 
              </dd>
            </div>
        </dl>


        <h3 class="govuk-heading-m">Give alternate ecologist details</h3>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Do you want to add an alternate ecologist?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
          </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Who is the alternate ecologist?
              </dt>
              <dd class="govuk-summary-list__value">
                Sarah Jones
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
               Sarah Jones's contact address
              </dt>
              <dd class="govuk-summary-list__value">
                52 Main Street<br>
                Oxford<br>
                Oxfordshire<br>
                OX26BD
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
               Sarah Jones's email address
              </dt>
              <dd class="govuk-summary-list__value">
                sarah.jones@oxfordecology.co.uk 
              </dd>
            </div>
        </dl>
          

        <h3 class="govuk-heading-m">Give invoice payer details</h3>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Who should we send the invoice to?
            </dt>
            <dd class="govuk-summary-list__value">
              Richard Smith
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Richard Smith's contact address
            </dt>
            <dd class="govuk-summary-list__value">
              3 High Street<br>
              Oxford<br>
              Oxfordshire<br>
              OX11BD
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Richard Smith's email address
            </dt>
            <dd class="govuk-summary-list__value">
              richard.smith@oxforddevelopments.co.uk 
            </dd>
          </div>
      </dl>
          


    <h2 class="govuk-heading-l">Planned work activity</h2>
           
		<h3 class="govuk-heading-m">Give work activity details</h3>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What activity or development work do you plan to do?
        </dt>
        <dd class="govuk-summary-list__value">
          Construction of 6 detached houses with access road.
        </dd>
      </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do you think your project is exempt from payment?
          </dt>
          <dd class="govuk-summary-list__value">
              No - the purpose of the licence or aim of the development project is chargeable 
          </dd>
        </div>
    </dl>


    <h3 class="govuk-heading-m">Give details of development permissions</h3>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Does the project need any permissions?
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Planning permission
        </dt>
        <dd class="govuk-summary-list__value">
          <p>Local Planning Authority:<br>Oxford City Council</p>
                <p>Planning type:<br>Full
            <p>Reference:<br> OXLHA123</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Demolition consent
        </dt>
        <dd class="govuk-summary-list__value">
          <p>Planning authority:<br>Oxford City Council</p>
                <p>Planning type:<br>
          <p>Reference:<br>OX1243</p>
        </dd>
      </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Have all other wildlife or habitat-related conditions been met?
              </dt>
              <dd class="govuk-summary-list__value">
                Yes
              </dd>
            </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Are there any potential conflicts between this application and other legal commitments?
        </dt>
        <dd class="govuk-summary-list__value">
          No 
        </dd>
      </div>
    </dl>


    <h3 class="govuk-heading-m">Give details of designated sites</h3>

    <dl class="govuk-summary-list ">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Site name
        </dt>
        <dd class="govuk-summary-list__value">
          Malham Tarn
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Have you had advice or permission for the development from Natural England?
        </dt>
        <dd class="govuk-summary-list__value">
          Yes 
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Who did you receive the advice from?
        </dt>
        <dd class="govuk-summary-list__value">
          Ben Smith 
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Describe the outcome of the advice
        </dt>
        <dd class="govuk-summary-list__value">
          Advice given about what to do at the Tarn. 
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Do you have permission from the owner or occupier of the designated site?
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
      </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Give details of the permission from the owner or occupier
          </dt>
          <dd class="govuk-summary-list__value">
            Permission granted by Field Studies Council. 
          </dd>
        </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Will the development happen on the designated site or adjacent to it?
        </dt>
        <dd class="govuk-summary-list__value">
          On the site 
        </dd>
      </div>
    </dl>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Site name
        </dt>
        <dd class="govuk-summary-list__value">
          Malham Cove
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Have you had advice or permission for the development from Natural England?
        </dt>
        <dd class="govuk-summary-list__value">
          Yes 
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Who did you receive the advice from?
        </dt>
        <dd class="govuk-summary-list__value">
          Ben Smith 
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Describe the outcome of the advice
        </dt>
        <dd class="govuk-summary-list__value">
          Advice given about what to do at the cove. 
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Do you have permission from the owner or occupier of the designated site?
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
      </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Give details of the permission from the owner or occupier
          </dt>
          <dd class="govuk-summary-list__value">
            Permission granted by the Field Studies Council. 
          </dd>
        </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Will the development happen on the designated site or adjacent to it?
        </dt>
        <dd class="govuk-summary-list__value">
          Adjacent to the site 
        </dd>
      </div>
    </dl>
      <!--<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-6 govuk-!-margin-top-6">

        <h2 class="govuk-heading-l">Contact details</h2>

        <h3 class="govuk-heading-m">Give licence holder details</h3>
        {{ govukSummaryList({
          classes: 'govuk-!-margin-bottom-9',
          rows: [
            {
              key: {
                text: "Is the licence for you?"
              },
              value: {
                text: "Yes"
              }
            },
            {
              key: {
                text: "Are you part of an organisation?"
              },
              value: {
                text: "Yes"
              }
            },
            {
                key: {
                  text: "Name of organisation"
                },
                value: {
                  text: "Eco Solutions Limited"
                }
            },
            {
                key: {
                  text: "Your email address"
                },
                value: {
                  text: "info@ecosolutions.com"
                }
            },
            {
              key: {
                text: "Your contact address"
              },
              value: {
                html: "72 Guild Street<br>London<br>SE23 6FH"
              }
            }
          ]
        }) }}   
        

        <h3 class="govuk-heading-m">Give ecologist details</h3>
        
        {{ govukSummaryList({
          classes: 'govuk-!-margin-bottom-9',
          rows: [
            {
              key: {
                text: "Are you the ecologist for this application?"
              },
              value: {
                text: "Yes"
              }
            },
            {
              key: {
                text: "Are you part of an organisation?"
              },
              value: {
                text: "Yes"
              }
            },
            {
                key: {
                  text: "Name of organisation"
                },
                value: {
                  text: "Eco Solutions Limited"
                }
            },
            {
                key: {
                  text: "Your email address"
                },
                value: {
                  text: "info@ecosolutions.com"
                }
            },
            {
              key: {
                text: "Your contact address"
              },
              value: {
                html: "72 Guild Street<br>London<br>SE23 6FH"
              }
            },
            {
                key: {
                  text: "Your memberships"
                },
                value: {
                  html: "Royal Institution of Chartered Surveyors (RICS)"
                }
              }
          ]
        }) }}   

        <h3 class="govuk-heading-m">Add authorised people</h3>

        {{ govukSummaryList({
            classes: 'govuk-!-margin-bottom-9',
            rows: [
              {
                key: {
                  text: "Name"
                },
                value: {
                  text: "Dave Smith"
                }
              },
              {
                key: {
                  text: "Email address"
                },
                value: {
                  text: "dave.smith@gmail.com"
                }
              },
              {
                key: {
                  text: "Contact address"
                },
                value: {
                  html: "12 Drury Street<br>London<br>SE23 6FH"
                }
              }
            ]
          }) }} 

          <h3 class="govuk-heading-m">Add alternative contacts</h3>

          {{ govukSummaryList({
            classes: 'govuk-!-margin-bottom-9',
            rows: [
              {
                key: {
                  text: "Do you want to add an alternative contact?"
                },
                value: {
                  text: "Yes"
                }
              },
              {
                key: {
                  text: "Which of your previous contacts do you want to use?"
                },
                value: {
                  text: "Sally Hughes"
                }
              },
              {
                key: {
                  text: "Do you want to add an alternative ecologist contact?"
                },
                value: {
                  html: "Yes"
                }
              },
              {
                key: {
                  text: "Which of your previous ecologist contacts do you want to use?"
                },
                value: {
                  html: "I want to add someone else"
                }
              },
              {
                key: {
                  text: "Alternative ecologist contact name"
                },
                value: {
                  html: "Andy Smith"
                }
              },
              {
                key: {
                  text: "Alternative ecologist contact email address"
                },
                value: {
                  html: "andy.smith@gmail.com"
                }
              }
            ]
          }) }} 

          


        <h2 class="govuk-heading-l">Planned work activity</h2>
           
		<h3 class="govuk-heading-s">Give ecologist details</h3>-->


    </div>
</div>



{% endblock %}








