{% extends "layout-pb-no-service-name.html" %}

{% block pageTitle %} 
SDDSIP 534 | View application
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">SDDSIP 534</span>
      <h1 class="govuk-heading-l">View application</h1> 

      <div class="govuk-!-margin-bottom-9">
        <strong class="govuk-tag govuk-tag--green" >
          In Progress
        </strong>
      </div>

      

      <h2 class="govuk-heading-m ">Full page list and error states</h2>

      {{ govukButton({
        text: "View full flow",
        href: "start"
      }) }}
      
      <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Page</th>
            <th scope="col" class="govuk-table__header">Link</th>
            <th scope="col" class="govuk-table__header">Error states</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">    
            <tr class="govuk-table__row">
                <th class="govuk-table__cell">Start page</th>
                <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="start">start</a></td>
                <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Sign in</th>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="defra-id-signin">defra-id-signin</a></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">View licence applications</th>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="applications">applications</a></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Licence application</th>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="application">application</a></td>
              <td class="govuk-table__cell"></td>
            </tr>
          </tbody>
        </table>







    </div>
  </div>

{% endblock %}
