
{% extends "layout.html" %}
{% set serviceName = "" %}

{% block pageTitle %}
Sustainable development
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      Prototypes for:
    </h1>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6 govuk-!-font-weight-bold govuk-!-font-size-24">
      <li>Apply for a wildlife licence</li>
      <!-- <li>Assess a wildlife licence application</li> -->
    </ul>
  </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            User research, copydecks, flow diagrams and tickets
          </span>
        </summary>
        <div class="govuk-details__text">

          <p class="govuk-body govuk-!-margin-bottom-2">User research:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="#" target="_blank" class="govuk-link govuk-link--no-visited-state">View the usability findings on confluence</a> <span style="color:red">(TO ADD LINK)</span></li>
          </ul>

          <p class="govuk-body govuk-!-margin-bottom-2">Copydecks:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="#" target="_blank" class="govuk-link govuk-link--no-visited-state">View the copydecks in sharepoint</a> <span style="color:red">(TO ADD LINK)</span></li>
          </ul>
        
          <p class="govuk-body govuk-!-margin-bottom-2">Flow diagrams:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="#" target="_blank" class="govuk-link govuk-link--no-visited-state">View the flow diagrams on confluence</a> <span style="color:red">(TO ADD LINK)</span></li>
          </ul>

          <p class="govuk-body govuk-!-margin-bottom-2">Tickets:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="#" target="_blank" class="govuk-link govuk-link--no-visited-state">View the design tickets on JIRA <span style="color:red">(TO ADD LINK)</span></a></li>
          </ul>

        </div>
      </details>
      
      

    <table class="govuk-table">
      <thead class="govuk-table__head" >
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Version</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header">What changed</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <a href="/2-0/setup?r=t" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">Version&nbsp;2-0</a>
          </td>
          <td class="govuk-table__cell" >
            <strong class="govuk-tag" style="background: green;" >
              IN PROGRESS
            </strong>
            <br>
            <!-- tested -->

          </td>
          
          <td class="govuk-table__cell" >
            <ul class="govuk-list govuk-list--bullet">
              <li>
                Application details:
                <ul class="govuk-list govuk-list--bullet">
                  <li>Roosts intro - ADDED</li>
                  <li>Select bat species - UPDATED</li>
                  <li>Select bat numbers - UPDATED</li>
                  <li>Select roost uses - ADDED</li>
                  <li>Select roost activities - ADDED</li>
                  <li>Select species activities - UPDATED</li>
                  <li>Summary of roosts added - ADDED</li>
                  <li>Remove roost - ADDED</li>
                  <li>Date bat activity - UPDATED</li>
                  <li>Surveys - ADDED</li>
                  <li>Check your answers - ADDED</li>
                  <li>Application complete - ADDED</li>
                </ul>
              </li>
            </ul>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <a href="/1-0/setup?r=t" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">Version&nbsp;1-0</a>
          </td>
          <td class="govuk-table__cell" >
            <strong class="govuk-tag" >
              TESTED
            </strong>
            <br>
            <!-- tested -->
            15 - 16 Jul 2021
          </td>
          
          <td class="govuk-table__cell" >
            <ul class="govuk-list govuk-list--bullet">
              <li>
                Application details:
                <ul class="govuk-list govuk-list--bullet">
                  <li>Select bat species - ADDED</li>
                  <li>Select bat activities - ADDED</li>
                  <li>Select bat methods - ADDED</li>
                  <li>Select bat numbers - ADDED</li>
                  <li>Select bat dates - ADDED</li>
                </ul>
              </li>
            </ul>
          </td>
        </tr>
        
    </tbody>
  </table>

    
  </div>
</div>

{% endblock %}
