
{% extends "layout.html" %}
{% set serviceName = "" %}

{% block pageTitle %}
Sustainable development
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      Prototypes for:
    </h1>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6 govuk-!-font-weight-bold govuk-!-font-size-24">
      <li>Apply for a wildlife licence</li>
      <!-- <li>Assess a wildlife licence application</li> -->
    </ul>
  </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            User research, copydecks, and flow diagrams
          </span>
        </summary>
        <div class="govuk-details__text">

          <p class="govuk-body govuk-!-margin-bottom-2">User research:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://eaflood.atlassian.net/wiki/spaces/SDDS/pages/3533439192/User+Research+-+Alpha" target="_blank" class="govuk-link govuk-link--no-visited-state">View the usability findings on confluence</a></li>
          </ul>

          <p class="govuk-body govuk-!-margin-bottom-2">Copydecks:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://defra.sharepoint.com/:f:/s/MST-NE-DigitalServicesforWildlifeLicensingandPlanningAdvice/Em_lINnZupxKukWn24Wmo6kBACpz2mY5w4Wwv7zT1KDhiw?e=yfzuxo" target="_blank" class="govuk-link govuk-link--no-visited-state">View the copydecks in SharePoint</a></li>
          </ul>
        
          <p class="govuk-body govuk-!-margin-bottom-2">Flow diagrams:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://eaflood.atlassian.net/wiki/spaces/SDDS/pages/3268673859/Prototypes+Copydecks+and+Flow+Diagrams" target="_blank" class="govuk-link govuk-link--no-visited-state">View the flow diagrams on confluence</a> </li>
          </ul>

          <!-- <p class="govuk-body govuk-!-margin-bottom-2">Tickets:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="#" target="_blank" class="govuk-link govuk-link--no-visited-state">View the design tickets on JIRA <span style="color:red">(TO ADD LINK)</span></a></li>
          </ul> -->

        </div>
      </details>
      

      <style>
        .notes-list ul {
          margin-top:0 !important;
          margin-bottom:0 !important
        }
      </style>
      

    <table class="govuk-table">
      <thead class="govuk-table__head" >
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Version</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header">What changed</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body notes-list">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <a href="/3-0/setup?r=t" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">Version&nbsp;3-0</a>
          </td>
          <td class="govuk-table__cell" >
            <strong class="govuk-tag" style="background: green;" >
              IN PROGRESS
            </strong>
            <br>
            <!-- tested -->

          </td>
          
          <td class="govuk-table__cell" >
            <ul class="govuk-list govuk-list--bullet">
                <li>
                  Service name - UPDATED
                </li>
                <li>
                  Tasklist - ADDED
                </li>
                <li>
                  Application details:
                  <ul class="govuk-list govuk-list--bullet">
                    <li>Roosts intro - UPDATED</li>
                    <li>Select bat species - UPDATED</li>
                    <li>Select roost uses - UPDATED</li>
                    <li>Surveys - REMOVED</li>
                  </ul>
                </li>
            </ul>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <a href="/2-0/setup?r=t" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">Version&nbsp;2-0</a>
          </td>
          <td class="govuk-table__cell" >
            <strong class="govuk-tag" >
              TESTED
            </strong>
            <br>
            <!-- tested -->
            4 - 5 Aug 2021
          </td>
          
          <td class="govuk-table__cell" >
            <ul class="govuk-list govuk-list--bullet">
              <li>
                Service name - ADDED
              </li>
              <li>
                Purpose:
                <ul class="govuk-list govuk-list--bullet">
                  <li>Proposal - ADDED</li>
                  <li>Reason for application - ADDED</li>
                  <li>Category of work - ADDED</li>
                  <li>Multi-plot - ADDED</li>
                </ul>
              </li>
              <li>
                Application details:
                <ul class="govuk-list govuk-list--bullet">
                  <li>Roosts intro - ADDED</li>
                  <li>Select bat species - UPDATED</li>
                  <li>Select bat numbers - UPDATED</li>
                  <li>Select roost uses - ADDED</li>
                  <li>Select roost activities - ADDED</li>
                  <li>Select species activities - UPDATED</li>
                  <li>Summary of roosts added - ADDED</li>
                  <li>Remove roost - ADDED</li>
                  <li>Date bat activity - UPDATED</li>
                  <li>Surveys - ADDED</li>
                </ul>
                <li>Check your answers - ADDED</li>
                <li>Application complete - ADDED</li>
              </li>
            </ul>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <a href="/1-0/setup?r=t" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">Version&nbsp;1-0</a>
          </td>
          <td class="govuk-table__cell" >
            <strong class="govuk-tag" >
              TESTED
            </strong>
            <br>
            <!-- tested -->
            15 - 16 Jul 2021
          </td>
          
          <td class="govuk-table__cell" >
            <ul class="govuk-list govuk-list--bullet">
              <li>
                Application details:
                <ul class="govuk-list govuk-list--bullet">
                  <li>Select bat species - ADDED</li>
                  <li>Select bat activities - ADDED</li>
                  <li>Select bat methods - ADDED</li>
                  <li>Select bat numbers - ADDED</li>
                  <li>Select bat dates - ADDED</li>
                </ul>
              </li>
            </ul>
          </td>
        </tr>
        
    </tbody>
  </table>

    
  </div>
</div>

{% endblock %}
