
{% extends "layout.html" %}
{% set serviceName = "" %}

{% block pageTitle %}
Sustainable development
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      Prototypes for:
    </h1>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6 govuk-!-font-weight-bold govuk-!-font-size-24">
      <li>Apply for a wildlife licence</li>
      <!-- <li>Assess a wildlife licence application</li> -->
    </ul>
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<h2 class="govuk-heading-l">Private beta</h2>

<p><a href="https://app.mural.co/t/ddtssddsdigitalprogrammeteam3057/m/ddtssddsdigitalprogrammeteam3057/1657552272963/56f185b64cb29e857d5ea5b3f85f04483cf2b9d6?sender=u97daf56fcfe7f15351e25896" class="govuk-link govuk-link--no-visited-state" target="_blank">UCD Mural board</a></p>

<table class="govuk-table">
  <thead class="govuk-table__head" >
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Link</th>
      <th scope="col" class="govuk-table__header">Jira ticket</th>
      <th scope="col" class="govuk-table__header">Status</th>
      
    </tr>
  </thead>
  <tbody class="govuk-table__body notes-list">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" >
        <a href="/private-beta/SDDSIP-286-supplementary-file-upload/" class="govuk-link govuk-link--no-visited-state" >SDDSIP-286 Upload supporting information</a>
      </td>
      <td class="govuk-table__cell" >
        <a href="https://eaflood.atlassian.net/browse/SDDSIP-286" class="govuk-link govuk-link--no-visited-state">SDDSIP-286</a>
      </td>
      <td class="govuk-table__cell" >
        <strong class="govuk-tag">
           DEV READY
        </strong>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" >
        <a href="/private-beta/SDDSIP-436-sett-details/index" class="govuk-link govuk-link--no-visited-state">SDDSIP-436 Sett details</a>
      </td>
      <td class="govuk-table__cell" >
        <a href="https://eaflood.atlassian.net/browse/SDDSIP-436" class="govuk-link govuk-link--no-visited-state">SDDSIP-436</a>
      </td>
      <td class="govuk-table__cell" >
        <strong class="govuk-tag">
           DEV READY
        </strong>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" >
        <a href="/private-beta/SDDSIP-453-ecologist-experience/" class="govuk-link govuk-link--no-visited-state">SDDSIP-453 Ecologist experience</a>
      </td>
      <td class="govuk-table__cell" >
        <a href="https://eaflood.atlassian.net/browse/SDDSIP-453" class="govuk-link govuk-link--no-visited-state">SDDSIP-453</a>
      </td>
      <td class="govuk-table__cell" >
        <strong class="govuk-tag">
           DEV READY
        </strong>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" >
        <a href="/private-beta/SSDSIP-188-invoice-details/" class="govuk-link govuk-link--no-visited-state">SDDSIP-188 Add invoice details</a>
      </td>
      <td class="govuk-table__cell" >
        <a href="https://eaflood.atlassian.net/browse/SDDSIP-188" class="govuk-link govuk-link--no-visited-state">SDDSIP-188</a>
      </td>
      <td class="govuk-table__cell" >
        <strong class="govuk-tag">
           DEV READY
        </strong>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" >
        <a href="/private-beta/SDDSIP-285-authorised-person/" class="govuk-link govuk-link--no-visited-state">SDDSIP-285 Authorised person</a>
      </td>
      <td class="govuk-table__cell" >
        <a href="https://eaflood.atlassian.net/browse/SDDSIP-285" class="govuk-link govuk-link--no-visited-state">SDDSIP-285</a>
      </td>
      <td class="govuk-table__cell" >
        <strong class="govuk-tag">
          DEV READY
       </strong>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" >
        <a href="/private-beta/SDDSIP-432-additional-contact/" class="govuk-link govuk-link--no-visited-state">SDDSIP-432 Additional contact</a>
      </td>
      <td class="govuk-table__cell" >
        <a href="https://eaflood.atlassian.net/browse/SDDSIP-432" class="govuk-link govuk-link--no-visited-state">SDDSIP-432</a>
      </td>
      <td class="govuk-table__cell" >
        <strong class="govuk-tag">
          DEV READY
       </strong>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" >
        <a href="/private-beta/SDDSIP-288-declaration/" class="govuk-link govuk-link--no-visited-state">SDDSIP-288 Declaration</a>
      </td>
      <td class="govuk-table__cell" >
        <a href="https://eaflood.atlassian.net/browse/SDDSIP-288" class="govuk-link govuk-link--no-visited-state">SDDSIP-288</a>
      </td>
      <td class="govuk-table__cell" >
        <strong class="govuk-tag">
          DEV READY
       </strong>
     </td>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" >
        <a href="/private-beta/SDDSIP-214-site-map-upload/" class="govuk-link govuk-link--no-visited-state">SDDSIP-214 Current, during and future site map upload</a>
      </td>
      <td class="govuk-table__cell" >
        <a href="https://eaflood.atlassian.net/browse/SDDSIP-214" class="govuk-link govuk-link--no-visited-state">SDDSIP-214</a>
      </td>
      <td class="govuk-table__cell" >
        <strong class="govuk-tag">
          DEV READY
       </strong>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" >
        <a href="/private-beta/SDDSIP-566-application-category/" class="govuk-link govuk-link--no-visited-state">SDDSIP-566 Amend work details application category</a>
      </td>
      <td class="govuk-table__cell" >
        <a href="https://eaflood.atlassian.net/browse/SDDSIP-566" class="govuk-link govuk-link--no-visited-state">SDDSIP-566</a>
      </td>
      <td class="govuk-table__cell" >
        <strong class="govuk-tag govuk-tag--green" >
          In Progress
        </strong>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" >
        <a href="/private-beta/SSDSIP-476-conservation-considerations/" class="govuk-link govuk-link--no-visited-state">SDDSIP-476 Conservation considerations</a>
      </td>
      <td class="govuk-table__cell" >
        <a href="https://eaflood.atlassian.net/browse/SDDSIP-476" class="govuk-link govuk-link--no-visited-state">SDDSIP-476</a>
      </td>
      <td class="govuk-table__cell" >
        <strong class="govuk-tag govuk-tag--green" >
          In Progress
        </strong>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" >
        <a href="/private-beta/SDDSIP-585-amend-permissions-flow/" class="govuk-link govuk-link--no-visited-state">SDDSIP-585 Amend permissions flow</a>
      </td>
      <td class="govuk-table__cell" >
        <a href="https://eaflood.atlassian.net/browse/SDDSIP-585" class="govuk-link govuk-link--no-visited-state">SDDSIP-585</a>
      </td>
      <td class="govuk-table__cell" >
        <strong class="govuk-tag govuk-tag--green" >
          In Progress
        </strong>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" >
        <a href="/private-beta/SDDSIP-261-eligibility-DAS-link/" class="govuk-link govuk-link--no-visited-state">SDDSIP-261 Link to DAS after eligibility dropout</a>
      </td>
      <td class="govuk-table__cell" >
        <a href="https://eaflood.atlassian.net/browse/SDDSIP-261" class="govuk-link govuk-link--no-visited-state">SDDSIP-261</a>
      </td>
      <td class="govuk-table__cell" >
        <strong class="govuk-tag" >
          DEV READY
        </strong>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" >
        <a href="/private-beta/SDSSIP-705-amend-additional-contacts/" class="govuk-link govuk-link--no-visited-state">SDSSIP-705 Amend additional contacts flow</a>
      </td>
      <td class="govuk-table__cell" >
        <a href="https://eaflood.atlassian.net/browse/SDDSIP-705" class="govuk-link govuk-link--no-visited-state">SDDSIP-705</a>
      </td>
      <td class="govuk-table__cell" >
        <strong class="govuk-tag" >
          DEV READY
        </strong>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" >
        <a href="/private-beta/SDSSIP-704-error-pages/" class="govuk-link govuk-link--no-visited-state">SDSSIP-704 Error pages</a>
      </td>
      <td class="govuk-table__cell" >
        <a href="https://eaflood.atlassian.net/browse/SDDSIP-704" class="govuk-link govuk-link--no-visited-state">SDDSIP-704</a>
      </td>
      <td class="govuk-table__cell" >
        <strong class="govuk-tag govuk-tag--green" >
          In Progress
        </strong>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" >
        <a href="/private-beta/SDSSIP-556-application-window/" class="govuk-link govuk-link--no-visited-state">SDSSIP-556 No applications outside application window</a>
      </td>
      <td class="govuk-table__cell" >
        <a href="https://eaflood.atlassian.net/browse/SDDSIP-556" class="govuk-link govuk-link--no-visited-state">SDDSIP-556</a>
      </td>
      <td class="govuk-table__cell" >
        <strong class="govuk-tag govuk-tag--green" >
          In Progress
        </strong>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" >
        <a href="/private-beta/SDDSIP-525-conviction-questions/" class="govuk-link govuk-link--no-visited-state">SDDSIP-525 Add conviction questions to flow</a>
      </td>
      <td class="govuk-table__cell" >
        <a href="https://eaflood.atlassian.net/browse/SDDSIP-525" class="govuk-link govuk-link--no-visited-state">SDDSIP-525</a>
      </td>
      <td class="govuk-table__cell" >
        <strong class="govuk-tag govuk-tag--green" >
          In Progress
        </strong>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" >
        <a href="/private-beta/SDDSIP-266-return-route-to-application/" class="govuk-link govuk-link--no-visited-state">SDDSIP-266 Return route to application</a>
      </td>
      <td class="govuk-table__cell" >
        <a href="https://eaflood.atlassian.net/browse/SDDSIP-266" class="govuk-link govuk-link--no-visited-state">SDDSIP-266</a>
      </td>
      <td class="govuk-table__cell" >
        <strong class="govuk-tag govuk-tag--green" >
          In Progress
        </strong>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" >
        <a href="/private-beta/SDDSIP-308-view-licence/" class="govuk-link govuk-link--no-visited-state">SDDSIP-308 Access and view a granted licence</a>
      </td>
      <td class="govuk-table__cell" >
        <a href="https://eaflood.atlassian.net/browse/SDDSIP-308" class="govuk-link govuk-link--no-visited-state">SDDSIP-308</a>
      </td>
      <td class="govuk-table__cell" >
        <strong class="govuk-tag govuk-tag--green" >
          In Progress
        </strong>
      </td>
    </tr>
      
  
  </tbody>
  </table>

<h2 class="govuk-heading-l govuk-!-margin-top-9">Alpha</h2>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            User research, copydecks, and flow diagrams
          </span>
        </summary>
        <div class="govuk-details__text">

          <p class="govuk-body govuk-!-margin-bottom-2">User research:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://eaflood.atlassian.net/wiki/spaces/SDDS/pages/3533439192/User+Research+-+Alpha" target="_blank" class="govuk-link govuk-link--no-visited-state">View the usability findings on confluence</a></li>
          </ul>

          <p class="govuk-body govuk-!-margin-bottom-2">Copydecks:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://defra.sharepoint.com/:f:/s/MST-NE-DigitalServicesforWildlifeLicensingandPlanningAdvice/Em_lINnZupxKukWn24Wmo6kBACpz2mY5w4Wwv7zT1KDhiw?e=yfzuxo" target="_blank" class="govuk-link govuk-link--no-visited-state">View the copydecks in SharePoint</a></li>
          </ul>
        
          <p class="govuk-body govuk-!-margin-bottom-2">Flow diagrams:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://eaflood.atlassian.net/wiki/spaces/SDDS/pages/3268673859/Prototypes+Copydecks+and+Flow+Diagrams" target="_blank" class="govuk-link govuk-link--no-visited-state">View the flow diagrams on confluence</a> </li>
          </ul>

          <!-- <p class="govuk-body govuk-!-margin-bottom-2">Tickets:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="#" target="_blank" class="govuk-link govuk-link--no-visited-state">View the design tickets on JIRA <span style="color:red">(TO ADD LINK)</span></a></li>
          </ul> -->

        </div>
      </details>
      

      <style>
        .notes-list ul {
          margin-top:0 !important;
          margin-bottom:0 !important
        }
      </style>
      

    <table class="govuk-table">
      <thead class="govuk-table__head" >
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Version</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header">What changed</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body notes-list">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <a href="/9-0/setup?r=t" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">Version&nbsp;9-0</a>
          </td>
          <td class="govuk-table__cell" >
            <strong class="govuk-tag" style="background: green;" >
              IN PROGRESS
            </strong>
            <br>
            <!-- tested -->
  
          </td>
          
          <td class="govuk-table__cell" >
            <ul class="govuk-list govuk-list--bullet">

            </ul>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <a href="/8-0/setup?r=t" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">Version&nbsp;8-0</a>
          </td>
          <td class="govuk-table__cell" >
            <strong class="govuk-tag" style="background: purple;" >
              READY FOR UR
            </strong>
            <br>
            <!-- tested -->
  
          </td>
          
          <td class="govuk-table__cell" >
            <ul class="govuk-list govuk-list--bullet">

              <li>Multi-plot removed for A24 - UPDATED</li>
              <li>Movement of eligibility:
                
                <ul class="govuk-list govuk-list--bullet">
                  <li>Check your answers (eligibility) - REMOVED</li>
                  <li>Tasklist - UPDATED</li>
                  <li>Select species - UPDATED</li>
                  <li>Eligibility - land owner - UPDATED</li>
                  <li>Eligibility - land owner permission - UPDATED</li>
                  <li>Eligibility - project permissions - UPDATED</li>
                  <li>Eligibility - project permissions granted - UPDATED</li>
                  <li>Project have permissions? - ADDED</li>
                  <li>Check your answers (permissions) - UPDATED</li>
                </ul>
  
              </li>

            </ul>
          </td>
        </tr>
        <tr class="govuk-table__row">
        <td class="govuk-table__cell" >
          <a href="/7-0/setup?r=t" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">Version&nbsp;7-0</a>
        </td>
        <td class="govuk-table__cell" >
          <strong class="govuk-tag" style="" >
            TESTED
          </strong>
          <br>
          <!-- tested -->
          25 Apr - 10 May 2022
        </td>
        
        <td class="govuk-table__cell" >
          <ul class="govuk-list govuk-list--bullet">

            <li>Site:
              
              <ul class="govuk-list govuk-list--bullet">
                <li>Boundary method - UPDATED</li>
                <li>Boundary upload - UPDATED</li>
                <li>Grid reference - ADDED</li>
                <li>Site check - ADDED</li>
              </ul>

            </li>

            <li>Ecologists:
              
              <ul class="govuk-list govuk-list--bullet">
                <li>Memberships - ADDED</li>
                <li>Memberships stored - ADDED</li>
                <li>Check your answers (ecologist) - UPDATED</li>
              </ul>

            </li>

            <li>Error messages added to the following pages:

              <ul class="govuk-list govuk-list--bullet">
                <li>Eligibility - land owner - UPDATED</li>
                <li>Eligibility - land owner permission - UPDATED</li>
                <li>Eligibility - project permissions - UPDATED</li>
                <li>Eligibility - project permissions granted - UPDATED</li>
              </ul>

            </li>

            <li>Eligibility - project permissions - UPDATED</li>

            <li>Using previous licence history:
              <ul class="govuk-list govuk-list--bullet">
                <li>Email - invite to service - ADDED</li>
                <li>CWM link - 'are you sure' page - ADDED</li>
                <li>CWM link - 'link confirmed' page - ADDED</li>
                <li>CWM link - 'not linked now' page - ADDED</li>
              </ul>
            </li>

            <li>Saving:
              <ul class="govuk-list govuk-list--bullet">
                <li>Save and return link - ADDED</li>
                <li>Eligible page - UPDATED</li>
                <li>Signed out page - UPDATED</li>
                <li>Tasklist - UPDATED</li>
                <li>Applications list - UPDATED</li>
              </ul>
            </li>

            <li>Work schedule:
              <ul class="govuk-list govuk-list--bullet">
                <li>Work schedule upload page - ADDED</li>
                <li>Check your answers (work schedule) page  - ADDED</li>
              </ul>
            </li>

            <li>Badger setts:
              <ul class="govuk-list govuk-list--bullet">
                <li>Active page - ADDED</li>
                <li>Reopening page - ADDED</li>
                <li>Entrance holes page - ADDED</li>
                <li>Check your answers (setts) page  - UPDATED</li>
              </ul>
            </li>
            
          </ul>
        </td>
      </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <a href="/6-0/setup?r=t" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">Version&nbsp;6-0</a>
          </td>
          <td class="govuk-table__cell" >
            <strong class="govuk-tag" >
              TESTED
            </strong>
            <br>
            <!-- tested -->
            8 - 14 Feb 2022
          </td>
          
          <td class="govuk-table__cell" >
            <ul class="govuk-list govuk-list--bullet">
              <li>Start page - UPDATED</li>
              <li>Tasklist page - UPDATED</li>
              <li>Site details:
                <ul class="govuk-list govuk-list--bullet">
                  <li>Site name - UPDATED</li>
                  <li>Site postcode - UPDATED</li>
                  <li>Site address - UPDATED</li>
                  <li>Site existing addresses - ADDED</li>
                  <li>Site boundary method - ADDED</li>
                  <li>Site upload - ADDED</li>
                  <li>Site draw boundary - UPDATED</li>
                  <li>Check your answers (site) - UPDATED</li>
                </ul>
              </li>
              <li>Ecologist details:
                <ul class="govuk-list govuk-list--bullet">
                  <li>Is user the ecologist - ADDED</li>
                  <li>Ecologist existing companies - ADDED</li>
                  <li>Ecologist existing addresses - ADDED</li>
                  <li>Existing ecologists - ADDED</li>
                  <li>Ecologist company - UPDATED</li>
                  <li>Ecologist name - UPDATED</li>
                  <li>Ecologist existing email addresses - ADDED</li>
                  <li>Ecologist add email - ADDED</li>
                  <li>Ecologist address flow - UPDATED</li>
                  <li>Check your answers (ecologist) - UPDATED</li>
                </ul>
              </li>
              <li>Applicant details:
                <ul class="govuk-list govuk-list--bullet">
                  <li>Is user the applicant - ADDED</li>
                  <li>Applicant existing companies - ADDED</li>
                  <li>Applicant existing addresses - ADDED</li>
                  <li>Existing ecologists - ADDED</li>
                  <li>Applicant company - UPDATED</li>
                  <li>Applicant name - UPDATED</li>
                  <li>Applicant existing email addresses - ADDED</li>
                  <li>Applicant add email - ADDED</li>
                  <li>Applicant address flow - UPDATED</li>
                  <li>Check your answers (applicant) - UPDATED</li>
                </ul>
              </li>
              <li>Manage applications:
                <ul class="govuk-list govuk-list--bullet">
                  <li>Applications list - UPDATED</li>
                  <li>Application overview - ADDED</li>
                </ul>
              </li>
              <li>For the Badger (A24) application:
                <ul class="govuk-list govuk-list--bullet">
                  <li>Select species - UPDATED</li>
                  <li>Tasklist - UPDATED</li>
                  <li>Applications list - UPDATED</li>
                  <li>Application overview - UPDATED</li>
                  <li>Purpose:
                    <ul class="govuk-list govuk-list--bullet">
                      <li>Reason for application - REMOVED</li>
                      <li>Work type - small developments - REMOVED</li>
                      <li>Work type - public buildings - REMOVED</li>
                      <li>Work type - extend boundaries - REMOVED</li>
                      <li>Work type - private use - REMOVED</li>
                      <li>Important populations - REMOVED</li>
                      <li>Check your answers (purpose) - UPDATED</li>
                    </ul>
                  </li>
                  <li>Add setts:
                    <ul class="govuk-list govuk-list--bullet">
                      <li>Add setts start - ADDED</li>
                      <li>Sett type - ADDED</li>
                      <li>Sett actions - ADDED</li>
                      <li>Sett remove - ADDED</li>
                      <li>Check your answers (actions) - UPDATED</li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <a href="/5-0/setup?r=t" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">Version&nbsp;5-0</a>
          </td>
          <td class="govuk-table__cell" >
            <strong class="govuk-tag">
              TESTED
            </strong>
            <br>
            <!-- tested -->
            26 Nov - 8 Dec 2021
          </td>
          
          <td class="govuk-table__cell" >
            <ul class="govuk-list govuk-list--bullet">
                <li>Service name - UPDATED</li>
                <li>Tasklist - UPDATED</li>
                <li>Application sent - UPDATED</li>
                <li>Sign-in/register:
                  <ul class="govuk-list govuk-list--bullet">
                    <li>Link to Defra.ID and back - ADDED</li>
                    <li>Signed in state - ADDED</li>
                    <li>Signed out page - ADDED</li>
                  </ul>
                </li>
                <li>Pre application:
                  <ul class="govuk-list govuk-list--bullet">
                    <li>Start now page - ADDED</li>
                    <li>Select species - ADDED</li>
                  </ul>
                </li>
                <li>Manage applications:
                  <ul class="govuk-list govuk-list--bullet">
                    <li>Applications list - ADDED</li>
                  </ul>
                </li>
                <li>Check if eligible:
                  <ul class="govuk-list govuk-list--bullet">
                    <li>Land owner - ADDED</li>
                    <li>Land owner permission - ADDED</li>
                    <li>Dropout - land owner permission - ADDED</li>
                    <li>Consent - ADDED</li>
                    <li>Consent granted - ADDED</li>
                    <li>Dropout - consent granted - ADDED</li>
                    <li>Check your answers (eligibility) - ADDED</li>
                    <li>You're eligible (now save/sign-in) - ADDED</li>
                  </ul>
                </li>
                <li>Consents:
                  <ul class="govuk-list govuk-list--bullet">
                    <li>Consents intro - ADDED</li>
                    <li>Consents type - ADDED</li>
                    <li>Consents reference - ADDED</li>
                    <li>Check your answers (consents) - ADDED</li>
                    <li>Remove a consent - ADDED</li>
                  </ul>
                </li>
                <li>Site:
                  <ul class="govuk-list govuk-list--bullet">
                    <li>Site name - ADDED</li>
                    <li>Site postcode - ADDED</li>
                    <li>Site address - ADDED</li>
                    <li>Check your answers (site) - UPDATED</li>
                  </ul>
                </li>
                <li>Applicant details:
                  <ul class="govuk-list govuk-list--bullet">
                    <li>Applicant name - ADDED</li>
                    <li>Applicant company - ADDED</li>
                    <li>Applicant postcode - ADDED</li>
                    <li>Applicant address (lookup) - ADDED</li>
                    <li>Applicant address (manual) - ADDED</li>
                    <li>Check your answers (applicant) - ADDED</li>
                  </ul>
                </li>
                <li>Ecologist details:
                  <ul class="govuk-list govuk-list--bullet">
                    <li>Ecologist name - ADDED</li>
                    <li>Ecologist company - ADDED</li>
                    <li>Ecologist postcode - ADDED</li>
                    <li>Ecologist address (lookup) - ADDED</li>
                    <li>Ecologist address (manual) - ADDED</li>
                    <li>Check your answers (ecologist) - ADDED</li>
                  </ul>
                </li>
            </ul>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <a href="/4-0/setup?r=t" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">Version&nbsp;4-0</a>
          </td>
          <td class="govuk-table__cell" >
            <strong class="govuk-tag" >
              TESTED
            </strong>
            <br>
            <!-- tested -->
            27 Sep - 13 Oct 2021
          </td>
          
          <td class="govuk-table__cell" >
            <ul class="govuk-list govuk-list--bullet">
              <li>
                Tasklist - UPDATED
              </li>
              <li>Application complete - UPDATED</li>
              <li>
                Site details:
                <ul class="govuk-list govuk-list--bullet">
                  <li>Add boundary - ADDED</li>
                  <li>Confirm boundary - ADDED</li>
                </ul>
              </li>
              <li>
                Application details (bats):
                <ul class="govuk-list govuk-list--bullet">
                  <li>Roosts intro - UPDATED</li>
                  <li>Select bat species - UPDATED</li>
                  <li>Select roost uses - UPDATED</li>
                  <li>Select bat numbers - UPDATED</li>
                  <li>Select roost activities - REMOVED</li>
                  <li>Select species activities - UPDATED</li>
                  <li>Summary of roosts added - REMOVED</li>
                  <li>Check your answers (actions) - UPDATED</li>
                </ul>
              </li>
              <li>
                Application details (for newts):
                <ul class="govuk-list govuk-list--bullet">
                  <li>Select breeding site numbers - ADDED</li>
                  <li>Select newt activities - ADDED</li>
                  <li>Check your answers (actions) - ADDED</li>
                </ul>
              </li>
            </ul>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <a href="/3-0/setup?r=t" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">Version&nbsp;3-0</a>
          </td>
          <td class="govuk-table__cell" >
            <strong class="govuk-tag"  >
              TESTED
            </strong>
            <br>
            <!-- tested -->
            20 Aug - 3 Sep 2021
          </td>
          
          <td class="govuk-table__cell" >
            <ul class="govuk-list govuk-list--bullet">
                <li>
                  Service name - UPDATED
                </li>
                <li>
                  Tasklist - ADDED
                </li>
                <li>
                  Purpose:
                  <ul class="govuk-list govuk-list--bullet">
                    <li>Work type - home improvements - ADDED</li>
                    <li>Work type - small developments - ADDED</li>
                    <li>Work type - protected - ADDED</li>
                    <li>Work type - public buildings - ADDED</li>
                    <li>Work type - extend boundaries - ADDED</li>
                    <li>Work type - private use - ADDED</li>
                    <li>Important populations - ADDED</li>
                    <li>Check your answers (purpose) - ADDED</li>
                  </ul>
                </li>
                <li>
                  Application details:
                  <ul class="govuk-list govuk-list--bullet">
                    <li>Roosts intro - UPDATED</li>
                    <li>Select bat species - UPDATED</li>
                    <li>Select bat numbers - UPDATED</li>
                    <li>Select roost uses - UPDATED</li>
                    <li>Select roost activities - UPDATED</li>
                    <li>Select species activities - UPDATED</li>
                    <li>Date bat activity - REMOVED</li>
                    <li>Surveys - REMOVED</li>
                    <li>Check your answers (actions) - ADDED</li>
                  </ul>
                </li>
                <li>Check your answers (full) - REMOVED</li>
                <li>Application complete - UPDATED</li>
            </ul>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <a href="/2-0/setup?r=t" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">Version&nbsp;2-0</a>
          </td>
          <td class="govuk-table__cell" >
            <strong class="govuk-tag" >
              TESTED
            </strong>
            <br>
            <!-- tested -->
            4 - 5 Aug 2021
          </td>
          
          <td class="govuk-table__cell" >
            <ul class="govuk-list govuk-list--bullet">
              <li>
                Service name - ADDED
              </li>
              <li>
                Purpose:
                <ul class="govuk-list govuk-list--bullet">
                  <li>Proposal - ADDED</li>
                  <li>Reason for application - ADDED</li>
                  <li>Category of work - ADDED</li>
                  <li>Multi-plot - ADDED</li>
                </ul>
              </li>
              <li>
                Application details:
                <ul class="govuk-list govuk-list--bullet">
                  <li>Roosts intro - ADDED</li>
                  <li>Select bat species - UPDATED</li>
                  <li>Select bat numbers - UPDATED</li>
                  <li>Select roost uses - ADDED</li>
                  <li>Select roost activities - ADDED</li>
                  <li>Select species activities - UPDATED</li>
                  <li>Summary of roosts added - ADDED</li>
                  <li>Remove roost - ADDED</li>
                  <li>Date bat activity - UPDATED</li>
                  <li>Surveys - ADDED</li>
                </ul>
                <li>Check your answers - ADDED</li>
                <li>Application complete - ADDED</li>
              </li>
            </ul>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <a href="/1-0/setup?r=t" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">Version&nbsp;1-0</a>
          </td>
          <td class="govuk-table__cell" >
            <strong class="govuk-tag" >
              TESTED
            </strong>
            <br>
            <!-- tested -->
            15 - 16 Jul 2021
          </td>
          
          <td class="govuk-table__cell" >
            <ul class="govuk-list govuk-list--bullet">
              <li>
                Application details:
                <ul class="govuk-list govuk-list--bullet">
                  <li>Select bat species - ADDED</li>
                  <li>Select bat activities - ADDED</li>
                  <li>Select bat methods - ADDED</li>
                  <li>Select bat numbers - ADDED</li>
                  <li>Select bat dates - ADDED</li>
                </ul>
              </li>
            </ul>
          </td>
        </tr>
        
    </tbody>
  </table>

    
  </div>
</div>

{% endblock %}
