{% extends "layout-pb.html" %}

{% block pageTitle %} 
Error: Do you have permission for the activity from the designated site's manager?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: "You have not selected an option",
                href: "#permission-check"
              }
            ]
          }) }}
      
      <form class="form" action="permission-check" method="post">       

        {{ govukRadios({
            name: "permission-check",
            fieldset: {
              legend: {
                text: "Do you have permission for the activity from the designated site's manager?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            hint: {
                text: "Select one."
              },
            errorMessage: {
                text: "Select an option"
            },
            items: [
              {
                value: "Yes",
                text: "Yes"
              },
              {
                value: "No",
                text: "No"
              }
            ]
          }) }}
        
          {{ govukButton({
            text: "Continue"
          }) }}
      </form>

      
    
    </div>
  </div>

{% endblock %}
