{% extends "layout-pb-no-service-name.html" %}

{% block pageTitle %} 
SDDSIP 476 | Conservation considerations
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">SDDSIP 476</span>
      <h1 class="govuk-heading-l">Conservation considerations</h1> 

      <div class="govuk-!-margin-bottom-9">
        <strong class="govuk-tag govuk-tag--pink">
          TESTED
        </strong>
      </div>


      <h2 class="govuk-heading-m ">Full page list - v4 - MVP</h2>
      
          <p><a href="https://app.mural.co/t/ddtssddsdigitalprogrammeteam3057/m/ddtssddsdigitalprogrammeteam3057/1657552272963/56f185b64cb29e857d5ea5b3f85f04483cf2b9d6?wid=0-1678114566806" target="_blank">Mural flow</a></p>
    
          {{ govukButton({
            text: "View v4 MVP full flow",
            href: "v4-mvp/task-list"
          }) }}
    
          
          <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Page</th>
                  <th scope="col" class="govuk-table__header">Error states</th>
                  <th scope="col" class="govuk-table__header">Confidence</th>
                  <th scope="col" class="govuk-table__header govuk-!-width-one-third">Notes</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">    
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v4-mvp/task-list">Task list</a></td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--yellow">
                        Medium
                      </strong>
                    </td>
                    <td class="govuk-table__cell">Users felt 'give details of conservation issues' was too vague as a label</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v4-mvp/on-or-next-to">On or next to SSSI?</a></td>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v4-mvp/error-nothing-chosen-on-or-next-to">If nothing chosen</a></td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--yellow">
                      Medium
                    </strong>
                  </td>
                  <td class="govuk-table__cell">Users understood the purpose of the page but... felt the list of designated sites wasn't exhaustive, some were missing? Link to Magic could be more explicit. 'next to' was thought to be ambiguous</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v4-mvp/sites-start">Tell us about each site</a></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--yellow">
                      Medium
                    </strong>
                  </td>
                  <td class="govuk-table__cell">Not clear enough if 'activity' refereed to the development itself or the ecologists work</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v4-mvp/site-name">Site name?</a></td>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v4-mvp/error-blank-site-name">If blank</a></td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--yellow">
                      Medium
                    </strong>
                  </td>
                  <td class="govuk-table__cell">Typeahead not tested in the prototype. Potential blocker on all typeaheads if users can't find what they want in the results, free text entry of some kind required if this occurs. User with dyslexia commented it would be useful to see previously entered sites on this page to avoid duplication when adding additional sites.</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v4-mvp/permission">Permission?</a></td>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v4-mvp/error-nothing-chosen-permission">If nothing chosen</a></td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--yellow">
                      Medium
                    </strong>
                  </td>
                  <td class="govuk-table__cell">Users were unsure what permission was being referred to, Natural England or Landowner.</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v4-mvp/details-of-consent">Details of the permission</a></td>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v4-mvp/error-blank-details-of-consent">If blank</a></td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--yellow">
                      Medium
                    </strong>
                  </td>
                  <td class="govuk-table__cell">Users were unsure what permission was being referred to, Natural England or Landowner.</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v4-mvp/advice">Advice from Natural England?</a></td>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v4-mvp/error-nothing-chosen-advice">If nothing chosen</a></td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--yellow">
                      Medium
                    </strong>
                  </td>
                  <td class="govuk-table__cell">Users felt it would be good to be more specific which team within Natural England the advice came from</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v4-mvp/outcome">Advice about the activity</a></td>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v4-mvp/error-blank-outcome">If blank</a></td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--green">
                      HIGH
                    </strong>
                  </td>
                  <td class="govuk-table__cell">Tested well</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v4-mvp/on-or-close">On the site or close to it?</a></td>
                  <td class="govuk-table__cell">
                    <a class="govuk-link govuk-link--no-visited-state" href="v4-mvp/error-nothing-chosen-on-or-close">If nothing chosen</a>
                  </td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--yellow">
                      Medium
                    </strong>
                  </td>
                  <td class="govuk-table__cell">User felt 'next to the site' was ambiguos. Users questioned which site was being referred to in the question/radio, development site or designated site.</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v4-mvp/sites-review-add-another">Check your answers / add another site</a></td>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v4-mvp/error-nothing-chosen-sites-review-add-another">If nothing chosen</a></td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--green">
                      HIGH
                    </strong>
                  </td>
                  <td class="govuk-table__cell">Tested well</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v4-mvp/remove-site">Remove site</a></td>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v4-mvp/error-nothing-chosen-remove-site">If nothing chosen</a></td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--yellow">
                      Medium
                    </strong>
                  </td>
                  <td class="govuk-table__cell">Not tested yet</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v4-mvp/task-list-complete">Task list - complete</a></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--yellow">
                      Medium
                    </strong>
                  </td>
                  <td class="govuk-table__cell">Not tested yet</td>
              </tr>
              </tbody>
            </table>
    
            <p>GDS Accessible Autocomplete - <a href="https://github.com/alphagov/accessible-autocomplete">https://github.com/alphagov/accessible-autocomplete</a></p>









      <!-- Version 3  -->
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Full page list and error states - v3
          </span>
        </summary>
        <div class="govuk-details__text">
      


          <h2 class="govuk-heading-m ">Full page list and error states - v3</h2>
      
          <p><a href="https://app.mural.co/t/ddtssddsdigitalprogrammeteam3057/m/ddtssddsdigitalprogrammeteam3057/1657552272963/56f185b64cb29e857d5ea5b3f85f04483cf2b9d6?wid=0-1670857032423" target="_blank">Mural flow</a></p>
    
          {{ govukButton({
            text: "View v3 full flow",
            href: "v3/task-list"
          }) }}
    
          
          <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Page</th>
                <th scope="col" class="govuk-table__header">Link</th>
                <th scope="col" class="govuk-table__header">Error states</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">    
                <tr class="govuk-table__row">
                    <th class="govuk-table__cell">Task list</th>
                    <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="v3/task-list">task-list</a></td>
                    <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell">On or next to SSSI</th>
                  <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="v3/on-or-next-to">on-or-next-to</a></td>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v3/error-nothing-chosen-on-or-next-to">If nothing chosen</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell">Site name</th>
                  <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="v3/site-name">site-name</a></td>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v3/error-blank-site-name">If blank</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell">Permission</th>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v3/permission">permission</a></td>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v3/error-nothing-chosen-permission">If nothing chosen</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell">Details of the permission</th>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v3/details-of-consent">details-of-consent</a></td>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v3/error-blank-details-of-consent">If blank</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell">Advice from Natural England</th>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v3/advice">advice</a></td>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v3/error-nothing-chosen-advice">If nothing chosen</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell">Advice about the activity</th>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v3/outcome">outcome</a></td>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v3/error-blank-outcome">If blank</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell">Necessary for managing SPA, SAC or Ramsar</th>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v3/necessary-for-managing">necessary-for-managing</a></td>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v3/error-nothing-chosen-necessary-for-managing">If nothing chosen</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell">Effects on SPAs, SACs or Ramsar sites</th>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v3/significant-effect">significant-effect</a></td>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v3/error-nothing-chosen-significant-effect">If nothing chosen</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell">What is the name of the site?</th>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v3/necessary-site-name">necessary-site-name</a></td>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v3/error-blank-necessary-site-name">If blank</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell">Tell us about each site</th>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v3/sites-loop-start">sites-loop-start</a></td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell">Name of the site</th>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v3/multiple-sites-designated-site-name">multiple-sites-designated-site-name</a></td>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v3/error-blank-multiple-sites-designated-site-name">If blank</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell">What type of site</th>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v3/multiple-sites-what-type">multiple-sites-what-type</a></td>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v3/error-nothing-chosen-multiple-sites-what-type">If nothing chosen</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell">Likely effect on site</th>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v3/multiple-sites-likely-effect">multiple-sites-likely-effect</a></td>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v3/error-blank-multiple-sites-likely-effect">If blank</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell">On the site or close to it</th>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v3/multiple-sites-on-or-close">multiple-sites-on-or-close</a></td>
                  <td class="govuk-table__cell">
                    <a class="govuk-link govuk-link--no-visited-state" href="v3/error-nothing-chosen-multiple-sites-on-or-close">If nothing chosen</a><br>
                    <a class="govuk-link govuk-link--no-visited-state" href="v3/error-blank-multiple-sites-on-or-close">If blank</a>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell">Check your answers / add another site</th>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v3/multiple-sites-review-add-another">multiple-sites-review-add-another</a></td>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v3/error-nothing-chosen-multiple-sites-review-add-another">If nothing chosen</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell">Remove site</th>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v3/remove-site">remove-site</a></td>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v3/error-nothing-chosen-remove-site">If nothing chosen</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell">Task list - completed task</th>
                  <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="v3/task-list-complete">task-list-complete</a></td>
                  <td class="govuk-table__cell"></td>
              </tr>
                
               
              </tbody>
            </table>
    
            <p>GDS Accessible Autocomplete - <a href="https://github.com/alphagov/accessible-autocomplete">https://github.com/alphagov/accessible-autocomplete</a></p>
    
        </div>
      </details>




      <!-- Version 1 & Version 2-->


        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Full page list and error states - v1 & v2
            </span>
          </summary>
          <div class="govuk-details__text">


            <h2 class="govuk-heading-m ">Full page list and error states - v2</h2>
      <p>User can add more than one designated site</p>

      {{ govukButton({
        text: "View v2 full flow",
        href: "v2/task-list"
      }) }}

      
      <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Page</th>
            <th scope="col" class="govuk-table__header">Link</th>
            <th scope="col" class="govuk-table__header">Error states</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">    
            <tr class="govuk-table__row">
                <th class="govuk-table__cell">Task list</th>
                <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="v2/task-list">task-list</a></td>
                <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">On or within designated site</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="v2/on-or-within">on-or-within</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/error-nothing-chosen-on-or-within">If nothing chosen</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">More than one designated site</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="v2/more-than-one-site">more-than-one-site</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/error-nothing-chosen-more-than-one-site">If nothing chosen</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Tell us about each designated site</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="v2/multiple-sites-start">multiple-sites-start</a></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Name of designated site - Autocomplete</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="v2/designated-site-name">designated-site-name</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/error-nothing-chosen-designated-site-name">If nothing chosen</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Will activity take place on designated site</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="v2/activity-on-site">activity-on-site</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/error-nothing-chosen-activity-on-site">If nothing chosen</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Permission from the designated site's manager</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="v2/permission">permission</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/error-nothing-permission">If nothing chosen</a></td>
            </tr>
            <!--<tr class="govuk-table__row">
              <th class="govuk-table__cell">No permission</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="v2/permission-no">permission-no</a></td>
              <td class="govuk-table__cell"></td>
            </tr>-->
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Advice from Natural England or the designated site manager</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="v2/advice">advice</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/error-nothing-chosen-advice">If nothing chosen</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Describe outcome of advice</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="v2/outcome">outcome</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/error-blank-outcome">If blank</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Why did you not get advice?</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="v2/advice-no">advice-no</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/error-blank-advice-no">If blank</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Review site / add another</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="v2/multiple-sites-review-add-another">multiple-sites-review-add-another</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/error-nothing-chosen-multiple-sites-review-add-another">If nothing chosen</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Remove designated site</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="v2/remove-site">remove-site</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/error-nothing-chosen-remove-site">If nothing chosen</a></td>
            </tr>
            
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Will the development activity continue</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="v2/development-continue">development-continue</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/error-nothing-chosen-development-continue">If blank</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">How many years</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="v2/how-many-years">how-many-years</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/error-blank-how-many-years">If blank</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Is activity part of a wider project</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="v2/wider-project">wider-project</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/error-nothing-chosen-wider-project">If nothing chosen</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Is activity contributing to local biodiversity action plan</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="v2/biodiversity-plan">biodiversity-plan</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/error-nothing-chosen-biodiversity-plan">If nothing chosen</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Is location covered by agri-environment agreement</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="v2/agreement">agreement</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/error-nothing-chosen-agreement">If nothing chosen</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Reference number of the agri-environment agreement</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="v2/reference">reference</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/error-blank-reference">If blank</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Check your answers</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="v2/check-your-answers">check-your-answers</a></td>
              <td class="govuk-table__cell">
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Check your answers - mutliple sites</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="v2/check-your-answers-multiple">check-your-answers-multiple</a></td>
              <td class="govuk-table__cell">
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Task list - completed task</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="task-list-complete">task-list-complete</a></td>
              <td class="govuk-table__cell"></td>
          </tr>
          </tbody>
        </table>

        <p>GDS Accessible Autocomplete - <a href="https://github.com/alphagov/accessible-autocomplete">https://github.com/alphagov/accessible-autocomplete</a></p>



            
            <h2 class="govuk-heading-m govuk-!-margin-top-9">Full page list and error states - v1</h2>

            {{ govukButton({
              text: "View v1 full flow",
              href: "task-list"
            }) }}

            <table class="govuk-table">
              <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Page</th>
                  <th scope="col" class="govuk-table__header">Link</th>
                  <th scope="col" class="govuk-table__header">Error states</th>
                  </tr>
              </thead>
              <tbody class="govuk-table__body">    
                  <tr class="govuk-table__row">
                      <th class="govuk-table__cell">Task list</th>
                      <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="task-list">task-list</a></td>
                      <td class="govuk-table__cell"></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th class="govuk-table__cell">On or within designated site</th>
                    <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="on-or-within">on-or-within</a></td>
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-on-or-within">If nothing chosen</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th class="govuk-table__cell">Name of designated site - Autocomplete</th>
                    <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="designated-site-name">designated-site-name</a></td>
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-designated-site-name">If nothing chosen</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th class="govuk-table__cell">Will activity take place on designated site</th>
                    <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="activity-on-site">activity-on-site</a></td>
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-activity-on-site">If nothing chosen</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th class="govuk-table__cell">Permission from the designated site's manager</th>
                    <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="permission">permission</a></td>
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-nothing-permission">If nothing chosen</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th class="govuk-table__cell">No permission - dropout - !!content/path required!!</th>
                    <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="permission-no">permission-no</a></td>
                    <td class="govuk-table__cell"></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th class="govuk-table__cell">Advice from Natural England or the designated site manager</th>
                    <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="advice">advice</a></td>
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-advice">If nothing chosen</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th class="govuk-table__cell">Describe outcome of advice</th>
                    <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="outcome">outcome</a></td>
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-blank-outcome">If blank</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th class="govuk-table__cell">Why did you not get advice?</th>
                    <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="advice-no">advice-no</a></td>
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-blank-advice-no">If blank</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th class="govuk-table__cell">Will the development activity continue</th>
                    <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="development-continue">development-continue</a></td>
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-development-continue">If blank</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th class="govuk-table__cell">How many years</th>
                    <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="how-many-years">how-many-years</a></td>
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-blank-how-many-years">If blank</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th class="govuk-table__cell">Is activity part of a wider project</th>
                    <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="wider-project">wider-project</a></td>
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-wider-project">If nothing chosen</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th class="govuk-table__cell">Is activity contributing to local biodiversity action plan</th>
                    <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="biodiversity-plan">biodiversity-plan</a></td>
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-biodiversity-plan">If nothing chosen</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th class="govuk-table__cell">Is location covered by agri-environment agreement</th>
                    <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="agreement">agreement</a></td>
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-agreement">If nothing chosen</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th class="govuk-table__cell">Reference number of the agri-environment agreement</th>
                    <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="reference">reference</a></td>
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-blank-reference">If blank</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th class="govuk-table__cell">Check your answers</th>
                    <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="check-your-answers">check-your-answers</a></td>
                    <td class="govuk-table__cell">
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th class="govuk-table__cell">Task list - completed task</th>
                    <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="task-list-complete">task-list-complete</a></td>
                    <td class="govuk-table__cell"></td>
                </tr>
                </tbody>
              </table>

              <p>GDS Accessible Autocomplete - <a href="https://github.com/alphagov/accessible-autocomplete">https://github.com/alphagov/accessible-autocomplete</a></p>
          </div>
        </details>


        <h2 class="govuk-heading-m govuk-!-margin-top-9">Design and research history</h2>

        <table class="govuk-table">
          <thead class="govuk-table__head">
              <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Date</th>
              <th scope="col" class="govuk-table__header">Changes</th>
              <th scope="col" class="govuk-table__header">Rationale</th>
              </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">6 Jun 2023</th>
              <td class="govuk-table__cell">v4 MVP flow tested with four users in May round of research</td>
              <td class="govuk-table__cell"></td>
            </tr>   
              <tr class="govuk-table__row">
                <th class="govuk-table__cell">12 May 2023</th>
                <td class="govuk-table__cell">Amended index page list to include UR confidence level and research notes</td>
                <td class="govuk-table__cell"></td>
              </tr> 
              <tr class="govuk-table__row">
                <th class="govuk-table__cell">12 May 2023</th>
                <td class="govuk-table__cell">Added design and research history log</td>
                <td class="govuk-table__cell"></td>
              </tr> 
            </tbody>
          </table>
    
    </div>
  </div>

{% endblock %}
