{% extends "layout-pb.html" %}

{% block pageTitle %} 
Error: What is the name of the site for planned work activity?
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: "Give this site a name",
                href: "#site-name"
              }
            ]
          }) }}
      
      <form class="form" action="site-got-postcode" method="post">
        <div class="govuk-form-group govuk-form-group--error">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="site-name">
              What is the name of the site for planned work activity?
            </label>
          </h1>
          <p id="site-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter a name for this site
          </p>
          <input class="govuk-input govuk-!-width-three-quarters" id="site-name" name="site-name" type="text">
        </div>
        
          {{ govukButton({
            text: "Continue"
          }) }}
      </form>

      
    
    </div>
  </div>

{% endblock %}
