{% extends "layout-pb.html" %}

{% block pageTitle %} 
Error: Add a map of the site showing the mitigations after development
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-save-link.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: "You have not selected a file to upload",
                href: "#file-upload-3"
              }
            ]
          }) }}

      <h1 class="govuk-heading-l">
        Add a map of the site showing the mitigations after development
      </h1>

      <p>
        You must also send a survey map showing the mitigation on the site after development.
      </p>

      <p>This survey map of the future site should include the final mitigations and monitoring.</p>
      
      <p>
        You can upload:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          GeoJSON files
        </li>
        <li>
          KML files
        </li>
        <li>
          Shape files
        </li>
        <li>
          PDF, jpg or PNG files (if these are used, your application may take longer to process)
        </li>
      </ul>

      <p>The file must be smaller than 30MB.</p>

      <form class="form" action="site-grid-ref" method="post">
        {{ govukFileUpload({
          id: "file-upload-3",
          name: "file-upload-3",
          label: {
            text: "Upload a file",
            classes: "govuk-label--s"
          },
          errorMessage: {
            text: "Select a file to upload"
          }
        }) }}

        {{ govukButton({
          text: "Upload and continue"
        }) }}
      </form>


    </div>
  </div>

{% endblock %}
