{% extends "layout-pb-no-service-name.html" %}

{% block pageTitle %} 
SDDSIP 214 | Current, during and future site map upload
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">SDDSIP 214</span>
      <h1 class="govuk-heading-l">Current, during and future site map upload</h1> 

      <div class="govuk-!-margin-bottom-9">
        <strong class="govuk-tag" style="background: green;" >
          In progress
        </strong>
      </div>

      {{ govukButton({
        text: "View full flow",
        href: "task-list"
      }) }}
      
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">Full page list and error states</h2>

      <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Page</th>
            <th scope="col" class="govuk-table__header">Link</th>
            <th scope="col" class="govuk-table__header">Error states</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">    
            <tr class="govuk-table__row">
                <th class="govuk-table__cell">Task list</th>
                <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="task-list">task-list</a></td>
                <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Site name</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="site-name">site-name</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-blank-site-name">If blank</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Site postcode</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="site-got-postcode">site-got-postcode</a></td>
              <td class="govuk-table__cell">
                <a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-site-got-postcode">If nothing chosen</a><br>
                <a class="govuk-link govuk-link--no-visited-state" href="error-blank-site-got-postcode">If blank</a><br>
                <a class="govuk-link govuk-link--no-visited-state" href="error-format-site-got-postcode">If wrong format</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Select site address</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="select-address">select-address</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-nothing-selected-select-address">If nothing selected</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Site address - no address found in postcode lookup</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="site-address-no-lookup">site-address-no-lookup</a></td>
              <td class="govuk-table__cell">
                <a class="govuk-link govuk-link--no-visited-state" href="error-blank-site-address-no-lookup">If blank</a><br>
                <a class="govuk-link govuk-link--no-visited-state" href="error-format-site-address-no-lookup">If wrong format</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Site maps explanatory content</th>
              <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="site-maps">site-maps</a></td>
              <td class="govuk-table__cell"></td>
            </tr>

     


          </tbody>
        </table>
    
    </div>
  </div>

{% endblock %}
