{% extends "layout-pb-no-service-name.html" %}

{% block pageTitle %} 
SDDSIP 214 | Give site information
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">SDDSIP 214</span>
      <h1 class="govuk-heading-l">Give site information</h1> 

      <div class="govuk-!-margin-bottom-9">
        <strong class="govuk-tag govuk-tag--pink">
          TESTED
       </strong>
      </div>


      <h2 class="govuk-heading-m ">v1 - Mandatory file uploads - Full page list and error states</h2>



      {{ govukButton({
        text: "View v1 full flow",
        href: "task-list"
      }) }}

      <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Page</th>
            <th scope="col" class="govuk-table__header">Error states</th>
            <th scope="col" class="govuk-table__header">Confidence</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-third">Notes</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">    
            <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="task-list">Task list</a></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="site-name">Site name</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-blank-site-name">If blank</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="site-got-postcode">Site postcode</a></td>
              <td class="govuk-table__cell">
                <a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-site-got-postcode">If nothing chosen</a><br>
                <a class="govuk-link govuk-link--no-visited-state" href="error-blank-site-got-postcode">If blank</a><br>
                <a class="govuk-link govuk-link--no-visited-state" href="error-format-site-got-postcode">If wrong format</a>
              </td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="select-address">Select site address</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-nothing-selected-select-address">If nothing selected</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="site-address-no-lookup">Site address - no address found in postcode lookup</a></td>
              <td class="govuk-table__cell">
                <a class="govuk-link govuk-link--no-visited-state" href="error-blank-site-address-no-lookup">If blank</a><br>
                <a class="govuk-link govuk-link--no-visited-state" href="error-format-site-address-no-lookup">If wrong format</a>
              </td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="upload-map">Upload map of activity at the development site</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-upload-map">If nothing chosen</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="upload-map-2">Upload map of mitigations during development</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-upload-map-2">If nothing chosen</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="upload-map-3">Upload map of mitigations after development</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-upload-map-3">If nothing chosen</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="site-grid-ref">Site grid reference</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-blank-site-grid-ref">If blank</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="site-check">Address and grid reference mismatch</a></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="error-nothing-chosen-site-check">If nothing chosen</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="check-your-answers">Check your answers</a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">
              <td class="govuk-table__cell"></td>
              </td>
            </tr>
          </tbody>
        </table>


        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              V2 - Alternative with optional additional uploads 
            </span>
          </summary>
          <div class="govuk-details__text">
            

            <h2 class="govuk-heading-m govuk-!-margin-top-9">v2 - Optional file uploads - Full page list and error states</h2>

        {{ govukButton({
          text: "View v2 full flow",
          href: "v2/task-list"
        }) }}
  
        <table class="govuk-table">
          <thead class="govuk-table__head">
              <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Page</th>
              <th scope="col" class="govuk-table__header">Link</th>
              <th scope="col" class="govuk-table__header">Error states</th>
              </tr>
          </thead>
          <tbody class="govuk-table__body">    
              <tr class="govuk-table__row">
                  <th class="govuk-table__cell">Task list</th>
                  <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="v2/task-list">task-list</a></td>
                  <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__cell">Site name</th>
                <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="v2/site-name">site-name</a></td>
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/error-blank-site-name">If blank</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__cell">Site postcode</th>
                <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="v2/site-got-postcode">site-got-postcode</a></td>
                <td class="govuk-table__cell">
                  <a class="govuk-link govuk-link--no-visited-state" href="v2/error-nothing-chosen-site-got-postcode">If nothing chosen</a><br>
                  <a class="govuk-link govuk-link--no-visited-state" href="v2/error-blank-site-got-postcode">If blank</a><br>
                  <a class="govuk-link govuk-link--no-visited-state" href="v2/error-format-site-got-postcode">If wrong format</a>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__cell">Select site address</th>
                <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="v2/select-address">select-address</a></td>
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/error-nothing-selected-select-address">If nothing selected</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__cell">Site address - no address found in postcode lookup</th>
                <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="v2/site-address-no-lookup">site-address-no-lookup</a></td>
                <td class="govuk-table__cell">
                  <a class="govuk-link govuk-link--no-visited-state" href="v2/error-blank-site-address-no-lookup">If blank</a><br>
                  <a class="govuk-link govuk-link--no-visited-state" href="v2/error-format-site-address-no-lookup">If wrong format</a>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__cell">Upload map of activity at the development site</th>
                <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="v2/upload-map">upload-map</a></td>
                <td class="govuk-table__cell">
                  <a class="govuk-link govuk-link--no-visited-state" href="v2/error-nothing-chosen-upload-map">If nothing chosen</a>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__cell">Optional upload map of mitigations during</th>
                <td class="govuk-table__cell" >
                  <a class="govuk-link govuk-link--no-visited-state" href="v2/optional-map-1">optional-map-1</a><br>
                  <a class="govuk-link govuk-link--no-visited-state" href="v2/optional-map-1-radios">optional-map-1-radios</a>
                </td>
                <td class="govuk-table__cell">
                  <a class="govuk-link govuk-link--no-visited-state" href="#">If nothing chosen</a>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__cell">Optional upload map of mitigations after</th>
                <td class="govuk-table__cell" >
                  <a class="govuk-link govuk-link--no-visited-state" href="v2/optional-map-2">optional-map-2</a><br>
                  <a class="govuk-link govuk-link--no-visited-state" href="v2/optional-map-2-radios">optional-map-2-radios</a>
                </td>
                <td class="govuk-table__cell">
                  <a class="govuk-link govuk-link--no-visited-state" href="#">If nothing chosen</a>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__cell">Site grid reference</th>
                <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="v2/site-grid-ref">site-grid-ref</a></td>
                <td class="govuk-table__cell">
                  <a class="govuk-link govuk-link--no-visited-state" href="v2/error-blank-site-grid-ref">If blank</a><br>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__cell">Address and grid reference mismatch</th>
                <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="v2/site-check">site-check</a></td>
                <td class="govuk-table__cell">
                  <a class="govuk-link govuk-link--no-visited-state" href="v2/error-nothing-chosen-site-check">If nothing chosen</a><br>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__cell">Check your answers</th>
                <td class="govuk-table__cell" ><a class="govuk-link govuk-link--no-visited-state" href="v2/check-your-answers">check-your-answers</a></td>
                <td class="govuk-table__cell">
                </td>
              </tr>
            </tbody>
          </table>


          
          </div>
        </details>


        <h2 class="govuk-heading-m govuk-!-margin-top-9">Design and research history</h2>

        <table class="govuk-table">
          <thead class="govuk-table__head">
              <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Date</th>
              <th scope="col" class="govuk-table__header">Changes</th>
              <th scope="col" class="govuk-table__header">Rationale</th>
              </tr>
          </thead>
          <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th class="govuk-table__cell">25 to 30 October 2023</th>
                <td class="govuk-table__cell">v1 flow tested with 4 ecologists</td>
                <td class="govuk-table__cell"></td>
              </tr> 
            </tbody>
          </table>
    
    </div>
  </div>

{% endblock %}
