{% extends "layout_unbranded.html" %}

{% block pageTitle %} 
User research - September
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">September</span>
      <h1 class="govuk-heading-l">User research</h1> 

      {{ govukButton({
        text: "Start here",
        href: "../IDM/application-role/start"
      }) }}
      
    


      
      <p class="govuk-body govuk-!-margin-top-9"><a href="/">Prototype home page</a></p>

      <p><a href="../IDM/applicant/task-list">Task list - Give applicant details</a></p>

      <p><a href="../IDM/ecologist/task-list">Task list - Confirm ecologist details</a></p>

      <p><a href="../IDM/alternate-applicant/task-list">Task list - Give alternate applicant details</a></p>

      <p><a href="../IDM/alternate-ecologist/task-list">Task list - Give alternate ecologist details</a></p>

      <p><a href="../IDM/invoice-payer/task-list">Task list - Give invoice payer details</a></p>

    </div>
  </div>

{% endblock %}
